Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

update test
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
Due: none

update spec again
  services/QuillLMS/spec/services/demo/session_data_spec.rb
Due: none

remove classrooms.teacher_id from query
  services/QuillLMS/lib/tasks/reports.rake
Due: lms-edits

update another one
  services/QuillLMS/spec/services/demo/session_data_spec.rb
Due: none

add new session to report demo
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/lib/data/demo/activity_sessions.yml
  services/QuillLMS/lib/data/demo/concept_result_legacy_metadata.yml
  services/QuillLMS/lib/data/demo/concept_results.yml
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
  services/QuillLMS/spec/services/demo/session_data_spec.rb
Due: lms-edits

test tweak
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
Due: none

update numbers for report demo creator spec
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
Due: none

changes for test
  services/QuillLMS/app/queries/impact_metrics/active_students_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/activities_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/schools_containing_certain_teachers_query.rb
  services/QuillLMS/spec/queries/impact_metrics/active_students_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/active_teachers_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/activities_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_containing_certain_teachers_query_spec.rb
Due: lms-edits

centering the logo
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

test style change
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

Update omniauth-* gems
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Update some dependencies
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Fix some associations for cleanup
  services/QuillLMS/app/models/learn_worlds_account.rb
  services/QuillLMS/app/models/user.rb
Due: lms-edits

try another wway to style
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
Due: lms-edits

Update omniauth-* gems (#10779)
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/learn_worlds_account.rb
  services/QuillLMS/app/models/user.rb
Due: lms-edits

refactor rake task per brendan's suggestions
  services/QuillLMS/lib/tasks/update_scoring_for_demo_account_activity_sessions.rake
Due: lms-edits

update score colors and tests
  services/QuillLMS/client/app/bundles/Teacher/components/modules/grade_color.js
  services/QuillLMS/client/app/bundles/Teacher/components/modules/score_color.js
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/overview_boxes.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/score_legend.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/ResultsPage.test.jsx.snap
  services/QuillLMS/lib/proficiency_cutoffs.json
Due: lms-edits, lms-client-edits

changes for test (#10787)
  services/QuillLMS/app/queries/impact_metrics/active_students_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/activities_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/schools_containing_certain_teachers_query.rb
  services/QuillLMS/spec/queries/impact_metrics/active_students_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/active_teachers_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/activities_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_containing_certain_teachers_query_spec.rb
Due: lms-edits

adjust activity analysis
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/client/app/bundles/Teacher/components/modules/score_color.js
Due: lms-edits, lms-client-edits

changes for test (#10787) (#10792)
  services/QuillLMS/app/queries/impact_metrics/active_students_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/activities_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/schools_containing_certain_teachers_query.rb
  services/QuillLMS/spec/queries/impact_metrics/active_students_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/active_teachers_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/activities_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_containing_certain_teachers_query_spec.rb
Due: lms-edits

adjust spec
  services/QuillLMS/spec/models/teacher_activity_feed_spec.rb
Due: none

Thomas suggestion
  services/QuillLMS/app/services/clever_integration/classroom_student_importer.rb
Due: lms-edits

Peter suggestion
  services/QuillLMS/app/services/clever_integration/student_creator.rb
Due: lms-edits

More Refactoring of GoogleIntegration in preparation for CanvasIntegration
  services/QuillLMS/app/controllers/google_integration/teachers_controller.rb
  services/QuillLMS/app/models/google_integration/teacher_classrooms_data.rb
  services/QuillLMS/app/services/google_integration/classroom/parsers/students.rb
  services/QuillLMS/app/services/google_integration/classroom_creator.rb
  services/QuillLMS/app/services/google_integration/classroom_importer.rb
  services/QuillLMS/app/services/google_integration/classroom_student_importer.rb
  services/QuillLMS/app/services/google_integration/classroom_students_data.rb
  services/QuillLMS/app/services/google_integration/classroom_students_importer.rb
  services/QuillLMS/app/services/google_integration/classroom_updater.rb
  services/QuillLMS/app/services/google_integration/student_creator.rb
  services/QuillLMS/app/services/google_integration/student_updater.rb
  services/QuillLMS/app/services/google_integration/teacher_classrooms_students_importer.rb
  services/QuillLMS/app/services/google_integration/teacher_imported_classrooms_updater.rb
  services/QuillLMS/app/workers/google_integration/import_teacher_classrooms_students_worker.rb
  services/QuillLMS/spec/controllers/google_integration/teachers_controller_spec.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_student_payload.rb
  services/QuillLMS/spec/models/google_classroom_user_spec.rb
  services/QuillLMS/spec/models/google_integration/teacher_classrooms_data_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom/parsers/students_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_creator_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_student_creator_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_student_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_students_data_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_students_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/google_integration/student_creator_spec.rb
  services/QuillLMS/spec/services/google_integration/student_updater_spec.rb
  services/QuillLMS/spec/services/google_integration/teacher_classrooms_students_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/teacher_imported_classrooms_updater_spec.rb
  services/QuillLMS/spec/workers/google_integration/import_teacher_classrooms_students_worker_spec.rb
Due: lms-edits

More refactoring of CleverIntegration in preparation for CanvasIntegration
  services/QuillLMS/app/controllers/concerns/classroom_importable.rb
  services/QuillLMS/spec/models/clever_classroom_user_spec.rb
Due: lms-edits

Get annotation fixed
  services/QuillLMS/spec/models/google_classroom_user_spec.rb
Due: none

Update pusher event name
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_google_classroom_students_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_google_classrooms_modal.tsx
Due: lms-client-edits

Move auth logic out of worker
  services/QuillLMS/app/workers/google_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/spec/controllers/google_integration/teachers_controller_spec.rb
  services/QuillLMS/spec/workers/google_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
Due: lms-edits

Peter suggestion
  services/QuillLMS/app/models/user.rb
Due: lms-edits

Fix spec failure
  services/QuillLMS/spec/services/analytics/error_analytics_spec.rb
Due: none

Fix more spec failures
  services/QuillLMS/app/controllers/coteacher_classroom_invitations_controller.rb
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/lib/quill_authentication.rb
  services/QuillLMS/app/models/segment_integration/user.rb
  services/QuillLMS/app/workers/account_creation_worker.rb
  services/QuillLMS/app/workers/assign_recommendations_worker.rb
  services/QuillLMS/app/workers/premium_analytics_worker.rb
  services/QuillLMS/app/workers/student_joined_classroom_worker.rb
  services/QuillLMS/app/workers/user_login_worker.rb
  services/QuillLMS/spec/controllers/coteacher_classroom_invitations_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
  services/QuillLMS/spec/models/coteacher_classroom_invitation_spec.rb
  services/QuillLMS/spec/workers/account_creation_worker_spec.rb
  services/QuillLMS/spec/workers/assign_recommendations_worker_spec.rb
  services/QuillLMS/spec/workers/premium_analytics_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_approved_to_become_admin_analytics_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_requested_to_become_admin_analytics_worker_spec.rb
  services/QuillLMS/spec/workers/user_login_worker_spec.rb
Due: lms-edits

Fix spec failures
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/app/workers/admin_received_admin_upgrade_request_from_teacher_analytics_worker.rb
  services/QuillLMS/app/workers/assign_recommendations_worker.rb
  services/QuillLMS/app/workers/error_worker.rb
  services/QuillLMS/app/workers/premium_hub/teacher_link_school_email_worker.rb
  services/QuillLMS/app/workers/teacher_approved_to_become_admin_analytics_worker.rb
  services/QuillLMS/app/workers/teacher_requested_to_become_admin_analytics_worker.rb
  services/QuillLMS/spec/models/classroom_spec.rb
  services/QuillLMS/spec/workers/credit_referring_accounts_worker_spec.rb
  services/QuillLMS/spec/workers/error_worker_spec.rb
  services/QuillLMS/spec/workers/premium_hub/teacher_link_school_email_worker_spec.rb
  services/QuillLMS/spec/workers/student_joined_classroom_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_requested_to_become_admin_analytics_worker_spec.rb
Due: lms-edits

add error analytics
  services/QuillLMS/app/services/analytics/error_analytics.rb
Due: lms-edits

Fix spec failures
  services/QuillLMS/app/models/coteacher_classroom_invitation.rb
  services/QuillLMS/app/models/referrals_user.rb
  services/QuillLMS/app/services/analytics/referrer_analytics.rb
  services/QuillLMS/app/workers/access_progress_report_worker.rb
  services/QuillLMS/app/workers/delete_student_worker.rb
  services/QuillLMS/app/workers/teacher_denied_to_become_admin_analytics_worker.rb
  services/QuillLMS/spec/workers/access_progress_report_worker_spec.rb
  services/QuillLMS/spec/workers/delete_student_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_denied_to_become_admin_analytics_worker_spec.rb
Due: lms-edits

Initial commit
  services/QuillLMS/Gemfile
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
