Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

A bit more updating based on code review
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: lms-edits

Fix a small bug in async direction calculation
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

update google login messaging
  services/QuillLMS/app/controllers/sessions_controller.rb
  services/QuillLMS/spec/controllers/sessions_controller_spec.rb
Due: lms-edits

Fix linting error
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: none

update google login messaging (#11152)
  services/QuillLMS/app/controllers/sessions_controller.rb
  services/QuillLMS/spec/controllers/sessions_controller_spec.rb
Due: lms-edits

Fix a spec to work with the updated timeframe lib code
  services/QuillLMS/spec/queries/snapshots/period_query_spec.rb
Due: none

Fix signature mis-match in passing previous_timeframe param
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

add google integration change banners
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
  services/QuillLMS/app/views/application/_google_integration_change_banner.html.erb
  services/QuillLMS/app/views/layouts/application.html.erb
Due: lms-edits

add migrations, model file, and specs for the admin report filter selections table (#11148)
  services/QuillLMS/app/models/admin_report_filter_selection.rb
  services/QuillLMS/db/migrate/20231018141022_create_admin_report_filter_selections.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/admin_report_filter_selections.rb
  services/QuillLMS/spec/models/admin_report_filter_selection_spec.rb
Due: lms-edits

update to change color and css slightly; log-in is non-dismissable
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/app/views/application/_google_integration_change_banner.html.erb
Due: lms-edits

add margin so it looks okay on small screens
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
Due: lms-edits

fix bug where hidden menu still takes up space on sections of report
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
Due: lms-edits

fix bug where hidden menu still takes up space on sections of report (#11157)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
Due: lms-edits

add google integration change banners (#11156)
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/app/views/application/_google_integration_change_banner.html.erb
  services/QuillLMS/app/views/layouts/application.html.erb
Due: lms-edits

add student section
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-edits, lms-client-edits

add tests
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/studentSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/studentSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-client-edits

update snapshot
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/overviewSection.test.tsx.snap
Due: lms-client-edits

Lms/split snapshot count timeframes (#11138)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotCount.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/snapshotCount.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
  services/QuillLMS/spec/queries/snapshots/period_query_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

Add Google::Cloud::DeadlineExceededError to retry (#11151)
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/text_classifier.rb
Due: lms-edits

WIP establishing pattern for aggregating data
  services/QuillLMS/app/controllers/admin_diagnostic_reports_controller.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_aggregate_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/diagnostic_overview_worker.rb
Due: lms-edits

Update data-export worker signature to match new call signature
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_premium_reports_worker_spec.rb
Due: lms-edits

Update worker to parse timeframe out of new key names
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
Due: lms-edits

Remove a open positions from career page
  services/QuillLMS/config/careers.yml
Due: lms-edits

Update spec with new expectations for payload
  services/QuillLMS/spec/workers/snapshots/cache_premium_reports_worker_spec.rb
Due: none

lms/fix-argument-count-error (#11162)
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_premium_reports_worker_spec.rb
Due: lms-edits

add uploader
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/mailers/premium_hub_user_mailer.rb
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/app/queries/snapshots/untruncated_data_export_query.rb
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
  services/QuillLMS/app/views/premium_hub_user_mailer/admin_premium_download_report_email.html.erb
  services/QuillLMS/app/workers/snapshots/premium_download_reports_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/dataExportTableAndFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/mailers/premium_hub_user_mailer_spec.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
  services/QuillLMS/spec/workers/snapshots/premium_download_reports_worker_spec.rb
Due: lms-edits, lms-client-edits

I think everything's working, but there are no tests yet
  services/QuillLMS/app/controllers/admin_diagnostic_reports_controller.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_recommendations_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_aggregate_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
  services/QuillLMS/config/routes.rb
Due: lms-edits

update footer border to spec
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
Due: lms-edits

Remove a open positions from career page (#11164)
  services/QuillLMS/config/careers.yml
Due: lms-edits

Restrict unowned classroom check to google only
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/no_classrooms_to_import_modal.tsx
Due: lms-client-edits

update footer border to spec (#11168)
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
Due: lms-edits

Restrict unowned classroom check to google only (#11163)
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/no_classrooms_to_import_modal.tsx
Due: lms-client-edits

add working checklist with subscriptions checked by default
  services/QuillLMS/app/controllers/cms/districts_controller.rb
  services/QuillLMS/client/app/bundles/Staff/components/newAdminOrDistrictUser.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/new_admin_user.scss
Due: lms-edits, lms-client-edits

isolate all_classrooms and all_teachers on initial load
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/models/admin_report_filter_selection.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-edits, lms-client-edits

add controller, routes, and tests
  services/QuillLMS/app/controllers/admin_report_filter_selections_controller.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/admin_report_filter_selections_controller_spec.rb
Due: lms-edits

persist and use savedfilterselections
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-client-edits

update so the json isn't double nested when it gets to the database
  services/QuillLMS/app/controllers/admin_report_filter_selections_controller.rb
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/PremiumFilterableReportsContainer.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumFilterableReportsContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/data.ts
Due: lms-edits, lms-client-edits

add some more tests
  services/QuillLMS/spec/controllers/admin_report_filter_selections_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: none
