Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Recalculate locks on login
  services/QuillLMS/app/lib/quill_authentication.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Add some testing
  services/QuillLMS/app/lib/quill_authentication.rb
  services/QuillLMS/spec/controllers/lib/quill_authentication_spec.rb
Due: lms-edits

finish code and tests
  packages/quill-cdn/assets/images/pages/classrooms/lightbulb.svg
  packages/quill-cdn/assets/images/pages/classrooms/question_mark.svg
  services/QuillLMS/app/assets/stylesheets/cms/blog_posts.scss
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/classroom_student_section.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/classroom_student_section.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
Due: lms-edits, lms-client-edits

update system config
  services/QuillLMS/spec/support/system.rb
Due: none

Global pulldown menu updates (#10554)
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-add-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-group-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/attention-badge-icon.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/bulb-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/clipboard-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/comment-account-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/compass-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/connect-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/diagnostic-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/evidence-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/folder-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/glasses-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/grammar-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/lessons-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/logout-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/pencil-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/play-box-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/premium-icon-dark-gold.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/press-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/proofreader-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/question-mark-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/quill-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/settings-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/speaker-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/standards-icon-green.svg
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/notification_badges.scss
  services/QuillLMS/app/views/application/_sub_header.html.erb
  services/QuillLMS/app/views/navbar/_explore_curriculum.html.erb
  services/QuillLMS/app/views/navbar/_learning_tools.html.erb
  services/QuillLMS/app/views/navbar/_our_story.html.erb
  services/QuillLMS/app/views/navbar/_quill_support.html.erb
  services/QuillLMS/app/views/navbar/_teacher_center.html.erb
  services/QuillLMS/app/views/navbar/_tooltip_link.html.erb
Due: lms-edits

Global navigation/ add tablet optimization (#10546)
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-add-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-group-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/attention-badge-icon.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/bulb-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/clipboard-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/comment-account-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/compass-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/connect-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/diagnostic-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/evidence-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/folder-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/glasses-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/grammar-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/lessons-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/logout-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/pencil-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/play-box-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/premium-icon-dark-gold.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/press-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/proofreader-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/question-mark-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/quill-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/settings-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/speaker-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/standards-icon-green.svg
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/notification_badges.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/views/application/_sub_header.html.erb
  services/QuillLMS/app/views/navbar/_explore_curriculum.html.erb
  services/QuillLMS/app/views/navbar/_learning_tools.html.erb
  services/QuillLMS/app/views/navbar/_our_story.html.erb
  services/QuillLMS/app/views/navbar/_quill_support.html.erb
  services/QuillLMS/app/views/navbar/_teacher_center.html.erb
  services/QuillLMS/app/views/navbar/_tooltip_link.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/my_activities_tabs.jsx
  services/QuillLMS/spec/support/system.rb
Due: lms-edits, lms-client-edits

update username or email logic
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
Due: lms-client-edits

small css changes
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/client/app/bundles/Teacher/styles/article-spotlight.scss
Due: lms-edits, lms-client-edits

Recalculate staggered release locks on login (#10567)
  services/QuillLMS/app/lib/quill_authentication.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/lib/quill_authentication_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

fix test
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/classroom_student_section.test.jsx.snap
Due: lms-client-edits

Add Google Tags to website header for Google Analytics (#10565)
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

ruby version
  services/QuillLMS/.ruby-version
  services/QuillLMS/Gemfile
Due: lms-edits

update ruby version
  services/QuillLMS/Gemfile.lock
Due: lms-edits

circleCI bump
  .circleci/config.yml
Due: none

cms stay 2.7.6
  .circleci/config.yml
Due: none

Add canvas instance form to the premium hub (#10522)
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceSchoolsSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/CanvasInstanceForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/CanvasInstanceForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHub.jsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/spec/requests/canvas_instances_controller_spec.rb
Due: lms-edits, lms-client-edits

fix styling bug
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
Due: lms-edits, lms-client-edits

optimize Quill Academy page
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
Due: lms-edits

move json iostream out of initializer
  services/QuillLMS/app/services/quill_big_query/client_fetcher.rb
  services/QuillLMS/config/initializers/bigquery.rb
  services/QuillLMS/spec/services/quill_big_query/client_fetcher_spec.rb
Due: lms-edits

Lms/generate teacher notifications (#10540)
  services/QuillLMS/app/assets/stylesheets/pages/my_account.scss
  services/QuillLMS/app/controllers/api/v1/activity_sessions_controller.rb
  services/QuillLMS/app/controllers/api/v1/teacher_notification_settings_controller.rb
  services/QuillLMS/app/mailers/teacher_notifications/rollup_mailer.rb
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/app/models/concerns/student.rb
  services/QuillLMS/app/models/teacher_notification_setting.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_all_assigned_activities.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_all_diagnostic_recommendations.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_diagnostics.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_truncate_student_names.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
  services/QuillLMS/app/workers/teacher_notifications/fanout_send_notifications_worker.rb
  services/QuillLMS/app/workers/teacher_notifications/send_complete_all_assigned_activities_notification_worker.rb
  services/QuillLMS/app/workers/teacher_notifications/send_complete_all_diagnostic_recommendations_notification_worker.rb
  services/QuillLMS/app/workers/teacher_notifications/send_complete_diagnostic_notification_worker.rb
  services/QuillLMS/app/workers/teacher_notifications/send_notification_worker.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/teacher_email_notifications.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherAccount.jsx
  services/QuillLMS/spec/controllers/api/v1/activity_sessions_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/teacher_notification_settings_controller_spec.rb
  services/QuillLMS/spec/factories/teacher_notification_setting.rb
  services/QuillLMS/spec/mailers/teacher_notifications/rollup_mailer_spec.rb
  services/QuillLMS/spec/models/activity_session_spec.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/concerns/student_concern_spec.rb
  services/QuillLMS/spec/models/cron_spec.rb
  services/QuillLMS/spec/models/teacher_notification_setting_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/fanout_send_notifications_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_complete_all_assigned_activities_notification_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_complete_all_diagnostic_recommendations_notification_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_complete_diagnostic_notification_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_notification_worker_spec.rb
Due: lms-edits, lms-client-edits

Pass a "timestamp" value through to the Unlink API
  services/QuillLMS/app/workers/sync_vitally_unlinks_worker.rb
  services/QuillLMS/spec/workers/sync_vitally_unlinks_worker_spec.rb
Due: lms-edits

Add a rake task to set default notification_email_frequency
  services/QuillLMS/lib/tasks/users.rake
Due: lms-edits

optimize my subscriptions page
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
  services/QuillLMS/app/assets/stylesheets/pages/subscriptions.scss
  services/QuillLMS/app/views/subscriptions/index.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/subscriptions/SubscriptionStatus.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/subscriptions/subscription_history.jsx
Due: lms-edits, lms-client-edits

Add some logging to figure out why the job crashes
  services/QuillLMS/lib/tasks/users.rake
Due: lms-edits

Try forcing the load before the .each call
  services/QuillLMS/lib/tasks/users.rake
Due: lms-edits

optimize Premium Hub sections
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/activity_scores_table.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/concept_reports_table.jsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/standardsReportsTable.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
Due: lms-edits, lms-client-edits

Use find_each to try to avoid memory issues
  services/QuillLMS/lib/tasks/users.rake
Due: lms-edits

optimize activities sections:
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/app/assets/stylesheets/pages/my_activities.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
Due: lms-edits, lms-client-edits

Pass a "timestamp" value through to the Unlink API (#10572)
  services/QuillLMS/app/workers/sync_vitally_unlinks_worker.rb
  services/QuillLMS/spec/workers/sync_vitally_unlinks_worker_spec.rb
Due: lms-edits

Fix typo in final update logic of task
  services/QuillLMS/lib/tasks/users.rake
Due: lms-edits

Fix linting
  services/QuillLMS/lib/tasks/users.rake
Due: lms-edits

BigQuery - district standards report (#10541)
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/spec/queries/progress_reports/district_standards_reports_spec.rb
Due: lms-edits

cgi gem
  services/QuillLMS/Gemfile
Due: lms-edits

cgi to gemfile lock
  services/QuillLMS/Gemfile.lock
Due: lms-edits

fix spec
  services/QuillLMS/spec/models/cron_spec.rb
Due: none

cron
  services/QuillLMS/spec/models/cron_spec.rb
Due: none

Lms/rake task to set default notification frequency (#10574)
  services/QuillLMS/lib/tasks/users.rake
Due: lms-edits

optimize remaining pages
  services/QuillLMS/app/assets/stylesheets/pages/assignment_flow.scss
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ProgressReportIndex.jsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-edits, lms-client-edits

small CSS change; update snapshot
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/pages/subscriptions.scss
  services/QuillLMS/client/app/bundles/Teacher/components/subscriptions/__tests__/__snapshots__/SubscriptionStatus.test.jsx.snap
Due: lms-edits, lms-client-edits

Update cron_spec.rb
  services/QuillLMS/spec/models/cron_spec.rb
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
