Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

don't clear dropdown search on item selection
  services/QuillLMS/client/app/bundles/Shared/components/shared/dropdownInput.tsx
Due: lms-client-edits

rebind pusher when searchcount changes
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

Jack revisions
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/outlined_star.svg
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/star.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

add icons for segment controls and sections
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/star.svg
Due: none

Jack revisions
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/star.svg
Due: none

fix indentation
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
Due: lms-client-edits

Fix invite students bug
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
Due: lms-client-edits

fix syntax error
  services/QuillLMS/db/structure.sql
Due: lms-edits

Fix invite students bug (#10821)
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
Due: lms-client-edits

remove border from negative cards
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
Due: lms-edits

Open up Quill Academy to all school and district premium users (#10820)
  services/QuillLMS/app/helpers/quill_academy_helper.rb
  services/QuillLMS/app/views/pages/quill_academy.html.erb
  services/QuillLMS/app/views/quill_academy/_info_section.html.erb
  services/QuillLMS/spec/helpers/quill_academy_helper_spec.rb
Due: lms-edits

Fix sprockets requirement
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

Add rails admin config
  services/QuillLMS/config/initializers/rails_admin.rb
Due: lms-edits

Update Gemfile.lock
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

restore environment configuration
  services/QuillLMS/config/environment.rb
  services/QuillLMS/config/environments/development.rb
  services/QuillLMS/config/environments/production.rb
  services/QuillLMS/config/environments/test.rb
  services/QuillLMS/config/initializers/filter_parameter_logging.rb
  services/QuillLMS/config/initializers/inflections.rb
Due: lms-edits

Add sprockets-rails
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Upgrade Rails to 7.0
  services/QuillLMS/bin/rails
  services/QuillLMS/bin/rake
  services/QuillLMS/bin/setup
  services/QuillLMS/config/boot.rb
  services/QuillLMS/config/environment.rb
  services/QuillLMS/config/environments/development.rb
  services/QuillLMS/config/environments/production.rb
  services/QuillLMS/config/environments/test.rb
  services/QuillLMS/config/initializers/content_security_policy.rb
  services/QuillLMS/config/initializers/filter_parameter_logging.rb
  services/QuillLMS/config/initializers/inflections.rb
  services/QuillLMS/config/initializers/new_framework_defaults_7_0.rb
  services/QuillLMS/config/initializers/permissions_policy.rb
Due: lms-edits

Fix linter errors
  services/QuillLMS/bin/rake
  services/QuillLMS/bin/setup
  services/QuillLMS/config/boot.rb
  services/QuillLMS/config/initializers/content_security_policy.rb
  services/QuillLMS/config/initializers/new_framework_defaults_7_0.rb
  services/QuillLMS/config/initializers/permissions_policy.rb
  services/QuillLMS/script/rails
Due: lms-edits

Fix linter error
  services/QuillLMS/bin/rails
Due: lms-edits

Update Evidence gemspec
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
Due: lms-edits

Fix google-cloud-translate version
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

Replace db:structure:load with db:schema:load
  .circleci/config.yml
  services/QuillLMS/lib/tasks/local_data.rake
  services/QuillLMS/lib/tasks/setup.rake
Due: lms-edits

Pin jquery-ui-rails
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

add null check
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
Due: lms-client-edits

Remove UnitTemplate activity_info index (#10815)
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/db/migrate/20230728183700_remove_unit_template_activity_info_index.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/unit_templates.rb
  services/QuillLMS/spec/models/unit_template_spec.rb
Due: lms-edits

Fix off-by-one error with subscription expiration (#10819)
  services/QuillLMS/app/models/concerns/teacher.rb
  services/QuillLMS/app/models/subscription.rb
Due: lms-edits

uncomment premium restriction
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

Fix inflections
  services/QuillLMS/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
Due: lms-edits

Set sprocket-rails version
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

Fix ordering
  services/QuillLMS/bin/rails
  services/QuillLMS/bin/rake
  services/QuillLMS/bin/setup
  services/QuillLMS/script/rails
Due: lms-edits

Remove some initializers
  services/QuillLMS/config/initializers/content_security_policy.rb
  services/QuillLMS/config/initializers/new_framework_defaults_7_0.rb
  services/QuillLMS/config/initializers/permissions_policy.rb
Due: lms-edits

Remove zeitwerk configuration
  services/QuillLMS/config/application.rb
Due: lms-edits

add migration and model files for diagnostic question skills
  services/QuillLMS/app/models/diagnostic_question_skill.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/skill_group.rb
  services/QuillLMS/db/migrate/20230731184420_create_diagnostic_question_skills.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/diagnostic_question_skill.rb
  services/QuillLMS/spec/models/diagnostic_question_skill_spec.rb
Due: lms-edits

Update bullet
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Enable new connection handling
  services/QuillLMS/config/application.rb
Due: lms-edits

Update zeitwerk initializer
  services/QuillLMS/config/initializers/zeitwerk.rb
Due: lms-edits

Update Doorkeeper initializer
  services/QuillLMS/config/initializers/doorkeeper.rb
Due: lms-edits

Fix view specs
  services/QuillLMS/spec/views/user_mailer/daily_stats_email.html.erb_spec.rb
  services/QuillLMS/spec/views/user_mailer/ell_starter_diagnostic_info_email.html.erb_spec.rb
Due: none

Remove already loaded extensions
  services/QuillLMS/config/application.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
