Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Fix specs
  services/QuillLMS/spec/models/concept_feedback_spec.rb
Due: none

Style updates to press page (#11919)
  services/QuillLMS/app/assets/stylesheets/pages/press.scss
  services/QuillLMS/app/views/pages/press.html.erb
Due: lms-edits

fix circle ci config and some test failures
  .circleci/continue_config.yml
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/sentence_fragment_integration.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/incorrect_sequence_match.ts
Due: lms-client-edits

fix proofreader thing too
  services/QuillLMS/client/app/bundles/Proofreader/tests/helpers/determineUnnecessaryEditType.spec.ts
Due: lms-client-edits

fix proofreader spec
  services/QuillLMS/client/app/bundles/Proofreader/tests/helpers/determineUnnecessaryEditType.spec.ts
Due: lms-client-edits

TR feedback
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/spec/services/learn_worlds_integration/suspended_users_request_spec.rb
Due: lms-edits

WIP filter for premium schools
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

fix how multiple correct answers are formatted in proofreader
  services/QuillLMS/client/app/bundles/Proofreader/components/proofreaderActivities/__tests__/__snapshots__/edit.test.tsx.snap
  services/QuillLMS/client/app/bundles/Proofreader/components/proofreaderActivities/editTooltip.tsx
  services/QuillLMS/client/app/bundles/Proofreader/styles/edit.scss
Due: lms-client-edits

Add script for optimal suboptimal tests.
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Update method names and make one-liners.
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
Due: lms-edits

Lint.
  services/QuillLMS/.rubocop.yml
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Call the save jobs from order worker before saveTranslatedTExt
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
Due: lms-edits

better LW API error handling (#11935)
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/spec/services/learn_worlds_integration/suspended_users_request_spec.rb
Due: lms-edits

Hints (Concept Feedback) manual translations using Gengo V1 (#11922)
  services/QuillLMS/.env-sample
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/app/services/gengo/save_jobs_from_order.rb
  services/QuillLMS/app/services/gengo/save_translated_text.rb
  services/QuillLMS/app/workers/gengo/save_jobs_from_order_worker.rb
  services/QuillLMS/app/workers/gengo/save_translated_text_worker.rb
  services/QuillLMS/config/initializers/gengo.rb
  services/QuillLMS/db/migrate/20240610145220_create_english_texts.rb
  services/QuillLMS/db/migrate/20240610145308_create_translated_texts.rb
  services/QuillLMS/db/migrate/20240610155753_create_translation_mappings.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/factories/english_texts.rb
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/factories/translation_mappings.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
  services/QuillLMS/spec/services/gengo/save_jobs_from_order_spec.rb
  services/QuillLMS/spec/services/gengo/save_translated_text_spec.rb
  services/QuillLMS/spec/workers/gengo/save_jobs_from_order_worker_spec.rb
  services/QuillLMS/spec/workers/gengo/save_translated_text_worker_spec.rb
Due: lms-edits

Fix rake task to request translations for hints.
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

Add translations to concept feedbacks in admin.
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
  services/QuillLMS/client/app/bundles/Shared/components/feedback/conceptExplanation.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/conceptFeedback.scss
  services/QuillLMS/spec/models/concept_feedback_spec.rb
Due: lms-edits, lms-client-edits

The translate rake task was using the wrong variable name to get the english_words.
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

Add translations for hints in the connect module
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concept-feedback.jsx
Due: lms-client-edits

Only show the translate button on admin if there is a translation
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concept-feedback.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
Due: lms-client-edits

add order to payload (#11929)
  services/QuillLMS/client/app/bundles/Shared/components/internalTools/regexInputAndConceptSelectorForm.tsx
Due: lms-client-edits

add teacher stats
  services/QuillLMS/app/models/concerns/vitally_teacher_stats.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: lms-edits

Use a constant for SPANISH_LOCALE (es-la) everywhere
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/config/initializers/gengo.rb
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
  services/QuillLMS/spec/services/gengo/save_translated_text_spec.rb
Due: lms-edits

Don’t re-translate the same english_text
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
Due: lms-edits

add school stats
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/app/models/concerns/vitally_teacher_stats.rb
  services/QuillLMS/app/services/vitally_integration/previous_year_school_datum.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
Due: lms-edits

Fix name of variable
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
Due: lms-client-edits

Rubocop fixes
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
Due: lms-edits

Remove materialized views that are not used by any queries (#11933)
  services/QuillLMS/config/big_query_views.yml
  services/QuillLMS/db/big_query/views/active_classroom_stubs_view.sql
  services/QuillLMS/db/big_query/views/active_classroom_unit_stubs_view.sql
  services/QuillLMS/db/big_query/views/recommendation_activity_session_stubs_view.sql
Due: lms-edits

Update display of time spent on the Overview tab to match Student (#11934)
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/diagnosticGrowthReportsHelpers.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/helpers.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-client-edits

add organization traits
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/app/models/concerns/vitally_shared_functions.rb
  services/QuillLMS/app/models/concerns/vitally_teacher_stats.rb
  services/QuillLMS/app/services/vitally_integration/previous_year_school_datum.rb
  services/QuillLMS/app/services/vitally_integration/previous_year_teacher_datum.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

Update translation button toggle to be more react-y
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concept-feedback.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
Due: lms-client-edits

Remove unneeded param from method
  services/QuillLMS/client/app/bundles/Shared/components/feedback/conceptExplanation.tsx
Due: lms-client-edits

linting
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: none

Make changes based on code review
  services/QuillLMS/app/mailers/admin_diagnostic_reports/report_mailer.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_recommendations_by_student_query.rb
  services/QuillLMS/app/services/admin_diagnostic_reports/construct_query_payload.rb
  services/QuillLMS/spec/services/admin_diagnostic_reports/construct_overview_query_payload_spec.rb
  services/QuillLMS/spec/services/formatter_spec.rb
Due: lms-edits

Change class name for button container to be more specific to the concept-feedback.
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concept-feedback.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/conceptFeedback.scss
Due: lms-client-edits

pull data from api
  services/QuillLMS/lib/tasks/nces_sync.rake
Due: lms-edits

Refactor UploadToS3 to be a bit more generic
  services/QuillLMS/app/services/upload_to_s3.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
  services/QuillLMS/app/workers/snapshots/premium_download_reports_worker.rb
  services/QuillLMS/spec/services/upload_to_s3_spec.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_csv_email_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/premium_download_reports_worker_spec.rb
Due: lms-edits

move sync script into workers
  services/QuillLMS/app/workers/sync_district_data_from_url_worker.rb
  services/QuillLMS/app/workers/sync_school_data_from_url_worker.rb
  services/QuillLMS/lib/tasks/nces_sync.rake
Due: lms-edits

Add ES Lint command to the readme
  services/QuillLMS/README.md
Due: none

Use one-liner for setting state.
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concept-feedback.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
