Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Allow LLMPromptTemplates to be orderable
  services/QuillLMS/db/migrate/20240918144926_add_order_to_llm_prompt_template.evidence.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llm_prompt_templates_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_template.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompt_templates/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/db/migrate/20240918144745_add_order_to_llm_prompt_template.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_prompt_templates.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_template_spec.rb
Due: lms-edits

wip
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/app/helpers/evidence/research/gen_ai/application_helper.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/confusion_matrix_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/llm_feedback_resolver.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/application/_confusion_matrix.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/build_llm_example_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

Update label test and data creation to collapse optimally.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/test.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/train.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompt_builder.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Add a service to hopefully unignore Vitally orgs
  services/QuillLMS/app/services/vitally_integration/unignore_organization.rb
  services/QuillLMS/spec/services/vitally_integration/unignore_organization_spec.rb
Due: lms-edits

Update backfill name to match new module name
  services/QuillLMS/lib/tasks/temporary/student_learning_sequence.rake
Due: lms-edits

check for key value for incorrect sequence match
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/interfaces/index.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/incorrect_sequence_match.ts
Due: lms-client-edits

more logging
  services/QuillLMS/e2e/main.spec.ts
Due: none

WIP backfill rake task
  services/QuillLMS/lib/tasks/temporary/student_learning_sequence.rake
Due: lms-edits

Translations/ add translations for Grammar (#12394)
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/question.tsx
  services/QuillLMS/client/app/bundles/Connect/libs/translationFunctions.tsx
  services/QuillLMS/client/app/bundles/Grammar/actions/actionTypes.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/conceptsFeedback.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/session.ts
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/question.test.tsx.snap
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/question.test.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/question.tsx
  services/QuillLMS/client/app/bundles/Grammar/libs/concept_feedback_api.ts
  services/QuillLMS/client/app/bundles/Grammar/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Grammar/reducers/conceptsFeedbackReducer.ts
  services/QuillLMS/client/app/bundles/Grammar/reducers/questionsReducer.ts
  services/QuillLMS/client/app/bundles/Grammar/reducers/sessionReducer.ts
  services/QuillLMS/client/app/bundles/Shared/components/renderForQuestions/feedback.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/finalAttemptFeedback.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/translations/helpers.tsx
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/interfaces/index.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/incorrect_sequence_match.ts
  services/QuillLMS/client/app/bundles/Shared/styles/feedback.scss
Due: lms-client-edits

vite config update
  services/QuillLMS/vite.config.ts
Due: none

Wip.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_response.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_response_feedback.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompts/2024_09_19_rag_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Add a chain of workers to process unignore requests
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/services/vitally_integration/unignore_organization.rb
  services/QuillLMS/app/workers/vitally_integration/unignore_active_organizations_worker.rb
  services/QuillLMS/app/workers/vitally_integration/unignore_organization_worker.rb
  services/QuillLMS/spec/models/cron_spec.rb
  services/QuillLMS/spec/workers/vitally_integration/unignore_active_organizations_worker_spec.rb
  services/QuillLMS/spec/workers/vitally_integration/unignore_organization_worker_spec.rb
Due: lms-edits

correct port in .env-sample
  services/QuillLMS/.env-sample
Due: none

Fix linting
  services/QuillLMS/app/workers/vitally_integration/unignore_organization_worker.rb
  services/QuillLMS/spec/workers/vitally_integration/unignore_active_organizations_worker_spec.rb
  services/QuillLMS/spec/workers/vitally_integration/unignore_organization_worker_spec.rb
Due: lms-edits

remove feature flag
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languageSelectionPage.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/translations/helpers.tsx
Due: lms-client-edits

Reference relationship to unit records properly
  services/QuillLMS/lib/tasks/temporary/student_learning_sequence.rake
Due: lms-edits

cleanup
  .circleci/continue_config.yml
  services/QuillLMS/e2e/main.spec.ts
Due: none

lint
  services/QuillLMS/config/environments/test.rb
Due: lms-edits

remove unused env var
  services/QuillLMS/.env-sample
Due: none

update CSP
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

wip
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/params_builder.rb
Due: lms-edits

remove all remaining references to localhost:3000
  services/QuillLMS/README.md
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/assignment_card.test.jsx
  services/QuillLMS/config/environments/development.rb
  services/QuillLMS/config/initializers/auth/clever.rb
  services/QuillLMS/config/initializers/secure_headers.rb
  services/QuillLMS/config/puma.rb
  services/QuillLMS/cypress.json
  services/QuillLMS/lib/tasks/localize_classification_module_urls.rake
  services/QuillLMS/playwright.config.ts
  services/QuillLMS/spec/mailers/previews/premium_hub_user_mailer_preview.rb
  services/QuillLMS/spec/support/shared_contexts/stripe_integration/external_checkout_session.rb
  services/QuillLMS/vite.config.ts
Due: lms-edits, lms-client-edits

eslint; remove capybara artifacts
  services/QuillLMS/e2e/main.spec.ts
  services/QuillLMS/spec/support/system.rb
Due: none

source map config
  services/QuillLMS/vite.config.ts
Due: none

update copy
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/school_year_updates_card.tsx
Due: lms-client-edits

just use constant dont pluck
  services/QuillLMS/app/models/concerns/vitally_shared_functions.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: lms-edits

Restrict Vitally This Year calculations to live activities (#12386)
  services/QuillLMS/app/models/concerns/vitally_shared_functions.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: lms-edits

Allow LLMPromptTemplates to be orderable
  services/QuillLMS/db/migrate/20240918144926_add_order_to_llm_prompt_template.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llm_prompt_templates_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_template.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompt_templates/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/db/migrate/20240918144745_add_order_to_llm_prompt_template.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_prompt_templates.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_template_spec.rb
Due: lms-edits

update snapshot:
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
Due: lms-client-edits

Translations/ remove feature flag (#12397)
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languageSelectionPage.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/translations/helpers.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/school_year_updates_card.tsx
Due: lms-client-edits

Allow LLMPromptTemplates to be orderable (#12398)
  services/QuillLMS/db/migrate/20240918144926_add_order_to_llm_prompt_template.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llm_prompt_templates_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_template.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompt_templates/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/db/migrate/20240918144745_add_order_to_llm_prompt_template.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_prompt_templates.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_template_spec.rb
Due: lms-edits

add new uids
  services/QuillLMS/lib/tasks/translate.rake
Due: lms-edits

check for key or uid
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/feedback.scss
Due: lms-client-edits

check for key or uid (#12404)
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/feedback.scss
Due: lms-client-edits

restrict all queries to classrooms owned by teacher
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
Due: lms-edits

Add tests and school students method modification
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

linting
  services/QuillLMS/app/models/school.rb
Due: lms-edits

one more linting
  services/QuillLMS/app/models/school.rb
Due: lms-edits

linting one more
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
Due: none

playwright - enhancements (#12390)
  .circleci/continue_config.yml
  services/QuillLMS/.env-sample
  services/QuillLMS/Procfile.ci
  services/QuillLMS/README.md
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/assignment_card.test.jsx
  services/QuillLMS/config/environments/development.rb
  services/QuillLMS/config/environments/test.rb
  services/QuillLMS/config/initializers/auth/clever.rb
  services/QuillLMS/config/initializers/secure_headers.rb
  services/QuillLMS/config/puma.rb
  services/QuillLMS/cypress.json
  services/QuillLMS/e2e/main.spec.ts
  services/QuillLMS/lib/tasks/localize_classification_module_urls.rake
  services/QuillLMS/playwright.config.ts
  services/QuillLMS/spec/mailers/previews/premium_hub_user_mailer_preview.rb
  services/QuillLMS/spec/support/shared_contexts/stripe_integration/external_checkout_session.rb
  services/QuillLMS/spec/support/system.rb
  services/QuillLMS/vite.config.ts
Due: lms-edits, lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
