Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

WIP StudentLearningSequence backfill
  services/QuillLMS/app/workers/student_learning_sequences/backfill/base_worker.rb
  services/QuillLMS/app/workers/student_learning_sequences/backfill/recommendation_assignment_worker.rb
  services/QuillLMS/app/workers/student_learning_sequences/backfill/recommendation_completion_worker.rb
Due: lms-edits

Limit field_name when sourcing the base translation value
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Tiny style change for Evidence captions (#12433)
  services/QuillLMS/client/app/assets/styles/tool-section.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/activity.scss
Due: lms-client-edits

test app level scope
  services/QuillLMS/public/manifest.json
Due: none

change manifest to staging url for testing
  services/QuillLMS/public/manifest.json
Due: none

limit scope to root url
  services/QuillLMS/public/manifest.json
Due: none

footer script
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
Due: lms-edits

console logging for test
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
Due: lms-edits

log not in pwa
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
Due: lms-edits

remove console logs
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
Due: lms-edits

typos
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
  services/QuillLMS/public/manifest.json
Due: lms-edits

fix button text
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/intro.tsx
Due: lms-client-edits

Fix linting
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: none

Add a default value for field_name to the translation method
  services/QuillLMS/app/models/concerns/translatable.rb
Due: lms-edits

Simplify call based on PR feedback
  services/QuillLMS/app/models/concerns/translatable.rb
Due: lms-edits

add migration
  services/QuillLMS/db/migrate/20241002154111_add_ai_type_to_activities.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/engines/evidence/db/migrate/20241002153807_add_ai_type_to_activities.rb
Due: lms-edits

fix language selection page logic
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
Due: lms-client-edits

add validation and spec
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/activities.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/activity_spec.rb
Due: lms-edits

Bug fix/ Grammar translated button text (#12445)
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/intro.tsx
Due: lms-client-edits

fix-translated-question-instructions (#12444)
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

dummy sql database
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

update structure sql as well
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

amend
  services/QuillLMS/db/migrate/20241002164211_add_ai_type_to_activities.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/activities.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/activity_spec.rb
Due: lms-edits

fix other specs
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/activity_spec.rb
Due: lms-edits

fix lms tests too
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
Due: none

brendan's revision
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/activities.rb
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
Due: lms-edits

cleanup all esbuild warnings (#12440)
  services/QuillLMS/client/app/bundles/Connect/components/questions/questionForm.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/sentenceCombining.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/questionForm.jsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/commonText.js
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/spellchecker/processSentences.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/index.jsx
Due: lms-client-edits

Make some tweaks for unscoped queries
  services/QuillLMS/app/models/classroom_unit.rb
  services/QuillLMS/app/models/unit_unscoped.rb
  services/QuillLMS/app/workers/student_learning_sequences/backfill/base_worker.rb
Due: lms-edits

Re-add a CSS rule that was mistakenly removed
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
Due: lms-edits

Re-add a CSS rule that was mistakenly removed (#12449)
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
Due: lms-edits

Move backfill workers to the default queue
  services/QuillLMS/app/workers/student_learning_sequences/backfill/base_worker.rb
Due: lms-edits

add no index to home layout
  services/QuillLMS/app/views/layouts/home.html.erb
Due: lms-edits

wip
  services/QuillLMS/app/controllers/profiles_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/containers/StudentProfile.jsx
Due: lms-edits, lms-client-edits

update tests at thomas' suggestion
  services/QuillLMS/engines/evidence/spec/models/evidence/activity_spec.rb
Due: lms-edits

add ai type migration (#12446)
  services/QuillLMS/db/migrate/20241002164211_add_ai_type_to_activities.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/engines/evidence/db/migrate/20241002153807_add_ai_type_to_activities.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/activities.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/activity_spec.rb
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
Due: lms-edits

add type to table and color code it
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activities.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/renderHelpers.tsx
  services/QuillLMS/client/app/bundles/Staff/interfaces/evidenceInterfaces.ts
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/activities.scss
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
Due: lms-edits, lms-client-edits

add no index to home layout (#12451)
  services/QuillLMS/app/views/layouts/home.html.erb
Due: lms-edits

Add Google Cloud Storage gem
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/config/initializers/google/cloud/storage.rb
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

wip
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/foo_cleaner.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/foo_formatter.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/store_labeled_entry_worker.rb
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/storage.rb
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
  services/QuillLMS/engines/evidence/spec/dummy/config/environments/test.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/foo_cleaner_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/foo_formatter_spec.rb
Due: lms-edits

wip
  services/QuillLMS/db/migrate/20240926201615_add_task_type_to_dataset.evidence.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/foo_cleaner.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/foo_formatter.rb
  services/QuillLMS/engines/evidence/db/migrate/20240926201306_add_task_type_to_dataset.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
Due: lms-edits
