Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

redundant definition removed
  services/QuillLMS/client/app/bundles/Connect/components/questions/questionForm.jsx
Due: lms-client-edits

Require Concepts and show No-Concept Questions first on Connect/Grammar admin (#11022)
  services/QuillLMS/client/app/bundles/Connect/components/questions/questionForm.jsx
  services/QuillLMS/client/app/bundles/Connect/components/shared/questionListByConcept.tsx
  services/QuillLMS/client/app/bundles/Connect/styles/style.scss
  services/QuillLMS/client/app/bundles/Grammar/components/questions/questionListByConcept.tsx
Due: lms-client-edits

remove canvas link from assignment workflow
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
Due: lms-client-edits

Fix assign students regression
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/__snapshots__/assign_students.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-client-edits

Fix assign students regression (#11032)
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/__snapshots__/assign_students.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
Due: lms-client-edits

Global tertiary navigation fix (#11030)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
Due: lms-edits

get new form styled
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/integrations.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/schoolSelector.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
Due: lms-edits, lms-client-edits

tweak acquired skills logic
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResponsesIndex.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-edits, lms-client-edits

version bump
  services/QuillCMS/.ruby-version
  services/QuillCMS/spec/factories/response.rb
Due: cms-edits

bundler version update
  services/QuillCMS/Gemfile.lock
Due: cms-edits

update circleci
  .circleci/config.yml
Due: none

initial version changes
  services/QuillLMS/.ruby-version
  services/QuillLMS/Gemfile.lock
Due: lms-edits

circle ci update
  .circleci/config.yml
Due: none

remove miniracer
  services/QuillLMS/Gemfile
Due: lms-edits

update timecop
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

tweak acquired skills logic (#11038)
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResponsesIndex.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-edits, lms-client-edits

remove n+1 load issue in rules analysis query
  services/QuillLMS/app/lib/rule_feedback_history.rb
Due: lms-edits

add functions and tests for update and destroy methods
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/requests/canvas_instances_controller_spec.rb
Due: lms-edits

set usage snapshot page live and update guide link
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

make sure data export isn't visible from usage snapshot page
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
Due: lms-client-edits

set usage snapshot page live and update guide link (#11040)
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

put react testing library infrastructure in place (#11028)
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/__snapshots__/login_form.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/login_form.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/login_form.jsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/client/setupTestFilesAfterEnv.ts
Due: lms-client-edits

deduplicate logic shared between DataExportContainer and UsageSnapshotsContainer into shared parent container
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-edits, lms-client-edits

surface better errors for staff school creation
  services/QuillLMS/app/controllers/cms/schools_controller.rb
  services/QuillLMS/app/models/application_record.rb
  services/QuillLMS/spec/controllers/cms/schools_controller_spec.rb
  services/QuillLMS/spec/models/application_record_spec.rb
Due: lms-edits

remove n+1 load issue in rules analysis query (#11036)
  services/QuillLMS/app/lib/rule_feedback_history.rb
Due: lms-edits

Bump CMS Ruby to 3.1.4 (#11037)
  .circleci/config.yml
  services/QuillCMS/.ruby-version
  services/QuillCMS/Gemfile.lock
  services/QuillCMS/spec/factories/response.rb
Due: cms-edits

add psych gem
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

add mini racer back
  services/QuillLMS/Gemfile
Due: lms-edits

set up sprockets
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/config/initializers/rails_admin.rb
Due: lms-edits

rails admin code
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/javascript/packs/rails_admin.js
  services/QuillLMS/app/javascript/stylesheets/rails_admin.scss
  services/QuillLMS/package.json
Due: lms-edits

fix failing spec
  services/QuillLMS/config/initializers/rails_admin.rb
  services/QuillLMS/spec/controllers/invitations_controller_spec.rb
Due: lms-edits

add matrix gem
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

move matrix install
  services/QuillLMS/Gemfile
Due: lms-edits

remove LJ from team page
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Write queries that should get us the high level data we need
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_recommendations_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_aggregate_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_aggregate_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_aggregate_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_aggregate_completed_query.rb
Due: lms-edits

Update recommendations query to do average calculations in SQL
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_recommendations_query.rb
Due: lms-edits

WIP Begin stubbing scoring calculations into Pre Diagnostic query
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_aggregate_completed_query.rb
Due: lms-edits

all styling anyling and functionality is good to go
  packages/quill-cdn/assets/images/pages/administrator/integrations/school.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/integrations.scss
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/container.tsx
Due: lms-edits, lms-client-edits

change from using Switch/Route logic to prevent unnecessary re-renders
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-edits, lms-client-edits
