Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

For QuillLMS update the Postgres version and recommended Postgres.app to install
  services/QuillLMS/README.md
Due: none

add radio buttons
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/radioButton.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/radio-button.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/radioButtons.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

add tests
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/radioButton.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/radioButton.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/radioButtons.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/radioButtons.test.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-client-edits

small changes
  services/QuillLMS/client/app/bundles/Shared/components/shared/radioButton.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/radioButtons.tsx
Due: lms-client-edits

revert snapshot
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-client-edits

Get rid of the outdated seeds file and use the truncate_nonuser_tables task
  services/QuillLMS/db/seeds.rb
  services/QuillLMS/lib/tasks/setup.rake
Due: lms-edits

Update the nvmrc version to something that works.
  services/QuillLMS/.nvmrc
Due: none

Update README with some troubleshooting tips and documentation
  services/QuillLMS/README.md
Due: none

Update README with latest onboarding instructions (#11867)
  services/QuillLMS/.nvmrc
  services/QuillLMS/README.md
  services/QuillLMS/db/seeds.rb
  services/QuillLMS/lib/tasks/setup.rake
Due: lms-edits

Add a spec for the enqueue worker
  services/QuillLMS/spec/workers/admin_diagnostic_reports/enqueue_csv_email_worker_spec.rb
Due: none

Update worker with some bug fixes
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_csv_email_worker_spec.rb
Due: lms-edits

Get initial spec into working state for email sender
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
Due: lms-edits

Add Samantha John to the team
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Add Samantha John image to quill-cdn
  packages/quill-cdn/assets/images/team/webp/team-samantha-john.webp
Due: none

WIP spec for email send
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_csv_email_worker_spec.rb
Due: none

Make Samantha alphabetical
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Add Katie McNeil as marketing manager
  packages/quill-cdn/assets/images/team/webp/team-katie-mcneil.webp
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Add Samantha John to the team (#11868)
  packages/quill-cdn/assets/images/team/webp/team-katie-mcneil.webp
  packages/quill-cdn/assets/images/team/webp/team-samantha-john.webp
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Finish spec for send email worker
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_csv_email_worker_spec.rb
Due: none

update student dashboard and footer
  services/QuillLMS/app/assets/stylesheets/pages/profile.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_unit.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_units.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
Due: lms-edits, lms-client-edits

add focus classes
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/checkBox.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/radioButton.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/checkBox.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/radioButton.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/checkboxes.scss
  services/QuillLMS/client/app/bundles/Shared/styles/radio-button.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/checkBoxes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/radioButtons.test.tsx.snap
Due: lms-client-edits

tweak spacing
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

adjustments
  services/QuillLMS/app/assets/stylesheets/pages/profile.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
Due: lms-edits

Backpack/ radio buttons (#11866)
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/checkBox.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/radioButton.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/radioButton.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/checkBox.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/radioButton.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/checkboxes.scss
  services/QuillLMS/client/app/bundles/Shared/styles/radio-button.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/checkBoxes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/radioButtons.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/radioButtons.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/radioButtons.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

Update styling for Download button on ADGR Student tab
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
Due: lms-edits

Fix backend linting
  services/QuillLMS/app/mailers/admin_diagnostic_reports/report_mailer.rb
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_overview_data_export.rb
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_skills_summary_data_export.rb
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_students_summary_data_export.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/enqueue_csv_email_worker_spec.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_csv_email_worker_spec.rb
Due: lms-edits

Fix front-end linting errors
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-client-edits

More front-end linting fixes
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-client-edits

Fix some linting errors
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-edits, lms-client-edits

Fix more linting errors
  services/QuillLMS/spec/workers/admin_diagnostic_reports/enqueue_csv_email_worker_spec.rb
Due: none

Fix front-end code
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-client-edits

Refactor to reduce cyclomatic complexity
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
Due: lms-edits

Update class definitions for front-end pseudo-button
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-client-edits

Synchronously run download script for debugging purposes
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

add list styles
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/list.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/list.scss
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/checkBoxes.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/lists.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/radioButtons.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

add list states
  services/QuillLMS/client/app/bundles/Shared/styles/list.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/lists.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

make suggested changes
  scripts/rails_console/deduplicate_question_uids.rb
Due: none

go back to manually setting timestamps
  scripts/rails_console/deduplicate_question_uids.rb
Due: none

update time to be accurate
  scripts/rails_console/deduplicate_question_uids.rb
Due: none

also store uid after deduplication
  scripts/rails_console/deduplicate_question_uids.rb
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
