Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

More Refactoring of GoogleIntegration in preparation for CanvasIntegration
  services/QuillLMS/app/controllers/google_integration/teachers_controller.rb
  services/QuillLMS/app/models/google_integration/teacher_classrooms_data.rb
  services/QuillLMS/app/services/google_integration/classroom/parsers/students.rb
  services/QuillLMS/app/services/google_integration/classroom_creator.rb
  services/QuillLMS/app/services/google_integration/classroom_importer.rb
  services/QuillLMS/app/services/google_integration/classroom_student_importer.rb
  services/QuillLMS/app/services/google_integration/classroom_students_data.rb
  services/QuillLMS/app/services/google_integration/classroom_students_importer.rb
  services/QuillLMS/app/services/google_integration/classroom_updater.rb
  services/QuillLMS/app/services/google_integration/student_creator.rb
  services/QuillLMS/app/services/google_integration/student_updater.rb
  services/QuillLMS/app/services/google_integration/teacher_classrooms_students_importer.rb
  services/QuillLMS/app/services/google_integration/teacher_imported_classrooms_updater.rb
  services/QuillLMS/app/workers/google_integration/import_teacher_classrooms_students_worker.rb
  services/QuillLMS/spec/controllers/google_integration/teachers_controller_spec.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_student_payload.rb
  services/QuillLMS/spec/models/google_classroom_user_spec.rb
  services/QuillLMS/spec/models/google_integration/teacher_classrooms_data_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom/parsers/students_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_creator_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_student_creator_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_student_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_students_data_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_students_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/google_integration/student_creator_spec.rb
  services/QuillLMS/spec/services/google_integration/student_updater_spec.rb
  services/QuillLMS/spec/services/google_integration/teacher_classrooms_students_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/teacher_imported_classrooms_updater_spec.rb
  services/QuillLMS/spec/workers/google_integration/import_teacher_classrooms_students_worker_spec.rb
Due: lms-edits

Get annotation fixed
  services/QuillLMS/spec/models/google_classroom_user_spec.rb
Due: none

Move auth logic out of worker
  services/QuillLMS/app/workers/google_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/spec/controllers/google_integration/teachers_controller_spec.rb
  services/QuillLMS/spec/workers/google_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
Due: lms-edits

More refactoring of CleverIntegration in preparation for CanvasIntegration
  services/QuillLMS/app/services/clever_integration/student_updater.rb
Due: lms-edits

More Refactoring of GoogleIntegration in preparation for CanvasIntegration
  services/QuillLMS/spec/models/google_classroom_user_spec.rb
Due: none

Remove canvas_instance_id from ProviderClassroomUser and related code
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/app/models/canvas_account.rb
  services/QuillLMS/app/models/canvas_auth_credential.rb
  services/QuillLMS/app/models/canvas_classroom.rb
  services/QuillLMS/app/models/canvas_classroom_user.rb
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/models/concerns/teacher.rb
  services/QuillLMS/app/models/provider_classroom_user.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/services/provider_classroom_users_updater.rb
  services/QuillLMS/db/migrate/20230710144829_remove_canvas_instance_ref_from_provider_classroom_user.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/controllers/teacher_fix_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
  services/QuillLMS/spec/factories/classrooms.rb
  services/QuillLMS/spec/factories/provider_classroom_users.rb
  services/QuillLMS/spec/factories/provider_classrooms.rb
  services/QuillLMS/spec/models/canvas_account_spec.rb
  services/QuillLMS/spec/models/canvas_classroom_spec.rb
  services/QuillLMS/spec/models/canvas_classroom_user_spec.rb
  services/QuillLMS/spec/models/canvas_instance_spec.rb
  services/QuillLMS/spec/models/classroom_spec.rb
  services/QuillLMS/spec/models/concerns/teacher_spec.rb
  services/QuillLMS/spec/models/provider_classroom_delegator_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/serializers/provider_classroom_with_unsynced_students_serializer_spec.rb
  services/QuillLMS/spec/services/provider_classroom_users_updater_spec.rb
  services/QuillLMS/spec/services/provider_classrooms_with_unsynced_students_finder_spec.rb
  services/QuillLMS/spec/support/shared_examples/provider_classroom_users_updater_rspec.rb
Due: lms-edits

Fix diff
  services/QuillLMS/app/services/clever_integration/student_updater.rb
Due: lms-edits

improvements on styling
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

more styling edits
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
  services/QuillLMS/app/views/user_mailer/daily_stats_email.html.erb
Due: lms-edits

fix image broken link
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

Remove auth from cache worker
  services/QuillLMS/app/workers/canvas_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/spec/workers/canvas_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
Due: lms-edits

add row liner between classes
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

remove unused rake task (#10758)
  services/QuillLMS/lib/tasks/private_schools.rake
Due: lms-edits

delete unneeded changes
  services/QuillLMS/app/views/user_mailer/daily_stats_email.html.erb
  services/QuillLMS/lib/mailer_previews/teacher_notifications/rollup_preview.rb
Due: lms-edits

deleted mailer preview
  services/QuillLMS/lib/mailer_previews/rollup_mailer_preview.rb
Due: lms-edits

new line at eof
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
Due: lms-edits

jack edits
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

add backend logic for data export query; tweak frontend to handle data fetch
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

Modify "this year" and "last year" timeframes in Admin Snapshots
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: lms-edits

spec
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

Modify "this year" and "last year" timeframes in Admin Snapshots (#10760)
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: lms-edits

fix lint error
  services/QuillLMS/spec/factories/concept_result.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

fix spec
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

Handle notifications for activity sessions with no classroom_unit
  services/QuillLMS/app/workers/teacher_notifications/send_notification_worker.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_notification_worker_spec.rb
Due: lms-edits

Update default timeframe for Admin Snapshots
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: lms-edits

Handle notifications for activity sessions with no classroom_unit (#10763)
  services/QuillLMS/app/workers/teacher_notifications/send_notification_worker.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_notification_worker_spec.rb
Due: lms-edits

Update default timeframe for Admin Snapshots (#10762)
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: lms-edits

Fix quill academy feature flag
  services/QuillLMS/app/helpers/quill_academy_helper.rb
Due: lms-edits

Fix quill academy feature flag (#10765)
  services/QuillLMS/app/helpers/quill_academy_helper.rb
Due: lms-edits

Add specs for classroom#classroom_external_id
  services/QuillLMS/spec/models/classroom_spec.rb
Due: none

Add user#user_external_id
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

fix failing spec on develop
  services/QuillLMS/spec/mailers/teacher_notifications/rollup_mailer_spec.rb
Due: none

add some comment changes
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/activities_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/schools_containing_certain_teachers_query.rb
  services/QuillLMS/app/services/quill_big_query/pre_transformer.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/impact_metrics/active_teachers_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/activities_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_containing_certain_teachers_query_spec.rb
  services/QuillLMS/spec/queries/quill_big_query/active_teachers_all_time_query_spec.rb
  services/QuillLMS/spec/services/quill_big_query/pre_transformer_spec.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

Update ProviderClassroomDelegator to include Canvas
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/app/models/canvas_account.rb
  services/QuillLMS/app/models/provider_classroom_delegator.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/canvas_integration/teachers_controller_spec.rb
  services/QuillLMS/spec/factories/canvas_accounts.rb
  services/QuillLMS/spec/factories/classrooms.rb
  services/QuillLMS/spec/factories/provider_classroom_users.rb
  services/QuillLMS/spec/factories/users.rb
  services/QuillLMS/spec/models/canvas_account_spec.rb
  services/QuillLMS/spec/models/provider_classroom_delegator_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Add canvas tests for unsynced students finder
  services/QuillLMS/spec/factories/users.rb
  services/QuillLMS/spec/services/provider_classrooms_with_unsynced_students_finder_spec.rb
Due: none

all final changes from comments
  services/QuillLMS/app/queries/impact_metrics/active_students_all_time_query.rb
  services/QuillLMS/app/services/quill_big_query/pre_transformer.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/impact_metrics/active_students_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/activities_all_time_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

Fix failing specs
  services/QuillLMS/spec/factories/classrooms.rb
  services/QuillLMS/spec/factories/users.rb
Due: none

again
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

for real this time
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
