Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

fix footer width on mobile
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
Due: lms-edits

also fix create a class form modal width
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

fix diagnostic report display issue by stricter filtering by class roster (#11075)
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/spec/controllers/concerns/diagnostic_reports_spec.rb
Due: lms-edits

try another way of stacking paragraphs
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

try another way
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

add one more break for visual matching
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

snapshot update
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
Due: lms-client-edits

and create a class modal height
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

adjust input height so it shows on safari
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-client-edits

fix footer width issue (#11088)
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-edits, lms-client-edits

Add support for srcset values in Team member images
  services/QuillLMS/app/helpers/pages_helper.rb
  services/QuillLMS/app/views/pages/team.html.erb
Due: lms-edits

Add support for srcset values in Team member images (#11093)
  services/QuillLMS/app/helpers/pages_helper.rb
  services/QuillLMS/app/views/pages/team.html.erb
Due: lms-edits

Remove a column that we never ended up using (#11081)
  services/QuillLMS/app/models/classroom_unit.rb
  services/QuillLMS/db/migrate/20230929135017_remove_source_from_classroom_unit.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/classroom_units.rb
  services/QuillLMS/spec/models/classroom_unit_spec.rb
Due: lms-edits

standardize hover states
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/my_activities_tabs.jsx
Due: lms-edits, lms-client-edits

tweak icon rendering logic
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/my_activities_tabs.jsx
Due: lms-client-edits

add tests
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/subnav_tabs.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/subnav_tabs.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/my_activities_tabs.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/my_activities_tabs.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/my_activities_tabs.jsx
Due: lms-client-edits

fix linter error
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
Due: lms-client-edits

add growth diagnostic report icons
  packages/quill-cdn/assets/images/icons/downward-arrow-icon-white.svg
  packages/quill-cdn/assets/images/icons/email-icon-white.svg
Due: none

fix typo
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
Due: lms-edits

Add Maheen to the /team page
  packages/quill-cdn/assets/images/team/webp/team-maheen-sahoo.webp
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

fix max widths
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
Due: lms-edits

add icons to buttons
  packages/quill-cdn/assets/images/icons/downward-arrow-icon-white.svg
  packages/quill-cdn/assets/images/icons/email-icon-white.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticReports/OverviewContainer.tsx
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
Due: lms-edits, lms-client-edits

Add Maheen to the /team page (#11096)
  packages/quill-cdn/assets/images/team/webp/team-maheen-sahoo.webp
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

use variables
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
Due: lms-edits

update data export css
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
Due: lms-edits

update font size
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
Due: lms-edits

add additional admin growth diagnostic report icons
  packages/quill-cdn/assets/images/icons/group-students-icon.svg
  packages/quill-cdn/assets/images/icons/white-bar-chart-icon.svg
Due: none

further adjust data export
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
Due: lms-edits

Update the dynamic `height` style calculation for the table
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

clean up proficiency variable names (#11092)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_questions_analysis.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_results.scss
  services/QuillLMS/app/controllers/activity_sessions_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/questions.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_unit.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_units.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ResultsPage.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/ResultsPage.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/ResultsPage.test.jsx.snap
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/models/activity_session_spec.rb
  services/QuillLMS/spec/models/teacher_activity_feed_spec.rb
Due: lms-edits, lms-client-edits

update max widths for admin report ui (#11098)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
Due: lms-edits

Bug fix/ standardize hover states for tertiary navigation (#11095)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/subnav_tabs.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/subnav_tabs.test.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/my_activities_tabs.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/my_activities_tabs.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/my_activities_tabs.jsx
Due: lms-edits, lms-client-edits

update font size for primary navigation (#11099)
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
Due: lms-edits

Update the dynamic `height` style calculation for the table (#11100)
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

Testing in staging with 1 second retry
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

WIP add some testing console logs to understand how this is working
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

More testing
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

WIP more testing
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Hopefully-final version of the code
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
