Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

further updates
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/views/evidence/_third_topic.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/client/app/assets/styles/evidence-tool.scss
  services/QuillLMS/client/app/assets/styles/home.scss
Due: lms-edits, lms-client-edits

Make default Gemini temp 0.
  services/QuillLMS/engines/evidence/lib/evidence/gemini/chat.rb
Due: lms-edits

Fix linter errors (#12288)
  services/QuillLMS/app/models/concerns/vitally_shared_functions.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/spec/services/vitally_integration/previous_year_school_datum_spec.rb
  services/QuillLMS/spec/services/vitally_integration/previous_year_teacher_datum_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: lms-edits

Extract TrialRunner and related methods
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/trial_runner.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/trial_runner_callback.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/trial_runner_callback_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/calculate_results_worker_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/run_trial_worker_spec.rb
Due: lms-edits

Add LLMPromptBuilder test for custom text
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/llm_prompt_builder_spec.rb
Due: lms-edits

Update evidence gemspec for sidekiq-pro
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

Add spec for BuildLLMExampleWorker
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/build_llm_example_worker_spec.rb
Due: lms-edits

Add GEvalScoresFetcherCallback spec
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback_spec.rb
Due: lms-edits

Fix route
  services/QuillLMS/engines/evidence/config/routes.rb
Due: lms-edits

Fix g_eval_scores_fetcher to use sidekiq
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_scores_fetcher.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback_spec.rb
Due: lms-edits

Add temperature setting to trial (#12284)
  services/QuillLMS/db/migrate/20240823212106_add_temperature_to_trials.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/build_llm_example_worker.rb
  services/QuillLMS/engines/evidence/db/migrate/20240823204315_add_temperature_to_trials.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/trials_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/trials.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

Fix specs
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_spec.rb
  services/QuillLMS/spec/workers/sync_district_data_from_url_worker_spec.rb
Due: lms-edits

tweak intro page translation logic, add more button translations
  services/QuillLMS/client/app/bundles/Connect/components/renderForQuestions/renderFormForAnswer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/question.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/spanish/translation.json
Due: lms-client-edits

reduce header width
  services/QuillLMS/client/app/assets/styles/evidence-tool.scss
Due: lms-client-edits

Get rid of N+1 queries in comparisons#show
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/comparisons_controller.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
Due: lms-edits

move timeout before click
  services/QuillLMS/e2e/main.spec.ts
Due: none

another approach
  services/QuillLMS/e2e/main.spec.ts
Due: none

add test
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/__tests__/__snapshots__/register.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/__tests__/register.test.tsx
Due: lms-client-edits

remove console
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/question.tsx
Due: lms-client-edits

force click
  services/QuillLMS/e2e/main.spec.ts
Due: none

Add Temperature to Trials and Misc Refactoring of Evidence::Research::GenAI (#12272)
  services/QuillLMS/db/migrate/20240823212106_add_temperature_to_trials.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/comparisons_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_scores_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/trial_runner.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/trial_runner_callback.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/build_llm_example_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240823204315_add_temperature_to_trials.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/trials_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/trials.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/llm_prompt_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/trial_runner_callback_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/build_llm_example_worker_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/calculate_results_worker_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/run_trial_worker_spec.rb
  services/QuillLMS/spec/workers/sync_district_data_from_url_worker_spec.rb
Due: lms-edits

pin sprockets
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

pinning to avoid major version bumps
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

initial
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

bust cci cache for evidence bundle
  .circleci/continue_config.yml
Due: none

use correct bundler in CCI
  .circleci/continue_config.yml
Due: none

adding ruby platform to lockfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

removing darwin platform from Gemfile lock
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Revert "add long timeout for bundle"
  .circleci/continue_config.yml
Due: none

add long timeout for bundle
  .circleci/continue_config.yml
Due: none

increasing resource class
  .circleci/continue_config.yml
Due: none

removing cypress-on-rails
  services/QuillLMS/Gemfile
Due: lms-edits

new Gemfile.lock for evidence
  services/QuillLMS/engines/evidence/Gemfile.lock
Due: lms-edits

remove cypress from main lockfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

pin global gem
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

remove legacy_connection_handling directives
  services/QuillLMS/config/application.rb
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
Due: lms-edits

update rspec-rails in evidence
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
Due: lms-edits

update serialization declaration
  services/QuillLMS/app/models/unit_template.rb
Due: lms-edits

new param type for serialize ActiveRecord declaration
  services/QuillLMS/app/models/unit_template.rb
Due: lms-edits
