Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

adjust whitespace for quill academy page
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
Due: lms-edits

removing skip_ci references everywhere (#10493)
  .circleci/config.yml
  services/.rubocop_todo.yml
  services/QuillLMS/.rspec
  services/QuillLMS/spec/skip_ci/comprehension_integration_samples.csv
  services/QuillLMS/spec/skip_ci/comprehension_integration_spec.rb
Due: none

update mobile nav for some public pages
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/views/application/_header.html.erb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/application/_sub_header.html.erb
  services/QuillLMS/app/views/pages/connect_tool.erb
  services/QuillLMS/app/views/pages/diagnostic_tool.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/grammar_tool.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
  services/QuillLMS/app/views/pages/proofreader_tool.erb
  services/QuillLMS/app/views/pages/shared/_navbar.html.erb
  services/QuillLMS/client/app/assets/styles/tool-section.scss
Due: lms-edits, lms-client-edits

Add various url validations
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/app/models/validators/url_validator.rb
  services/QuillLMS/db/migrate/20230411145111_create_canvas_instances.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_instances.rb
  services/QuillLMS/spec/models/canvas_instance_spec.rb
Due: lms-edits

Add uniqueness index for school_canvas_instances
  services/QuillLMS/app/models/school_canvas_instance.rb
  services/QuillLMS/db/migrate/20230414164818_create_school_canvas_instances.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/school_canvas_instances.rb
  services/QuillLMS/spec/models/canvas_instance_spec.rb
  services/QuillLMS/spec/models/school_canvas_instance_spec.rb
Due: lms-edits

Rename SchoolCanvasInstance to CanvasInstanceSchool
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/app/models/canvas_instance_school.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/db/migrate/20230414164818_create_canvas_instance_schools.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_instance_schools.rb
  services/QuillLMS/spec/models/canvas_instance_school_spec.rb
  services/QuillLMS/spec/models/canvas_instance_spec.rb
  services/QuillLMS/spec/models/school_spec.rb
Due: lms-edits

add evidence handbook image
  packages/quill-cdn/assets/images/evidence/evidence-teacher-handbook.svg
Due: none

update Evidence teacher dashboard banner; add banner to Teacher Center
  packages/quill-cdn/assets/images/evidence/evidence-teacher-handbook.svg
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post_constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/header_section.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/evidence_promotion_card.tsx
Due: lms-edits, lms-client-edits

Add Canvas{Account, Config, Instance, InstanceSchool} backend (#10489)
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/app/models/canvas_account.rb
  services/QuillLMS/app/models/canvas_config.rb
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/app/models/canvas_instance_school.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/models/validators/url_validator.rb
  services/QuillLMS/db/migrate/20230411145111_create_canvas_instances.rb
  services/QuillLMS/db/migrate/20230411145241_create_canvas_configs.rb
  services/QuillLMS/db/migrate/20230413140558_create_canvas_accounts.rb
  services/QuillLMS/db/migrate/20230414164818_create_canvas_instance_schools.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_accounts.rb
  services/QuillLMS/spec/factories/canvas_configs.rb
  services/QuillLMS/spec/factories/canvas_instance_schools.rb
  services/QuillLMS/spec/factories/canvas_instances.rb
  services/QuillLMS/spec/models/canvas_account_spec.rb
  services/QuillLMS/spec/models/canvas_config_spec.rb
  services/QuillLMS/spec/models/canvas_instance_school_spec.rb
  services/QuillLMS/spec/models/canvas_instance_spec.rb
  services/QuillLMS/spec/models/school_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/tasks/schools_rake_spec.rb
Due: lms-edits

add banner to teacher center and update article topic/labels
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/helpers/teacher_center_helper.rb
  services/QuillLMS/app/models/blog_post.rb
  services/QuillLMS/app/views/navbar/_teacher_center.html.erb
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/data.ts
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post_constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post_index.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/header_section.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/topic_section.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/data.ts
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/evidence_promotion_card.tsx
  services/QuillLMS/lib/tasks/update_evidence_blog_post_topic.rake
  services/QuillLMS/spec/helpers/teacher_center_helper_spec.rb
Due: lms-edits, lms-client-edits

replace lib and update tests
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/filterWidget.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/changeLog/changeLog.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/shared/filterWidget.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/date_time_selector.scss
  services/QuillLMS/client/app/bundles/Staff/styles/styles.scss
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

add banner and articles to Evidence tool page
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/client/app/assets/styles/evidence-tool.scss
  services/QuillLMS/client/app/assets/styles/home.scss
Due: lms-edits, lms-client-edits

add/update tests
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/activityHealth.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/expandLessonQuestions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lesson.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lessons.test.jsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/__tests__/__snapshots__/lessonForm.test.jsx.snap
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumHub.test.jsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/turkSessions.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/__tests__/__snapshots__/teacher_general.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/__tests__/__snapshots__/teacher_grade_levels.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/add_teacher_info.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_sub_role.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/shared/__tests__/__snapshots__/grade_level_section.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/previouslyAssignedTooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMini.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMinisTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post_index.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_clever_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_google_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/teacher_info_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/diagnostic_activity_packs.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/__snapshots__/view_as_student_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/tests/components/salesForm/__snapshots__/schoolOrDistrictFields.test.tsx.snap
  services/QuillLMS/spec/helpers/public_pages_helper_spec.rb
Due: lms-edits, lms-client-edits

fix test and lint error
  services/QuillLMS/spec/helpers/public_pages_helper_spec.rb
Due: none

Clean up migrations.
  services/QuillLMS/db/migrate/20230413215938_create_evidence_prompt_text_batches.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/db/migrate/20230306215624_create_evidence_prompt_text_batches.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
Due: lms-edits

Rename migration.
  services/QuillLMS/db/migrate/20230413215936_create_evidence_text_generations.evidence.rb
  services/QuillLMS/engines/evidence/db/migrate/20230306215123_create_evidence_text_generations.rb
Due: lms-edits

Fix migrations in structure.sql.
  services/QuillLMS/db/structure.sql
Due: lms-edits

adding transformer
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/app/services/quill_big_query/transformer.rb
  services/QuillLMS/spec/services/quill_big_query/runner_spec.rb
  services/QuillLMS/spec/services/quill_big_query/transformer_spec.rb
Due: lms-edits

linting; relax rubocop reduce style rule
  services/.rubocop.yml
  services/QuillLMS/app/services/quill_big_query/transformer.rb
  services/QuillLMS/spec/services/quill_big_query/transformer_spec.rb
Due: lms-edits

more specs
  services/QuillLMS/spec/services/quill_big_query/transformer_spec.rb
Due: none

update library and tests
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/play/__tests__/__snapshots__/listBlanks.test.jsx.snap
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/play/__tests__/__snapshots__/multistep.test.jsx.snap
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/play/__tests__/__snapshots__/singleAnswer.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/client/setupTests.ts
Due: lms-client-edits

remove react-select from exterior package.json and replace css file
  services/QuillLMS/app/assets/stylesheets/application.scss
  services/QuillLMS/client/app/bundles/Connect/styles/style.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
  services/QuillLMS/client/app/bundles/Lessons/styles/style.scss
  services/QuillLMS/client/app/bundles/Shared/styles/react_select.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-edits, lms-client-edits

remove snapshots; update banner background color
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/activityHealth.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/expandLessonQuestions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lesson.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lessons.test.jsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/__tests__/__snapshots__/lessonForm.test.jsx.snap
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumHub.test.jsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/turkSessions.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/__tests__/__snapshots__/teacher_general.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/__tests__/__snapshots__/teacher_grade_levels.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/add_teacher_info.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_sub_role.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/shared/__tests__/__snapshots__/grade_level_section.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/previouslyAssignedTooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMini.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMinisTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_clever_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_google_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/teacher_info_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/diagnostic_activity_packs.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/__snapshots__/view_as_student_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/tests/components/salesForm/__snapshots__/schoolOrDistrictFields.test.tsx.snap
Due: lms-edits, lms-client-edits

upgrade react-select to latest version and fix css
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

Add CanvasInstanceForm to PremiumHub
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/app/views/teachers/admin.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceSchoolsSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/CanvasInstanceForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/CanvasInstanceForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHub.jsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumHub.test.jsx.snap
  services/QuillLMS/config/routes.rb
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/spec/requests/canvas_instances_controller_spec.rb
Due: lms-edits, lms-client-edits

update rake task
  services/QuillLMS/lib/tasks/update_evidence_blog_post_topic.rake
Due: lms-edits

fix bottom border for banner
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
Due: lms-edits

adds fallback function, adds integer lambda
  services/QuillLMS/app/services/quill_big_query/transformer.rb
  services/QuillLMS/spec/services/quill_big_query/transformer_spec.rb
Due: lms-edits

Working version of per-prompt upload UI.
  services/QuillLMS/client/app/bundles/Staff/components/evidence/syntheticData/labeledDataUploadForm.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/seed_data.scss
Due: lms-client-edits

handle student with no last name in activity analysis
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/class_report.jsx
Due: lms-client-edits

have all nil values pass through the lambdas
  services/QuillLMS/app/services/quill_big_query/transformer.rb
  services/QuillLMS/spec/services/quill_big_query/transformer_spec.rb
Due: lms-edits

Add a model to store teacher notification records in
  services/QuillLMS/app/models/teacher_notification.rb
  services/QuillLMS/db/migrate/20230420141952_create_teacher_notifications.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/teacher_notification.rb
  services/QuillLMS/spec/models/teacher_notification_spec.rb
Due: lms-edits

Use a datetime for email_sent instead of a boolean
  services/QuillLMS/app/models/teacher_notification.rb
  services/QuillLMS/db/migrate/20230420141952_create_teacher_notifications.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/models/teacher_notification_spec.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/app/models/teacher_notification.rb
Due: lms-edits

update nces import to use nces id instead of name
  services/QuillLMS/lib/tasks/nces_sync.rake
Due: lms-edits

Add association from user to teacher_notification
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Add data structures to save settings for teacher notifications
  services/QuillLMS/app/models/teacher_notification_setting.rb
  services/QuillLMS/db/migrate/20230421172858_create_teacher_notification_settings.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/teacher_notification_setting.rb
  services/QuillLMS/spec/models/teacher_notification_setting_spec.rb
Due: lms-edits

Add association to user for teacher_notification_setting
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Update api endpoint for new labeled data structure.
  services/QuillLMS/client/app/bundles/Staff/components/evidence/syntheticData/labeledDataUploadForm.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/activityAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits, lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
