Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Split rubocop configuration into CMS and LMS (#11238)
  .circleci/config.yml
  services/.rubocop_base.yml
  services/.rubocop_todo.yml
  services/.ruby-version
  services/QuillCMS/.rubocop.yml
  services/QuillCMS/.rubocop_todo.yml
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
  services/QuillCMS/rubocop.rb
  services/QuillLMS/.rubocop.yml
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/services/google_integration/profile.rb
  services/QuillLMS/app/services/stripe_integration/webhooks/subscription_creator.rb
  services/QuillLMS/lib/tasks/set_upgrade_notification.rake
  services/QuillLMS/rubocop.rb
  services/QuillLMS/spec/models/teacher_activity_feed_spec.rb
  services/rubocop.sh
Due: lms-edits, cms-edits

Update cache key lib to take a report name
  services/QuillLMS/app/lib/snapshots/cache_keys.rb
  services/QuillLMS/spec/lib/snapshots/cache_keys_spec.rb
Due: lms-edits

Update admin report controllers to pass report name for cache generation
  services/QuillLMS/app/controllers/admin_diagnostic_reports_controller.rb
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Pass aggregation param through from controller to worker to query
  services/QuillLMS/app/controllers/admin_diagnostic_reports_controller.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/diagnostic_overview_worker.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/diagnostic_overview_worker_spec.rb
Due: lms-edits

Add College Board diagnostics that have no post- to report
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
Due: lms-edits

revisions
  packages/quill-cdn/assets/images/icons/canvas.svg
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/controllers/teachers_controller.rb
  services/QuillLMS/app/views/teachers/admin.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/canvas_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/canvas_modal.tsx
Due: lms-edits, lms-client-edits

update images again
  packages/quill-cdn/assets/images/pages/administrator/integrations/canvas.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/clever.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/google.svg
Due: none

sub out after create hook
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits

add banner component
  services/QuillLMS/client/app/bundles/Shared/components/shared/banner.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
Due: lms-client-edits

add wipe_question_cache method and add spec
  services/QuillCMS/app/models/response.rb
  services/QuillCMS/spec/models/response_spec.rb
Due: cms-edits

adjust
  services/QuillCMS/app/models/response.rb
Due: cms-edits

try again
  services/QuillCMS/app/models/response.rb
Due: cms-edits

try this way
  services/QuillCMS/app/models/response.rb
Due: cms-edits

adjust after_commit call
  services/QuillCMS/app/models/response.rb
Due: cms-edits

only wipe cache when non-count attributes are updated
  services/QuillCMS/app/models/response.rb
  services/QuillCMS/spec/models/response_spec.rb
Due: cms-edits

make sure response already exists
  services/QuillCMS/spec/models/response_spec.rb
Due: cms-edits

add console logs
  services/QuillCMS/app/models/response.rb
Due: cms-edits

comment out everything else
  services/QuillCMS/spec/models/response_spec.rb
Due: cms-edits

is it updated and created at
  services/QuillCMS/app/models/response.rb
  services/QuillCMS/spec/models/response_spec.rb
Due: cms-edits

thomas revisions
  services/QuillCMS/spec/models/response_spec.rb
Due: cms-edits

change response spec
  services/QuillCMS/spec/models/response_spec.rb
Due: cms-edits

setup scaffolding for spec
  services/QuillLMS/spec/queries/snapshots/data_export_query_spec.rb
Due: none

basic specs
  services/QuillLMS/spec/queries/snapshots/data_export_query_spec.rb
Due: none

wip
  services/QuillLMS/spec/queries/snapshots/data_export_query_spec.rb
Due: none

specs passing
  services/QuillLMS/spec/queries/snapshots/data_export_query_spec.rb
Due: none

add wipe_question_cache method to response model in cms and add spec (#11242)
  services/QuillCMS/app/models/response.rb
  services/QuillCMS/spec/models/response_spec.rb
Due: cms-edits

add extra attributes to results summary payload
  services/QuillLMS/app/controllers/concerns/results_summary.rb
Due: lms-edits

update test
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: none

Make sure we also test the specific message in validation specs
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: none

allow pending rspecs
  services/QuillLMS/spec/queries/snapshots/data_export_query_spec.rb
Due: none

fix a bunch of css so that pdf reports look better
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/student-overview.scss
  services/QuillLMS/app/assets/stylesheets/print.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_students_progress_report.jsx
Due: lms-edits, lms-client-edits

add first banner example to backpack
  services/QuillLMS/client/app/bundles/Shared/components/shared/banner.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/banners.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

fix intermittently failing query_spec specs
  services/QuillLMS/spec/queries/scorebook/query_spec.rb
Due: none

add britishisms
  services/QuillLMS/engines/evidence/lib/evidence/spelling_check.rb
Due: lms-edits

update test
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/container.test.tsx
Due: lms-client-edits

Do a quick test implementation of WITH and UNION ALL
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_completed_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: lms-edits

fix turk path for diagnostic
  services/QuillLMS/client/app/bundles/Diagnostic/components/diagnostics/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/turk/landing.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/turk/turkDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/routes.tsx
Due: lms-client-edits

make pk's suggested change
  services/QuillLMS/engines/evidence/lib/evidence/spelling_check.rb
Due: lms-edits

add comment
  services/QuillLMS/app/controllers/concerns/results_summary.rb
Due: lms-edits

add remaining examples to backpack
  services/QuillLMS/client/app/bundles/Shared/components/shared/banner.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/banners.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
