Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Get back lost migration into the structure.sql
  services/QuillLMS/db/structure.sql
Due: lms-edits

Memoize method.
  services/QuillLMS/app/models/concerns/translatable_question.rb
Due: lms-edits

Remove unneeded CMS_RESPONSES from quesitons
  services/QuillLMS/app/models/question.rb
Due: lms-edits

Translate feedback from LMS + CMS (#12083)
  services/QuillLMS/.env-sample
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/concerns/translatable_question.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/db/migrate/20240710195857_add_field_to_translation_mapping.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/factories/translation_mappings.rb
  services/QuillLMS/spec/models/concerns/translatable_question_spec.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
  services/QuillLMS/spec/models/question_spec.rb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
Due: lms-edits

fix unhandled promise rejections in jest
  services/QuillLMS/client/app/bundles/Connect/actions/titleCards.ts
  services/QuillLMS/client/app/bundles/Diagnostic/actions/titleCards.ts
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

Add ability to run secondary prompt experiments.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data/secondary_feedback_full.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data/secondary_feedback_test.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data/secondary_feedback_train.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompts/2024_07_17_initial.md
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

increase jest maxWorkers
  .circleci/continue_config.yml
Due: none

Reasonable initial secondary feedback prompt and experiment.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompts/2024_07_17_initial.md
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

update key to new key (one word change
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/arabic/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/chinese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/dari/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/french/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/german/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/hindi/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/japanese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/korean/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/portuguese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/russian/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/spanish/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/tagalog/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/thai/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/ukrainian/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/urdu/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/vietnamese/translation.json
Due: lms-client-edits

Change translatable method prompt to open_ai_prompt
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Testing with highlight.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompts/2024_07_17_with_highlight.md
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

attr_Reader change
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/app/models/concerns/vitally_shared_functions.rb
Due: lms-edits

Refactor Vitally functions to use global attributes instead of parameters (#12101)
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/app/models/concerns/vitally_shared_functions.rb
  services/QuillLMS/app/models/concerns/vitally_teacher_stats.rb
  services/QuillLMS/app/services/vitally_integration/previous_year_school_datum.rb
  services/QuillLMS/app/services/vitally_integration/previous_year_teacher_datum.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
Due: lms-edits

school stats roundup added no tests
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/app/models/concerns/vitally_shared_functions.rb
  services/QuillLMS/app/services/vitally_integration/previous_year_school_datum.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/spec/services/vitally_integration/previous_year_school_datum_spec.rb
Due: lms-edits

teacher datum
  services/QuillLMS/app/models/concerns/vitally_teacher_stats.rb
  services/QuillLMS/app/services/vitally_integration/previous_year_teacher_datum.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
Due: lms-edits

fix merge
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
Due: lms-edits

fix activities finished query
  services/QuillLMS/app/models/concerns/vitally_teacher_stats.rb
  services/QuillLMS/spec/services/vitally_integration/previous_year_teacher_datum_spec.rb
Due: lms-edits

increase resource class from medium to large in CCI
  .circleci/continue_config.yml
Due: none

put back changes to the new tag
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
Due: lms-edits

fix lint errors
  services/QuillLMS/app/controllers/teachers/progress_reports_controller.rb
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/landing_page.jsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

Change translatable method prompt to open_ai_prompt (#12105)
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

bump to x-large
  .circleci/continue_config.yml
Due: none

tests
  services/QuillLMS/app/helpers/content_hubs_helper.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports_controller_spec.rb
  services/QuillLMS/spec/helpers/content_hub_helper_spec.rb
Due: lms-edits

fix lint
  services/QuillLMS/app/helpers/content_hubs_helper.rb
  services/QuillLMS/spec/helpers/content_hub_helper_spec.rb
Due: lms-edits

refactor as pk requested
  services/QuillLMS/app/helpers/content_hubs_helper.rb
Due: lms-edits

adjust to take argument so we don't have to change function def later
  services/QuillLMS/app/helpers/content_hubs_helper.rb
Due: lms-edits

tweak css
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-client-edits

Get back lost migration into the structure.sql (#12104)
  services/QuillLMS/db/structure.sql
Due: lms-edits

add images for course page
  packages/quill-cdn/assets/images/icons/xs/chevron-left.svg
  packages/quill-cdn/assets/images/pages/content_hub/world_history_1200_to_present.png
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
Due: lms-client-edits

get very most basic structure of page rendering
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/helpers/teacher_center_helper.rb
  services/QuillLMS/app/views/pages/world_history_1200_to_present.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/landing_page.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/WorldHistory1200ToPresent.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/WorldHistory1200ToPresentAppClient.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/clientRegistration.jsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

Remove translations from ConceptFeedback JSON for now.
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
  services/QuillLMS/client/app/bundles/Shared/__tests__/components/feedback/__snapshots__/conceptExplanation.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/feedback/conceptExplanation.tsx
Due: lms-edits, lms-client-edits

Remove translated_json method and rename method for activity.
  services/QuillLMS/app/controllers/api/v1/lessons_controller.rb
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Put back in as_json for question
  services/QuillLMS/app/models/question.rb
Due: lms-edits

Add route for translated hints.
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/api/v1/concept_feedback_controller_spec.rb
Due: lms-edits

Add new factories to more easily create a translated object.
  services/QuillLMS/spec/factories/concept_feedbacks.rb
  services/QuillLMS/spec/factories/english_texts.rb
  services/QuillLMS/spec/factories/translation_mappings.rb
Due: none

DRY out code.
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
Due: lms-edits

Add method to concept_feedback to get translated json
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
Due: lms-edits

Rubocop
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/spec/controllers/api/v1/concept_feedback_controller_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
Due: lms-edits

Make test more robust for cache and no cache cases.
  services/QuillLMS/spec/controllers/api/v1/concept_feedback_controller_spec.rb
Due: none

Handle updating drop-down selection when they get changed by filters
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-client-edits
