Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Enforce indentation on multiline method calls
  services/.rubocop_base.yml
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/app/controllers/api/v1/activities_controller.rb
  services/QuillLMS/app/controllers/api/v1/title_cards_controller.rb
  services/QuillLMS/app/controllers/cms/blog_posts_controller.rb
  services/QuillLMS/app/controllers/concerns/teacher_fixes.rb
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/controllers/teachers/unit_templates_controller.rb
  services/QuillLMS/app/controllers/teachers_controller.rb
  services/QuillLMS/app/lib/rule_feedback_history.rb
  services/QuillLMS/app/models/active_activity_session.rb
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/models/concept.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/app/models/concerns/student.rb
  services/QuillLMS/app/models/concerns/teacher.rb
  services/QuillLMS/app/models/concerns/vitally_teacher_stats.rb
  services/QuillLMS/app/models/user_activity_classification.rb
  services/QuillLMS/app/queries/profile/query.rb
  services/QuillLMS/app/queries/progress_reports/concepts/concept_result.rb
  services/QuillLMS/app/services/diagnostic_unit_records_fetcher.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/app/workers/add_uuid_to_question_data_worker.rb
  services/QuillLMS/app/workers/open_ai/translate_worker.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/client_spec.rb
  services/QuillLMS/spec/controllers/admins_controller_spec.rb
  services/QuillLMS/spec/models/activity_session_spec.rb
  services/QuillLMS/spec/models/classroom_spec.rb
  services/QuillLMS/spec/models/concerns/evidence_reports_spec.rb
  services/QuillLMS/spec/models/concerns/translatable_question_spec.rb
  services/QuillLMS/spec/models/feedback_history_spec.rb
  services/QuillLMS/spec/models/gengo_job_spec.rb
  services/QuillLMS/spec/queries/progress_reports/standards/all_classrooms_standard_spec.rb
  services/QuillLMS/spec/services/canvas_integration/teacher_classrooms_students_importer_spec.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_and_save_text_spec.rb
  services/QuillLMS/spec/workers/lesson_plan_email_worker_spec.rb
Due: lms-edits

Add sutdent responses to prompt builder
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/llm_prompt_builder.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/llm_prompt_builder_spec.rb
Due: lms-edits

Fix association
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/stem_vault_spec.rb
Due: lms-edits

Fix scoping issue
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
Due: lms-edits

Fix spec failure
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/llm_prompt_builder_spec.rb
Due: lms-edits

Remove quill_feedbacks table
  services/QuillLMS/db/migrate/20240801134426_remove_quill_feedbacks_table.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/db/migrate/20240801134328_remove_quill_feedbacks_table.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

Update team titles (#12177)
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Actually close the ChangeLog modal after it's saved (#12168)
  services/QuillLMS/client/app/bundles/Staff/components/CreateConceptBox.tsx
Due: lms-client-edits

Turn on GenAI for staging.
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
Due: lms-edits

Add thor task to populate rules.
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

get html rendering
  services/QuillLMS/app/views/pages/social_studies.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/socialStudies.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/QuestionAndAnswer.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/QuestionsAndAnswers.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/SocialStudiesSubjectPage.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/SocialStudiesSubjectPageAppClient.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/clientRegistration.jsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

Add a guard clause to protect against missing activity on props
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/intro.tsx
Due: lms-client-edits

Check for UID presence in Grammar sessions before loading questions
  services/QuillLMS/client/app/bundles/Grammar/actions/session.ts
Due: lms-client-edits

Use gsub instead of sub to fix security issue
  services/QuillLMS/app/controllers/schools_controller.rb
Due: lms-edits

Fix security issue.
  services/QuillLMS/app/lib/rule_feedback_history.rb
Due: lms-edits

Remove extra lines of code.
  services/QuillLMS/app/lib/rule_feedback_history.rb
Due: lms-edits

Rename prompts -> TranslationPrompts
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/concerns/translation_prompts.rb
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

Add the new Diagnostic banner back to the Assign Diagnostics page
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/assign_a_diagnostic.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_diagnostic.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
Due: lms-client-edits

guard-proofreader-from-missing-translation-error (#12187)
  services/QuillLMS/client/app/bundles/Grammar/actions/session.ts
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/intro.tsx
Due: lms-client-edits

Make TranslationPrompts a class and TranslatablePrompts a module because it seemed that we weren’t able to use it as both. (i.e. couldn’t call the module code from the rake task)
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/concerns/translatable_prompts.rb
  services/QuillLMS/app/models/concerns/translation_prompts.rb
  services/QuillLMS/app/models/translation_prompts.rb
  services/QuillLMS/config/locales/translations/feedback_strings.es-la.json
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Go back to most of the methods being in the translatable module
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/concerns/translatable_prompts.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Fix bug with history.
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
Due: lms-edits

Use a symbol for rule_uid
  services/QuillLMS/app/lib/rule_feedback_history.rb
Due: lms-edits

Translate hard coded feedback (#12180)
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/translation_prompts.rb
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/constants/feedback_strings.ts
  services/QuillLMS/config/locales/feedback_strings.json
  services/QuillLMS/config/locales/translations/feedback_strings.es-la.json
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits, lms-client-edits

Alphabetize the gemfile within groups (#12181)
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/Gemfile
Due: lms-edits

Make nicer alignments
  services/QuillLMS/app/models/teacher_notification_setting.rb
  services/QuillLMS/spec/models/classroom_unit_activity_state_spec.rb
Due: lms-edits

No need to preserve table styles.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/lib/tasks/auto_annotate_models.rake
Due: lms-edits

Nicer layout
  services/QuillLMS/spec/models/classroom_unit_activity_state_spec.rb
Due: none

Run rubocop again on develop
  services/QuillLMS/engines/evidence/spec/lib/open_ai/edit_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/sentence_completion_spec.rb
  services/QuillLMS/lib/tasks/test_activities.rake
  services/QuillLMS/spec/controllers/api/v1/focus_points_controller_spec.rb
  services/QuillLMS/spec/services/gengo/save_translated_text_spec.rb
Due: lms-edits

small fix for evidence tool page, more to come later
  services/QuillLMS/app/views/pages/evidence_tool.erb
Due: lms-edits

Run rubocop on develop-merged branch
  services/QuillLMS/app/controllers/api/v1/activities_controller.rb
  services/QuillLMS/app/controllers/cms/users_controller.rb
  services/QuillLMS/app/controllers/teachers/unit_templates_controller.rb
  services/QuillLMS/app/models/user_activity_classification.rb
  services/QuillLMS/spec/workers/populate_activity_health_worker_spec.rb
Due: lms-edits

Move block delimiters out of TODO because we actually don’t want it enabled.
  services/.rubocop_base.yml
  services/QuillLMS/.rubocop_todo.yml
Due: none

Put empty methods in their own lines.
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/app/controllers/cms/images_controller.rb
  services/QuillLMS/app/controllers/cms/rosters_controller.rb
  services/QuillLMS/app/controllers/cms/subscriptions_controller.rb
  services/QuillLMS/app/controllers/cms/unit_template_categories_controller.rb
  services/QuillLMS/app/controllers/cms/users_controller.rb
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/app/controllers/teacher_fix_controller.rb
  services/QuillLMS/app/helpers/application_helper.rb
  services/QuillLMS/app/models/ability.rb
  services/QuillLMS/db/migrate/20140423225449_add_search_indexes_to_users.rb
Due: lms-edits
