Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

run bundle update
  services/QuillLMS/Gemfile.lock
Due: lms-edits

try pinning graphql to prev version
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

psych unsafe load
  services/QuillLMS/app/services/demo/session_data.rb
Due: lms-edits

add comment on manifest
  services/QuillLMS/app/assets/config/manifest.js
Due: lms-edits

add comment on manifest typo
  services/QuillLMS/app/assets/config/manifest.js
Due: lms-edits

Add hint to vertex-ai-form (#11127)
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/modelForm.tsx
Due: lms-client-edits

ContainingCertainTeachersQuery working, but spec is not
  services/QuillLMS/app/queries/impact_metrics/schools_containing_certain_teachers_query.rb
  services/QuillLMS/app/queries/quill_big_query/query.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_containing_certain_teachers_query_spec.rb
Due: lms-edits

set min-height to avoid dropdowns getting cut off
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
Due: lms-edits

make change to dropdowns so corner-radius stays consistent
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-client-edits

spec passing
  services/QuillLMS/app/queries/impact_metrics/schools_containing_certain_teachers_query.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_containing_certain_teachers_query_spec.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

Use new shorthand hash syntax
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
Due: lms-edits

Update Rubocop rules to allow new Ruby3.1 syntax
  services/.rubocop.yml
  services/.ruby-version
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

Add some type-checking to the new front-end utility function
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-client-edits

Lms/add timing logging (#11106)
  services/.rubocop.yml
  services/.ruby-version
  services/QuillLMS/app/services/long_process_notifier.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/spec/lib/error_notifier_spec.rb
  services/QuillLMS/spec/services/long_process_notifier_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Lms/hash filters for pusher comparison (#11121)
  services/QuillLMS/app/services/payload_hasher.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/__tests__/shared.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/spec/services/payload_hasher_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

Add critical_external queue to the local Sidekiq server
  services/QuillLMS/Procfile.static
Due: none

Use rubocop to auto-update for new rules
  services/QuillCMS/config/environments/test/multi_db/custom_resolver.rb
  services/QuillLMS/app/controllers/concerns/force_db_writer_role.rb
  services/QuillLMS/app/lib/memory_profiler_report.rb
  services/QuillLMS/app/models/canvas_integration/teacher_classrooms_data.rb
  services/QuillLMS/app/models/clever_integration/teacher_classrooms_data.rb
  services/QuillLMS/app/models/google_integration/teacher_classrooms_data.rb
  services/QuillLMS/config/environments/test/multi_db/custom_resolver.rb
  services/QuillLMS/lib/eg_form_builder.rb
Due: lms-edits, cms-edits

Turn on Naming/BlockForwarding rule and set EnforcedStyle to explicit
  services/.rubocop.yml
Due: none

Refactor AdminSnapshot so that count and previous_count are separate
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_previous_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits

rename ActiveTeachersAllTimeQuery -> ActiveTeachersAllTimeCountQuery, reduce return value to a scalar value
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_count_query.rb
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/schools_containing_certain_teachers_query.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/impact_metrics/active_teachers_all_time_query_count_spec.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

Add critical_external queue to the local Sidekiq server (#11134)
  services/QuillLMS/Procfile.static
Due: none

Lms/update rubocop to ruby3.1 (#11123)
  services/.rubocop.yml
  services/QuillCMS/config/environments/test/multi_db/custom_resolver.rb
  services/QuillLMS/config/environments/test/multi_db/custom_resolver.rb
  services/QuillLMS/lib/eg_form_builder.rb
Due: lms-edits, cms-edits

Update controller spec for tweaked signatures and names
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: none

rename files
  services/QuillLMS/app/queries/impact_metrics/schools_with_minimum_activity_sessions_query.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_with_minimum_activity_sessions_query_spec.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

lint
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_count_query.rb
  services/QuillLMS/app/queries/impact_metrics/schools_with_minimum_activity_sessions_query.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_with_minimum_activity_sessions_query_spec.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

fix spec
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: none

add skill section; small refactors
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/overviewSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-edits, lms-client-edits

Return early if timeframes are nil
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Update front-end to request current and previous period data separately
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Stripe gem upgrade to v9.4 (#11126)
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Add some additional params to component for testing
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Update change class logic
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Update test snapshots with new parameters
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotCount.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/snapshotCount.test.tsx
Due: lms-client-edits

add shogun to spellcheck, relax bad words list to allow kirishitan
  services/QuillLMS/engines/evidence/config/initializers/bad_words.json
  services/QuillLMS/engines/evidence/lib/evidence/spelling_check.rb
Due: lms-edits

Update method signature per linting rule Style/OptionalBooleanParameter
  services/QuillLMS/app/controllers/snapshots_controller.rb
Due: lms-edits

Tweak spec to align with new payload shape expectations
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: none

update dropdown options
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-edits, lms-client-edits

add/update tests
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/diagnosticGrowthReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/overviewSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/overviewTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/skillSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/skillSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
Due: lms-client-edits

add shogun to spellcheck, relax bad words list to allow kirishitan (#11137)
  services/QuillLMS/engines/evidence/config/initializers/bad_words.json
  services/QuillLMS/engines/evidence/lib/evidence/spelling_check.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
