Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix linting errors
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_aggregate_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query_spec.rb
Due: lms-edits

lint
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

Fix default message on TooLongQuery error
  services/QuillLMS/app/workers/admin_diagnostic_reports/diagnostic_overview_worker.rb
Due: lms-edits

Fix bug in diagnostic aggregation for completion queries
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_recommendations_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_completed_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_completed_query_spec.rb
Due: lms-edits

linting, make score a percentage string
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

lint
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
Due: lms-edits

linting and add a test
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits

reduce complexity
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/ruleViewForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesIndex.tsx
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
Due: lms-edits, lms-client-edits

Add additional specs to confirm aggregation records in queries
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_recommendations_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_completed_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_completed_query_spec.rb
Due: lms-edits

add backend test
  services/QuillLMS/spec/serializers/user_with_provider_serializer_spec.rb
Due: none

Refactor shared setup into a shared context
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_aggregate_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_recommendations_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_completed_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_completed_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/admin_diagnostic_reports/diagnostic_aggregate_query_cte.rb
Due: none

add new opinion-api entry to FeedbackAssembler lookup table
  services/QuillLMS/engines/evidence/lib/evidence/opinion/feedback_assembler.rb
Due: lms-edits

add new opinion-api entry to FeedbackAssembler lookup table (#11230)
  services/QuillLMS/engines/evidence/lib/evidence/opinion/feedback_assembler.rb
Due: lms-edits

Add sort logic for additional edge-case Classroom.grade values
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_aggregate_query_spec.rb
Due: lms-edits

Fix linting error
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
Due: lms-edits

Update aggregation to handle cases with duplicate names
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_aggregate_query_spec.rb
Due: lms-edits

Update "teacher" aggregation to sort by last name
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_aggregate_query_spec.rb
Due: lms-edits

WIP fix aggregation for non-grade types on Completed queries
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
Due: lms-edits

Update tests to account for new score calculation logic
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.data.ts
Due: lms-client-edits

Update Evidence scoring to give 100% if any responses are optimal
  services/QuillLMS/client/app/bundles/Evidence/libs/conceptResults.ts
Due: lms-client-edits

Add some test coverage on score calculation for conceptResults
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.test.ts
Due: lms-client-edits

PR feedback
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
Due: lms-edits

admin csv QA (#11223)
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

Bugfix and Speed Improvements on Regex Rules Admin Panel (#11228)
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/ruleViewForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/ruleHelpers.tsx
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits, lms-client-edits

add bang operator to google update to track down bug
  services/QuillLMS/app/services/google_integration/user.rb
Due: lms-edits

UI changes
  packages/quill-cdn/assets/images/pages/administrator/integrations/google.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
Due: lms-edits, lms-client-edits

All changes no specs
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
Due: lms-edits

add bang operator to google update to track down bug (#11233)
  services/QuillLMS/app/services/google_integration/user.rb
Due: lms-edits

Update Evidence scoring to give 100% if any responses are optimal (#11217)
  services/QuillLMS/client/app/bundles/Evidence/libs/conceptResults.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.data.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.test.ts
Due: lms-client-edits

fix bug
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/canvas_modal.tsx
Due: lms-client-edits

update test
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/canvas_modal.test.jsx
Due: lms-client-edits

remove unnecessary comment
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/canvas_modal.tsx
Due: lms-client-edits

update react on rails
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-edits, lms-client-edits

and remove one place we were actually using old version
  services/QuillLMS/client/app/bundles/Grammar/index.tsx
Due: lms-client-edits

Split rubocop configruation into CMS and LMS
  .circleci/config.yml
  services/.rubocop_base.yml
  services/.rubocop_todo.yml
  services/.ruby-version
  services/QuillCMS/.rubocop.yml
  services/QuillCMS/.rubocop_todo.yml
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
  services/QuillLMS/.rubocop.yml
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/rubocop.sh
Due: lms-edits, cms-edits

Linter errors
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/services/google_integration/profile.rb
  services/QuillLMS/app/services/stripe_integration/webhooks/subscription_creator.rb
  services/QuillLMS/lib/tasks/set_upgrade_notification.rake
  services/QuillLMS/spec/models/teacher_activity_feed_spec.rb
Due: lms-edits

Install only rubocop gems
  .circleci/config.yml
Due: none

Use rubocop.rb to install only rubocop gems
  .circleci/config.yml
  services/QuillCMS/rubocop.rb
  services/QuillLMS/rubocop.rb
Due: cms-edits

Update aggregation selection logic in "Completed" queries
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_aggregate_query_spec.rb
Due: lms-edits

add more tests
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/scorebook-tooltip.scss
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/activity_details.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/activity_details.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/scorebook_tooltip.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-edits, lms-client-edits
