Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Make a Gemini version of Chat API
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/chat.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat.rb
Due: lms-edits

Update GenAI check to use CHAT_API
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_checker.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
Due: lms-edits

Add timing to thor check test.
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Try different instructions.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompts/2024_08_13_add_rules_and_language_instructions.md
Due: lms-edits

fix bug with starting connect activities
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
Due: lms-client-edits

fix tests
  services/QuillLMS/client/app/bundles/Shared/__tests__/components/__snapshots__/register.test.tsx.snap
Due: lms-client-edits

fix bug with starting connect activities (#12242)
  services/QuillLMS/client/app/bundles/Shared/__tests__/components/__snapshots__/register.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
Due: lms-client-edits

Lint and test fixes.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/chat.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/chat_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback_checker_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Small style refactors.
  services/QuillLMS/engines/evidence/lib/evidence/gemini/chat.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/concerns/api.rb
Due: lms-edits

adjust to use link
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/evidence_scoring_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/evidence_scoring_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_units.jsx
Due: lms-client-edits

evidence activity results page (#12229)
  services/QuillLMS/app/assets/stylesheets/pages/student_results.scss
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/activitySurvey.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/thankYouSlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/activityFollowUp.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/activities/results_page/results_icon.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ResultsPage.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/ResultsPage.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/ResultsPage.test.jsx.snap
Due: lms-edits, lms-client-edits

update onboarding slides for evidence (#12228)
  packages/quill-cdn/assets/images/evidence/evidence-report.svg
  services/QuillLMS/app/assets/stylesheets/pages/student_results.scss
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/activitySurvey.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationData.ts
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationSlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/footer.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/thankYouSlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/activityFollowUp.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/explanationSlide.scss
  services/QuillLMS/client/app/bundles/Evidence/tests/components/activitySlides/__snapshots__/explanationSlide.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/activitySlides/explanationSlide.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/activities/results_page/results_icon.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ResultsPage.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/ResultsPage.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/ResultsPage.test.jsx.snap
Due: lms-edits, lms-client-edits

make sure tooltips and other reporting features work for evidence scoring (#12215)
  packages/quill-cdn/assets/images/evidence/evidence-report.svg
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_results.scss
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/app/workers/sync_school_data_from_url_worker.rb
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/activitySurvey.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationData.ts
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationSlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/footer.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/thankYouSlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/activityFollowUp.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/explanationSlide.scss
  services/QuillLMS/client/app/bundles/Evidence/tests/components/activitySlides/__snapshots__/explanationSlide.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/activitySlides/explanationSlide.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/activities/results_page/results_icon.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/activity_icon_with_tooltip.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/scorebook_tooltip.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/overview_boxes.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/student_overview.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/student_scores.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ResultsPage.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/ResultsPage.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/ResultsPage.test.jsx.snap
  services/QuillLMS/client/app/modules/activity_classifications.js
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
  services/QuillLMS/spec/workers/sync_school_data_from_url_worker_spec.rb
Due: lms-edits, lms-client-edits

minor evidence ui changes for scoring (#12214)
  packages/quill-cdn/assets/images/evidence/evidence-report.svg
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_results.scss
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/activitySurvey.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationData.ts
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationSlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/footer.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/postActivitySlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/thankYouSlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/activityFollowUp.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/feedback.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/explanationSlide.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/postActivitySlide.scss
  services/QuillLMS/client/app/bundles/Evidence/tests/components/activitySlides/__snapshots__/explanationSlide.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/activitySlides/__snapshots__/postActivitySlide.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/activitySlides/explanationSlide.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/promptStep.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/activities/results_page/results_icon.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/activity_icon_with_tooltip.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/scorebook_tooltip.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/overview_boxes.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/student_overview.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/student_scores.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ResultsPage.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/ResultsPage.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/ResultsPage.test.jsx.snap
  services/QuillLMS/client/app/modules/activity_classifications.js
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits, lms-client-edits

fix snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/evidence_scoring_modal.test.jsx.snap
Due: lms-client-edits

Lint and test cleanup.
  services/QuillLMS/engines/evidence/lib/evidence/gemini/chat.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/chat_spec.rb
Due: lms-edits

Stub request when key present.
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/chat_spec.rb
Due: lms-edits

update helpful hint copy
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
Due: lms-client-edits

update tests
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/__snapshots__/student_report.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/student_report.test.jsx
Due: lms-client-edits

Small refactor.
  services/QuillLMS/engines/evidence/lib/evidence/gemini/chat.rb
Due: lms-edits

thomas's refactor
  services/QuillLMS/app/controllers/profiles_controller.rb
Due: lms-edits

PK's refactor suggestion
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
Due: lms-client-edits

Code to generate data for use in repeated feedback tests.
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Add task to generate training and test files.
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Add all.csv output and update task to track progress.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_data/all.csv
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

playwright working locally
  services/QuillLMS/.gitignore
  services/QuillLMS/e2e/example.spec.ts
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/playwright.config.ts
  services/QuillLMS/tests-examples/demo-todo-app.spec.ts
Due: none

Add test and train files.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_data/test.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_data/train.csv
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Add test for repeated feedback.
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

update yml config, add Procfile.ci
  .circleci/continue_config.yml
  services/QuillLMS/Procfile.ci
Due: none

Iterate on shorter, more direct ask.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_prompts/2024_08_15_ask_identical.md
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

tweak yml
  .circleci/continue_config.yml
Due: none

update helpful tips for teachers (#12246)
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/__snapshots__/student_report.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/student_report.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
Due: lms-client-edits

fix lint error
  services/QuillLMS/app/controllers/profiles_controller.rb
Due: lms-edits

update procfile
  services/QuillLMS/Procfile.ci
Due: none

evidence student pop up (#12239)
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student-profile-modal.scss
  services/QuillLMS/app/controllers/profiles_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/__snapshots__/student_report.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/student_report.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/evidence_scoring_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_units.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/evidence_scoring_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/evidence_scoring_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_units.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/StudentProfile.jsx
  services/QuillLMS/client/app/reducers/student_profile.js
  services/QuillLMS/spec/controllers/profiles_controller_spec.rb
Due: lms-edits, lms-client-edits

More iteration.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_prompts/2024_08_15_identical_with_examples.md
Due: lms-edits

Lint.
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Add new environment to deploy and config scripts
  services/QuillLMS/deploy.sh
  services/QuillLMS/lib/tasks/staging_config.rake
Due: lms-edits

Add new environment to deploy and config scripts (#12245)
  services/QuillLMS/deploy.sh
  services/QuillLMS/lib/tasks/staging_config.rake
Due: lms-edits

add icon paths to shard bundle and adjust widths
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/course_page.scss
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Teacher/containers/SocialStudiesSubjectPage.tsx
Due: lms-edits, lms-client-edits
