Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Rollback accidental change
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
Due: lms-edits

Add OpenAI translation option (#11981)
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/models/gengo_job.rb
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/app/services/concerns/open_ai/api.rb
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/app/services/gengo/save_translated_text.rb
  services/QuillLMS/app/services/open_ai/translate.rb
  services/QuillLMS/app/services/open_ai/translate_and_save_text.rb
  services/QuillLMS/app/workers/gengo/save_translated_text_worker.rb
  services/QuillLMS/config/initializers/gengo.rb
  services/QuillLMS/db/migrate/20240621215153_create_openai_translated_texts.rb
  services/QuillLMS/db/migrate/20240625131834_combine_translation_tables_and_add_gengo_table.rb
  services/QuillLMS/db/migrate/20240625142619_create_gengo_jobs.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/factories/gengo_jobs.rb
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/models/gengo_job_spec.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/services/concerns/open_ai/api_spec.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
  services/QuillLMS/spec/services/gengo/save_translated_text_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_and_save_text_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_spec.rb
Due: lms-edits

make accounts controller accept "role" as param
  services/QuillLMS/app/controllers/accounts_controller.rb
Due: lms-edits

add header to remove column on activity review page and support for header in datatable (#11989)
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/__snapshots__/review_activities.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/review_activities.jsx
Due: lms-edits, lms-client-edits

further adjust fill in blank styling (#12002)
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/__tests__/__snapshots__/playFillInTheBlankQuestion.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/libs/fillInBlankInputStyle.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/tests/fillInBlankInputStyle.test.tsx
Due: lms-client-edits

fix create location errors (#12005)
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/activityStats.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/healthDashboard.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/plagiarismRulesIndex.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/regexRulesIndex.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/rule.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/ruleAnalysis.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/rules.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/rulesAnalysis.test.jsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/sessionsIndex.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/turkSessions.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/activities.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/activitySettings.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/activityStats.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/healthDashboard.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/plagiarismRulesIndex.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/regexRulesIndex.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/rule.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/ruleAnalysis.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/rules.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/rulesAnalysis.test.jsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/sessionOverview.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/sessionView.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/sessionsIndex.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/turkSessions.test.tsx
Due: lms-client-edits

fix css
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/Staff/styles/rules_analysis.scss
Due: lms-edits, lms-client-edits

fix css (#12009)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/Staff/styles/rules_analysis.scss
Due: lms-edits, lms-client-edits

Fix merge mistake
  services/QuillLMS/db/structure.sql
Due: lms-edits

Add translations to the admin interface
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/app/views/pages/translations.html.erb
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerItems.ts
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/pages_controller_spec.rb
Due: lms-edits, lms-client-edits

Rubocop fix
  services/QuillLMS/app/controllers/pages_controller.rb
Due: lms-edits

Add translations to the locker index test
  services/QuillLMS/client/app/bundles/Staff/components/locker/__tests__/__snapshots__/lockerIndex.test.tsx.snap
Due: lms-client-edits

Fix a couple of start-of-year spec edge cases
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: none

If the user writes in Dit or Van as their name, don’t lowercase it for them.
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Rubocop fix
  services/QuillLMS/spec/models/user_spec.rb
Due: none

tweak CSS
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/unit_template_profile.scss
  services/QuillLMS/app/assets/stylesheets/shared/table/react-table.scss
  services/QuillLMS/client/app/bundles/Shared/styles/react_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_scores_by_classroom_progress_report.jsx
Due: lms-edits, lms-client-edits

add green xs account icon
  packages/quill-cdn/assets/images/icons/xs/account-green.svg
Due: none

Use unless instead of if with negative
  services/QuillLMS/app/controllers/pages_controller.rb
Due: lms-edits

Use selected timeframe in Admin Diagnostic report filters
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
Due: lms-client-edits

Fix a couple of start-of-year spec edge cases (#12013)
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: none

Add to landing page and fix controller create
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerConstants.ts
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerItems.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/activities_controller.rb
Due: lms-edits, lms-client-edits

Fix failing spec
  services/QuillLMS/client/app/bundles/Staff/components/locker/__tests__/__snapshots__/lockerIndex.test.tsx.snap
Due: lms-client-edits

Make sure to pass the value of the timeframe through to queries
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
Due: lms-client-edits

Fix some of the routes
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/activities_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/stem_vaults_controller.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/activities/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/activities/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/new.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
Due: lms-edits

Fix titlecase
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerItems.ts
Due: lms-client-edits

Add translatable module and use it with the concept_feedback.
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/app/services/gengo/save_translated_text.rb
  services/QuillLMS/app/services/open_ai/translate.rb
  services/QuillLMS/app/services/open_ai/translate_and_save_text.rb
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/factories/gengo_jobs.rb
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
  services/QuillLMS/spec/services/gengo/save_translated_text_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_and_save_text_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_spec.rb
Due: lms-edits

Add a reminder to use simple language to the prompt.
  services/QuillLMS/app/models/activity.rb
Due: lms-edits

Create the translation mappings before running translate!
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Make activity translatable.
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/translation_examples/activities.json
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Move the prompt more in the concern.
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Allow questions to be translatable.
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/translation_examples/questions.json
Due: lms-edits

Update translatable_spec to be rubocop acceptable
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: none

Factor out common parts of the prompt.
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
Due: lms-edits

Rubocop edits.
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/services/open_ai/translate_and_save_text.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_spec.rb
Due: lms-edits

Delete comment
  services/QuillLMS/app/models/concerns/translatable.rb
Due: lms-edits

Rubocop fixes
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Move prompt config to yml and change translatable_attribute to translatable_field_name (as a class method)
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/translation_config/activity.yml
  services/QuillLMS/app/models/translation_config/concept_feedback.yml
  services/QuillLMS/app/models/translation_config/question.yml
  services/QuillLMS/app/models/translation_examples/activities.json
  services/QuillLMS/app/models/translation_examples/questions.json
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Fix spec
  services/QuillLMS/app/models/concerns/translatable.rb
Due: lms-edits

rubocop
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits
