Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

better logging + batching
  services/QuillLMS/lib/tasks/backfill.rake
Due: lms-edits

factory in engine is now accessible from LMS
  services/QuillLMS/engines/evidence/lib/evidence/engine.rb
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
  services/QuillLMS/engines/evidence/spec/spec_helper.rb
  services/QuillLMS/spec/factories/activities.rb
Due: lms-edits

change all specs in lms
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/evidence_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/feedback_histories_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/rule_feedback_histories_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/session_feedback_histories_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/activities_controller_spec.rb
  services/QuillLMS/spec/factories/activities.rb
  services/QuillLMS/spec/factories/activity_sessions.rb
  services/QuillLMS/spec/factories/unit_activities.rb
  services/QuillLMS/spec/lib/rule_feedback_history_spec.rb
  services/QuillLMS/spec/lib/universal_rule_loader_spec.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
  services/QuillLMS/spec/models/feedback_history_spec.rb
  services/QuillLMS/spec/queries/activity_feedback_history_spec.rb
  services/QuillLMS/spec/queries/prompt_feedback_history_spec.rb
  services/QuillLMS/spec/services/serialize_evidence_activity_health_spec.rb
  services/QuillLMS/spec/services/serialize_evidence_prompt_health_spec.rb
  services/QuillLMS/spec/services/vitally_integration/previous_year_teacher_datum_spec.rb
  services/QuillLMS/spec/workers/internal_tool/email_feedback_history_session_data_worker.rb
  services/QuillLMS/spec/workers/populate_aggregated_evidence_activity_healths_worker_spec.rb
  services/QuillLMS/spec/workers/populate_evidence_activity_health_worker_spec.rb
Due: none

Updates based on PR feedback
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/cache_keys.rb
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits

Minor tweak to timeframe logic for "this X" items
  services/QuillLMS/app/controllers/snapshots_controller.rb
Due: lms-edits

get datepicker looking and functioning well
  packages/quill-cdn/assets/images/pages/administrator/calendar.svg
  packages/quill-cdn/assets/images/pages/administrator/left_arrow.svg
  packages/quill-cdn/assets/images/pages/administrator/right_arrow.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

Backfill rake (#10596)
  services/QuillLMS/lib/tasks/activity_sessions.rake
  services/QuillLMS/lib/tasks/backfill.rake
Due: lms-edits

Session json bug (#10583)
  services/QuillLMS/app/lib/quill_authentication.rb
  services/QuillLMS/spec/controllers/api/v1/classroom_units_controller_spec.rb
  services/QuillLMS/spec/controllers/lib/quill_authentication_spec.rb
Due: lms-edits

committing dynamic movement
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

fix calendar height change issue
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

tweak Activity Summary page
  services/QuillLMS/app/assets/stylesheets/pages/my_account.scss
  services/QuillLMS/app/assets/stylesheets/pages/scorebook_page.scss
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/app_legend.tsx
Due: lms-edits, lms-client-edits

small tweaks to other reports pages
  services/QuillLMS/app/assets/stylesheets/pages/assignment_flow.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/student-overview.scss
  services/QuillLMS/app/helpers/navigation_helper.rb
Due: lms-edits

fix frontend bugs; move csv creation to worker
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/workers/internal_tool/email_feedback_history_session_data_worker.rb
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activitySessions/sessionsIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/activity_sessions.scss
Due: lms-edits, lms-client-edits

fix tests
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/workers/internal_tool/email_feedback_history_session_data_worker.rb
Due: none

remove sarah and emma from the team page
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Move Timeframe logic into its own lib module
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: lms-edits

make it possible to set hint_id to nil (#10588)
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/ruleHelpers.tsx
Due: lms-client-edits

fix several bugs with feedback sessions internal tool (#10599)
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/workers/internal_tool/email_feedback_history_session_data_worker.rb
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activitySessions/sessionsIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/activity_sessions.scss
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/workers/internal_tool/email_feedback_history_session_data_worker.rb
Due: lms-edits, lms-client-edits

remove sarah and emma from the team page (#10600)
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

update snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/app_legend.test.jsx.snap
Due: lms-client-edits

store feedback session csv on disk instead of in memory
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/workers/internal_tool/email_feedback_history_session_data_worker.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/workers/internal_tool/email_feedback_history_session_data_worker.rb
Due: lms-edits

update test; use const for mobile breakpoint
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/app_legend.tsx
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-client-edits

fix lint
  services/QuillLMS/app/workers/internal_tool/email_feedback_history_session_data_worker.rb
  services/QuillLMS/spec/workers/internal_tool/email_feedback_history_session_data_worker.rb
Due: lms-edits

have usermailer delete the file
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
Due: lms-edits

fix lint and test
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
Due: lms-edits

store feedback session csv on disk instead of in memory (#10603)
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/workers/internal_tool/email_feedback_history_session_data_worker.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/workers/internal_tool/email_feedback_history_session_data_worker.rb
Due: lms-edits

Tweak worker for payload shape
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits

WIP queries for Milestone 2
  services/QuillLMS/app/queries/snapshots/most_active_schools_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_practiced_query.rb
  services/QuillLMS/app/queries/snapshots/top_x_query.rb
Due: lms-edits

Add specs for new TopX queries
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
Due: none

Make some small tweaks to the queries
  services/QuillLMS/app/queries/snapshots/most_active_schools_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_practiced_query.rb
  services/QuillLMS/app/queries/snapshots/top_x_query.rb
Due: lms-edits

Refactor controller to re-use code between actions
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Add worker and spec for TopX cache worker
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Add specs for the TopX controller action
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

mobile everything looks great and works well
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/customDateModal.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

style for print
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/app/assets/stylesheets/print.scss
Due: lms-edits

add preview menu to Evidence play
  services/QuillLMS/client/app/bundles/Evidence/components/Header.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/explanationSlide.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/style.scss
Due: lms-client-edits

small css fixes
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/subscriptions.scss
Due: lms-edits

Lms/admin snapshot report backend milestone1 (#10585)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/cache_keys.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/app/queries/snapshots/active_classrooms_query.rb
  services/QuillLMS/app/queries/snapshots/active_students_query.rb
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/activities_completed_query.rb
  services/QuillLMS/app/queries/snapshots/average_activities_completed_per_student_query.rb
  services/QuillLMS/app/queries/snapshots/count_query.rb
  services/QuillLMS/app/queries/snapshots/options_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/schools_options_query.rb
  services/QuillLMS/app/queries/snapshots/sentences_written_query.rb
  services/QuillLMS/app/queries/snapshots/student_learning_hours_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/lib/snapshots/cache_keys_spec.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/rails_helper.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/query_data.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits

fix visual bug (#10591)
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

Additional mobile UI improvements (#10602)
  services/QuillLMS/app/assets/stylesheets/pages/assignment_flow.scss
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/assets/stylesheets/pages/my_account.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/student-overview.scss
  services/QuillLMS/app/assets/stylesheets/pages/scorebook_page.scss
  services/QuillLMS/app/assets/stylesheets/pages/subscriptions.scss
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/app_legend.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/app_legend.tsx
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits, lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
