Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Use data_accessor for prompt
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/question_health_obj.rb
  services/QuillLMS/lib/tasks/diagnostic_question_optimal_concepts.rake
  services/QuillLMS/spec/controllers/api/v1/activities_controller_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
  services/QuillLMS/spec/models/question_health_obj_spec.rb
  services/QuillLMS/spec/workers/populate_activity_health_worker_spec.rb
Due: lms-edits

fix css
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/unit_template_profile.scss
Due: lms-edits

use max width
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/unit_template_profile.scss
Due: lms-edits

New airbyte instances (#12063)
  services/QuillLMS/bin/dev/airbyte
Due: lms-edits

Add Dataset validation
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_importer.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_validator.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/dataset_validator_spec.rb
Due: lms-edits

remove sprockets
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Add some more breadcrumb routes
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_runner.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/activities/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/guidelines/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompt_templates/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompts/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/prompt_examples/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
Due: lms-edits

Add run to the top of trial runner
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
Due: lms-edits

remove sprockets (#12079)
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

remove app/assets/javascripts/*
  services/QuillLMS/app/assets/javascripts/application.js
  services/QuillLMS/app/assets/javascripts/application_non_webpack.js
  services/QuillLMS/app/assets/javascripts/cms_activity_page.js
  services/QuillLMS/app/assets/javascripts/components.js
  services/QuillLMS/app/assets/javascripts/components/.gitkeep
  services/QuillLMS/app/assets/javascripts/custom.js
  services/QuillLMS/app/assets/javascripts/evidence.js
  services/QuillLMS/app/assets/javascripts/home.js
  services/QuillLMS/app/assets/javascripts/loadingbutton.js
  services/QuillLMS/app/assets/javascripts/login.js
  services/QuillLMS/app/assets/javascripts/public.js
  services/QuillLMS/app/assets/javascripts/quill-core.js.erb
  services/QuillLMS/app/assets/javascripts/session.js
  services/QuillLMS/app/assets/javascripts/student.js
  services/QuillLMS/app/assets/javascripts/test_file_application.js
  services/QuillLMS/app/assets/javascripts/test_file_application_non_webpack.js
  services/QuillLMS/app/assets/javascripts/test_file_application_static.js
Due: lms-edits

remove app/assets/javascripts, turbolinks gems
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Rename translatable_field_name to default_field_name
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Add migration to add a new field_name to translation_mapping
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/db/migrate/20240710195857_add_field_to_translation_mapping.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/translation_mappings.rb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
Due: lms-edits

Allow create_translation_mappings to get a custom field name.
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

WIP updating dropdowns
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-client-edits

Properly register materialized view with query class
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_performance_by_student_view_query.rb
Due: lms-edits

remove turbolinks-data-track html directives
  services/QuillLMS/app/views/layouts/activity.html.erb
  services/QuillLMS/app/views/layouts/application.html.erb
  services/QuillLMS/app/views/layouts/integrations.html.erb
  services/QuillLMS/app/views/layouts/progress_reports.html.erb
  services/QuillLMS/engines/evidence/app/views/layouts/evidence/research/gen_ai/application.html.erb
Due: lms-edits

add new translations:
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/arabic/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/chinese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/dari/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/french/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/german/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/hindi/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/japanese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/korean/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/languagePageInfo.js
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/portuguese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/russian/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/spanish/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/tagalog/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/thai/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/ukrainian/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/urdu/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/vietnamese/translation.json
Due: lms-client-edits

add images and wip for assignment page
  packages/quill-cdn/assets/images/icons/l/ai.svg
  packages/quill-cdn/assets/images/icons/l/earth.svg
  packages/quill-cdn/assets/images/icons/l/globe.svg
  packages/quill-cdn/assets/images/icons/s/ai.svg
  packages/quill-cdn/assets/images/icons/sm/ai.svg
  packages/quill-cdn/assets/images/icons/sm/globe.svg
  packages/quill-cdn/assets/images/illustrations/ai-dashboard.svg
  packages/quill-cdn/assets/images/illustrations/world-history-dashboard.svg
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assignment_card.tsx
Due: lms-edits, lms-client-edits

tweak some things
  services/QuillLMS/app/services/demo/create_admin_report.rb
Due: lms-edits

Can translate for arbitrary field names
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

increase padding (#12073)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/student-overview.scss
Due: lms-edits

Bug fix/ fix display for activity packs with long names (#12076)
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/unit_template_profile.scss
Due: lms-edits

update question counts
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/languagePageInfo.js
Due: lms-client-edits

Finish enabling new Diagnostics on the Assign Diagnostics page
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/lib/tasks/temporary/activities.rake
Due: lms-edits, lms-client-edits

Use staff! Before action instead of a return.
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/controllers/translated_texts_controller.rb
Due: lms-edits

update question count logic
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
Due: lms-client-edits

Remove unused route
  services/QuillLMS/config/routes.rb
Due: lms-edits

Refactor .ts to be more readable.
  services/QuillLMS/client/app/entrypoints/snippets/translated_text.ts
Due: lms-client-edits

Update test
  services/QuillLMS/spec/controllers/translated_texts_controller_spec.rb
Due: none

Use data accessors for questions (#12084)
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/question_health_obj.rb
  services/QuillLMS/app/workers/concept_replacement_grammar_worker.rb
  services/QuillLMS/lib/tasks/connect.rake
  services/QuillLMS/lib/tasks/diagnostic_question_optimal_concepts.rake
  services/QuillLMS/spec/controllers/api/v1/activities_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/questions_controller_spec.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
  services/QuillLMS/spec/models/question_health_obj_spec.rb
  services/QuillLMS/spec/models/question_spec.rb
  services/QuillLMS/spec/workers/populate_activity_health_worker_spec.rb
Due: lms-edits

Undo pages change
  services/QuillLMS/app/controllers/pages_controller.rb
Due: lms-edits

Fix wrong date formats in jest tests (#11996)
  services/QuillLMS/app/controllers/activities_controller.rb
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/assign_a_new_activity.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/data.ts
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/archived_classrooms.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/classroom.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/classroom_student_section.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/invite_coteachers_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/test_data/test_data.js
  services/QuillLMS/client/app/bundles/Teacher/components/subscriptions/__tests__/__snapshots__/SubscriptionStatus.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/subscriptions/__tests__/__snapshots__/current_subscription.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/subscriptions/__tests__/data.ts
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/Scorebook.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/Subscriptions.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/Subscriptions.test.jsx.snap
  services/QuillLMS/spec/models/activity_spec.rb
Due: lms-edits, lms-client-edits

fix diagnostic completed count
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

add unscoped classroom relation
  services/QuillLMS/app/models/classroom_unit.rb
  services/QuillLMS/app/models/classroom_unscoped.rb
  services/QuillLMS/app/models/classrooms_teacher.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/models/classroom_unit_spec.rb
  services/QuillLMS/spec/models/classrooms_teacher_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

all tests
  services/QuillLMS/app/models/classroom_unscoped.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/models/classroom_unscoped_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

tests results
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

use attr_reader version of teacher email in both places
  services/QuillLMS/app/services/demo/create_admin_report.rb
Due: lms-edits

add links to navbar
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/views/navbar/_explore_curriculum.html.erb
Due: lms-edits

Add editing to translated texts admin (#12072)
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/controllers/translated_texts_controller.rb
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/app/views/pages/translations.html.erb
  services/QuillLMS/app/views/translated_texts/index.html.erb
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerItems.ts
  services/QuillLMS/client/app/entrypoints/snippets/translated_text.ts
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/pages_controller_spec.rb
  services/QuillLMS/spec/controllers/translated_texts_controller_spec.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
Due: lms-edits, lms-client-edits
