Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix diagnostic reports spec
  services/QuillLMS/spec/controllers/concerns/diagnostic_reports_spec.rb
Due: none

Fix session_feedback_histories_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/session_feedback_histories_controller_spec.rb
Due: none

Fix teachers controller specs
  services/QuillLMS/spec/controllers/teachers_controller_spec.rb
Due: none

usage snapshots container
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

Fix more teacher controller spec failures
  services/QuillLMS/spec/controllers/teachers_controller_spec.rb
Due: none

Refactor Google Auth logic (#10615)
  services/QuillLMS/app/services/google_integration/refresh_access_token.rb
  services/QuillLMS/config/initializers/auth/google.rb
  services/QuillLMS/config/initializers/omniauth.rb
  services/QuillLMS/spec/services/google_integration/refresh_access_token_spec.rb
Due: lms-edits

compress csvs before emailing them (#10609)
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
Due: lms-edits

Refactor Clever Auth logic
  services/QuillLMS/app/controllers/clever_controller.rb
  services/QuillLMS/app/controllers/concerns/clever_authable.rb
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/services/clever_integration/oauth_client.rb
  services/QuillLMS/app/services/quill_clever.rb
  services/QuillLMS/app/views/teachers/classroom_manager/my_account.html.erb
  services/QuillLMS/config/initializers/auth/clever.rb
  services/QuillLMS/config/initializers/clever.rb
  services/QuillLMS/config/initializers/omniauth.rb
Due: lms-edits

wip
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/controllers/sessions_controller.rb
  services/QuillLMS/app/views/sessions/foo.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/login_form.jsx
  services/QuillLMS/client/app/bundles/fooClientRegistration.jsx
  services/QuillLMS/client/app/entrypoints/foo.ts
  services/QuillLMS/vite.config.ts
Due: lms-edits, lms-client-edits

removing all non debug entrypoints
  services/QuillLMS/client/app/entrypoints/application.scss
  services/QuillLMS/client/app/entrypoints/application.ts
  services/QuillLMS/client/app/entrypoints/connect.scss
  services/QuillLMS/client/app/entrypoints/connect.ts
  services/QuillLMS/client/app/entrypoints/diagnostic.scss
  services/QuillLMS/client/app/entrypoints/diagnostic.ts
  services/QuillLMS/client/app/entrypoints/evidence.ts
  services/QuillLMS/client/app/entrypoints/grammar.scss
  services/QuillLMS/client/app/entrypoints/grammar.ts
  services/QuillLMS/client/app/entrypoints/home.scss
  services/QuillLMS/client/app/entrypoints/home.ts
  services/QuillLMS/client/app/entrypoints/lessons.scss
  services/QuillLMS/client/app/entrypoints/lessons.ts
  services/QuillLMS/client/app/entrypoints/login.ts
  services/QuillLMS/client/app/entrypoints/proofreader.ts
  services/QuillLMS/client/app/entrypoints/public.ts
  services/QuillLMS/client/app/entrypoints/shared.scss
  services/QuillLMS/client/app/entrypoints/staff.scss
  services/QuillLMS/client/app/entrypoints/staff.ts
  services/QuillLMS/client/app/entrypoints/student.ts
Due: lms-client-edits

Cleanup ordering spec
  services/QuillLMS/spec/controllers/teachers_controller_spec.rb
Due: none

fix regression
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

Fix intermittent spec failures (#10617)
  services/QuillLMS/spec/controllers/api/v1/session_feedback_histories_controller_spec.rb
  services/QuillLMS/spec/controllers/concerns/diagnostic_reports_spec.rb
  services/QuillLMS/spec/controllers/teachers_controller_spec.rb
  services/QuillLMS/spec/models/feedback_history_spec.rb
Due: none

add log in to purchase modal (#10611)
  services/QuillLMS/app/assets/stylesheets/pages/premium_page.scss
  services/QuillLMS/client/app/bundles/Teacher/containers/PremiumPricingGuide.jsx
Due: lms-edits, lms-client-edits

update job postings (#10612)
  services/QuillLMS/config/careers.yml
Due: lms-edits

added minimal entrypoint, process not defined
  services/QuillLMS/app/controllers/sessions_controller.rb
  services/QuillLMS/app/views/sessions/foo.html.erb
  services/QuillLMS/client/app/bundles/fooClientRegistration.jsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/vite.config.ts
Due: lms-edits, lms-client-edits

remove comments
  services/QuillLMS/vite.config.ts
Due: none

Refactor Clever Auth logic (#10616)
  services/QuillLMS/app/controllers/clever_controller.rb
  services/QuillLMS/app/controllers/concerns/clever_authable.rb
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/services/clever_integration/oauth_client.rb
  services/QuillLMS/app/services/quill_clever.rb
  services/QuillLMS/app/views/teachers/classroom_manager/my_account.html.erb
  services/QuillLMS/config/initializers/auth/clever.rb
  services/QuillLMS/config/initializers/clever.rb
  services/QuillLMS/config/initializers/omniauth.rb
Due: lms-edits

Add dependent: :destroy with classroom_unit_activity_states
  services/QuillLMS/app/models/classroom_unit.rb
  services/QuillLMS/app/models/unit_activity.rb
  services/QuillLMS/spec/factories/classroom_unit_activity_states.rb
  services/QuillLMS/spec/models/classroom_unit_spec.rb
  services/QuillLMS/spec/models/unit_activity_spec.rb
Due: lms-edits

revisions
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/modules/unorderedArraysAreEqual.js
Due: lms-edits, lms-client-edits

cleanup and revisions
  packages/quill-cdn/assets/images/shared/indeterminate_progress_spinner.pdf
  packages/quill-cdn/assets/images/shared/indeterminate_progress_spinner.png
  packages/quill-cdn/assets/images/shared/indeterminate_progress_spinner.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/customDateModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/filters.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotFeedback.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotRanking.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/buttonLoadingSpinner.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dropdownInput.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/spinner.scss
Due: lms-edits, lms-client-edits

implement eric's suggestion
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

fix tests
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: none

fix filtering grades bug and tweak coming soon
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-client-edits

commit reviewable version of snapshot rankings
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-edits, lms-client-edits

commit rankings
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotRanking.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/snapshotRanking.test.tsx
Due: lms-client-edits

fix snapshots
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotRanking.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
Due: lms-client-edits

Add specs to cover top_x queries using new CTE structure
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/top_x_query.rb
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_top_x_cte.rb
Due: lms-edits

Move specs from `external_api` tag to `big_query_snapshot`
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
Due: none

Make a couple of additional tweaks based on PR feedback
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_top_x_cte.rb
Due: none

Fix another linting error
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
Due: none

Add a message to check to see if there's a migration in a deploy
  services/QuillLMS/deploy.sh
Due: none

Fix intermittent spec failure
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
Due: none

more updates and tests
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotRanking.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-edits, lms-client-edits

Make some tweaks to specs based on PR feedback
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_top_x_cte.rb
Due: none

More PR feedback
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: none

add remaining preview menu elements
  services/QuillLMS/app/assets/stylesheets/shared/teacher-preview-menu.scss
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenu.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-edits, lms-client-edits

Make too_old and too_new values part of a context
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
Due: none

Refactor the specs to use more shared context within each spec file
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
  services/QuillLMS/spec/rails_helper.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
Due: none
