Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

move old worker specs to sync_orchestrator
  services/QuillLMS/app/services/learn_worlds_integration/sync_orchestrator.rb
  services/QuillLMS/spec/services/learn_worlds_integration/sync_orchestrator_spec.rb
Due: lms-edits

add suspension workers
  services/QuillLMS/app/services/learn_worlds_integration/sync_orchestrator.rb
  services/QuillLMS/app/workers/learn_worlds_integration/suspend_user_worker.rb
  services/QuillLMS/app/workers/learn_worlds_integration/unsuspend_user_worker.rb
Due: lms-edits

unsuspend user request working
  services/QuillLMS/app/services/learn_worlds_integration/unsuspend_user_request.rb
Due: lms-edits

suspend user request working
  services/QuillLMS/app/services/learn_worlds_integration/suspend_user_request.rb
Due: lms-edits

throw error with bad api response
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/app/services/learn_worlds_integration/sync_orchestrator.rb
  services/QuillLMS/spec/services/learn_worlds_integration/suspended_users_request_spec.rb
Due: lms-edits

lint
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/spec/services/learn_worlds_integration/suspended_users_request_spec.rb
Due: lms-edits

wrong var name
  services/QuillLMS/app/services/learn_worlds_integration/sync_orchestrator.rb
Due: lms-edits

try this linting fix
  services/QuillLMS/app/controllers/cms/activity_categories_controller.rb
Due: lms-edits

set autocorrect
  services/.rubocop_base.yml
Due: none

remove all changes for linting test
  services/QuillLMS/app/controllers/cms/activity_categories_controller.rb
  services/QuillLMS/app/models/concerns/user_flagset.rb
Due: lms-edits

remove test
  services/QuillLMS/spec/controllers/cms/activity_categories_controller_spec.rb
Due: none

uncomment fixed code
  services/QuillLMS/app/controllers/cms/activity_categories_controller.rb
Due: lms-edits

fix linting and uncomment all
  services/QuillLMS/app/controllers/cms/activity_categories_controller.rb
  services/QuillLMS/app/models/concerns/user_flagset.rb
  services/QuillLMS/spec/controllers/cms/activity_categories_controller_spec.rb
Due: lms-edits

remove unneeded change
  services/.rubocop_base.yml
Due: none

Add new staff flagset and stop sending archived activities on index (#11906)
  services/QuillLMS/app/controllers/cms/activity_categories_controller.rb
  services/QuillLMS/app/models/concerns/user_flagset.rb
  services/QuillLMS/spec/controllers/cms/activity_categories_controller_spec.rb
Due: lms-edits

changes on review
  services/QuillLMS/app/assets/stylesheets/pages/press.scss
  services/QuillLMS/app/views/pages/press.html.erb
Due: lms-edits

Brendan feedback
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/spec/services/learn_worlds_integration/sync_orchestrator_spec.rb
  services/QuillLMS/spec/workers/learn_worlds_integration/sync_orchestrator_worker_spec.rb
Due: lms-edits

fix a bunch of errors
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/snapshots.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_pack.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_recommendations.scss
  services/QuillLMS/app/views/pages/shared/_expandable_units_section.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotRanking.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/UsageSnapshotsContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/overviewSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/skillSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/studentSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post_index.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/blog_post_table.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/featured_blog_posts.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/springboard.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/spring_board.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/recommendationsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendationsTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/preview_card.jsx
Due: lms-edits, lms-client-edits

remove tests that updated due to sortable wrapper update
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/blog_post_table.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/featured_blog_posts.test.jsx.snap
Due: lms-client-edits

update tooltip copy (#11902)
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

update teacher dashboard UI (#11912)
  services/QuillLMS/app/assets/stylesheets/pages/profile.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/activity_feed.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/bulk_archive_classrooms_card.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/diagnostic_mini.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/key_metrics.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/post_checklist.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/teacher_center_highlights.scss
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/activity_feed.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/college_board.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/daily_tiny_tip.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/diagnostic_mini.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/handy_actions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/teacher_center_highlights.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/college_board.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/activity_feed.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/bulk_archive_classrooms_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/college_board.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/daily_tiny_tip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/diagnostic_mini.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/handy_actions.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/teacher_center_highlights.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/dashboard.tsx
Due: lms-edits, lms-client-edits

Fix integration testing bug, use a better mock in specs
  services/QuillLMS/app/services/learn_worlds_integration/sync_orchestrator.rb
  services/QuillLMS/spec/services/learn_worlds_integration/sync_orchestrator_spec.rb
Due: lms-edits

show placeholder, tweak css
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/textFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/textFields.tsx
Due: lms-client-edits

delete def home path and rename home_now to home
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/pages_controller_spec.rb
Due: lms-edits

also delete home.html.erb, replace with twenty_seventeen_home.html.erb
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/layouts/home.html.erb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
Due: lms-edits

and the erb files
  services/QuillLMS/app/views/pages/home.html.erb
  services/QuillLMS/app/views/pages/home_new.html.erb
Due: lms-edits

small tweaks
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-client-edits

don't call class method as instance method
  services/QuillLMS/app/services/learn_worlds_integration/sync_orchestrator.rb
  services/QuillLMS/spec/services/learn_worlds_integration/sync_orchestrator_spec.rb
Due: lms-edits

move perform method into class namespace
  services/QuillLMS/app/workers/learn_worlds_integration/suspend_user_worker.rb
  services/QuillLMS/app/workers/learn_worlds_integration/unsuspend_user_worker.rb
Due: lms-edits

add semibold display fonts (#11915)
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/typography.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/typography.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/typography.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-edits, lms-client-edits

fix border radius for hovered row on dashboard
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/post_checklist.scss
Due: lms-edits

suspend/unsuspend users in learnworlds (#11917)
  services/QuillLMS/app/services/learn_worlds_integration/request.rb
  services/QuillLMS/app/services/learn_worlds_integration/sso_request.rb
  services/QuillLMS/app/services/learn_worlds_integration/suspend_user_request.rb
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/app/services/learn_worlds_integration/sync_orchestrator.rb
  services/QuillLMS/app/services/learn_worlds_integration/unsuspend_user_request.rb
  services/QuillLMS/app/services/learn_worlds_integration/user_tags_request.rb
  services/QuillLMS/app/workers/learn_worlds_integration/suspend_user_worker.rb
  services/QuillLMS/app/workers/learn_worlds_integration/unsuspend_user_worker.rb
  services/QuillLMS/spec/services/learn_worlds_integration/suspended_users_request_spec.rb
  services/QuillLMS/spec/services/learn_worlds_integration/sync_orchestrator_spec.rb
  services/QuillLMS/spec/workers/learn_worlds_integration/sync_orchestrator_worker_spec.rb
Due: lms-edits

show blue for ungraded activites on activity analysis student overview
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/modules/grade_color.js
  services/QuillLMS/client/app/bundles/Teacher/components/modules/score_color.js
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/overview_boxes.jsx
Due: lms-edits, lms-client-edits

Changes to more examples prompt.
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_07_more_examples.md
Due: lms-edits

Rename method from PR feedback.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/response_builder_spec.rb
Due: lms-edits

Evidence - GenAI Code Pieces (#11901)
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/app/models/feedback_session.rb
  services/QuillLMS/config/initializers/evidence.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/feedback_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/rule.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_05_24_optimal_and_feedback.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_05_31_highlights.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_03_optimal_and_feedback.md
  services/QuillLMS/engines/evidence/lib/evidence.rb
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/auto_ml.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/base.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat.rb
  services/QuillLMS/engines/evidence/lib/tasks/gen_ai.rake
  services/QuillLMS/engines/evidence/spec/controllers/evidence/feedback_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_session.rb
  services/QuillLMS/engines/evidence/spec/dummy/config/initializers/comprehension.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/rules.rb
  services/QuillLMS/engines/evidence/spec/fixtures/files/sample_system_template.md
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/check_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/chat_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/response_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/system_prompt_builder_spec.rb
Due: lms-edits

Allow you to fetch translations once they are approved
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
Due: lms-edits

WIP
  services/QuillLMS/.env-sample
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/app/services/gengo_response_wrapper.rb
  services/QuillLMS/bin/rails
  services/QuillLMS/bin/rake
  services/QuillLMS/bin/rspec
  services/QuillLMS/bin/spring
  services/QuillLMS/config/initializers/gengo.rb
  services/QuillLMS/db/migrate/20240610145220_create_english_texts.rb
  services/QuillLMS/db/migrate/20240610145308_create_translated_texts.rb
  services/QuillLMS/db/migrate/20240610155753_create_translation_mappings.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/lib/tasks/translate.rake
  services/QuillLMS/spec/factories/english_texts.rb
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/factories/translation_mappings.rb
  services/QuillLMS/spec/lib/translate_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
  services/QuillLMS/spec/services/gengo_response_wrapper_spec.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
