Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

format modes
  packages/quill-cdn/assets/images/icons/xs/check-small-white.svg
  packages/quill-cdn/assets/images/icons/xs/check-small.svg
  services/QuillLMS/client/app/bundles/Shared/components/shared/checkBox.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/checkboxes.scss
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/checkBoxes.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

add dash icons
  packages/quill-cdn/assets/images/icons/xs/dash-black.svg
  packages/quill-cdn/assets/images/icons/xs/dash-white.svg
Due: none

add tests
  packages/quill-cdn/assets/images/icons/xs/dash-black.svg
  packages/quill-cdn/assets/images/icons/xs/dash-white.svg
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/checkBox.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/checkBox.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/checkBox.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/checkboxes.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/checkBoxes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/checkBoxes.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
Due: lms-client-edits

small refactors
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/checkBox.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/checkBox.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/checkBoxes.tsx
Due: lms-client-edits

update snapshot
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/checkBoxes.test.tsx.snap
Due: lms-client-edits

update conditional
  services/QuillLMS/client/app/bundles/Shared/components/shared/checkBox.tsx
Due: lms-client-edits

Convert decimal percentages to integer percentages
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_skills_summary_data_export.rb
Due: lms-edits

Update student formatting for scores
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_students_summary_data_export.rb
Due: lms-edits

Fix typo
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_skills_summary_data_export.rb
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_students_summary_data_export.rb
Due: lms-edits

update comment
  services/QuillLMS/db/migrate/20240521201204_add_project_to_evidence_automl_models.evidence.rb
  services/QuillLMS/engines/evidence/db/migrate/20240521200827_add_project_to_evidence_automl_models.rb
Due: lms-edits

Add project to automl model (#11856)
  services/QuillLMS/db/migrate/20240521201204_add_project_to_evidence_automl_models.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/experiments_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/db/migrate/20240521200827_add_project_to_evidence_automl_models.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/automl_models.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
Due: lms-edits

Load Dotenv before environment loads
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
Due: lms-edits

Change deployed_model_names to deployed_model_names_and_projects_fetcher
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/deployed_model_names_and_projects_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/deployed_model_names_fetcher.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/deployed_model_names_and_projects_fetcher_spec.rb
Due: lms-edits

Add project specific client fetcher
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/client_fetcher.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/client_fetcher_spec.rb
Due: lms-edits

Remove project_id from vertex_ai initializer
  services/QuillLMS/engines/evidence/config/initializers/vertex_ai.rb
Due: lms-edits

Add block parameter for client fetcher
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/client_fetcher.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/client_fetcher_spec.rb
Due: lms-edits

Return concatenated string instead of key-value for names and projects
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/deployed_model_names_and_projects_fetcher.rb
Due: lms-edits

Add project to ParamsBuilder initializer
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/params_builder.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/params_builder_spec.rb
Due: lms-edits

Add project param to TextClassfier initializer
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/text_classifier.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/text_classifier_spec.rb
Due: lms-edits

Update AutomlModelsController to use project
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
Due: lms-edits

Update route to deployed_model_names_and_projects
  services/QuillLMS/engines/evidence/config/routes.rb
Due: lms-edits

Update UI to use names and projects in dropdown
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/modelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/modelAPIs.ts
Due: lms-client-edits

Fix specs
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/deployed_model_names_and_projects_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/params_builder_spec.rb
Due: lms-edits

Weight rollup percentages for student reports
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_performance_by_student_view_query.rb
Due: lms-edits

Backpack/ add checkboxes (#11857)
  packages/quill-cdn/assets/images/icons/xs/check-small-white.svg
  packages/quill-cdn/assets/images/icons/xs/check-small.svg
  packages/quill-cdn/assets/images/icons/xs/dash-black.svg
  packages/quill-cdn/assets/images/icons/xs/dash-white.svg
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/checkBox.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/checkBox.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/checkBox.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/checkboxes.scss
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/checkBoxes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/checkBoxes.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/checkBoxes.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

Add controller and worker to enqueue CSV emails
  services/QuillLMS/app/controllers/admin_diagnostic_reports_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

Extract filters from their JSON column
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

Handle proper data shape
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

Refactor filter extraction to handle more cases
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

Map default schools list to ids
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

Various CSS styling tweaks (#11854)
  services/QuillLMS/app/assets/stylesheets/pages/about-us-pages.scss
  services/QuillLMS/app/assets/stylesheets/pages/contact.scss
  services/QuillLMS/app/assets/stylesheets/pages/misc-pages.scss
  services/QuillLMS/app/assets/stylesheets/pages/pathways.scss
  services/QuillLMS/app/assets/stylesheets/pages/press.scss
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/views/pages/about.html.erb
  services/QuillLMS/app/views/pages/careers.html.erb
  services/QuillLMS/app/views/pages/contact.html.erb
  services/QuillLMS/app/views/pages/impact.html.erb
  services/QuillLMS/app/views/pages/pathways.html.erb
  services/QuillLMS/app/views/pages/press.html.erb
  services/QuillLMS/app/views/pages/team.html.erb
  services/QuillLMS/client/app/bundles/Grammar/styles/intro.scss
Due: lms-edits, lms-client-edits

Update .env-sample
  services/QuillLMS/.env-sample
Due: none

add fill in blank instruction constant
  services/QuillLMS/client/app/bundles/Connect/constants.js
Due: lms-client-edits

Add some specs
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/client_fetcher.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/client_fetcher_spec.rb
Due: lms-edits

concept feedback changes added
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concept-feedback.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/feedback/concept-feedback.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
Due: lms-edits, lms-client-edits

remove additional callback diagnostic
  services/QuillLMS/client/app/bundles/Diagnostic/components/feedback/concept-feedback.jsx
Due: lms-client-edits

Clean up spec
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/deployed_model_names_and_projects_fetcher_spec.rb
Due: lms-edits

Update front-end for downloads
  services/QuillLMS/app/controllers/admin_diagnostic_reports_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

Add constants for each project credentials
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/client_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/deployed_model_names_and_projects_fetcher.rb
  services/QuillLMS/engines/evidence/config/initializers/vertex_ai.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/client_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/deployed_model_names_and_projects_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/params_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/text_classifier_spec.rb
Due: lms-edits

Fix import path
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
Due: lms-client-edits
