Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Don't re-translate texts that already have a translation associated with them. (#12029)
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
Due: lms-edits

small refactors
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/unit_template_profile.scss
  services/QuillLMS/app/assets/stylesheets/shared/table/react-table.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/dataTableChip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/dataTableChip.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTableChip.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/react_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_profile/unit_template_profile_activity_table.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/studentReports.tsx
Due: lms-edits, lms-client-edits

Alphabetize list items for Connect/Diagnostic Admin (#12019)
  services/QuillLMS/client/app/bundles/Connect/components/concepts/concepts.jsx
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concepts-feedback.jsx
  services/QuillLMS/client/app/bundles/Connect/components/lessons/lessons.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/concepts/concepts.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/fillInBlankQuestions.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/lessons.jsx
Due: lms-client-edits

stripe mailer should filter out unpaid subscriptions (#12028)
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions_worker.rb
  services/QuillLMS/spec/workers/identify_stripe_invoices_without_subscriptions_worker_spec.rb
Due: lms-edits

constantize header width values
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_scores_by_classroom_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/student_overview_table.jsx
Due: lms-client-edits

add banner for Diagnostic assignments being disabled
  services/QuillLMS/app/assets/stylesheets/pages/assignment_flow.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/postNavigationBanner.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_diagnostic.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assignment_card.tsx
Due: lms-edits, lms-client-edits

Update queries to match new Airbyte behavior
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query.rb
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_view.sql
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: lms-edits

Update Snapshot queries to match new data syntax
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/activity_packs_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/baseline_diagnostics_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/growth_diagnostics_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/most_assigned_activities_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_assigned_query.rb
Due: lms-edits

lms/update-mat-view-for-new-column-type (#12034)
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/activity_packs_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/baseline_diagnostics_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/growth_diagnostics_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/most_assigned_activities_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_assigned_query.rb
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_view.sql
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: lms-edits

tweak css
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/assets/stylesheets/shared/table/react-table.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTableChip.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/react_table.scss
Due: lms-edits, lms-client-edits

Add questions method to activity
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/spec/models/activity_spec.rb
Due: lms-edits

Make the openAI translations use sidekiq jobs.
  services/QuillLMS/app/services/open_ai/translate_activity_and_questions.rb
  services/QuillLMS/app/workers/open_ai/translate_activity_and_questions_worker.rb
  services/QuillLMS/app/workers/open_ai/translate_worker.rb
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/services/open_ai/translate_activity_and_questions_spec.rb
  services/QuillLMS/spec/workers/open_ai/translate_activity_and_questions_worker_spec.rb
  services/QuillLMS/spec/workers/open_ai/translate_worker_spec.rb
Due: lms-edits

Handle empty questions
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/spec/models/activity_spec.rb
Due: lms-edits

Get the right name for concept feedback
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

Rubocop fixes
  services/QuillLMS/app/services/open_ai/translate_activity_and_questions.rb
  services/QuillLMS/app/workers/open_ai/translate_activity_and_questions_worker.rb
  services/QuillLMS/app/workers/open_ai/translate_worker.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/workers/open_ai/translate_activity_and_questions_worker_spec.rb
  services/QuillLMS/spec/workers/open_ai/translate_worker_spec.rb
Due: lms-edits

Rubocop fix.
  services/QuillLMS/app/workers/open_ai/translate_activity_and_questions_worker.rb
  services/QuillLMS/app/workers/open_ai/translate_worker.rb
Due: lms-edits

Update capitalization of names with a couple of edge cases
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Change spec to reflect find_by syntax
  services/QuillLMS/spec/workers/open_ai/translate_worker_spec.rb
Due: none

add banner to recommendations and restrict post test assignment
  services/QuillLMS/app/assets/stylesheets/pages/assignment_flow.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_pack.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_diagnostic.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assignment_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendations.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
Due: lms-edits, lms-client-edits

updated tests, fix linter
  services/QuillLMS/app/assets/stylesheets/pages/assignment_flow.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/assign_a_diagnostic.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/assignment_card.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_diagnostic.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
Due: lms-edits, lms-client-edits

small tweaks
  services/QuillLMS/client/app/bundles/Shared/components/shared/postNavigationBanner.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_diagnostic.tsx
Due: lms-client-edits

add airbyte-indigo
  services/QuillLMS/bin/dev/airbyte
Due: lms-edits

Update capitalization of names with a couple of edge cases (#12037)
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Fix faker custom name
  services/QuillLMS/spec/services/canvas_integration/student_updater_spec.rb
  services/QuillLMS/spec/support/faker.rb
Due: none

Move string literal enforcement to rubocop_base
  services/.rubocop_base.yml
  services/QuillLMS/.rubocop.yml
Due: none

Fix faker custom name (#12041)
  services/QuillLMS/spec/services/canvas_integration/student_updater_spec.rb
  services/QuillLMS/spec/support/faker.rb
Due: none

Refactors
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/services/open_ai/translate_activity_and_questions.rb
  services/QuillLMS/app/workers/open_ai/translate_activity_and_questions_worker.rb
  services/QuillLMS/app/workers/open_ai/translate_worker.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_activity_and_questions_spec.rb
  services/QuillLMS/spec/workers/open_ai/translate_activity_and_questions_worker_spec.rb
Due: lms-edits

Use sidekiq to run translations for OpenAI (#12036)
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/workers/open_ai/translate_activity_and_questions_worker.rb
  services/QuillLMS/app/workers/open_ai/translate_worker.rb
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/workers/open_ai/translate_activity_and_questions_worker_spec.rb
  services/QuillLMS/spec/workers/open_ai/translate_worker_spec.rb
Due: lms-edits

Remove unneeded imports
  services/QuillLMS/app/workers/open_ai/translate_activity_and_questions_worker.rb
Due: lms-edits

One more!
  services/QuillLMS/app/workers/open_ai/translate_worker.rb
Due: lms-edits

Remove unneeded imports (#12043)
  services/QuillLMS/app/workers/open_ai/translate_activity_and_questions_worker.rb
  services/QuillLMS/app/workers/open_ai/translate_worker.rb
Due: lms-edits

Disable diagnostic assignment (#12039)
  services/QuillLMS/app/assets/stylesheets/pages/assignment_flow.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_pack.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/assign_a_diagnostic.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/assignment_card.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_diagnostic.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assignment_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendations.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
Due: lms-edits, lms-client-edits

small refactors
  services/QuillLMS/app/assets/stylesheets/shared/table/react-table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_scores_by_classroom_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/student_overview_table.jsx
Due: lms-edits, lms-client-edits

Report standardization (#12031)
  packages/quill-cdn/assets/images/icons/2xs/proficiency-circle/partial-proficiency-green.svg
  packages/quill-cdn/assets/images/icons/xs/account-green.svg
  packages/quill-cdn/assets/images/icons/xs/account.svg
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/unit_template_profile.scss
  services/QuillLMS/app/assets/stylesheets/shared/quill_teacher_and_admin_reports.scss
  services/QuillLMS/app/assets/stylesheets/shared/table/react-table.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/dataTableChip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/dataTableChip.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTableChip.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/react_table.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_profile/unit_template_profile_activity_table.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_scores_by_classroom_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_concepts_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/student_overview_table.jsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/studentReports.tsx
Due: lms-edits, lms-client-edits

Turn Diagnostic Assignment page back on with new diagnostics
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assignment_card.tsx
Due: lms-client-edits

update icons, tweak css
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_student_responses_index.scss
  services/QuillLMS/app/assets/stylesheets/shared/table/react-table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/student_overview_table.jsx
Due: lms-edits, lms-client-edits

Make project column NOT NULL in automl_model
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
Due: lms-edits

add xs tool icons
  packages/quill-cdn/assets/images/icons/xs/tool-connect-green.svg
  packages/quill-cdn/assets/images/icons/xs/tool-diagnostic-green.svg
  packages/quill-cdn/assets/images/icons/xs/tool-evidence-green.svg
  packages/quill-cdn/assets/images/icons/xs/tool-grammar-green.svg
  packages/quill-cdn/assets/images/icons/xs/tool-lessons-green.svg
  packages/quill-cdn/assets/images/icons/xs/tool-proofreader-green.svg
Due: none
