Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

fix not implemented: location
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/container.test.tsx
Due: lms-client-edits

fix warning: react does not recognize the activeclassname prop on a dom element
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/studentNavbar.jsx
Due: lms-client-edits

fix Warning: value prop on input should not be null
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/school_verification_form.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/school_verification_form.tsx
Due: lms-client-edits

fix form field without onChange handler
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/__tests__/__snapshots__/studentNavbar.test.jsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/textArea.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/modelForm.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/verify_school.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/tests/components/salesForm/__snapshots__/lowerFormFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/tests/components/salesForm/__snapshots__/salesForm.test.tsx.snap
Due: lms-client-edits

2 more custom formattings for admin csv cells (#11263)
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

fix failed prop type
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/customDateModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/customDateModal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/date_range_filter.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/recommendationsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/recommendationsTable.test.jsx
Due: lms-client-edits

rename internal instances of unsafe lifecycle methods
  services/QuillLMS/client/app/bundles/Shared/components/draftJSRichButtonsPlugin/BlockButton.tsx
  services/QuillLMS/client/app/bundles/Shared/components/draftJSRichButtonsPlugin/StyleButton.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dropdownInput.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/input.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/smartSpinner.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/textArea.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/textEditor.tsx
Due: lms-client-edits

pass buttonClass (#11271)
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/link_provider_account_modal.tsx
Due: lms-client-edits

Add a page reload after deleting lessons (#11258)
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/admin/show.tsx
Due: lms-client-edits

check in new package lockfiles
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

regressions
  services/QuillLMS/app/assets/stylesheets/shared/index.scss
Due: lms-edits

add evidence scss entrypoint
  services/QuillLMS/client/app/bundles/Evidence/styles/style.scss
  services/QuillLMS/client/app/entrypoints/evidence.scss
Due: lms-client-edits

bug fix for timespent
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

Update rails-autoscale gem
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
Due: cms-edits

bug fix for timespent (#11280)
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

add group by to query
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
  services/QuillLMS/spec/queries/snapshots/untruncated_data_export_query_spec.rb
Due: lms-edits

debug
  services/QuillLMS/app/queries/snapshots/activities_completed_query.rb
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
Due: lms-edits

wip
  services/QuillLMS/spec/queries/snapshots/data_export_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: none

left out join on standards
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
Due: lms-edits

Call .all.to_a on QuillBigQuery::Runner.execute
  services/QuillLMS/app/services/quill_big_query/runner.rb
Due: lms-edits

remove unnecessary change
  services/QuillLMS/app/queries/snapshots/activities_completed_query.rb
Due: lms-edits

cleanup
  services/QuillLMS/app/queries/snapshots/activities_completed_query.rb
  services/QuillLMS/spec/queries/snapshots/data_export_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/untruncated_data_export_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: lms-edits

Revert "Remove a duplicate JOIN since it doesn't do anything"
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
Due: lms-edits

Remove a duplicate JOIN since it doesn't do anything
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
Due: lms-edits

brendan feedback
  services/QuillLMS/spec/queries/snapshots/data_export_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/untruncated_data_export_query_spec.rb
Due: none

Add retriable
  services/QuillLMS/spec/models/concerns/user_cacheable_spec.rb
Due: none

Update rails-autoscale gem (#11282)
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
  services/QuillLMS/spec/models/concerns/user_cacheable_spec.rb
Due: cms-edits

add mem monitoring to cci
  .circleci/config.yml
Due: none

Revert "add mem monitoring to cci"
  .circleci/config.yml
Due: none

upgrade CCI resource class
  .circleci/config.yml
Due: none

fiddling with cci
  .circleci/config.yml
Due: none

add logic for fetching data from all endpoints
  services/QuillLMS/app/workers/admin_diagnostic_reports/diagnostic_overview_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-edits, lms-client-edits

BiqQuery - 3 bug fixes (#11276)
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/spec/queries/snapshots/untruncated_data_export_query_spec.rb
Due: lms-edits

use large cci instance
  .circleci/config.yml
Due: none

force bundle install
  .circleci/config.yml
Due: none

Revert "use large cci instance"
  .circleci/config.yml
Due: none

test commit
  services/QuillLMS/README.md
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
