Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

guard against requests with bad params
  services/QuillLMS/app/controllers/api/v1/questions_controller.rb
  services/QuillLMS/spec/controllers/api/v1/questions_controller_spec.rb
Due: lms-edits

Update rubocop
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Manual rubocop correction
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/app/services/dual_google_id_and_clever_id_resolver.rb
  services/QuillLMS/app/services/google_integration/rest_client.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
Due: lms-edits

Rubocop auto-correct
  services/QuillLMS/.rubocop.yml
  services/QuillLMS/app/models/concerns/lessons_recommendations.rb
  services/QuillLMS/config/initializers/grover.rb
  services/QuillLMS/db/migrate/20231214182438_add_question_count_to_activities.rb
  services/QuillLMS/db/migrate/20240229153806_add_show_students_exact_score_to_teacher_info.rb
  services/QuillLMS/db/migrate/20240603162552_rename_llm_config_to_llm.evidence.rb
  services/QuillLMS/engines/evidence/db/migrate/20240603162245_rename_llm_config_to_llm.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/auto_chain_of_thoughts_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/g_evals_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/trials_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/prompt_response_feedback_spec.rb
  services/QuillLMS/install_rubocop.rb
  services/QuillLMS/lib/tasks/queries.thor
  services/QuillLMS/lib/tasks/quill_big_query.thor
  services/QuillLMS/spec/factories/pdf_subscriptions.rb
  services/QuillLMS/spec/helpers/pdfs/admin_usage_snapshot_report_helper_spec.rb
  services/QuillLMS/spec/models/pdf_subscription_spec.rb
  services/QuillLMS/spec/queries/progress_reports/district_activity_scores_spec.rb
  services/QuillLMS/spec/serializers/profile/student_serializer_spec.rb
  services/QuillLMS/spec/uploaders/csv_uploader_spec.rb
Due: lms-edits

Fix spec failure
  services/QuillLMS/app/services/dual_google_id_and_clever_id_resolver.rb
Due: lms-edits

Update Rubocop (#11909)
  services/QuillLMS/.rubocop.yml
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/app/models/concerns/lessons_recommendations.rb
  services/QuillLMS/app/services/dual_google_id_and_clever_id_resolver.rb
  services/QuillLMS/app/services/google_integration/rest_client.rb
  services/QuillLMS/config/initializers/grover.rb
  services/QuillLMS/db/migrate/20231214182438_add_question_count_to_activities.rb
  services/QuillLMS/db/migrate/20240229153806_add_show_students_exact_score_to_teacher_info.rb
  services/QuillLMS/db/migrate/20240603162552_rename_llm_config_to_llm.evidence.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/db/migrate/20240603162245_rename_llm_config_to_llm.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/auto_chain_of_thoughts_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/g_evals_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/trials_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/prompt_response_feedback_spec.rb
  services/QuillLMS/install_rubocop.rb
  services/QuillLMS/lib/tasks/queries.thor
  services/QuillLMS/lib/tasks/quill_big_query.thor
  services/QuillLMS/spec/factories/pdf_subscriptions.rb
  services/QuillLMS/spec/helpers/pdfs/admin_usage_snapshot_report_helper_spec.rb
  services/QuillLMS/spec/models/pdf_subscription_spec.rb
  services/QuillLMS/spec/queries/progress_reports/district_activity_scores_spec.rb
  services/QuillLMS/spec/serializers/profile/student_serializer_spec.rb
  services/QuillLMS/spec/uploaders/csv_uploader_spec.rb
Due: lms-edits

update dashboard ui
  services/QuillLMS/app/assets/stylesheets/pages/profile.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/activity_feed.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/bulk_archive_classrooms_card.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/diagnostic_mini.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/key_metrics.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/post_checklist.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/teacher_center_highlights.scss
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/activity_feed.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/college_board.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/diagnostic_mini.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/teacher_center_highlights.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/college_board.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/activity_feed.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/bulk_archive_classrooms_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/college_board.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/diagnostic_mini.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/teacher_center_highlights.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/dashboard.tsx
Due: lms-edits, lms-client-edits

add className labels and color focus indicators
  services/QuillLMS/client/app/bundles/Shared/styles/button.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/buttons.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/buttons.tsx
Due: lms-client-edits

revisions
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/key_metrics.scss
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/handy_actions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/activity_feed.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/daily_tiny_tip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/diagnostic_mini.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/handy_actions.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/teacher_center_highlights.tsx
Due: lms-edits, lms-client-edits

tests and border color
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/post_checklist.scss
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/activity_feed.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/daily_tiny_tip.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/diagnostic_mini.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/handy_actions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/teacher_center_highlights.test.jsx.snap
Due: lms-edits, lms-client-edits

add component and first option
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/segmentedControl.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/segmented-control.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/segmentedControls.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
Due: lms-client-edits

add remaining options
  services/QuillLMS/client/app/bundles/Shared/components/shared/segmentedControl.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/segmented-control.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/segmentedControls.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

add xs star icon
  packages/quill-cdn/assets/images/icons/xs/star.svg
Due: none

add tests
  packages/quill-cdn/assets/images/icons/xs/star.svg
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/segmentedControl.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/segmentedControl.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/segmentedControl.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/segmentedControls.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/segmentedControls.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/segmentedControls.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

fix lint
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/segmentedControls.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/segmentedControls.tsx
Due: lms-client-edits

Add overview assembler spec
  services/QuillLMS/spec/services/admin_diagnostic_reports/assemble_overview_report_spec.rb
Due: none

tweak css
  services/QuillLMS/client/app/bundles/Shared/styles/segmented-control.scss
Due: lms-client-edits

Add specs for Skills and Students assemblers
  services/QuillLMS/app/services/admin_diagnostic_reports/assemble_overview_report.rb
  services/QuillLMS/app/services/admin_diagnostic_reports/assemble_skills_report.rb
  services/QuillLMS/spec/services/admin_diagnostic_reports/assemble_skills_report_spec.rb
  services/QuillLMS/spec/services/admin_diagnostic_reports/assemble_students_report_spec.rb
Due: lms-edits

tweak CSS again
  services/QuillLMS/client/app/bundles/Shared/styles/segmented-control.scss
Due: lms-client-edits

add className labels and color focus indicators (#11910)
  services/QuillLMS/client/app/bundles/Shared/styles/button.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/buttons.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/buttons.tsx
Due: lms-client-edits

Backpack/ Segmented Controls (#11911)
  packages/quill-cdn/assets/images/icons/xs/star.svg
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/segmentedControl.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/segmentedControl.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/segmentedControl.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/segmented-control.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/segmentedControls.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/segmentedControls.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/segmentedControls.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

add semibold display fonts
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/typography.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/typography.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/typography.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-edits, lms-client-edits

guard against requests with bad params (#11908)
  services/QuillLMS/app/controllers/api/v1/questions_controller.rb
  services/QuillLMS/spec/controllers/api/v1/questions_controller_spec.rb
Due: lms-edits

add clear input updates
  services/QuillLMS/client/app/bundles/Shared/components/shared/input.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/textFields.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

add clear enabled icon
  packages/quill-cdn/assets/images/icons/xs/clear-enabled-black.svg
Due: none

add correct icon
  services/QuillLMS/client/app/bundles/Shared/components/shared/input.tsx
Due: lms-client-edits

Add specs for payload construction services
  services/QuillLMS/app/services/admin_diagnostic_reports/construct_overview_query_payload.rb
  services/QuillLMS/app/services/admin_diagnostic_reports/construct_query_payload.rb
  services/QuillLMS/spec/factories/admin_report_filter_selections.rb
  services/QuillLMS/spec/services/admin_diagnostic_reports/construct_overview_query_payload_spec.rb
  services/QuillLMS/spec/services/admin_diagnostic_reports/construct_query_payload_spec.rb
  services/QuillLMS/spec/services/admin_diagnostic_reports/construct_skills_query_payload_spec.rb
  services/QuillLMS/spec/services/admin_diagnostic_reports/construct_students_query_payload_spec.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/app/services/admin_diagnostic_reports/assemble_overview_report.rb
  services/QuillLMS/app/services/admin_diagnostic_reports/assemble_skills_report.rb
  services/QuillLMS/app/services/admin_diagnostic_reports/assemble_students_report.rb
  services/QuillLMS/app/services/admin_diagnostic_reports/construct_query_payload.rb
  services/QuillLMS/app/services/formatter.rb
  services/QuillLMS/spec/services/admin_diagnostic_reports/assemble_overview_report_spec.rb
  services/QuillLMS/spec/services/formatter_spec.rb
Due: lms-edits

More linting fixes
  services/QuillLMS/app/services/formatter.rb
  services/QuillLMS/spec/services/formatter_spec.rb
Due: lms-edits

Allow ENV-based email recipient overrides for testing in staging
  services/QuillLMS/app/mailers/admin_diagnostic_reports/report_mailer.rb
Due: lms-edits

Update controller spec for new workflow
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
Due: none

Update snapshot
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/diagnosticGrowthReports.test.tsx.snap
Due: lms-client-edits

Update Send spec for new workflow
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_csv_email_worker_spec.rb
Due: none

Fix trailing white space
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_csv_email_worker_spec.rb
Due: none

rename UserRequest -> Request
  services/QuillLMS/app/services/learn_worlds_integration/sso_request.rb
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/app/services/learn_worlds_integration/user_tags_request.rb
  services/QuillLMS/app/workers/learn_worlds_integration/sync_orchestrator_worker.rb
  services/QuillLMS/request.rb
Due: lms-edits

wip
  services/QuillLMS/app/services/learn_worlds_integration/request.rb
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/app/services/learn_worlds_integration/sync_orchestrator.rb
  services/QuillLMS/app/workers/learn_worlds_integration/suspend_user_worker.rb
  services/QuillLMS/app/workers/learn_worlds_integration/unsuspend_user_worker.rb
  services/QuillLMS/spec/services/learn_worlds_integration/sync_orchestrator_spec.rb
  services/QuillLMS/spec/workers/learn_worlds_integration/sync_orchestrator_worker_spec.rb
Due: lms-edits

specs for suspended users request
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/spec/services/learn_worlds_integration/suspended_users_request_spec.rb
Due: lms-edits

specs and refactoring
  services/QuillLMS/app/services/learn_worlds_integration/sync_orchestrator.rb
  services/QuillLMS/spec/services/learn_worlds_integration/sync_orchestrator_spec.rb
Due: lms-edits

remove old spec file
  services/QuillLMS/spec/workers/learn_worlds_integration/sync_orchestrator_worker_spec.rb
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
