Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Speed optimizations/ convert shared SubNavbar to partial (#10267)
  services/QuillLMS/app/views/pages/shared/_explore_curriculum_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_our_story_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_student_center_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_sub_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_teacher_center_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_tools_anchor_navbar.html.erb
  services/QuillLMS/client/app/bundles/Public/startup/SubNavbarAppClient.tsx
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/subNavbar.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/clientRegistration.jsx
  services/QuillLMS/client/app/bundles/Teacher/startup/subNavbarAppClient.tsx
  services/QuillLMS/client/app/bundles/Tools/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Tools/startup/subNavbarAppClient.tsx
Due: lms-edits, lms-client-edits

Speed optimizations/ add defer_js to public routes (#10265)
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/pages/shared/_explore_curriculum_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_our_story_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_student_center_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_sub_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_teacher_center_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_tools_anchor_navbar.html.erb
  services/QuillLMS/client/app/bundles/Public/startup/SubNavbarAppClient.tsx
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/subNavbar.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/clientRegistration.jsx
  services/QuillLMS/client/app/bundles/Teacher/startup/subNavbarAppClient.tsx
  services/QuillLMS/client/app/bundles/Tools/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Tools/startup/subNavbarAppClient.tsx
Due: lms-edits, lms-client-edits

replace todo
  services/QuillLMS/app/services/complete_account_creation.rb
Due: lms-edits

Change the redirect path after creating subscriptions
  services/QuillLMS/client/app/bundles/Teacher/containers/EditOrCreateSubscription.jsx
Due: lms-client-edits

remove react component to rails view
  services/QuillLMS/app/helpers/tools_helper.rb
  services/QuillLMS/app/views/evidence/_home_section.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/home_new.html.erb
Due: lms-edits

reconfigure bundles
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Public/startup/questionsAndAnswersAppClient.jsx
  services/QuillLMS/client/app/bundles/Tools/startup/clientRegistration.js
Due: lms-edits, lms-client-edits

update client registration
  services/QuillLMS/client/app/bundles/Tools/startup/clientRegistration.js
Due: lms-client-edits

fix beta 1 beta 2 logic
  services/QuillLMS/app/controllers/activities_controller.rb
Due: lms-edits

purely frontend changes
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/sign_up_teacher.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_email.tsx
Due: lms-client-edits

get email verification working all the way through
  services/QuillLMS/app/controllers/profiles_controller.rb
  services/QuillLMS/app/controllers/verify_emails_controller.rb
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/models/user_email_verification.rb
  services/QuillLMS/app/services/complete_account_creation.rb
  services/QuillLMS/app/views/user_mailer/email_verification_email.html.erb
  services/QuillLMS/config/routes.rb
Due: lms-edits

tests
  services/QuillLMS/app/controllers/auth/clever_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/new_account_stage1.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_sub_role.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_user_type.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/verify_email.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/verify_school.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/select_sub_role.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/verify_email.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/verify_school.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_us_k12.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_user_type.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_school.tsx
  services/QuillLMS/spec/controllers/admin_infos_controller_spec.rb
  services/QuillLMS/spec/controllers/schools_users_controller.rb
Due: lms-edits, lms-client-edits

remove extra whitespace
  services/QuillLMS/spec/controllers/admin_infos_controller_spec.rb
Due: none

fix lint errors
  services/QuillLMS/app/controllers/verify_emails_controller.rb
  services/QuillLMS/app/models/user_email_verification.rb
  services/QuillLMS/app/services/complete_account_creation.rb
Due: lms-edits

tests
  services/QuillLMS/app/services/complete_account_creation.rb
  services/QuillLMS/spec/controllers/profiles_controller_spec.rb
  services/QuillLMS/spec/controllers/verify_emails_controller_spec.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/models/user_email_verification_spec.rb
  services/QuillLMS/spec/services/complete_account_creation_spec.rb
Due: lms-edits

rubocop fix
  services/QuillLMS/spec/models/user_email_verification_spec.rb
Due: none

fix test
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
Due: none

Refactor run method of seed data.
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
Due: lms-edits

Add Basic options for use_passage.
  services/QuillLMS/engines/evidence/app/workers/evidence/activity_seed_data_worker.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/activity_seed_data_worker_spec.rb
Due: lms-edits

Add some tests.
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/activity_seed_data_worker_spec.rb
Due: lms-edits

Add more tests.
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
Due: lms-edits

update spec
  services/QuillLMS/spec/models/user_email_verification_spec.rb
Due: none

Add some casting and some more tests.
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits

Add React frontend.
  services/QuillLMS/client/app/bundles/Staff/components/evidence/syntheticData/seedDataForm.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/seed_data.scss
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/activityAPIs.ts
Due: lms-client-edits

Remove default value (lint)
  services/QuillLMS/engines/evidence/app/workers/evidence/activity_seed_data_worker.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/activity_seed_data_worker_spec.rb
  services/QuillLMS/spec/models/user_activity_classification_spec.rb
Due: lms-edits

add some specs
  services/QuillLMS/app/controllers/activities_controller.rb
  services/QuillLMS/app/models/topic.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
  services/QuillLMS/spec/models/topic_spec.rb
Due: lms-edits, lms-client-edits

fix tests
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/assign_a_new_activity.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
  services/QuillLMS/spec/models/activity_spec.rb
Due: lms-client-edits

linting
  services/QuillLMS/spec/models/activity_spec.rb
Due: none

get email verification working all the way through (#10272)
  services/QuillLMS/app/controllers/profiles_controller.rb
  services/QuillLMS/app/controllers/verify_emails_controller.rb
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/models/user_email_verification.rb
  services/QuillLMS/app/services/complete_account_creation.rb
  services/QuillLMS/app/views/user_mailer/email_verification_email.html.erb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/profiles_controller_spec.rb
  services/QuillLMS/spec/controllers/verify_emails_controller_spec.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/models/user_email_verification_spec.rb
  services/QuillLMS/spec/services/complete_account_creation_spec.rb
Due: lms-edits

Add check for nil pack_sequence_item
  services/QuillLMS/app/workers/save_user_pack_sequence_item_worker.rb
  services/QuillLMS/spec/workers/save_user_pack_sequence_item_worker_spec.rb
Due: lms-edits

add lazyload script
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/application/_lazyload.html.erb
  services/QuillLMS/app/views/evidence/_first_topic.html.erb
  services/QuillLMS/app/views/evidence/_home_section.html.erb
  services/QuillLMS/app/views/evidence/_second_topic.html.erb
  services/QuillLMS/app/views/evidence/_third_topic.html.erb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
  services/QuillLMS/app/views/pages/about.html.erb
  services/QuillLMS/app/views/pages/administrator.html.erb
  services/QuillLMS/app/views/pages/careers.html.erb
  services/QuillLMS/app/views/pages/connect_tool.erb
  services/QuillLMS/app/views/pages/diagnostic_tool.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/grammar_tool.erb
  services/QuillLMS/app/views/pages/home_new.html.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
  services/QuillLMS/app/views/pages/proofreader_tool.erb
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
  services/QuillLMS/app/views/pages/tool_template.erb
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

Add check for nil pack_sequence_item (#10275)
  services/QuillLMS/app/workers/save_user_pack_sequence_item_worker.rb
  services/QuillLMS/spec/workers/save_user_pack_sequence_item_worker_spec.rb
Due: lms-edits

update bundle imports
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/pages/ap.html.erb
  services/QuillLMS/app/views/pages/preap.html.erb
  services/QuillLMS/app/views/pages/springboard.html.erb
  services/QuillLMS/client/app/bundles/Public/startup/PremiumPricingGuideAppClient.jsx
  services/QuillLMS/client/app/bundles/Public/startup/apApp.tsx
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Public/startup/preApApp.tsx
  services/QuillLMS/client/app/bundles/Public/startup/premiumPricingGuideApp.tsx
  services/QuillLMS/client/app/bundles/Public/startup/questionsAndAnswersApp.tsx
  services/QuillLMS/client/app/bundles/Public/startup/springBoardApp.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/clientRegistration.jsx
Due: lms-edits, lms-client-edits

handle email verification in user manager
  services/QuillLMS/app/controllers/cms/users_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/models/user_email_verification.rb
  services/QuillLMS/app/views/cms/users/_form.html.erb
  services/QuillLMS/app/views/cms/users/show.html.erb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

fix rubocop errors
  services/QuillLMS/app/models/user.rb
Due: lms-edits

remove tool bundle
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/helpers/tools_helper.rb
  services/QuillLMS/app/views/pages/connect_tool.erb
  services/QuillLMS/app/views/pages/diagnostic_tool.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/grammar_tool.erb
  services/QuillLMS/app/views/pages/proofreader_tool.erb
  services/QuillLMS/client/app/bundles/Tools/components/evidenceHomeSection.tsx
  services/QuillLMS/client/app/bundles/Tools/components/evidenceTool.tsx
  services/QuillLMS/client/app/bundles/Tools/components/evidenceWidget.tsx
  services/QuillLMS/client/app/bundles/Tools/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Tools/startup/evidenceHomeSectionAppClient.jsx
  services/QuillLMS/client/app/bundles/Tools/startup/evidenceToolAppClient.jsx
  services/QuillLMS/client/app/bundles/Tools/tests/component/__snapshots__/evidenceHomeHeader.test.tsx.snap
  services/QuillLMS/client/app/bundles/Tools/tests/component/__snapshots__/evidenceTool.test.tsx.snap
  services/QuillLMS/client/app/bundles/Tools/tests/component/__snapshots__/evidenceWidget.test.tsx.snap
  services/QuillLMS/client/app/bundles/Tools/tests/component/evidenceHomeHeader.test.tsx
  services/QuillLMS/client/app/bundles/Tools/tests/component/evidenceTool.test.tsx
  services/QuillLMS/client/app/bundles/Tools/tests/component/evidenceWidget.test.tsx
  services/QuillLMS/client/webpack.client.base.config.js
  services/QuillLMS/client/webpack.client.dev.base.config.js
Due: lms-edits, lms-client-edits

add more optimized public images
  packages/quill-cdn/assets/images/evidence/home_page/EvidenceLandingPage_BackgroundPattern1.webp
  packages/quill-cdn/assets/images/evidence/home_page/EvidenceLandingPage_BackgroundPattern2.webp
  packages/quill-cdn/assets/images/evidence/home_page/EvidenceLandingPage_BackgroundPattern3.webp
  packages/quill-cdn/assets/images/evidence/home_page/EvidenceLandingPage_BackgroundPattern4.webp
  packages/quill-cdn/assets/videos/tools/evidence_animation.gif
  packages/quill-cdn/assets/videos/tools/evidence_animation.mp4
Due: none

add Evidence widget animation
  packages/quill-cdn/assets/images/evidence/home_page/EvidenceLandingPage_BackgroundPattern1.webp
  packages/quill-cdn/assets/images/evidence/home_page/EvidenceLandingPage_BackgroundPattern2.webp
  packages/quill-cdn/assets/images/evidence/home_page/EvidenceLandingPage_BackgroundPattern3.webp
  packages/quill-cdn/assets/images/evidence/home_page/EvidenceLandingPage_BackgroundPattern4.webp
  packages/quill-cdn/assets/videos/tools/evidence_animation.gif
  packages/quill-cdn/assets/videos/tools/evidence_animation.mp4
  services/QuillLMS/app/views/evidence/_home_section.html.erb
  services/QuillLMS/app/views/pages/connect_tool.erb
  services/QuillLMS/app/views/pages/diagnostic_tool.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/grammar_tool.erb
  services/QuillLMS/app/views/pages/proofreader_tool.erb
  services/QuillLMS/client/app/assets/styles/evidence-tool.scss
  services/QuillLMS/client/app/assets/styles/home.scss
Due: lms-edits, lms-client-edits

Fix bug with admin role on clever import
  services/QuillLMS/app/services/clever_integration/creators/teacher.rb
  services/QuillLMS/spec/services/clever_integration/creators/teacher_spec.rb
Due: lms-edits

Constantine logic strings.
  services/QuillLMS/client/app/bundles/Staff/components/evidence/syntheticData/seedDataForm.tsx
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
