Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

fix debug lines
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/admin/show.tsx
Due: lms-client-edits

refresh individual rule
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesRouter.tsx
Due: lms-client-edits

comments changes
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits

fix jest test
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/canvas_modal.test.jsx.snap
Due: lms-client-edits

canvas integration teacher and admin states (#11229)
  packages/quill-cdn/assets/images/icons/canvas.svg
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/assets/stylesheets/shared/canvas_modal.scss
  services/QuillLMS/app/controllers/teachers_controller.rb
  services/QuillLMS/app/serializers/user_with_provider_serializer.rb
  services/QuillLMS/app/views/teachers/admin.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/container.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/__snapshots__/assign_students.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/canvas_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/canvas_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/canvas_modal.tsx
  services/QuillLMS/spec/serializers/user_with_provider_serializer_spec.rb
Due: lms-edits, lms-client-edits

run node build before rails build
  .circleci/config.yml
Due: none

try installing execjs explicitly
  services/QuillLMS/Gemfile
Due: lms-edits

install node as part of rails run
  .circleci/config.yml
Due: none

Lms/admin diagnostic reports overview (#11227)
  services/QuillLMS/app/controllers/admin_diagnostic_reports_controller.rb
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/cache_keys.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_recommendations_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/diagnostic_overview_worker.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/lib/snapshots/cache_keys_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_aggregate_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_recommendations_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_completed_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_completed_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/support/shared_contexts/admin_diagnostic_reports/diagnostic_aggregate_query_cte.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/diagnostic_overview_worker_spec.rb
Due: lms-edits

Update filter options to list teachers with no classrooms
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Add a spec for cases where a user is owner and a coteacher
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: none

update naming convention '
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/postNavigationbanner.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/postNavigationBanner.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/postNavigationBanners.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

update snapshot
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/postNavigationbanner.test.tsx.snap
Due: lms-client-edits

Remove commented out code
  services/QuillLMS/app/views/layouts/pdf.html.erb
Due: lms-edits

Save PDFs to S3 (#11241)
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/services/pdf_file_builder.rb
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
  services/QuillLMS/app/uploaders/admin_snapshot_report_pdf_uploader.rb
  services/QuillLMS/app/uploaders/application_uploader.rb
  services/QuillLMS/app/uploaders/csv_uploader.rb
  services/QuillLMS/app/uploaders/file_uploader.rb
  services/QuillLMS/app/uploaders/staff_csv_uploader.rb
  services/QuillLMS/app/views/layouts/pdf.html.erb
  services/QuillLMS/app/views/pdf.html.erb
  services/QuillLMS/config/initializers/fog.rb
  services/QuillLMS/config/initializers/wicked_pdf.rb
  services/QuillLMS/spec/services/pdf_file_builder_spec.rb
  services/QuillLMS/spec/uploaders/admin_snapshot_report_pdf_uploader_spec.rb
Due: lms-edits

Restrict PeriodQueries to only include owner teachers (#11255)
  services/QuillLMS/app/queries/snapshots/active_teachers_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/teacher_accounts_created_query.rb
  services/QuillLMS/spec/queries/snapshots/active_teachers_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/period_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/teacher_accounts_created_query_spec.rb
Due: lms-edits

Lms/exclude coteachers from admin filters (#11256)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

more csv cell formatting
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

formatting
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

Add additional param to function call now that it's changed
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
  services/QuillLMS/spec/workers/cache_admin_snapshots_worker_spec.rb
Due: lms-edits

fix tests
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/scorebook_tooltip.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-client-edits

update snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
Due: lms-client-edits

try tweaking test again
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/scorebook_tooltip.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details_section.tsx
Due: lms-client-edits

Activity Summary tooltip updates (#11226)
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/advert.scss
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/main.scss
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/scorebook-tooltip.scss
  services/QuillLMS/app/controllers/grades_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/activity_icon_with_tooltip.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/about_premium.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/activity_details.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/activity_details_section.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/key_target_skill_concept.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/key_target_skill_concepts.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/key_target_skill_concepts.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/about_premium.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/activity_details.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/activity_details.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/activity_details_section.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/key_target_skill_concept.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/key_target_skill_concepts.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/key_target_skill_concepts.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/scorebook_tooltip.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/about_premium.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details_section.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concept.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concepts.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concepts.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/componentGenerators/tooltip_title/scorebook_tooltip_title.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/componentGenerators/tooltip_title/student_profile_tooltip_title_generator.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/componentGenerators/tooltip_title/tooltip_title_generator_generator.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/loading_dots.jsx
  services/QuillLMS/spec/controllers/grades_controller_spec.rb
Due: lms-edits, lms-client-edits

add job posting
  services/QuillLMS/config/careers.yml
Due: lms-edits

Add additional param to function call now that it's changed (#11264)
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
  services/QuillLMS/spec/workers/cache_admin_snapshots_worker_spec.rb
Due: lms-edits

wip
  services/QuillLMS/spec/queries/snapshots/data_export_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: none

add job posting (#11267)
  services/QuillLMS/config/careers.yml
Due: lms-edits

add group by to query
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
  services/QuillLMS/spec/queries/snapshots/untruncated_data_export_query_spec.rb
Due: lms-edits

debug
  services/QuillLMS/app/queries/snapshots/activities_completed_query.rb
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
Due: lms-edits

Create three Default Regex Rules after Evidence Activity creation (#11251)
  services/QuillLMS/.rubocop.yml
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesRouter.tsx
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits, lms-client-edits

all changes and tests
  services/QuillLMS/app/assets/stylesheets/pages/rosters.scss
  services/QuillLMS/app/controllers/cms/rosters_controller.rb
  services/QuillLMS/client/app/bundles/Staff/components/UploadRosters.tsx
  services/QuillLMS/spec/controllers/cms/rosters_controller_spec.rb
Due: lms-edits, lms-client-edits

Extra changes removed
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/admin/show.tsx
  services/QuillLMS/client/app/bundles/Staff/components/locker/organizeLocker.tsx
Due: lms-client-edits

pass buttonClass
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/link_provider_account_modal.tsx
Due: lms-client-edits

use correct class name for select search css
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
Due: lms-client-edits

fix final children-with-the-same-key errors
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/dataTable.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/diagnostic_activity_packs.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostic_activity_packs.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/student_profile_units.test.jsx
Due: lms-client-edits

Quill Component System/ Site Banners (#11250)
  packages/quill-cdn/assets/images/banners/district-premium-large.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-blue.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-gold.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-green.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-grey.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-maroon.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-purple.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-red.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-teal.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-violet.svg
  packages/quill-cdn/assets/images/banners/large-school-campus-viridian.svg
  packages/quill-cdn/assets/images/banners/premium-large.svg
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/postNavigationbanner.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/postNavigationbanner.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/postNavigationBanner.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/postNavigationBanners.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

fix final unique key errors
  services/QuillLMS/client/app/bundles/Connect/components/admin/__tests__/__snapshots__/admin.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lessons.test.jsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/__tests__/__snapshots__/playFillInTheBlankQuestion.test.tsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/focusPoints/focusPointsContainer.jsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/directionsSection.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/directionsSectionAndModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/readAndHighlightInstructions.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/dataExportTableAndFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
  services/QuillLMS/client/app/bundles/Shared/components/fillInBlank/prompt.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/flagDropdown.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/custom_activity_pack/__tests__/__snapshots__/activity_row.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/custom_activity_pack/__tests__/__snapshots__/activity_table_container.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/custom_activity_pack/__tests__/__snapshots__/index.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/custom_activity_pack/__tests__/__snapshots__/pagination.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/custom_activity_pack/activity_row.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/custom_activity_pack/pagination.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_profile/unit_template_profile.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/pre_ap.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/pre_ap.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/__snapshots__/student_report.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/__snapshots__/student_report_box.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/class_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/unitTemplate/__tests__/__snapshots__/unitTemplateSelectedActivitiesTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/unitTemplate/unitTemplateSelectedActivitiesTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
Due: lms-client-edits

left out join on standards
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
