Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Add specific hourly cron jobs config and specs
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/spec/models/cron_spec.rb
Due: lms-edits

Fix linting
  services/QuillLMS/app/mailers/admin_diagnostic_reports/benchmark_mailer.rb
Due: lms-edits

Fix more linting
  services/QuillLMS/app/workers/admin_diagnostic_reports/performance_benchmark_worker.rb
  services/QuillLMS/spec/mailers/admin_diagnostic_reports/benchmark_mailer_spec.rb
Due: lms-edits

Add the Vite before to avoid CI errors
  services/QuillLMS/spec/mailers/admin_diagnostic_reports/benchmark_mailer_spec.rb
Due: none

Use Slack email for reporting
  services/QuillLMS/app/mailers/admin_diagnostic_reports/benchmark_mailer.rb
Due: lms-edits

Use ENV variable for email recipient config rather than hard-coding
  services/QuillLMS/app/mailers/admin_diagnostic_reports/benchmark_mailer.rb
Due: lms-edits

Update spec to stub ENV const
  services/QuillLMS/spec/mailers/admin_diagnostic_reports/benchmark_mailer_spec.rb
Due: none

Use CSV for data importing
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/example_feedback.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/data_importer.rb
Due: lms-edits

Rename test_data to testing_data
  services/QuillLMS/db/migrate/20240425125302_add_data_partition_to_example_feedbacks.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/passage_prompts_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/example_feedback.rb
  services/QuillLMS/engines/evidence/db/migrate/20240425125151_add_data_partition_to_example_feedbacks.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

Lms/email admin diagnostic performance report (#11814)
  services/QuillLMS/app/mailers/admin_diagnostic_reports/benchmark_mailer.rb
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/views/admin_diagnostic_reports/benchmark_mailer/benchmark_report.html.erb
  services/QuillLMS/app/workers/admin_diagnostic_reports/performance_benchmark_worker.rb
  services/QuillLMS/spec/mailers/admin_diagnostic_reports/benchmark_mailer_spec.rb
  services/QuillLMS/spec/models/cron_spec.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/performance_benchmark_worker_spec.rb
Due: lms-edits

move socket.io-redis out of devDependencies
  services/QuillLessonsServer/package-lock.json
  services/QuillLessonsServer/package.json
Due: none

script is working much faster now
  scripts/rails_console/deduplicate_question_uids.rb
Due: none

use bangs for save
  scripts/rails_console/deduplicate_question_uids.rb
Due: none

fix fill in blank expansion (#11807)
  services/QuillLMS/client/app/bundles/Shared/libs/fillInBlankInputWidth.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/tests/fillInBlankInputWidth.test.tsx
Due: lms-client-edits

jests passing
  services/QuillLessonsServer/test/config/rethinkdb.test.js
Due: none

add CCI config for QLS
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

move socket.io-redis out of devDependencies (#11816)
  services/QuillLessonsServer/package-lock.json
  services/QuillLessonsServer/package.json
Due: none

wip - tests
  services/QuillLessonsServer/test/handlers/authorization.test.js
Due: none

Remove refresh on view
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/show.html.erb
Due: lms-edits

Allow data_partition to be null
  services/QuillLMS/db/migrate/20240425125302_add_data_partition_to_example_feedbacks.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/example_feedback.rb
  services/QuillLMS/engines/evidence/db/migrate/20240425125151_add_data_partition_to_example_feedbacks.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/example_feedbacks.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/example_feedback_spec.rb
Due: lms-edits

Add data_partition to example feedback (#11805)
  services/QuillLMS/db/migrate/20240425125302_add_data_partition_to_example_feedbacks.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/assets/stylesheets/evidence/research/gen_ai/application.css
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/passage_prompts_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/passages_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/example_feedback.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/automl_data_importer.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/data_importer.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/passage_prompts/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/passage_prompts/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/passages/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/passages/show.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240425125151_add_data_partition_to_example_feedbacks.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/example_feedbacks.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/example_feedback_spec.rb
Due: lms-edits

Fix vitally unlink worker (#11804)
  services/QuillLMS/app/workers/sync_vitally_worker.rb
  services/QuillLMS/config/initializers/rails_admin.rb
  services/QuillLMS/spec/workers/sync_vitally_worker_spec.rb
Due: lms-edits

Update openai api interface
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_config.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/experiment_spec.rb
Due: lms-edits

authorization specs passing
  services/QuillLessonsServer/test/handlers/authorization.test.js
Due: none

tweak CCI directive
  .circleci/continue_config.yml
Due: none

cci updates
  .circleci/continue_config.yml
Due: none

Break off sentence completion from completion
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_config.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/sentence_completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/synthetic/generators/paraphrase.rb
  services/QuillLMS/engines/evidence/lib/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_configs.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/sentence_completion_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/paraphrase_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
Due: lms-edits

update quill-cdn package.json, update vite by minor version in LMS
  packages/quill-cdn/package-lock.json
  packages/quill-cdn/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: none

add concept name
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concept-feedback.jsx
Due: lms-client-edits

delete syntax error fixed
  services/QuillLMS/client/app/bundles/Grammar/components/questions/response.tsx
Due: lms-client-edits

update snapshot tests
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/__tests__/__snapshots__/lessonForm.test.jsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/activityForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/imageSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/maxAttemptsEditor.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/ruleGenericAttributes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/rulePlagiarismAttributes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/ruleRegexAttributes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/ruleUniversalAttributes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/rulePlagiarismAttributes.tsx
Due: lms-client-edits

diagnostic test
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/__tests__/lessonForm.test.jsx
Due: lms-client-edits

QLS - get jests running; add CI (#11823)
  .circleci/config.yml
  .circleci/continue_config.yml
  services/QuillLessonsServer/test/config/rethinkdb.test.js
  services/QuillLessonsServer/test/handlers/authorization.test.js
Due: none

run npm update --save
  services/QuillLessonsServer/package-lock.json
  services/QuillLessonsServer/package.json
Due: none

Integrate OpenAI completion with Experiments (#11817)
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_config.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/sentence_completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/synthetic/generators/paraphrase.rb
  services/QuillLMS/engines/evidence/lib/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_configs.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/sentence_completion_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/paraphrase_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/experiment_spec.rb
Due: lms-edits

Add raw_text to LLMFeedback
  services/QuillLMS/db/migrate/20240513162849_add_raw_text_to_llm_feedback.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_feedback.rb
  services/QuillLMS/engines/evidence/db/migrate/20240513162557_add_raw_text_to_llm_feedback.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_feedbacks.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_feedback_spec.rb
Due: lms-edits

Add json examples into prompt and update resolver to use json
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/example_feedback.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/resolver.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_feedbacks.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/experiment_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/resolver_spec.rb
Due: lms-edits

update quill-cdn package.json, update vite by minor version in LMS (#11824)
  packages/quill-cdn/package-lock.json
  packages/quill-cdn/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: none
