Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

remove postinstall script
  services/QuillLMS/package.json
Due: none

updates to the student dashboard for visuals and to link to results page
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
  services/QuillLMS/app/models/unit_activity.rb
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
Due: lms-edits, lms-client-edits

fix test
  services/QuillLMS/spec/controllers/activity_sessions_controller_spec.rb
Due: none

tweak classrooms filter logic
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
Due: lms-client-edits

Static asset cleanup (#11742)
  services/QuillLMS/app/assets/stylesheets/sign_up_email.css
  services/QuillLMS/app/views/accounts/edit.html.erb
  services/QuillLMS/app/views/accounts/new.html.erb
  services/QuillLMS/app/views/layouts/progress_reports.html.erb
  services/QuillLMS/app/views/password_reset/index.html.erb
  services/QuillLMS/app/views/password_reset/show.html.erb
  services/QuillLMS/app/views/sessions/new.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
  services/QuillLMS/app/views/user_mailer/daily_stats_email.html.erb
  services/QuillLMS/app/views/user_mailer/ell_starter_diagnostic_info_email.html.erb
  services/QuillLMS/client/app/entrypoints/snippets/cookie_warning.js
  services/QuillLMS/client/app/entrypoints/snippets/rollup_email.scss
  services/QuillLMS/client/app/entrypoints/snippets/stats_email.scss
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/config/environments/cypress.rb
  services/QuillLMS/config/environments/development.rb
  services/QuillLMS/config/environments/production.rb
  services/QuillLMS/config/environments/staging.rb
  services/QuillLMS/config/initializers/assets.rb
  services/QuillLMS/package-lock.json
  services/QuillLMS/spec/mailers/internal_tool_user_mailer_spec.rb
  services/QuillLMS/spec/mailers/premium_hub_user_mailer_spec.rb
  services/QuillLMS/spec/mailers/teacher_notifications/rollup_mailer_spec.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/views/user_mailer/daily_stats_email.html.erb_spec.rb
  services/QuillLMS/spec/views/user_mailer/ell_starter_diagnostic_info_email.html.erb_spec.rb
Due: lms-edits, lms-client-edits

rewrite package locks with new npm 8 syntax
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

Add Customer Support Specialist to careers page
  services/QuillLMS/config/careers.yml
Due: lms-edits

add the attempt icons
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
Due: lms-edits, lms-client-edits

update package locks for npm 8 syntax
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

changes for connect
  services/QuillLMS/client/app/bundles/Connect/actions/questions.ts
  services/QuillLMS/client/app/bundles/Connect/components/incorrectSequence/incorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/incorrectSequence/newIncorrectSequenceContainer.jsx
Due: lms-client-edits

remove ununsed method
  services/QuillLMS/client/app/bundles/Connect/components/incorrectSequence/incorrectSequenceContainer.jsx
Due: lms-client-edits

diagnostic changes
  services/QuillLMS/client/app/bundles/Diagnostic/actions/questions.ts
  services/QuillLMS/client/app/bundles/Diagnostic/components/incorrectSequence/incorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/incorrectSequence/newIncorrectSequenceContainer.jsx
Due: lms-client-edits

add dropdown for activity session selection (#11775)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/reports_header.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_activity_report.scss
  services/QuillLMS/app/controllers/activity_sessions_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/app/views/activity_sessions/student_activity_report.html.erb
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
  services/QuillLMS/client/app/bundles/Student/startup/StudentActivityReportAppClient.tsx
  services/QuillLMS/client/app/bundles/Student/startup/__tests__/StudentActivityReportAppClient.test.tsx
  services/QuillLMS/client/app/bundles/Student/startup/__tests__/__snapshots__/StudentActivityReportAppClient.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/__snapshots__/student_report.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/student_report.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/index.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/nav_bar.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
  services/QuillLMS/client/app/interfaces/student.ts
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/activity_sessions_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits, lms-client-edits

remove console loggin
  services/QuillLMS/client/app/bundles/Diagnostic/components/incorrectSequence/incorrectSequenceContainer.jsx
Due: lms-client-edits

update tooltip and make responsive
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/main.scss
  services/QuillLMS/app/controllers/profiles_controller.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
Due: lms-edits, lms-client-edits

run npm install with --legacy-peer-deps
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

check in npmrc file
  services/QuillLMS/.npmrc
Due: none

add backwards compatability flag to cci
  .circleci/continue_config.yml
Due: none

save filter selections for diagnostic growth report dropdown menus
  services/QuillLMS/app/controllers/admin_report_filter_selections_controller.rb
  services/QuillLMS/app/models/admin_report_filter_selection.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-edits, lms-client-edits

update tests
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/diagnosticGrowthReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/overviewSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/skillSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/studentSection.test.tsx
Due: lms-client-edits

orderdids
  services/QuillLMS/client/app/bundles/Connect/components/incorrectSequence/incorrectSequenceContainer.jsx
Due: lms-client-edits

Update Connect and Diagnostic incorrect sequence panels to new format (#11785)
  services/QuillLMS/client/app/bundles/Connect/actions/questions.ts
  services/QuillLMS/client/app/bundles/Connect/components/incorrectSequence/incorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/incorrectSequence/newIncorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/actions/questions.ts
  services/QuillLMS/client/app/bundles/Diagnostic/components/incorrectSequence/incorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/incorrectSequence/newIncorrectSequenceContainer.jsx
Due: lms-client-edits

brendan changes
  services/QuillLMS/app/models/concept.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/spec/controllers/api/v1/concept_feedback_controller_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
Due: lms-edits

add 24 hour expiry
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/app/controllers/api/v1/concepts_controller.rb
Due: lms-edits

change to redis
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/app/controllers/api/v1/concepts_controller.rb
  services/QuillLMS/app/models/concept.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/spec/controllers/api/v1/concept_feedback_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/concepts_controller_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/concept_spec.rb
Due: lms-edits

Start caching Concepts endpoint again (#11777)
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/app/controllers/api/v1/concepts_controller.rb
  services/QuillLMS/app/models/concept.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/spec/controllers/api/v1/concept_feedback_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/concepts_controller_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/concept_spec.rb
Due: lms-edits

Add Customer Support Specialist to careers page (#11782)
  services/QuillLMS/config/careers.yml
Due: lms-edits

update snaps
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_unit.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_units.test.jsx.snap
Due: lms-client-edits

update rspec tests
  services/QuillLMS/spec/controllers/profiles_controller_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

anotha one
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_unit.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_units.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
Due: lms-edits, lms-client-edits

scope query to finished sessions and rename
  services/QuillLMS/app/controllers/activity_sessions_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/activity_sessions_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits, lms-client-edits

scope query to finished sessions and rename (#11792)
  services/QuillLMS/app/controllers/activity_sessions_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/activity_sessions_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits, lms-client-edits

fix weird spacing
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
Due: lms-edits

add test, tweak tab change logic
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/spec/controllers/admin_report_filter_selections_controller_spec.rb
Due: lms-client-edits

small test change
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/spec/controllers/admin_report_filter_selections_controller_spec.rb
Due: lms-client-edits

fix test
  services/QuillLMS/spec/controllers/admin_report_filter_selections_controller_spec.rb
Due: none

update package locks for npm 8 syntax (#11783)
  .circleci/continue_config.yml
  services/QuillLMS/.npmrc
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

update package locks for npm 8 syntax
  package-lock.json
  package.json
  packages/quill-cdn/package-lock.json
  packages/quill-cdn/package.json
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLessonsServer/package-lock.json
  services/QuillLessonsServer/package.json
Due: lms-client-edits
