Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Lms/admin snapshots filters teachers without classrooms (#10988)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: lms-edits, lms-client-edits

Update classroom_unit.rb
  services/QuillLMS/app/models/classroom_unit.rb
Due: lms-edits

Update district_client.rb
  services/QuillLMS/app/services/clever_integration/district_client.rb
Due: lms-edits

Update library_client.rb
  services/QuillLMS/app/services/clever_integration/library_client.rb
Due: lms-edits

Update reset_lesson_cache_worker.rb
  services/QuillLMS/app/workers/reset_lesson_cache_worker.rb
Due: lms-edits

legends
  services/QuillLMS/app/assets/stylesheets/pages/scorebook_page.scss
  services/QuillLMS/app/assets/stylesheets/shared/icons.scss
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/app_legend.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/score_legend.jsx
Due: lms-edits, lms-client-edits

Revert changes and fix spec
  services/QuillLMS/spec/helpers/about_us_helper_spec.rb
Due: none

fix weird revert commit
  services/QuillLMS/spec/models/classroom_unit_spec.rb
Due: none

contact us
  services/QuillLMS/app/assets/stylesheets/pages/contact.scss
  services/QuillLMS/app/helpers/about_us_helper.rb
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/views/navbar/_our_story.html.erb
  services/QuillLMS/app/views/pages/contact.html.erb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/helpers/about_us_helper_spec.rb
Due: lms-edits

contact us files attempt to clean add
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
  services/QuillLMS/spec/models/classroom_unit_spec.rb
Due: lms-edits, lms-client-edits

wip
  services/QuillLMS/app/services/google_integration/rest_client.rb
  services/QuillLMS/spec/services/google_integration/course_students_iterator_spec.rb
  services/QuillLMS/spec/services/google_integration/rest_client_spec.rb
  services/QuillLMS/spec/support/shared_examples/google_integration/client_wrapper_method_with_error_handling_rspec.rb
Due: lms-edits

add to mobile tabs
  services/QuillLMS/app/helpers/navigation_helper.rb
Due: lms-edits

Contact Us page (#10999)
  services/QuillLMS/app/assets/stylesheets/pages/contact.scss
  services/QuillLMS/app/helpers/about_us_helper.rb
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/views/navbar/_our_story.html.erb
  services/QuillLMS/app/views/pages/contact.html.erb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/helpers/about_us_helper_spec.rb
Due: lms-edits

Disable import provider students if teacher is not synced (#10995)
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/providerHelpers.ts
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-client-edits

WIP I think all the libs are installed properly here
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/ai_platform.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
Due: lms-edits

update CSP for rsms.me conts (#10970)
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

activity summary visual updates
  packages/quill-cdn/assets/images/pages/activity_summary/connect-orange.svg
  packages/quill-cdn/assets/images/pages/activity_summary/diagnostic-orange.svg
  packages/quill-cdn/assets/images/pages/activity_summary/evidence-orange.svg
  packages/quill-cdn/assets/images/pages/activity_summary/grammar-orange.svg
  packages/quill-cdn/assets/images/pages/activity_summary/lessons-orange.svg
  packages/quill-cdn/assets/images/pages/activity_summary/proofreader-orange.svg
  services/QuillLMS/app/assets/stylesheets/pages/scorebook_page.scss
  services/QuillLMS/app/assets/stylesheets/shared/icons.scss
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/activity_icon_with_tooltip.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/app_legend.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/score_legend.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/student_scores.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/Scorebook.jsx
Due: lms-edits, lms-client-edits

remove contact numbers
  docs/_layouts/layout.html
  services/QuillLMS/app/views/application/footer/_base.html.erb
Due: lms-edits

fix bug where recommended activity packs are staying closed
  services/QuillLMS/app/services/units/assignment_helpers.rb
Due: lms-edits

fix frontend bug to show rename errors and update error message
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/rename_modal.tsx
Due: lms-edits, lms-client-edits

remove unnecessary lint
  services/QuillLMS/app/controllers/teachers/units_controller.rb
Due: lms-edits

remove contact numbers (#11003)
  docs/_layouts/layout.html
  services/QuillLMS/app/views/application/footer/_base.html.erb
Due: lms-edits

revisions
  services/QuillLMS/app/assets/stylesheets/custom.scss
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/assets/stylesheets/pages/scorebook_page.scss
Due: lms-edits

logic change and package bumps
  lambdas/rematching/package.json
  packages/quill-marking-logic/package.json
  packages/quill-marking-logic/src/libs/matchers/min_length_match.spec.ts
  packages/quill-marking-logic/src/libs/matchers/min_length_match.ts
  services/QuillLMS/client/package.json
  services/QuillLMS/package.json
Due: lms-client-edits, marking-logic-edits

css tweak and remove comment
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-edits, lms-client-edits

modify package
  lambdas/rematching/package-lock.json
  lambdas/rematching/package.json
  lambdas/rematching/rematch.js
Due: none

add new requested changes
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/dataExportTableAndFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-edits, lms-client-edits

Fix staff accounts changed worker
  services/QuillLMS/app/workers/quill_staff_accounts_changed_worker.rb
  services/QuillLMS/spec/workers/quill_staff_accounts_changed_worker_spec.rb
Due: lms-edits

Admin Data Export updates (#11000)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/dataExportTableAndFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-edits, lms-client-edits

revisions
  services/QuillLMS/app/assets/stylesheets/pages/scorebook_page.scss
Due: lms-edits

fix bug where recommended activity packs are staying closed (#11004)
  services/QuillLMS/app/services/units/assignment_helpers.rb
Due: lms-edits

fix frontend bug to show rename activity pack errors and update error message (#11005)
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/rename_modal.tsx
Due: lms-edits, lms-client-edits

add more tests and real logic change
  packages/quill-marking-logic/src/libs/matchers/min_length_match.spec.ts
  packages/quill-marking-logic/src/libs/matchers/min_length_match.ts
Due: marking-logic-edits

Fix staff accounts changed worker (#11009)
  services/QuillLMS/app/workers/quill_staff_accounts_changed_worker.rb
  services/QuillLMS/spec/workers/quill_staff_accounts_changed_worker_spec.rb
Due: lms-edits

update completed copy
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/score_legend.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/score_legend.jsx
Due: lms-client-edits

allow logged-out users to access /teachers/view_demo; fix regeneration
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/models/concerns/teacher.rb
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

ensure unit template actually exists in our database
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

modify package (#11012)
  lambdas/rematching/package-lock.json
  lambdas/rematching/package.json
  lambdas/rematching/rematch.js
Due: none

fix test
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
