Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Convert snapshot payload type to array
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
Due: lms-edits

update lockfiles
  services/QuillLMS/bin/dev/airbyte
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/vite.config.ts
Due: lms-edits, lms-client-edits

our build doesn't support brackets in react components, so re-syntaxing the code
  services/QuillLMS/client/app/bundles/Diagnostic/modules/analytics/index.ts
Due: lms-client-edits

this config has a working build
  services/QuillLMS/vite.config.ts
Due: none

move from cjs to esm syntax in particular file to fix build
  services/QuillLMS/client/app/bundles/Diagnostic/actions/filters.js
Due: lms-client-edits

Remove dead code
  services/QuillLMS/app/services/google_integration/student_imported_classrooms_updater.rb
  services/QuillLMS/app/workers/google_integration/update_student_imported_classrooms_worker.rb
  services/QuillLMS/spec/services/google_integration/student_imported_classrooms_updater_spec.rb
  services/QuillLMS/spec/workers/google_integration/update_student_imported_classrooms_worker_spec.rb
Due: lms-edits

Add error handling to hydrate teacher classrooms worker
  services/QuillLMS/app/workers/google_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/spec/workers/google_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
Due: lms-edits

Add error handling to UpdateTeacherImportedClassroomsWorker
  services/QuillLMS/app/workers/google_integration/update_teacher_imported_classrooms_worker.rb
  services/QuillLMS/spec/workers/google_integration/update_teacher_imported_classrooms_worker_spec.rb
Due: lms-edits

remove console log
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/shared.tsx
Due: lms-client-edits

Fix activities all time query (#10894)
  services/QuillLMS/app/queries/impact_metrics/activities_all_time_query.rb
Due: lms-edits

Convert snapshot payload type to array (#10895)
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
Due: lms-edits

Update teacher imported worker and cache hydrator error handling (#10897)
  services/QuillLMS/app/services/google_integration/student_imported_classrooms_updater.rb
  services/QuillLMS/app/workers/google_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/app/workers/google_integration/update_student_imported_classrooms_worker.rb
  services/QuillLMS/app/workers/google_integration/update_teacher_imported_classrooms_worker.rb
  services/QuillLMS/spec/services/google_integration/student_imported_classrooms_updater_spec.rb
  services/QuillLMS/spec/workers/google_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
  services/QuillLMS/spec/workers/google_integration/update_student_imported_classrooms_worker_spec.rb
  services/QuillLMS/spec/workers/google_integration/update_teacher_imported_classrooms_worker_spec.rb
Due: lms-edits

Make some small updates based on PR feedback
  services/QuillLMS/app/lib/utils/string.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-edits, lms-client-edits

add new color variable definitions and delete unused code
  services/QuillLMS/app/assets/stylesheets/pages/final_score_page.scss
  services/QuillLMS/app/assets/stylesheets/styleguide.html.lsg
  services/QuillLMS/app/assets/stylesheets/styleguide/buttons.lsg
  services/QuillLMS/app/assets/stylesheets/styleguide/colors.lsg
  services/QuillLMS/app/assets/stylesheets/styleguide/grid.lsg
  services/QuillLMS/app/assets/stylesheets/styleguide/images.lsg
  services/QuillLMS/app/assets/stylesheets/styleguide/navbars.lsg
  services/QuillLMS/app/assets/stylesheets/styleguide/typography.lsg
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/assets/styles/home.scss
Due: lms-edits, lms-client-edits

small fixes
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_student_responses_index.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResponsesIndex.tsx
Due: lms-edits, lms-client-edits

Update Diagnostic Reports Student Responses tables (#10892)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_student_responses_index.scss
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResponsesIndex.tsx
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-edits, lms-client-edits

update snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMinisTable.test.tsx.snap
Due: lms-client-edits

Add some console logging
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/package-lock.json
Due: lms-client-edits

Fix import chains
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-client-edits

pg changes
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/interfaces.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
Due: lms-edits, lms-client-edits

Add SignetClientFetcher
  services/QuillLMS/app/services/google_integration/signet_client_fetcher.rb
  services/QuillLMS/spec/services/google_integration/signet_client_fetcher_spec.rb
Due: lms-edits

parameterize env vars
  services/QuillLMS/.env.development
  services/QuillLMS/vite.config.ts
Due: none

Update AccessTokenRefresher
  services/QuillLMS/app/services/google_integration/access_token_refresher.rb
  services/QuillLMS/spec/services/google_integration/access_token_refresher_spec.rb
Due: lms-edits

Add RefreshTokenValidator
  services/QuillLMS/app/services/google_integration/refresh_token_validator.rb
  services/QuillLMS/spec/services/google_integration/refresh_token_validator_spec.rb
Due: lms-edits

Update AuthorizationClientFetcher
  services/QuillLMS/app/services/google_integration/authorization_client_fetcher.rb
  services/QuillLMS/spec/services/google_integration/authorization_client_fetcher_spec.rb
Due: lms-edits

Fix spec
  services/QuillLMS/spec/services/google_integration/access_token_refresher_spec.rb
Due: none

Handle nil TeacherClassroomsCache
  services/QuillLMS/app/models/google_integration/teacher_classrooms_data.rb
  services/QuillLMS/spec/models/google_integration/teacher_classrooms_data_spec.rb
Due: lms-edits

Fix signet:authorization error (#10899)
  services/QuillLMS/app/models/google_integration/teacher_classrooms_data.rb
  services/QuillLMS/app/services/google_integration/access_token_refresher.rb
  services/QuillLMS/app/services/google_integration/authorization_client_fetcher.rb
  services/QuillLMS/app/services/google_integration/refresh_token_validator.rb
  services/QuillLMS/app/services/google_integration/signet_client_fetcher.rb
  services/QuillLMS/spec/models/google_integration/teacher_classrooms_data_spec.rb
  services/QuillLMS/spec/services/google_integration/access_token_refresher_spec.rb
  services/QuillLMS/spec/services/google_integration/authorization_client_fetcher_spec.rb
  services/QuillLMS/spec/services/google_integration/refresh_token_validator_spec.rb
  services/QuillLMS/spec/services/google_integration/signet_client_fetcher_spec.rb
Due: lms-edits

Add Jamie and CJ to team page
  packages/quill-cdn/assets/images/team/webp/team-cj-colicchio.webp
  packages/quill-cdn/assets/images/team/webp/team-jamie-monville.webp
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Add png files
  packages/quill-cdn/assets/images/team/team-cj-colicchio@2x.png
  packages/quill-cdn/assets/images/team/team-jamie-monville@2x.png
Due: none

Update evidence google-cloud-{automl,translate} gems
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
Due: lms-edits

small fixes
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

tweak students needing practice logic
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
Due: lms-edits, lms-client-edits

Lms/admin snapshot qa 2 (#10891)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/utils/numeric.rb
  services/QuillLMS/app/lib/utils/string.rb
  services/QuillLMS/app/queries/snapshots/active_students_query.rb
  services/QuillLMS/app/queries/snapshots/average_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/lib/utils/numeric_spec.rb
  services/QuillLMS/spec/lib/utils/string_spec.rb
  services/QuillLMS/spec/queries/snapshots/teacher_accounts_created_query_spec.rb
Due: lms-edits, lms-client-edits

Remove users with duplicate emails that have no activity sessions and no classrooms
  services/QuillLMS/lib/tasks/temporary/users.rake
Due: lms-edits

Add Jamie and CJ to team page (#10901)
  packages/quill-cdn/assets/images/team/team-cj-colicchio@2x.png
  packages/quill-cdn/assets/images/team/team-jamie-monville@2x.png
  packages/quill-cdn/assets/images/team/webp/team-cj-colicchio.webp
  packages/quill-cdn/assets/images/team/webp/team-jamie-monville.webp
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Update evidence google-cloud-{automl,translate} gems (#10902)
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
Due: lms-edits

Thomas suggestion
  services/QuillLMS/lib/tasks/temporary/users.rake
Due: lms-edits

update link
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/scoring_updates_card.tsx
Due: lms-client-edits

make new card for homepage to alert users to scoring changes (#10886)
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/scoring_updates_card.scss
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/promotional_card.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/bulk_archive_or_evidence_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/promotional_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/scoring_updates_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/dashboard.tsx
Due: lms-edits, lms-client-edits
