Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Begin refactor to more of a fanout worker pattern for sending notifications
  services/QuillLMS/app/controllers/api/v1/activity_sessions_controller.rb
  services/QuillLMS/spec/controllers/api/v1/activity_sessions_controller_spec.rb
Due: lms-edits

Refactor notification creation jobs to run in separate jobs
  services/QuillLMS/app/workers/teacher_notifications/fanout_send_notifications_worker.rb
  services/QuillLMS/app/workers/teacher_notifications/send_complete_all_assigned_activities_notification_worker.rb
  services/QuillLMS/app/workers/teacher_notifications/send_complete_all_diagnostic_recommendations_notification_worker.rb
  services/QuillLMS/app/workers/teacher_notifications/send_complete_diagnostic_notification_worker.rb
  services/QuillLMS/app/workers/teacher_notifications/send_notification_worker.rb
  services/QuillLMS/spec/workers/teacher_notifications/fanout_send_notifications_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_complete_all_assigned_activities_notification_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_complete_all_diagnostic_recommendations_notification_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_complete_diagnostic_notification_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_notification_worker_spec.rb
Due: lms-edits

Fix lint errors
  services/QuillLMS/spec/workers/teacher_notifications/fanout_send_notifications_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_complete_all_assigned_activities_notification_worker_spec.rb
Due: none

update account pulldown
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/notification_badges.scss
  services/QuillLMS/app/views/application/_sub_header.html.erb
  services/QuillLMS/app/views/navbar/_learning_tools.html.erb
  services/QuillLMS/app/views/navbar/_quill_support.html.erb
  services/QuillLMS/app/views/navbar/_teacher_center.html.erb
Due: lms-edits

add more pulldown icons
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-add-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-group-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/compass-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/press-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/quill-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/speaker-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/standards-icon-green.svg
Due: none

add remaining new icons
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-add-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-group-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/compass-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/press-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/quill-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/speaker-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/standards-icon-green.svg
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/views/navbar/_explore_curriculum.html.erb
  services/QuillLMS/app/views/navbar/_our_story.html.erb
Due: lms-edits

remove commented out code
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
Due: lms-edits

try adding quotes
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
Due: lms-edits

twitter image
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
Due: lms-edits

add https
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
Due: lms-edits

change head
  services/QuillLMS/app/views/application/_head.html.erb
Due: lms-edits

twitter image
  services/QuillLMS/app/views/application/_head.html.erb
Due: lms-edits

Convert throttle to pure block for bad urls.
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

Constantize response for speed.
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

Rack spec states this array shouldn’t be frozen.
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

Convert Rack::Attack throttle to pure block for bad urls. (#10556)
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

add margin
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
Due: lms-edits

use hash const for routes
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/activity_packs.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostics_index.tsx
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits, lms-client-edits

small fix
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits

fix tests
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: none

remove /
  services/QuillLMS/app/helpers/navigation_helper.rb
Due: lms-edits

Add a callback to SchoolsUsers to write ChangeLog when schools change
  services/QuillLMS/app/models/schools_users.rb
  services/QuillLMS/spec/models/schools_users_spec.rb
Due: lms-edits

Update Vitally worker syncs to unlink users from schools
  services/QuillLMS/app/workers/sync_vitally_unlinks_worker.rb
  services/QuillLMS/app/workers/sync_vitally_worker.rb
  services/QuillLMS/spec/workers/sync_vitally_unlinks_worker_spec.rb
  services/QuillLMS/spec/workers/sync_vitally_worker_spec.rb
Due: lms-edits

Fix some linting errors
  services/.rubocop.yml
  services/QuillLMS/app/models/schools_users.rb
Due: lms-edits

Setting a Ruby version target breaks a bunch of our code
  services/.rubocop.yml
Due: none

Add Float::INFINITY to our open-ended .. range for linting purposes
  services/QuillLMS/app/workers/sync_vitally_worker.rb
Due: lms-edits

Fix meta image urls for social media sharing (#10555)
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
Due: lms-edits

changes and test (#10549)
  services/QuillLMS/app/controllers/activities_controller.rb
  services/QuillLMS/config/locales/en.yml
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
Due: lms-edits

allow teachers to select alt schools
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/teacher_general.jsx
Due: lms-client-edits

Exclude apple touch icon from blocks.
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

Refactor to use constants in our new ChangeLog definitions
  services/QuillLMS/app/models/schools_users.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/workers/sync_vitally_worker.rb
  services/QuillLMS/spec/workers/sync_vitally_worker_spec.rb
Due: lms-edits

Lms/detach users from vitally schools (#10558)
  services/QuillLMS/app/models/schools_users.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/workers/sync_vitally_unlinks_worker.rb
  services/QuillLMS/app/workers/sync_vitally_worker.rb
  services/QuillLMS/spec/models/schools_users_spec.rb
  services/QuillLMS/spec/workers/sync_vitally_unlinks_worker_spec.rb
  services/QuillLMS/spec/workers/sync_vitally_worker_spec.rb
Due: lms-edits

Exclude apple touch icon from blocks. (#10560)
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

System test fix
  services/QuillLMS/spec/support/system.rb
  services/QuillLMS/spec/system/activity_pack_assignment_spec.rb
Due: none

fix integration test and setting
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/spec/support/system.rb
Due: lms-edits

add google tag installation code
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
Due: lms-edits

add content security exception for googletagmanager
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

Add window-size to remote_selenium_chrome
  services/QuillLMS/spec/support/system.rb
  services/QuillLMS/spec/system/activity_pack_assignment_spec.rb
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
