Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

update state correctly when switching between tabs
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/manage_units.jsx
Due: lms-client-edits

fix regression
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/manage_units.jsx
Due: lms-client-edits

update state correctly when switching between tabs (#10767)
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/manage_units.jsx
Due: lms-client-edits

update titles
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

update scoring logic and test
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits

update titles (#10769)
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

update scoring and tests
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/lesson.js
  services/QuillLMS/client/app/bundles/Connect/test/libs/conceptResultsFromLesson.test.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/lesson.js
  services/QuillLMS/client/app/bundles/Grammar/helpers/conceptResultsGenerator.ts
Due: lms-client-edits

add comment about lesson concept uid
  services/QuillLMS/client/app/bundles/Lessons/libs/conceptResults/classroomLessons.js
Due: lms-client-edits

update scoring and tests (#10770)
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/lesson.js
  services/QuillLMS/client/app/bundles/Connect/test/libs/conceptResultsFromLesson.test.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/lesson.js
  services/QuillLMS/client/app/bundles/Grammar/helpers/conceptResultsGenerator.ts
Due: lms-client-edits

get mvp version of key target skill concepts working, including scoring updates (#10755)
  services/QuillLMS/app/controllers/api/v1/classroom_units_controller.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/fillInTheBlanks.js
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/lesson.js
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/sentenceCombining.js
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/sharedConceptResultsFunctions.js
  services/QuillLMS/client/app/bundles/Connect/test/libs/conceptResultFromSentenceCombining.test.js
  services/QuillLMS/client/app/bundles/Connect/test/libs/conceptResultFromSentenceCombiningLessonQuestion.test.js
  services/QuillLMS/client/app/bundles/Connect/test/libs/conceptResultFromSentenceFragment.test.js
  services/QuillLMS/client/app/bundles/Connect/test/libs/conceptResultsFromDiagnostic.test.js
  services/QuillLMS/client/app/bundles/Connect/test/libs/conceptResultsFromLesson.test.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/fillInTheBlanks.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/lesson.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/sentenceCombining.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/sharedConceptResultsFunctions.js
  services/QuillLMS/client/app/bundles/Grammar/helpers/conceptResultsGenerator.ts
  services/QuillLMS/client/app/bundles/Lessons/libs/conceptResults/classroomLessons.js
  services/QuillLMS/client/app/bundles/Proofreader/components/proofreaderActivities/container.tsx
  services/QuillLMS/client/app/bundles/Proofreader/helpers/conceptResultsGenerator.ts
  services/QuillLMS/client/app/bundles/Proofreader/interfaces/proofreaderActivities.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/connect_student_report_box.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.tsx
  services/QuillLMS/client/app/interfaces/keyTargetSkillConcept.ts
  services/QuillLMS/client/app/interfaces/questionData.ts
  services/QuillLMS/spec/factories/concept_result.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits, lms-client-edits

fix bug with duplicate concept results in Grammar (#10750)
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
Due: lms-client-edits

Fix a bug that was ending timeframes one day early
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/spec/queries/snapshots/period_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: lms-edits

Use POST instead of GET for Admin Snapshot queries
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-client-edits

Make the count and top_x actions POST to match front-end changes
  services/QuillLMS/config/routes.rb
Due: lms-edits

Account for serialization/deserialization of datetimes
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

lms/fix-admin-snapshot-timeframe-end (#10772)
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/queries/snapshots/period_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

one last comment
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
Due: lms-edits

nil error
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
Due: lms-edits

reduce tests number for speed
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: none

styling fixes
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

styling bypass css for gmail
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

tweak query
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
Due: lms-edits

Move SetImpactsMetrics Queries to BigQuery (#10744)
  services/QuillLMS/app/queries/impact_metrics/active_students_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/activities_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/schools_containing_certain_teachers_query.rb
  services/QuillLMS/app/services/quill_big_query/post_transformer.rb
  services/QuillLMS/app/services/quill_big_query/pre_transformer.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/impact_metrics/active_students_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/active_teachers_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/activities_all_time_query_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_containing_certain_teachers_query_spec.rb
  services/QuillLMS/spec/services/quill_big_query/post_transformer_spec.rb
  services/QuillLMS/spec/services/quill_big_query/pre_transformer_spec.rb
  services/QuillLMS/spec/services/quill_big_query/runner_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

finish activity analysis page
  packages/quill-cdn/assets/images/pages/activity_analysis/checkmark.svg
  packages/quill-cdn/assets/images/pages/activity_analysis/lightbulb.svg
  packages/quill-cdn/assets/images/pages/activity_analysis/revise.svg
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/concept_result_table_row.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.tsx
  services/QuillLMS/client/app/interfaces/student.ts
Due: lms-edits, lms-client-edits

revisions
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/__snapshots__/student_report.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/__snapshots__/student_report_box.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/student_report.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/student_report_box.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.jsx
Due: lms-edits, lms-client-edits

revisions and tooltip
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/advert.scss
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/main.scss
  services/QuillLMS/app/controllers/grades_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/activity_icon_with_tooltip.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/concept_result_stats.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concept.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concepts.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/componentGenerators/tooltip_title/scorebook_tooltip_title.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
Due: lms-edits, lms-client-edits

frontend tests
  services/QuillLMS/app/controllers/grades_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/key_target_skill_concept.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/key_target_skill_concepts.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/activity_details.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/concept_result_stats.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/key_target_skill_concept.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/key_target_skill_concepts.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details.jsx
Due: lms-edits, lms-client-edits

remove color
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/main.scss
Due: lms-edits

add table styling
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-edits, lms-client-edits

add youtube link reminder
  services/QuillLMS/app/assets/stylesheets/cms/blog_post.scss
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/create_or_edit_blog_post.jsx
Due: lms-edits, lms-client-edits

add villages to spelling exception
  services/QuillLMS/engines/evidence/lib/evidence/evidence/spelling_check.rb
Due: lms-edits

fix lint and test
  services/QuillLMS/app/controllers/grades_controller.rb
  services/QuillLMS/spec/controllers/grades_controller_spec.rb
Due: lms-edits

reduce cyclomatic complexity
  services/QuillLMS/app/controllers/grades_controller.rb
Due: lms-edits

use const instead of string
  services/QuillLMS/app/controllers/grades_controller.rb
Due: lms-edits

fix test
  services/QuillLMS/spec/controllers/grades_controller_spec.rb
Due: none

make student report box a typescript file again
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.tsx
Due: lms-client-edits

import student report box with the correct path
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report.tsx
Due: lms-client-edits

fix test for real
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.tsx
  services/QuillLMS/spec/controllers/grades_controller_spec.rb
Due: lms-client-edits

update demo account data to use correct scoring
  services/QuillLMS/lib/data/demo/activity_sessions.yml
  services/QuillLMS/lib/data/demo/concept_result_legacy_metadata.yml
  services/QuillLMS/lib/data/demo/concept_results.yml
  services/QuillLMS/lib/tasks/update_scoring_for_demo_account_activity_sessions.rake
Due: lms-edits

regenerate yml files from prod data
  services/QuillLMS/lib/data/demo/activity_sessions.yml
  services/QuillLMS/lib/data/demo/concept_result_legacy_metadata.yml
  services/QuillLMS/lib/data/demo/concept_results.yml
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
