Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

add benchmarking
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: none

linting
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: none

cockatoos should not trigger profanity check
  services/QuillLMS/engines/evidence/config/initializers/bad_words.json
Due: lms-edits

cockatoos should not trigger profanity check (#10542)
  services/QuillLMS/engines/evidence/config/initializers/bad_words.json
Due: lms-edits

Make minor tweaks to email templates based on product feedback
  services/QuillLMS/app/mailers/teacher_notifications/rollup_mailer.rb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_all_assigned_activities.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_all_diagnostic_recommendations.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_diagnostics.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
  services/QuillLMS/spec/mailers/teacher_notifications/rollup_mailer_spec.rb
Due: lms-edits

Make some tweaks based on code review
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/teacher_email_notifications.jsx
Due: lms-client-edits

Add new throttling config
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

sort bad words
  services/QuillLMS/engines/evidence/config/initializers/bad_words.json
Due: lms-edits

Add neighbor gem.
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
Due: lms-edits

Add embedding model.
  services/QuillLMS/db/migrate/20230503205315_create_embeddings.evidence.rb
  services/QuillLMS/engines/evidence/app/models/evidence/embedding.rb
  services/QuillLMS/engines/evidence/db/migrate/20230503204943_create_embeddings.rb
Due: lms-edits

Add some tasks to work with embedding data.
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text_batch.rb
  services/QuillLMS/engines/evidence/app/models/evidence/text_generation.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/import_labeled_data_worker.rb
  services/QuillLMS/engines/evidence/lib/tasks/synthetic.rake
Due: lms-edits

Shorten some names and add some defaults / fallbacks.
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

Make updates to the settings interface based on product feedback
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/teacher_email_notifications.jsx
Due: lms-client-edits

Use early returns.
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

Don’t use early returns.
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

Adjust indenting, fix logic.
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

update breakpoints
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/my_activities_tabs.jsx
Due: lms-edits, lms-client-edits

Add new throttling config (#10544)
  services/QuillLMS/config/initializers/rack_attack.rb
Due: lms-edits

changes and test
  services/QuillLMS/app/controllers/api/v1/activity_sessions_controller.rb
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/spec/controllers/api/v1/activity_sessions_controller_spec.rb
Due: lms-edits

changes and test
  services/QuillLMS/app/controllers/activities_controller.rb
  services/QuillLMS/config/locales/en.yml
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
Due: lms-edits

Make some backend changes based on PR feedback
  services/QuillLMS/app/controllers/api/v1/teacher_notification_settings_controller.rb
  services/QuillLMS/app/models/teacher_notification_setting.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/workers/teacher_notifications/send_notification_worker.rb
  services/QuillLMS/spec/factories/teacher_notification_setting.rb
  services/QuillLMS/spec/models/teacher_notification_setting_spec.rb
Due: lms-edits

Do some more refactoring based on PR feedback
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/teacher_email_notifications.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherAccount.jsx
Due: lms-client-edits

Make a small tweak to simplify ignoring empty snackbar values
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherAccount.jsx
Due: lms-client-edits

rake task for activity session backfill
  services/QuillLMS/lib/tasks/activity_sessions.rake
Due: lms-edits

ignore default scopes
  services/QuillLMS/lib/tasks/activity_sessions.rake
Due: lms-edits

add join to query, so that validations pass
  services/QuillLMS/lib/tasks/activity_sessions.rake
Due: lms-edits

don't run validations, remove joins
  services/QuillLMS/lib/tasks/activity_sessions.rake
Due: lms-edits

add new pulldown icons
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/attention-badge-icon.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/bulb-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/clipboard-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/comment-account-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/connect-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/diagnostic-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/evidence-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/folder-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/glasses-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/grammar-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/lessons-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/logout-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/pencil-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/play-box-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/proofreader-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/question-mark-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/settings-icon-green.svg
Due: none

add new icons
  packages/quill-cdn/assets/images/icons/pulldown_icons/account-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/attention-badge-icon.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/bulb-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/clipboard-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/comment-account-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/connect-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/diagnostic-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/evidence-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/folder-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/glasses-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/grammar-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/lessons-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/logout-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/pencil-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/play-box-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/proofreader-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/question-mark-icon-green.svg
  packages/quill-cdn/assets/images/icons/pulldown_icons/settings-icon-green.svg
Due: none

update learning tools, teacher center and quill support pulldowns
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/views/navbar/_learning_tools.html.erb
  services/QuillLMS/app/views/navbar/_quill_support.html.erb
  services/QuillLMS/app/views/navbar/_teacher_center.html.erb
  services/QuillLMS/app/views/navbar/_tooltip_link.html.erb
Due: lms-edits

changes and test (#10548)
  services/QuillLMS/app/controllers/api/v1/activity_sessions_controller.rb
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/spec/controllers/api/v1/activity_sessions_controller_spec.rb
Due: lms-edits

Add more analytics to Vitally District payload (#10533)
  services/QuillLMS/app/models/district.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/app/workers/sync_sales_form_submission_to_vitally_worker.rb
  services/QuillLMS/app/workers/sync_vitally_organization_worker.rb
  services/QuillLMS/spec/models/district_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
  services/QuillLMS/spec/workers/sync_sales_form_submission_to_vitally_worker_spec.rb
  services/QuillLMS/spec/workers/sync_vitally_organization_worker_spec.rb
Due: lms-edits

rake task for activity session backfill (#10551)
  services/QuillLMS/lib/tasks/activity_sessions.rake
Due: lms-edits

A couple of final tweaks based on product feedback
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/teacher_email_notifications.jsx
Due: lms-edits, lms-client-edits

Remove <li> from the truncation partial
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_truncate_student_names.html.erb
Due: lms-edits

update hover state
  packages/quill-cdn/assets/images/icons/pulldown_icons/premium-icon-dark-gold.svg
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/views/navbar/_teacher_center.html.erb
  services/QuillLMS/app/views/navbar/_tooltip_link.html.erb
Due: lms-edits

add dark gold premium icon
  packages/quill-cdn/assets/images/icons/pulldown_icons/premium-icon-dark-gold.svg
Due: none

Move some logic into user model
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
