Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Disable invalid_highlights in the all activities api call
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
Due: lms-edits

add zero check
  services/QuillLMS/app/services/serialize_evidence_activity_health.rb
Due: lms-edits

Disable invalid_highlights in the all activities api call (#10929)
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
Due: lms-edits

Add some documentation
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/lib/tasks/report_demo.rake
Due: lms-edits

More documentation
  services/QuillLMS/lib/tasks/report_demo.rake
Due: lms-edits

First pass at parallelizing invalid highlights lookups
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activities.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/activityAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/open_ai/chat.rb
Due: lms-edits, lms-client-edits

Remove unused file
  services/QuillLMS/engines/evidence/lib/evidence/evidence/open_ai/chat.rb
Due: lms-edits

Remove generic 'Import from Canvas'
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
Due: lms-client-edits

Unlink google and clever accounts when logging in with canvas
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/services/canvas_integration/user_importer.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/services/canvas_integration/user_importer_spec.rb
Due: lms-edits

Update tests
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/__snapshots__/assign_students.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/assign_students.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/active_classrooms.test.tsx
Due: lms-client-edits

Update demo accounts with scoring data (#10926)
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/lib/data/demo/activity_sessions.yml
  services/QuillLMS/lib/data/demo/concept_result_legacy_metadata.yml
  services/QuillLMS/lib/data/demo/concept_results.yml
  services/QuillLMS/lib/tasks/report_demo.rake
  services/QuillLMS/spec/services/demo/create_admin_report_spec.rb
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
  services/QuillLMS/spec/services/demo/session_data_spec.rb
Due: lms-edits

WIP on the way to checking invalid highlights async
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activities.tsx
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/config/routes.rb
Due: lms-edits, lms-client-edits

Link to ConceptsInUse Metabase report
  services/QuillLMS/client/app/bundles/Staff/components/ConceptReplaceForm.tsx
Due: lms-client-edits

Fix lint error
  services/QuillLMS/client/app/bundles/Staff/components/ConceptReplaceForm.tsx
Due: lms-client-edits

Fix a failing spec
  services/QuillLMS/spec/services/canvas_integration/user_importer_spec.rb
Due: none

Fix a failing spec (#10934)
  services/QuillLMS/spec/services/canvas_integration/user_importer_spec.rb
Due: none

Add scopes to canvas oauth config
  services/QuillLMS/config/initializers/auth/canvas.rb
Due: lms-edits

Add some stripe webhook event types to IgnoredEventHandler
  services/QuillLMS/app/services/stripe_integration/webhooks/ignored_event_handler.rb
Due: lms-edits

Remove event types that already have handlers
  services/QuillLMS/app/services/stripe_integration/webhooks/ignored_event_handler.rb
Due: lms-edits

refactor
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions_worker.rb
Due: lms-edits

Filter out failed credit card charges from SalesOp email
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions_worker.rb
  services/QuillLMS/spec/workers/identify_stripe_invoices_without_subscriptions_worker_spec.rb
Due: lms-edits

Add some stripe webhook event types to IgnoredEventHandler (#10935)
  services/QuillLMS/app/services/stripe_integration/webhooks/ignored_event_handler.rb
Due: lms-edits

Move the invalidHighlights cell into its own component
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activities.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activityInvalidHighlights.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/activityAPIs.ts
Due: lms-client-edits

Add a spec for the new controller action
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits

fix count logic
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

Clean up a bit on the front-end
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activities.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activityInvalidHighlights.tsx
Due: lms-client-edits

Filter out failed credit card from SalesOps daily emails (#10936)
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions_worker.rb
  services/QuillLMS/spec/workers/identify_stripe_invoices_without_subscriptions_worker_spec.rb
Due: lms-edits

Update fallback scorint to be 100 or 0 rather than 1 or 0
  services/QuillLMS/app/javascript/packs/rails_admin.js
  services/QuillLMS/app/javascript/stylesheets/rails_admin.scss
  services/QuillLMS/app/models/concerns/get_score_for_question.rb
Due: lms-edits

Remove unrelated files from PR
  services/QuillLMS/app/javascript/packs/rails_admin.js
  services/QuillLMS/app/javascript/stylesheets/rails_admin.scss
Due: lms-edits

add loading indicators
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/coteacher_invitation.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/invite_coteachers_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/coteacher_invitation.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/invite_coteachers_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-edits, lms-client-edits

update test
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/invite_coteachers_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/invite_coteachers_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/invite_coteachers_modal.tsx
Due: lms-client-edits

small fixes
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/coteacher_invitation.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/invite_coteachers_modal.tsx
Due: lms-client-edits

add focus indicators to buttons
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/coteacher_invitation.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/invite_coteachers_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/coteacher_invitation.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/invite_coteachers_modal.tsx
Due: lms-client-edits

Fix Sidekiq/PopulateEvidenceActivityHealthWorker error (#10928)
  services/QuillLMS/app/services/serialize_evidence_activity_health.rb
Due: lms-edits

update snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
Due: lms-client-edits

Fix Sentry coteacher invitation bug (#10940)
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/coteacher_invitation.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/invite_coteachers_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/invite_coteachers_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/coteacher_invitation.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/invite_coteachers_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-edits, lms-client-edits

Fix capitalize_names logic so that it only runs if name is changed
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

update more snapshots
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-client-edits

Tweak count logic for Diagnostic reports student results (#10937)
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

Tweak API client error to be more accurate
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/activityAPIs.ts
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
