Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

WIP on backfill code
  services/QuillLMS/app/services/student_learning_sequences/handle_assignment.rb
  services/QuillLMS/app/workers/student_learning_sequences/handle_assignment_worker.rb
  services/QuillLMS/db/migrate/20240830183419_create_student_activity_sequence.rb
  services/QuillLMS/db/migrate/20240830183429_create_student_activity_sequence_activity.rb
  services/QuillLMS/lib/tasks/temporary/student_learning_sequence.rake
  services/QuillLMS/spec/services/student_learning_sequences/handle_assignment_spec.rb
Due: lms-edits

Use unscoped when querying source records
  services/QuillLMS/app/services/student_learning_sequences/handle_completion.rb
Due: lms-edits

Only enqueue assignment workers for new student assignments
  services/QuillLMS/app/models/classroom_unit.rb
  services/QuillLMS/spec/models/classroom_unit_spec.rb
Due: lms-edits

Add indexes to student_learning_sequence tables
  services/QuillLMS/app/models/student_learning_sequence.rb
  services/QuillLMS/app/models/student_learning_sequence_activity.rb
  services/QuillLMS/db/migrate/20240924151311_add_student_learning_sequence_indexes.rb
  services/QuillLMS/db/migrate/20240924151321_add_student_learning_sequence_activity_indexes.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/models/student_learning_sequence_activity_spec.rb
  services/QuillLMS/spec/models/student_learning_sequence_spec.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/db/migrate/20240924151311_add_student_learning_sequence_indexes.rb
  services/QuillLMS/db/migrate/20240924151321_add_student_learning_sequence_activity_indexes.rb
  services/QuillLMS/spec/models/classroom_unit_spec.rb
Due: lms-edits

add blacklist for newly translated activities
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/school_year_updates_card.tsx
Due: lms-client-edits

Translations/ add new activity UIDs to translation rake file (#12403)
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/school_year_updates_card.tsx
  services/QuillLMS/lib/tasks/translate.rake
Due: lms-edits, lms-client-edits

Student learning sequence enhancements (#12409)
  services/QuillLMS/app/models/classroom_unit.rb
  services/QuillLMS/app/models/student_learning_sequence.rb
  services/QuillLMS/app/models/student_learning_sequence_activity.rb
  services/QuillLMS/app/services/student_learning_sequences/handle_completion.rb
  services/QuillLMS/db/migrate/20240924151311_add_student_learning_sequence_indexes.rb
  services/QuillLMS/db/migrate/20240924151321_add_student_learning_sequence_activity_indexes.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/models/classroom_unit_spec.rb
  services/QuillLMS/spec/models/student_learning_sequence_activity_spec.rb
  services/QuillLMS/spec/models/student_learning_sequence_spec.rb
Due: lms-edits

Update new indexes not to be unique
  services/QuillLMS/app/models/student_learning_sequence.rb
  services/QuillLMS/app/models/student_learning_sequence_activity.rb
  services/QuillLMS/db/migrate/20240924151311_add_student_learning_sequence_indexes.rb
  services/QuillLMS/db/migrate/20240924151321_add_student_learning_sequence_activity_indexes.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/models/student_learning_sequence_activity_spec.rb
  services/QuillLMS/spec/models/student_learning_sequence_spec.rb
Due: lms-edits

Update new indexes not to be unique (#12412)
  services/QuillLMS/app/models/student_learning_sequence.rb
  services/QuillLMS/app/models/student_learning_sequence_activity.rb
  services/QuillLMS/db/migrate/20240924151311_add_student_learning_sequence_indexes.rb
  services/QuillLMS/db/migrate/20240924151321_add_student_learning_sequence_activity_indexes.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/models/student_learning_sequence_activity_spec.rb
  services/QuillLMS/spec/models/student_learning_sequence_spec.rb
Due: lms-edits

add uids
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
Due: lms-client-edits

Fix dataset validation flow when save fails
  services/QuillLMS/config/environments/test.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_validator.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/datasets_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/fixtures/files/evidence/research/gen_ai/dataset.csv
Due: lms-edits

Fix dataset validation flow when save fails (#12414)
  services/QuillLMS/config/environments/test.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_validator.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/datasets_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/fixtures/files/evidence/research/gen_ai/dataset.csv
Due: lms-edits

Update label test and data creation to collapse optimally.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/test.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/train.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompt_builder.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Initial work on a labeling gen_ai prompt.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/coral_reefs_because_all.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/test.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/train.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompts/2024_09_18_initial.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompts/coral_static_prompt.md
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Wip.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_response.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_response_feedback.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompts/2024_09_19_rag_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

add uids (#12415)
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
Due: lms-client-edits

thomas comments
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

Fix bug in Vitally stats where classrooms with multiple teachers are double counted (#12406)
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

Unignore vitally organizations (#12396)
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/services/vitally_integration/unignore_organization.rb
  services/QuillLMS/app/workers/vitally_integration/unignore_active_organizations_worker.rb
  services/QuillLMS/app/workers/vitally_integration/unignore_organization_worker.rb
  services/QuillLMS/spec/models/cron_spec.rb
  services/QuillLMS/spec/services/vitally_integration/unignore_organization_spec.rb
  services/QuillLMS/spec/workers/vitally_integration/unignore_active_organizations_worker_spec.rb
  services/QuillLMS/spec/workers/vitally_integration/unignore_organization_worker_spec.rb
Due: lms-edits

fix prop
  services/QuillLMS/client/app/bundles/Grammar/components/questions/testQuestion.tsx
Due: lms-client-edits

fix prop order
  services/QuillLMS/client/app/bundles/Grammar/components/questions/testQuestion.tsx
Due: lms-client-edits

Bug fix/ Grammar CMS test question play (#12420)
  services/QuillLMS/client/app/bundles/Grammar/components/questions/testQuestion.tsx
Due: lms-client-edits

wip
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/config/application.rb
  services/QuillLMS/config/initializers/rack_attack.rb
  services/QuillLMS/config/initializers/sidekiq.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_response.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/coral_reefs_because_all.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/test.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data/train.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/label_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/rag_label_feedback_batch_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/rag_label_feedback_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/store_labeled_embeddings_worker.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

remove dashboard-level premium tab; update premium badge; add dashboard button
  packages/quill-cdn/assets/images/icons/xs/return-arrow.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_page.scss
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/application/_sub_header.html.erb
  services/QuillLMS/app/views/navbar/_user_dropdown_button.html.erb
  services/QuillLMS/app/views/pages/shared/tabs/_premium_tab.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits, lms-client-edits

fix source map warnings
  services/QuillLMS/vite.config.ts
Due: none

update type re export statement
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/main.ts
Due: lms-client-edits

updating pack*
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: none

style navbar differently when in primary tab
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/views/application/_sub_header.html.erb
Due: lms-edits

remove comments
  services/QuillLMS/app/helpers/navigation_helper.rb
Due: lms-edits

cleanup
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/diagnostic_sentence_fragment.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/fill_in_the_blank.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/sentence_fragment.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/length_match.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/machine_learning_sentence_match.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/spacy_pos_match.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/whitespace_match.ts
Due: lms-client-edits

fix source map warnings (#12408)
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/main.ts
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/vite.config.ts
Due: lms-client-edits

Add neighbor gem to main app
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Add LabeledEntry model
  services/QuillLMS/db/migrate/20240925185730_create_labeled_entries.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/labeled_entry.rb
  services/QuillLMS/engines/evidence/db/migrate/20240925184213_create_labeled_entries.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/labeled_entries.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/labeled_entry_spec.rb
Due: lms-edits

adjust scss
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
Due: lms-edits

clean up
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/app/helpers/navigation_helper.rb
Due: lms-edits

spurious error
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
Due: lms-client-edits

fix tests
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits

fix lints
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits

adjust for administrators section
  services/QuillLMS/app/assets/stylesheets/pages/for_administrators.scss
Due: lms-edits
