Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

removing stylesheet pack tags in head
  services/QuillLMS/app/views/application/_head.html.erb
Due: lms-edits

removing old files after rebase
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/AdminDashboard.test.jsx
  services/QuillLMS/client/app/bundles/Tools/components/evidenceHomeSection.tsx
Due: lms-client-edits

added postcss npm dependencies via 'npm add postcss-import postcss-preset-env postcss sass'
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: none

empty css files loading from entrypoints. Be sure to remove postcssrc.yml
  services/QuillLMS/.postcssrc.yml
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
  services/QuillLMS/client/app/entrypoints/app.css
  services/QuillLMS/client/app/entrypoints/home.css
  services/QuillLMS/client/app/entrypoints/shared.css
  services/QuillLMS/client/postcss.config.js.bak
  services/QuillLMS/config/vite.json
  services/QuillLMS/package.json
  services/QuillLMS/postcss.config.cjs
Due: lms-edits, lms-client-edits

added postcss-css package, etc
  services/QuillLMS/client/app/assets/styles/home.scss
  services/QuillLMS/client/app/entrypoints/home.css
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/postcss.config.cjs
  services/QuillLMS/vite.config.ts
Due: lms-client-edits

fixing rebase
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboard.jsx
Due: lms-client-edits

update secure headers for vite
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

possible fix for commonjs default imports
  services/QuillLMS/client/app/bundles/Connect/components/questions/responseComponent.jsx
Due: lms-client-edits

fix some css imports via resolving filepaths in new way
  services/QuillLMS/client/app/bundles/Connect/styles/style.scss
  services/QuillLMS/client/app/bundles/Connect/styles/variables.sass
  services/QuillLMS/client/app/entrypoints/application.tsx
  services/QuillLMS/client/app/entrypoints/connect.css
  services/QuillLMS/vite.config.ts
Due: lms-client-edits

fix all typescript warnings
  services/QuillLMS/client/app/bundles/Connect/components/questions/massEditContainer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/questions/questions.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/massEditContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/questions.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/questions.tsx
  services/QuillLMS/client/app/bundles/Shared/components/questionList/linkListItem.tsx
Due: lms-client-edits

clean up types
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/interfaces/index.ts
  services/QuillLMS/client/app/bundles/Shared/interfaces/misc.ts
  services/QuillLMS/client/app/bundles/Shared/interfaces/question.ts
Due: lms-client-edits

last style edits (#10429)
  services/QuillLMS/app/assets/stylesheets/pages/premium_page.scss
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_premium.jsx
Due: lms-edits, lms-client-edits

Update the default meta tags on blog posts (#10430)
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/spec/controllers/blog_posts_controller_spec.rb
Due: lms-edits

copy edits
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits

fix typo
  services/QuillLMS/spec/helpers/public_pages_helper_spec.rb
Due: none

add query string gate
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/verify_school.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_school.tsx
Due: lms-client-edits

fix typo in secure headers
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

add commonjs transformer
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: none

convert old process.env usage to meta.env
  services/QuillLMS/client/app/bundles/Connect/actions/concepts.js
Due: lms-client-edits

bumping vite to 4.2.1
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: none

copy edits (#10434)
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits

Public page speed improvements v2/ remove QuestionsAndAnswersApp (#10422)
  services/QuillLMS/app/assets/stylesheets/pages/college_board.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/views/application/_demo_account_banner.html.erb
  services/QuillLMS/app/views/pages/ap.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
  services/QuillLMS/app/views/pages/preap.html.erb
  services/QuillLMS/app/views/pages/shared/_expandable_units_section.html.erb
  services/QuillLMS/app/views/pages/shared/_premium_main.html.erb
  services/QuillLMS/app/views/pages/shared/_questions_and_answers_section.html.erb
  services/QuillLMS/app/views/pages/springboard.html.erb
  services/QuillLMS/client/app/assets/javascripts/clickHandlers.js
  services/QuillLMS/client/app/assets/styles/evidence-tool.scss
  services/QuillLMS/client/app/bundles/Home/home.js
  services/QuillLMS/client/app/bundles/Public/startup/apApp.tsx
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Public/startup/preApApp.tsx
  services/QuillLMS/client/app/bundles/Public/startup/questionsAndAnswersApp.tsx
  services/QuillLMS/client/app/bundles/Public/startup/springBoardApp.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/ap.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/pre_ap.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/scrollBox.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/springboard.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/scrollBox.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/ap.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/collegeBoardConstants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/pre_ap.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/scrollBox.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/spring_board.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/ap.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/evidence.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/PremiumPricingGuide.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/QuestionsAndAnswers.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/PremiumPricingGuide.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/collegeBoard.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/spec/helpers/public_pages_helper_spec.rb
Due: lms-edits, lms-client-edits

add note for district admins
  packages/quill-cdn/assets/images/onboarding/district-admin-warning-icon.svg
  services/QuillLMS/app/assets/stylesheets/pages/sign_up.scss
  services/QuillLMS/app/models/admin_info.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_sub_role.tsx
Due: lms-edits, lms-client-edits

constantize district administrator
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_sub_role.tsx
Due: lms-client-edits

add footer_content property to blog_posts
  services/QuillLMS/app/models/blog_post.rb
  services/QuillLMS/db/migrate/20230328155819_add_footer_content_to_blog_post.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/models/blog_post_spec.rb
Due: lms-edits

trim proofreader submissions
  services/QuillLMS/client/app/bundles/Proofreader/components/proofreaderActivities/container.tsx
Due: lms-client-edits

add polyfill hack to erb layout to get around global undefined issue; update fuzzyset
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-edits, lms-client-edits

vite config compatible with global node builtin
  services/QuillLMS/vite.config.ts
Due: none

add footer content section to form
  services/QuillLMS/app/assets/stylesheets/cms/blog_post.scss
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/controllers/cms/blog_posts_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/create_or_edit_blog_post.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/articleSpotlight.tsx
  services/QuillLMS/spec/controllers/blog_posts_controller_spec.rb
Due: lms-edits, lms-client-edits

fix all typescript warnings (#10428)
  services/QuillLMS/client/app/bundles/Connect/components/questions/massEditContainer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/questions/questions.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/massEditContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/questions.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/questions.tsx
  services/QuillLMS/client/app/bundles/Shared/components/questionList/linkListItem.tsx
  services/QuillLMS/client/app/bundles/Shared/components/renderForQuestions/renderThankYou.tsx
  services/QuillLMS/client/app/bundles/Shared/components/scoreAnalysis/questionRow.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/interfaces/index.ts
  services/QuillLMS/client/app/bundles/Shared/interfaces/misc.ts
  services/QuillLMS/client/app/bundles/Shared/interfaces/question.ts
Due: lms-client-edits

update navbar rendering logic
  services/QuillLMS/app/views/blog_posts/index.html.erb
  services/QuillLMS/app/views/blog_posts/show.html.erb
Due: lms-edits

revisions
  services/QuillLMS/app/controllers/admin_access_controller.rb
  services/QuillLMS/spec/controllers/admin_access_controller_spec.rb
  services/QuillLMS/spec/controllers/admins_controller_spec.rb
  services/QuillLMS/spec/factories/admin_approval_requests.rb
  services/QuillLMS/spec/workers/admin_received_admin_upgrade_request_from_teacher_analytics_worker_spec.rb
Due: lms-edits

fix spec
  services/QuillLMS/spec/controllers/admins_controller_spec.rb
Due: none

use .teacher? check
  services/QuillLMS/app/views/blog_posts/index.html.erb
  services/QuillLMS/app/views/blog_posts/show.html.erb
Due: lms-edits

fix lint error
  services/QuillLMS/spec/controllers/admins_controller_spec.rb
Due: none

for real this time
  services/QuillLMS/spec/controllers/admins_controller_spec.rb
Due: none

Modify Evidence conceptResult generation to include topic-optimals
  services/QuillLMS/client/app/bundles/Evidence/libs/conceptResults.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.data.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.test.ts
Due: lms-client-edits
