Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

mobile fix
  services/QuillLMS/app/assets/stylesheets/pages/teacher_premium.scss
Due: lms-edits

fix typo
  services/QuillLMS/app/views/pages/teacher_premium.html.erb
Due: lms-edits

Add an additional premium banner promoting school/district premium deal (#10460)
  services/QuillLMS/app/assets/stylesheets/pages/premium_banner.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_page.scss
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/premium_banners/premium_banner_builder.jsx
Due: lms-edits, lms-client-edits

Dan suggestion
  services/QuillLMS/spec/requests/auth/learn_worlds_controller_spec.rb
Due: none

Minor refactor
  services/QuillLMS/app/services/auth/learn_worlds/sso_request.rb
Due: lms-edits

LearnWorlds SSO backend integration (#10458)
  services/QuillLMS/app/controllers/auth/learn_worlds_controller.rb
  services/QuillLMS/app/models/district.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/services/auth/learn_worlds/sso_request.rb
  services/QuillLMS/config/initializers/auth/learn_worlds.rb
  services/QuillLMS/config/initializers/inflections.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/factories/learn_worlds_accounts.rb
  services/QuillLMS/spec/models/district_spec.rb
  services/QuillLMS/spec/models/school_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/requests/auth/learn_worlds_controller_spec.rb
  services/QuillLMS/spec/services/auth/sso_request_spec.rb
Due: lms-edits

use scope
  services/QuillLMS/app/models/blog_post.rb
Due: lms-edits

update copy (#10456)
  services/QuillLMS/app/views/pages/home_new.html.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
Due: lms-edits

fix lint error
  services/QuillLMS/app/controllers/pages_controller.rb
Due: lms-edits

add quill academy images
  packages/quill-cdn/assets/images/icons/tool-evidence-dark-gray.svg
  packages/quill-cdn/assets/images/icons/tool-grammar-dark-gray.svg
  packages/quill-cdn/assets/images/icons/tool-lessons-dark-gray.svg
  packages/quill-cdn/assets/images/quill_academy/activity-packs-green.svg
  packages/quill-cdn/assets/images/quill_academy/clipboard-concepts-gray.svg
  packages/quill-cdn/assets/images/quill_academy/graduation-cap-green.svg
  packages/quill-cdn/assets/images/quill_academy/grammar-check-red.svg
  packages/quill-cdn/assets/images/quill_academy/presentation-green.svg
  packages/quill-cdn/assets/images/quill_academy/quill-green.svg
  packages/quill-cdn/assets/images/quill_academy/single-woman-actions-laptop.svg
Due: none

add new images
  packages/quill-cdn/assets/.DS_Store
  packages/quill-cdn/assets/images/icons/tool-evidence-dark-gray.svg
  packages/quill-cdn/assets/images/icons/tool-grammar-dark-gray.svg
  packages/quill-cdn/assets/images/icons/tool-lessons-dark-gray.svg
  packages/quill-cdn/assets/images/quill_academy/activity-packs-green.svg
  packages/quill-cdn/assets/images/quill_academy/clipboard-concepts-gray.svg
  packages/quill-cdn/assets/images/quill_academy/graduation-cap-green.svg
  packages/quill-cdn/assets/images/quill_academy/grammar-check-red.svg
  packages/quill-cdn/assets/images/quill_academy/presentation-green.svg
  packages/quill-cdn/assets/images/quill_academy/quill-green.svg
  packages/quill-cdn/assets/images/quill_academy/single-woman-actions-laptop.svg
Due: none

fix CSS override
  services/QuillLMS/client/app/bundles/Connect/styles/components/_student-container.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-container.scss
Due: lms-client-edits

fixed failing test by updating snapshot
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/question.test.tsx.snap
Due: lms-client-edits

fixed failing tests with snapshot updates
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/promptStep.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/steps.test.tsx.snap
Due: lms-client-edits

fix CSS override (#10471)
  services/QuillLMS/client/app/bundles/Connect/styles/components/_student-container.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-container.scss
Due: lms-client-edits

Teacher Center/ restrict drafts from recommended articles section (#10466)
  services/QuillLMS/app/models/blog_post.rb
  services/QuillLMS/spec/models/blog_post_spec.rb
Due: lms-edits

redirect admin dashboard to premium hub
  services/QuillLMS/app/controllers/profiles_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports_controller.rb
  services/QuillLMS/app/controllers/teachers_controller.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/admin_account_created_email.html.erb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/made_school_admin_change_school_email.html.erb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/made_school_admin_email.html.erb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/made_school_admin_link_school_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/admin_account_created_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/district_admin_account_created_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_district_admin_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_school_admin_change_school_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_school_admin_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_school_admin_link_school_email.html.erb
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/app/views/user_mailer/approved_admin_email.html.erb
  services/QuillLMS/app/views/user_mailer/denied_admin_email.html.erb
  services/QuillLMS/app/views/user_mailer/new_admin_email.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/admin_dashboard/subnav_tabs.jsx.unused
  services/QuillLMS/client/app/bundles/Teacher/containers/AdminAccess.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/AdminAccess.test.jsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardRouter.jsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers_controller_spec.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
  services/QuillLMS/spec/models/mailer/user_spec.rb
Due: lms-edits, lms-client-edits

link from badge to premium pricing page
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/helpers/navigation_helper.rb
Due: lms-edits

add orderable table to backpack
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/dataTables.tsx
Due: lms-client-edits

fix lint error
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/dataTables.tsx
Due: lms-client-edits

Create during CSV creation.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text_batch.rb
  services/QuillLMS/engines/evidence/db/migrate/20230306215624_create_evidence_prompt_text_batches.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/html_tag_remover.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/prompt_text_batches.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
Due: lms-edits

Save the seed data to the database.
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
Due: lms-edits

add page and route
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/pages/quill_academy.html.erb
  services/QuillLMS/config/routes.rb
Due: lms-edits

add quill academy icon
  packages/quill-cdn/assets/images/quill_academy/quill-academy-icon.svg
Due: none

add top section
  packages/quill-cdn/assets/images/quill_academy/quill-academy-icon.svg
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
  services/QuillLMS/app/views/pages/quill_academy.html.erb
Due: lms-edits

testing category changes
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/activity_type.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_minis.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_templates_manager.jsx
Due: lms-client-edits

try again filters
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_minis.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_templates_manager.jsx
Due: lms-edits, lms-client-edits

fix indentation
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/dataTables.tsx
Due: lms-client-edits

fix all high and severe vulnerabilities and ones that do not require manual review
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

styling on filters
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/unit_template_minis/unit_template_minis.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_minis.jsx
Due: lms-edits, lms-client-edits

add bigquery gem, update required depenencies, remove google-api-client gem
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

pinning more gems
  services/QuillLMS/Gemfile
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
