Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

scorebook test
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/assign_a_new_activity.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/data.ts
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/activity_table.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/archived_classrooms.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/classroom.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/classroom_student_section.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/invite_coteachers_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/test_data/test_data.js
  services/QuillLMS/client/app/bundles/Teacher/components/subscriptions/__tests__/__snapshots__/SubscriptionStatus.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/subscriptions/__tests__/__snapshots__/current_subscription.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/subscriptions/__tests__/data.ts
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/Subscriptions.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/Subscriptions.test.jsx.snap
Due: lms-client-edits

score book test
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/Scorebook.test.jsx
Due: lms-client-edits

fix fill in blank input text alignment (#11979)
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Connect/components/turk/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/__tests__/__snapshots__/playFillInTheBlankQuestion.test.tsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/playFillInTheBlankQuestion.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/fillInBlankInputStyle.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/fillInBlankInputStyleHelpers.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/fillInBlankInputWidth.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/tests/fillInBlankInputStyle.test.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/tests/fillInBlankInputWidth.test.tsx
Due: lms-client-edits

comments
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Set role selected at sign up when creating TeacherInfo record (#11973)
  services/QuillLMS/app/controllers/accounts_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

fix snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
Due: lms-client-edits

Evidence GenAI - Optimal/Suboptimal testing script (#11983)
  services/QuillLMS/.rubocop.yml
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/01_random_empty.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_07_more_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_24_no_plagiarism.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_24_optimal_focused.md
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/system_prompt_builder_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
Due: lms-client-edits

Only include schools with active Premium in filter "all_schools" (#11987)
  services/QuillLMS/app/models/admin_report_filter_selection.rb
  services/QuillLMS/spec/models/admin_report_filter_selection_spec.rb
Due: lms-edits

Ensure that the School.premium scope doesn't duplicate records (#11988)
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/spec/models/school_spec.rb
Due: lms-edits

Fix July 1 issue with timeframes.
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: none

snapshot again
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
Due: lms-client-edits

Changes based on PR feedback
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/factories/email_subscriptions.rb
Due: lms-edits

Use longer names
  services/QuillLMS/spec/models/concept_feedback_spec.rb
Due: none

last snapshot fix
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
Due: lms-client-edits

another adjustment
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/__tests__/__snapshots__/playFillInTheBlankQuestion.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/libs/fillInBlankInputStyle.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/tests/fillInBlankInputStyle.test.tsx
Due: lms-client-edits

snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
Due: lms-client-edits

Fix cache_segment_school_data_spec
  services/QuillLMS/spec/services/analytics/cache_segment_school_data_spec.rb
Due: none

Fix teacher_dashboard_metrics_sepc
  services/QuillLMS/spec/queries/teacher_dashboard_metrics_spec.rb
Due: none

Update ADGR filters to allow selection of last year timeframe
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits, lms-client-edits

Fix student dashboard metric bug
  services/QuillLMS/spec/queries/student_dashboard_metrics_spec.rb
Due: none

fix create location errors
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/activityStats.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/healthDashboard.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/plagiarismRulesIndex.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/regexRulesIndex.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/rule.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/ruleAnalysis.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/rules.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/rulesAnalysis.test.jsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/sessionsIndex.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/turkSessions.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/activities.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/activitySettings.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/activityStats.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/healthDashboard.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/plagiarismRulesIndex.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/regexRulesIndex.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/rule.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/ruleAnalysis.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/rules.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/rulesAnalysis.test.jsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/sessionOverview.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/sessionView.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/sessionsIndex.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/turkSessions.test.tsx
Due: lms-client-edits

Enable Timeframe selection for Admin Diagnostic snapshot reports
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
Due: lms-client-edits

July1 time bugs (#12003)
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
  services/QuillLMS/spec/queries/student_dashboard_metrics_spec.rb
  services/QuillLMS/spec/queries/teacher_dashboard_metrics_spec.rb
  services/QuillLMS/spec/services/analytics/cache_segment_school_data_spec.rb
Due: none

Update various Trial and LLM Prompt fields
  services/QuillLMS/db/migrate/20240620123600_add_various_fields_to_trial_and_llm_prompt.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/helpers/evidence/research/gen_ai/trials_helper.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_guideline.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_prompt_example.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/prompt_example.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/test_example.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/readme.md
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/automl_data_importer.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/data_importer.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/llm_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/activities/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240620122344_add_various_fields_to_trial_and_llm_prompt.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/trials_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_prompts.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/trials.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_guideline_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_prompt_example_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

wip
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/guidelines_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/helpers/evidence/research/gen_ai/trials_helper.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_example.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_runner.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/llm_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/results_fetcher.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/guidelines/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
Due: lms-edits

Add version to Dataset and add csv to dataset#new
  services/QuillLMS/db/migrate/20240625135530_add_version_to_dataset.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/prompt_example.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/data_importer.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_importer.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/show.html.erb
  services/QuillLMS/engines/evidence/db/migrate/20240625135430_add_version_to_dataset.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/datasets.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
Due: lms-edits

Fix spec
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

Fix specs
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/trials_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/results_fetcher_spec.rb
Due: lms-edits

Add Comparison model
  services/QuillLMS/db/migrate/20240627001654_create_evidence_research_gen_ai_comparisons.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/comparisons_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/comparison.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/_confusion_matrix.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/_confusion_matrix.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_trial_worker.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240627001402_create_evidence_research_gen_ai_comparisons.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/comparisons.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/comparison_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/calculate_results_worker_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/run_trial_worker_spec.rb
Due: lms-edits

Clean up UI
  services/QuillLMS/db/migrate/20240625123600_add_various_fields_to_trial_and_llm_prompt.evidence.rb
  services/QuillLMS/db/migrate/20240625135530_add_version_to_dataset.evidence.rb
  services/QuillLMS/db/migrate/20240625205613_change_llm_feedback_to_llm_example.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/comparisons_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/comparison.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240625122344_add_various_fields_to_trial_and_llm_prompt.rb
  services/QuillLMS/engines/evidence/db/migrate/20240625135430_add_version_to_dataset.rb
  services/QuillLMS/engines/evidence/db/migrate/20240625204226_change_llm_feedback_to_llm_example.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
Due: lms-edits

Add TrialComparison model
  services/QuillLMS/db/migrate/20240627002601_create_evidence_research_gen_ai_trial_comparisons.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/comparison.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/guideline.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial_comparison.rb
  services/QuillLMS/engines/evidence/db/migrate/20240627002301_create_evidence_research_gen_ai_trial_comparisons.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/trial_comparisons.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_comparison_spec.rb
Due: lms-edits

Fix specs
  services/QuillLMS/engines/evidence/app/models/evidence/research/readme.md
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/calculate_results_worker_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/run_trial_worker_spec.rb
Due: lms-edits

Add defaults to datasets
  services/QuillLMS/db/migrate/20240701180742_update_defaults_on_dataset.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llm_prompts_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/db/migrate/20240701180438_update_defaults_on_dataset.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/datasets.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
Due: lms-edits

Fix formatting in readme
  services/QuillLMS/engines/evidence/app/models/evidence/research/readme.md
Due: lms-edits

Add boolean strings to parsing
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/llm_assigned_status_resolver.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/llm_assigned_status_resolver_spec.rb
Due: lms-edits

Remove extra line to structure.sql
  services/QuillLMS/db/structure.sql
Due: lms-edits
