Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

get basic tables loading
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/llmPromptTrials.tsx
  services/QuillLMS/client/app/bundles/Staff/interfaces/evidenceInterfaces.ts
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/genAIAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/stem_vaults_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai_record_builder.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai_record_builder_spec.rb
Due: lms-edits, lms-client-edits

lots of cleanup to do but UPLOADING WORKS
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/llmPromptTrials.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/routingHelpers.ts
  services/QuillLMS/client/app/bundles/Staff/interfaces/evidenceInterfaces.ts
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/llm_prompt_trials.scss
  services/QuillLMS/client/app/bundles/Staff/styles/styles.scss
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/genAIAPIs.ts
  services/QuillLMS/client/app/modules/request/index.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
Due: lms-edits, lms-client-edits

Backpack/ minimal banner & dark mode (#12464)
  packages/quill-cdn/assets/images/icons/l/school-campus-transparent.svg
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/postNavigationbanner.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/postNavigationBanner.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
  services/QuillLMS/client/app/bundles/Shared/styles/button.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/postNavigationBanners.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
Due: lms-client-edits

update button example to be interactive
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/buttons.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/colorPalette.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-edits, lms-client-edits

tweak styling
  services/QuillLMS/client/app/bundles/Shared/styles/button.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/buttons.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

update white transparent examples
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/colorPalette.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

update snapshot
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/buttons.test.tsx.snap
Due: lms-client-edits

jamie's requested revisions
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/activities.scss
Due: lms-client-edits

other refactors
  services/QuillLMS/client/app/bundles/Staff/components/evidence/navigation.tsx
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/activity.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai_record_builder.rb
Due: lms-edits, lms-client-edits

style index page
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/llmPromptTrials.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/activities.scss
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/llm_prompt_trials.scss
  services/QuillLMS/client/app/bundles/Staff/styles/styles.scss
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
Due: lms-edits, lms-client-edits

fix issue with nonvisible activities being readded to packs
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
Due: lms-edits

successfully handling errors for new datasets
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/llmPromptTrials.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/genAIAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
Due: lms-edits, lms-client-edits

modal upload looks much better
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/llm_prompt_trials.scss
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
Due: lms-edits, lms-client-edits

set up individual stem vault pages
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activity.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/llmPromptTrials.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/llm_prompt_trials.scss
Due: lms-client-edits

split out files
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/llmPromptTrials.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/newDatasetModal.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/stemVaultSection.tsx
Due: lms-client-edits

frontend tests
  services/QuillLMS/client/app/bundles/Shared/components/shared/textArea.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/__snapshots__/llmPromptTrials.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/__snapshots__/stemVaultSection.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/__snapshots__/stemVaultSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/llmPromptTrials.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/newDatasetModal.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/stemVaultSection.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/newDatasetModal.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/llm_prompt_trials.scss
Due: lms-client-edits

wip
  services/QuillLMS/app/controllers/auth/google_controller.rb
  services/QuillLMS/app/services/google_integration/student_creator.rb
  services/QuillLMS/app/services/google_integration/student_data_adapter.rb
  services/QuillLMS/spec/services/google_integration/student_creator_spec.rb
  services/QuillLMS/spec/services/google_integration/student_data_adapter_spec.rb
Due: lms-edits

fix lints and tests
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/__snapshots__/llmPromptTrials.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/__snapshots__/stemVaultSection.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/llmPromptTrials.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/stemVaultSection.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/newDatasetModal.tsx
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai_record_builder.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai_record_builder_spec.rb
Due: lms-edits, lms-client-edits

backend tests
  services/QuillLMS/client/app/bundles/Teacher/tests/components/salesForm/__snapshots__/lowerFormFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/tests/components/salesForm/__snapshots__/salesForm.test.tsx.snap
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/datasets_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/stem_vault_spec.rb
Due: lms-edits, lms-client-edits

more lint fixes
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/newDatasetModal.test.tsx
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits, lms-client-edits

Add RelevantText and related models
  services/QuillLMS/config/initializers/zeitwerk.rb
  services/QuillLMS/db/migrate/20241022194329_create_relevant_texts.evidence.rb
  services/QuillLMS/db/migrate/20241022194330_create_dataset_relevant_text.evidence.rb
  services/QuillLMS/db/migrate/20241022194331_create_llm_prompt_relevant_text.evidence.rb
  services/QuillLMS/db/migrate/20241022194332_add_notes_to_dataset.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset_relevant_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_relevant_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/relevant_text.rb
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/db/migrate/20241022191325_create_relevant_texts.rb
  services/QuillLMS/engines/evidence/db/migrate/20241022191503_create_dataset_relevant_text.rb
  services/QuillLMS/engines/evidence/db/migrate/20241022191551_create_llm_prompt_relevant_text.rb
  services/QuillLMS/engines/evidence/db/migrate/20241022191816_add_notes_to_dataset.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/datasets.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
Due: lms-edits

Fix schema
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

Fix spec
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_prompt_relevant_texts.rb
Due: lms-edits

Get rid of schema information from other branch
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/datasets.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
Due: lms-edits

Add specs
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/dataset_relevant_texts.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_prompt_relevant_texts.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/relevant_texts.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_relevant_text_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_relevant_text_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/relevant_text_spec.rb
Due: lms-edits

Fix spec failures
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/dataset_relevant_texts.rb
Due: lms-edits

Create RelevantText and related models (#12469)
  services/QuillLMS/config/initializers/zeitwerk.rb
  services/QuillLMS/db/migrate/20241022194329_create_relevant_texts.evidence.rb
  services/QuillLMS/db/migrate/20241022194330_create_dataset_relevant_text.evidence.rb
  services/QuillLMS/db/migrate/20241022194331_create_llm_prompt_relevant_text.evidence.rb
  services/QuillLMS/db/migrate/20241022194332_add_notes_to_dataset.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset_relevant_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_relevant_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/relevant_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/db/migrate/20241022191325_create_relevant_texts.rb
  services/QuillLMS/engines/evidence/db/migrate/20241022191503_create_dataset_relevant_text.rb
  services/QuillLMS/engines/evidence/db/migrate/20241022191551_create_llm_prompt_relevant_text.rb
  services/QuillLMS/engines/evidence/db/migrate/20241022191816_add_notes_to_dataset.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/dataset_relevant_texts.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/datasets.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_prompt_relevant_texts.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/relevant_texts.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_relevant_text_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_relevant_text_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/relevant_text_spec.rb
Due: lms-edits

Cleanup schema information
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

import fix
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/llmPromptTrials.test.tsx
Due: lms-client-edits

Fix google storage setting
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/storage.rb
Due: lms-edits

Add Google Cloud storage default and fix db schema (#12475)
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/storage.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

make sure notes stuff works with migration in place
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_importer.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/datasets_controller_spec.rb
Due: lms-edits

fix lint error
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/datasets_controller_spec.rb
Due: lms-edits

thomas' revisions
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
Due: lms-edits

fix function to accommodate has_many stem_vaults
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai_record_builder.rb
Due: lms-edits

fixes
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai_record_builder.rb
Due: lms-edits

try again
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai_record_builder.rb
Due: lms-edits

fix test time incongruity
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/__snapshots__/stemVaultSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/__tests__/stemVaultSection.test.tsx
Due: lms-client-edits

handle loading state
  services/QuillLMS/client/app/bundles/Staff/components/evidence/llmPromptTrials/newDatasetModal.tsx
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
