Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix close button and update tests
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/bulk_archive_or_evidence_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/bulk_archive_or_evidence_card.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/bulk_archive_classrooms_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/bulk_archive_or_evidence_card.tsx
Due: lms-client-edits

Allow users who are not assigned to a school to be processed (#10672)
  services/QuillLMS/lib/tasks/vitally.rake
Due: lms-edits

Fix border and snapshot
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/bulk_archive_classrooms_card.scss
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/dashboard.test.jsx.snap
Due: lms-edits, lms-client-edits

Fix learn_worlds import bug with empty username (#10674)
  services/QuillLMS/app/services/auth/learn_worlds/sso_request.rb
  services/QuillLMS/spec/services/auth/learn_worlds/sso_request_spec.rb
Due: lms-edits

Allow for cases where the Vitally data has invalid user ids
  services/QuillLMS/lib/tasks/vitally.rake
Due: lms-edits

fix frontend bugs
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ProgressReportIndex.jsx
Due: lms-edits, lms-client-edits

Appease Rubocop linter.
  services/QuillLMS/spec/queries/snapshots/options_query_spec.rb
Due: none

Some more linter clean-up
  services/QuillLMS/spec/queries/snapshots/options_query_spec.rb
Due: none

Use eager_load instead of joins + includes
  services/QuillLMS/lib/tasks/vitally.rake
Due: lms-edits

add classwide growth percentages
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostic_activity_packs.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummarySection.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
Due: lms-edits, lms-client-edits

update tests
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/diagnostic_activity_packs.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/growthSummary.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostic_activity_packs.tsx
Due: lms-client-edits

account for no growth instances
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
Due: lms-client-edits

Tweak Vitally active student count to include archived activity sessions
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
Due: lms-edits

Add TeacherAccountsCreated query for admin snapshots
  services/QuillLMS/app/queries/snapshots/teacher_accounts_created_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/queries/snapshots/teacher_accounts_created_query_spec.rb
Due: lms-edits

When building CTEs, ensure that attributes are always in the same order
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: none

Add new StudentAccountsCreated query for admin snapshots
  services/QuillLMS/app/queries/snapshots/student_accounts_created_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/queries/snapshots/student_accounts_created_query_spec.rb
Due: lms-edits

Add ClassroomsCreated query for admin snapshots
  services/QuillLMS/app/queries/snapshots/classrooms_created_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/queries/snapshots/classrooms_created_query_spec.rb
Due: lms-edits

add comments and remove Post label
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
Due: lms-client-edits

Add ActivityPacksAssigned query for admin snapshots
  services/QuillLMS/app/queries/snapshots/activity_packs_assigned_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/queries/snapshots/activity_packs_assigned_query_spec.rb
Due: lms-edits

Refactor based on new approach in ActivityPacksAssigned query
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
Due: lms-edits

Add ActivityPacksCompleted query for admin snapshots
  services/QuillLMS/app/queries/snapshots/activity_packs_completed_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/queries/snapshots/activity_packs_completed_query_spec.rb
Due: lms-edits

revisions
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/containers/dashboard.tsx
Due: lms-edits, lms-client-edits

Add type column to AuthCredential for STI
  services/QuillLMS/app/models/auth_credential.rb
  services/QuillLMS/db/migrate/20230622125712_add_type_to_auth_credential.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/auth_credentials.rb
  services/QuillLMS/spec/models/auth_credential_spec.rb
Due: lms-edits

class archiving widget (#10675)
  packages/quill-cdn/assets/images/pages/dashboard/bulk_archive_close_icon.svg
  packages/quill-cdn/assets/images/pages/dashboard/bulk_archive_illustration.svg
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/bulk_archive_classrooms_card.scss
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/views/teachers/classroom_manager/dashboard.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/bulk_archive_or_evidence_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/bulk_archive_or_evidence_card.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/bulk_archive_classrooms_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/bulk_archive_or_evidence_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/dashboard.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/dashboard.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/dashboard.tsx
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
Due: lms-edits, lms-client-edits

fix frontend bugs with usage snapshot reports (#10682)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ProgressReportIndex.jsx
Due: lms-edits, lms-client-edits

fix some modal css that got wonky
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/Teacher/containers/dashboard.tsx
Due: lms-edits, lms-client-edits

fix some modal css that got wonky (#10685)
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/Teacher/containers/dashboard.tsx
Due: lms-edits, lms-client-edits

further adjust css for overflow
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

fix lint error
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
Due: lms-client-edits

Teacher Diagnostic Report Changes: add classwide growth percentages (#10680)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_growth_results_summary.scss
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/diagnostic_activity_packs.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/growthSummary.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostic_activity_packs.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummarySection.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
Due: lms-edits, lms-client-edits

further adjust bulk archive modal css for overflow (#10687)
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

Add backfill to be run after migration
  services/QuillLMS/lib/tasks/temporary/users.rake
Due: lms-edits

Disable STI for now
  services/QuillLMS/app/models/auth_credential.rb
Due: lms-edits

Add BaselineDiagnosticsAssigned query to admin snapshot
  services/QuillLMS/app/queries/snapshots/baseline_diagnostics_assigned_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/queries/snapshots/baseline_diagnostics_assigned_query_spec.rb
Due: lms-edits

Add BaselineDiagnosticsCompleted query to admin shapshot
  services/QuillLMS/app/queries/snapshots/baseline_diagnostics_completed_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/queries/snapshots/baseline_diagnostics_completed_query_spec.rb
Due: lms-edits

Fix class names in the worker and add specs to catch such errors
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Fix backfill script
  services/QuillLMS/lib/tasks/temporary/users.rake
Due: lms-edits

Update rake task
  services/QuillLMS/lib/tasks/temporary/users.rake
Due: lms-edits

Remove non-null requirement for provider on AuthCredential
  services/QuillLMS/app/models/auth_credential.rb
  services/QuillLMS/db/migrate/20230622525712_remove_null_false_from_auth_credential_provider.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/auth_credentials.rb
  services/QuillLMS/spec/models/auth_credential_spec.rb
Due: lms-edits

Add GrowthDiagnosticsAssigned query to admin snapshots
  services/QuillLMS/app/queries/snapshots/growth_diagnostics_assigned_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/queries/snapshots/growth_diagnostics_assigned_query_spec.rb
Due: lms-edits
