Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

pluralize-skills-properly (#12259)
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/pluralize.ts
  services/QuillLMS/client/app/bundles/Shared/libs/tests/pluralize.test.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResponsesIndex.tsx
Due: lms-client-edits

update pw configs
  .circleci/continue_config.yml
  services/QuillLMS/e2e/main.spec.ts
  services/QuillLMS/playwright.config.ts
Due: none

Reorg the primary feedback files.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/optimal_boundary_data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/data/gen_ai_optimal_because_50.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/data/gen_ai_optimal_because_50_old.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/01_random_empty.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_05_24_optimal_and_feedback.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_05_31_highlights.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_06_03_optimal_and_feedback.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_06_07_more_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_06_24_no_plagiarism.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_06_24_optimal_focused.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_07_08_example_iteration.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_07_10_categories.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_07_11_plagiarism_only.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/prompts/2024_08_19_gemini_optimized.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/primary_feedback/data_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/primary_feedback/prompt_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback_checker_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Add BuildLLMExampleWorker
  services/QuillLMS/config/initializers/sidekiq.rb
  services/QuillLMS/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/build_llm_example_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_g_eval_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_trial_worker.rb
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/calculate_results_worker_spec.rb
Due: lms-edits

Migrate data set.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback/data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback/data_set.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_set.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/secondary_feedback/data_fetcher_spec.rb
Due: lms-edits

fix lint
  services/QuillLMS/app/controllers/profiles_controller.rb
Due: lms-edits

fixes
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/course_page.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/landing_page.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/SocialStudiesSubjectPage.tsx
Due: lms-edits, lms-client-edits

last fix
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_activity.tsx
Due: lms-client-edits

fix spec
  services/QuillLMS/e2e/main.spec.ts
Due: none

Add static prompt lookup.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/673.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/674.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/675.md
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/primary_feedback/static_prompt_builder_spec.rb
Due: lms-edits

Connect to GenAI check.
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/primary_feedback/static_prompt_builder_spec.rb
Due: lms-edits

Create GEvalScores Fetcher
  services/QuillLMS/Gemfile
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/results_fetcher_spec.rb
Due: lms-edits

Fix linter errors
  services/QuillLMS/db/migrate/20240805190219_add_number_to_evidence_research_gen_ai_trials.evidence.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback.rb
  services/QuillLMS/engines/evidence/db/migrate/20240805185650_add_number_to_evidence_research_gen_ai_trials.rb
Due: lms-edits

fix test
  services/QuillLMS/e2e/main.spec.ts
Due: none

remove waitForURL
  services/QuillLMS/e2e/main.spec.ts
Due: none

Add g_eval_scores factory
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/g_eval_score.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/g_eval_scores.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback_spec.rb
Due: lms-edits

update test
  services/QuillLMS/e2e/main.spec.ts
  services/QuillLMS/playwright.config.ts
Due: none

copy update
  services/QuillLMS/app/helpers/content_hubs_helper.rb
Due: lms-edits

Update trial spec
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

Fix specs
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_runner_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/calculate_results_worker_spec.rb
Due: lms-edits

Update styling to not bold student data that gets truncated
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_student_responses.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/individualStudentResponses.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/individualStudentResponses.tsx
Due: lms-edits, lms-client-edits

spec updates
  services/QuillLMS/e2e/main.spec.ts
Due: none

Move to default queue
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/build_llm_example_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_g_eval_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_trial_worker.rb
Due: lms-edits

set retries to 0 for now
  services/QuillLMS/playwright.config.ts
Due: none

Small refactor and clarifying comment
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/checker.rb
Due: lms-edits

Evidence GenAI - Coral Reef Static Prompts (#12264)
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/673.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/674.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/675.md
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/primary_feedback/static_prompt_builder_spec.rb
Due: lms-edits

Use Sidekiq batch for trial runs and g-eval scores (#12224)
  services/QuillLMS/Gemfile
  services/QuillLMS/Procfile
  services/QuillLMS/Procfile.dev
  services/QuillLMS/config/initializers/sidekiq.rb
  services/QuillLMS/config/initializers/zeitwerk.rb
  services/QuillLMS/config/sidekiq_experiment.yml
  services/QuillLMS/config/sidekiq_gen_ai_eval.yml
  services/QuillLMS/db/migrate/20240808123813_create_evidence_g_eval_scores.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/g_eval_score.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_validator.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_runner.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_scores_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/results_fetcher.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompts/show.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/build_llm_example_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_g_eval_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_trial_worker.rb
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/db/migrate/20240808123536_create_evidence_g_eval_scores.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/g_eval_scores.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/g_eval_score_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_runner_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/results_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/calculate_results_worker_spec.rb
Due: lms-edits

store artifacts
  .circleci/continue_config.yml
Due: none

add screenshot
  services/QuillLMS/e2e/main.spec.ts
Due: none

Allow hiding of guidelines
  services/QuillLMS/db/migrate/20240821210256_add_visible_to_guidelines.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/guidelines_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/stem_vaults_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/guideline.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240821205700_add_visible_to_guidelines.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

Fix linter error
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

Fix annotations
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/guideline.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/guidelines.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/guideline_spec.rb
Due: lms-edits

Remove confirmation
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/show.html.erb
Due: lms-edits

fix tests and lint
  services/QuillLMS/app/helpers/content_hubs_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/socialStudies.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/__tests__/__snapshots__/landing_page.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/SocialStudiesSubjectPage.test.jsx.snap
  services/QuillLMS/spec/controllers/teachers/progress_reports_controller_spec.rb
  services/QuillLMS/spec/helpers/teacher_center_helper_spec.rb
Due: lms-edits, lms-client-edits

fix lint errors
  services/QuillLMS/app/helpers/content_hubs_helper.rb
Due: lms-edits

lint fix
  services/QuillLMS/app/controllers/profiles_controller.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

initial
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

pinning to avoid major version bumps
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
