Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix DEPRECATION WARNING: TimeWithZone#to_s(:db) is deprecated
  services/QuillLMS/app/queries/scorebook/query.rb
Due: lms-edits

Fix spec failure
  services/QuillLMS/spec/workers/update_student_last_active_worker_spec.rb
Due: none

Teacher Diagnostic Report Changes: change the way the “skill group” score is calculated (#10664)
  packages/quill-cdn/assets/images/pages/diagnostic_reports/components-proficiency-circle-color-gained-some-proficiency.svg
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_growth_results_summary.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_pack.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/diagnostic_activity_packs.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/growthResults.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/growthSummary.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/test_data.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostic_activity_packs.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthResults.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummarySection.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/interfaces.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/percentageCircle.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/results.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/summary.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/concerns/diagnostic_reports_spec.rb
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
Due: lms-edits, lms-client-edits

Thomas suggestions
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/bin/setup
  services/QuillLMS/engines/evidence/spec/controllers/evidence/turking_rounds_controller_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: lms-edits

Upgrade to Rails 7 (#10818)
  .circleci/config.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/queries/scorebook/query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/bin/rails
  services/QuillLMS/bin/rake
  services/QuillLMS/bin/setup
  services/QuillLMS/config/application.rb
  services/QuillLMS/config/boot.rb
  services/QuillLMS/config/initializers/doorkeeper.rb
  services/QuillLMS/config/initializers/filter_parameter_logging.rb
  services/QuillLMS/config/initializers/rails_admin.rb
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/turking_rounds_controller_spec.rb
  services/QuillLMS/lib/tasks/local_data.rake
  services/QuillLMS/lib/tasks/setup.rake
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/views/user_mailer/daily_stats_email.html.erb_spec.rb
  services/QuillLMS/spec/views/user_mailer/ell_starter_diagnostic_info_email.html.erb_spec.rb
  services/QuillLMS/spec/workers/update_student_last_active_worker_spec.rb
Due: lms-edits

Get rid of .html.erb references in code
  services/QuillLMS/app/controllers/cms/blog_posts_controller.rb
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/app/views/teachers/classroom_manager/dashboard.html.erb
Due: lms-edits

Get rid of .html.erb references in code (#10828)
  services/QuillLMS/app/controllers/cms/blog_posts_controller.rb
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/app/views/teachers/classroom_manager/dashboard.html.erb
Due: lms-edits

add skill_group_id to question table instead of creating new table
  services/QuillLMS/app/models/diagnostic_question_skill.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/skill_group.rb
  services/QuillLMS/db/migrate/20230731184420_create_diagnostic_question_skills.rb
  services/QuillLMS/db/migrate/20230801123404_add_skill_group_id_to_questions.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/diagnostic_question_skill.rb
  services/QuillLMS/spec/models/diagnostic_question_skill_spec.rb
  services/QuillLMS/spec/models/question_spec.rb
Due: lms-edits

add frozen string literal comment
  services/QuillLMS/db/migrate/20230801123404_add_skill_group_id_to_questions.rb
Due: lms-edits

remove trailing whitespace
  services/QuillLMS/spec/models/question_spec.rb
Due: none

add csv of diagnostic skill group data and question mapping
  services/QuillLMS/db/migrate/20230801125641_populate_diagnostic_question_skill_group_ids.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/lib/data/test_skill_to_question_mapping.csv
Due: lms-edits

Fix bug with archive classrooms showing in active classrooms
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
Due: lms-client-edits

update newrelic and dalli gems
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits, cms-edits

add migration and model files for diagnostic question skills (#10825)
  services/QuillLMS/app/models/diagnostic_question_skill.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/skill_group.rb
  services/QuillLMS/db/migrate/20230731184420_create_diagnostic_question_skills.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/diagnostic_question_skill.rb
  services/QuillLMS/spec/models/diagnostic_question_skill_spec.rb
Due: lms-edits

add skill to question mapping csv and rake task
  services/QuillLMS/lib/data/skill_to_question_mapping.csv
  services/QuillLMS/lib/tasks/populate_diagnostic_question_skills.rake
Due: lms-edits

wip
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/spec/controllers/concerns/diagnostic_reports_spec.rb
Due: lms-edits

Update annotate and db/structure.sql
  services/QuillLMS/app/models/clever_classroom_user.rb
  services/QuillLMS/app/models/google_classroom_user.rb
  services/QuillLMS/db/structure.sql
Due: lms-edits

Move canvas_config lockbox attributes to Rails 7 encrypted attributes
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/canvas_config.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/db/migrate/20230801140455_add_client_id_client_secret_to_canvas_config.rb
  services/QuillLMS/db/migrate/20230801140522_remove_client_id_cipher_text_client_secret_cipher_text.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_configs.rb
  services/QuillLMS/spec/models/canvas_config_spec.rb
Due: lms-edits

Add notes for .env-sample
  services/QuillLMS/.env-sample
Due: none

get the student responses page working
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_growth_results_summary.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/app/models/skill_group.rb
  services/QuillLMS/app/services/diagnostic_unit_records_fetcher.rb
  services/QuillLMS/app/services/diagnostics_organized_by_classroom_fetcher.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostic_activity_packs.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthResults.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummarySection.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/individualPack.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/individualStudentResponses.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/ineligibleForQuestionScoring.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/results.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResponsesIndex.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/summary.tsx
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-edits, lms-client-edits

add skill to question mapping csv and rake task (#10835)
  services/QuillLMS/lib/data/skill_to_question_mapping.csv
  services/QuillLMS/lib/tasks/populate_diagnostic_question_skills.rake
Due: lms-edits

account for string values
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-edits

Add a util for converting "null" to nil
  services/QuillLMS/app/lib/utils/string.rb
  services/QuillLMS/spec/lib/utils/string_spec.rb
Due: lms-edits

Parse "null" JSON args to `nil`
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

get everything working
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_growth_results_summary.scss
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concerns/get_score_for_question.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-edits, lms-client-edits

Filter active students by activity_sessions.completed_at
  services/QuillLMS/app/queries/snapshots/active_students_query.rb
Due: lms-edits

spec file
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: none

Fix Sentry error for Diagnostic Reports (#10839)
  services/QuillLMS/app/controllers/concerns/results_summary.rb
Due: lms-edits

Update the way we display average queries with no denominator
  services/QuillLMS/app/lib/utils/numeric.rb
  services/QuillLMS/app/queries/snapshots/average_query.rb
  services/QuillLMS/spec/lib/utils/numeric_spec.rb
Due: lms-edits

Update snapshot count front-end to handle N/A values
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

finishing touches; add tests
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/dataExportTableAndFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/dataExportTableAndFields.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-edits, lms-client-edits

small refactors; fix lint errors
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/dataExportTableAndFields.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
Due: lms-edits, lms-client-edits

Remove lockbox gem (#10837)
  services/QuillLMS/.env-sample
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/canvas_config.rb
  services/QuillLMS/app/models/clever_classroom_user.rb
  services/QuillLMS/app/models/google_classroom_user.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/db/migrate/20230801140455_add_client_id_client_secret_to_canvas_config.rb
  services/QuillLMS/db/migrate/20230801140522_remove_client_id_cipher_text_client_secret_cipher_text.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_configs.rb
  services/QuillLMS/spec/models/canvas_config_spec.rb
Due: lms-edits

linting and cleanup
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/models/concerns/get_score_for_question.rb
  services/QuillLMS/app/services/diagnostic_unit_records_fetcher.rb
  services/QuillLMS/app/services/diagnostics_organized_by_classroom_fetcher.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/interfaces.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
Due: lms-edits, lms-client-edits

more linting
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
Due: lms-edits

remove optional argument
  services/QuillLMS/app/services/diagnostic_unit_records_fetcher.rb
  services/QuillLMS/app/services/diagnostics_organized_by_classroom_fetcher.rb
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
Due: lms-edits

update includes statement
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
Due: lms-edits

add integer check for growth summary results
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
Due: lms-edits
