Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

get snapshot item definitions in place and style the basic rankings component
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/highlights.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

specs passing
  services/QuillLMS/spec/controllers/api/v1/classroom_units_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classroom_units_controller_spec.rb
Due: none

cleanup
  services/QuillLMS/spec/controllers/api/v1/classroom_units_controller_spec.rb
Due: none

add snapshot feedback section and get styled through first breakpoint
  packages/quill-cdn/assets/images/pages/administrator/expand.svg
  packages/quill-cdn/assets/images/pages/administrator/new_tab.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotFeedback.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
Due: lms-edits, lms-client-edits

Add webhook handling for LearnWorlds user course events
  services/QuillLMS/app/controllers/auth/learn_worlds_controller.rb
  services/QuillLMS/app/controllers/learn_worlds_integration/webhooks_controller.rb
  services/QuillLMS/app/models/learn_worlds_account.rb
  services/QuillLMS/app/models/learn_worlds_account_course_event.rb
  services/QuillLMS/app/models/learn_worlds_course.rb
  services/QuillLMS/app/services/learn_worlds_integration/webhooks/account_course_event_handler.rb
  services/QuillLMS/app/services/learn_worlds_integration/webhooks/course_completed_event_handler.rb
  services/QuillLMS/app/services/learn_worlds_integration/webhooks/earned_certificate_event_handler.rb
  services/QuillLMS/app/services/learn_worlds_integration/webhooks/enrolled_free_course_event_handler.rb
  services/QuillLMS/config/environments/development.rb
  services/QuillLMS/config/initializers/auth/learn_worlds.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/db/migrate/20230523191206_create_learn_worlds_courses.rb
  services/QuillLMS/db/migrate/20230523191347_create_learn_worlds_account_course_events.rb
  services/QuillLMS/db/migrate/20230523192828_add_last_login_to_learn_worlds_account.rb
  services/QuillLMS/db/migrate/20230524142914_add_uniqueness_to_external_id_in_learn_worlds_account.rb
  services/QuillLMS/db/migrate/20230524143000_add_uniqueness_to_external_id_in_learn_worlds_course.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/controllers/learn_worlds_integration/webhooks_controller_spec.rb
  services/QuillLMS/spec/factories/learn_worlds_account_course_events.rb
  services/QuillLMS/spec/factories/learn_worlds_accounts.rb
  services/QuillLMS/spec/factories/learn_worlds_courses.rb
  services/QuillLMS/spec/models/learn_worlds_account_course_event_spec.rb
  services/QuillLMS/spec/models/learn_worlds_account_spec.rb
  services/QuillLMS/spec/models/learn_worlds_course_spec.rb
  services/QuillLMS/spec/requests/auth/learn_worlds_controller_spec.rb
  services/QuillLMS/spec/services/learn_worlds_integration/webhooks/course_completed_event_handler_spec.rb
  services/QuillLMS/spec/services/learn_worlds_integration/webhooks/earned_certificate_event_handler_spec.rb
  services/QuillLMS/spec/services/learn_worlds_integration/webhooks/enrolled_free_course_event_handler_spec.rb
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/account_course_event_data.rb
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/course_completed_event.rb
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/course_completed_event_data.rb
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/earned_certificate_event.rb
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/earned_certificate_event_data.rb
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/enrolled_free_course_event.rb
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/enrolled_free_course_event_data.rb
Due: lms-edits

Convert array to string
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/config/environments/development.rb
Due: lms-edits

Fix vitally sync spec
  services/QuillLMS/app/models/learn_worlds_course.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: lms-edits

Fix spec failures
  services/QuillLMS/spec/models/learn_worlds_account_course_event_spec.rb
  services/QuillLMS/spec/models/learn_worlds_course_spec.rb
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/enrolled_free_course_event_data.rb
Due: none

Fix lint errors
  services/QuillLMS/spec/models/learn_worlds_account_course_event_spec.rb
  services/QuillLMS/spec/models/learn_worlds_account_spec.rb
  services/QuillLMS/spec/models/learn_worlds_course_spec.rb
Due: none

revert db/structure.sql
  services/QuillLMS/db/structure.sql
Due: lms-edits

Add learn worlds data to vitally sync
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: lms-edits

Add note about re-populating local database
  services/QuillLMS/lib/tasks/local_data.rake
Due: lms-edits

Fix db/structure.sql
  services/QuillLMS/db/structure.sql
Due: lms-edits

Dan suggestions
  services/QuillLMS/app/controllers/learn_worlds_integration/webhooks_controller.rb
Due: lms-edits

Add learn_worlds_access_override for test account
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Fix linter error
  services/QuillLMS/spec/models/user_spec.rb
Due: none

Dan suggestion
  services/QuillLMS/app/controllers/learn_worlds_integration/webhooks_controller.rb
Due: lms-edits

Add learn_worlds_access_override for test account (#10592)
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Fix user_ids_allow_list setting for rake task
  services/QuillLMS/lib/tasks/app_settings.rake
Due: lms-edits

Add authentication and validation to the controller
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Revise the params we pass into the worker
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Revert "Revise the params we pass into the worker"
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Allow a nil previous-timeframe to be passed to the cache worker
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits

Include previous timeframe start in cache keys
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/cache_keys.rb
  services/QuillLMS/spec/lib/snapshots/cache_keys_spec.rb
Due: lms-edits

Move VCR config changes into the rails_helper
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/rails_helper.rb
Due: none

Update spec expectations to match current data responses
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
Due: none

Refactor snapshot queries to not use user_id
  services/QuillLMS/app/queries/snapshots/count_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/sentences_written_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

add auth_failed param again
  services/QuillLMS/app/lib/quill_authentication.rb
  services/QuillLMS/spec/controllers/lib/quill_authentication_spec.rb
Due: lms-edits

Move magic query inputs into a shared context
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/query_data.rb
Due: none

Add an comment explaining the source of the values in shared context
  services/QuillLMS/spec/support/shared_contexts/snapshots/query_data.rb
Due: none

specs passing
  services/QuillLMS/app/controllers/activity_sessions_controller.rb
  services/QuillLMS/app/lib/quill_authentication.rb
  services/QuillLMS/spec/controllers/api/v1/classroom_units_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classroom_units_controller_spec.rb
Due: lms-edits

Thomas suggestion
  services/QuillLMS/app/models/app_setting.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Fix user_ids_allow_list setting for rake task (#10593)
  services/QuillLMS/lib/tasks/app_settings.rake
Due: lms-edits

get basic html and styling in place for filters
  packages/quill-cdn/assets/images/pages/administrator/remove_search_token.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

regular page width filters are styled
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

wip
  services/QuillLMS/lib/tasks/activity_sessions.rake
  services/QuillLMS/lib/tasks/backfill.rake
Due: lms-edits

wip
  services/QuillLMS/lib/tasks/backfill.rake
Due: lms-edits

lint
  services/QuillLMS/lib/tasks/backfill.rake
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
