Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Add translated_text for english_text
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/spec/models/english_text_spec.rb
Due: lms-edits

Make english_id not null
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/db/migrate/20240610145308_create_translated_texts.rb
Due: lms-edits

Rubocop
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/app/services/gengo_response_wrapper.rb
  services/QuillLMS/spec/factories/english_texts.rb
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/factories/translation_mappings.rb
  services/QuillLMS/spec/lib/translate_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
  services/QuillLMS/spec/services/gengo_response_wrapper_spec.rb
Due: lms-edits

Remove unnecessary method
  services/QuillLMS/app/models/concept_feedback.rb
Due: lms-edits

Update comments
  services/QuillLMS/app/models/english_text.rb
Due: lms-edits

Remove spring reference
  services/QuillLMS/bin/rails
Due: lms-edits

Remove bin/rake change
  services/QuillLMS/bin/rake
Due: lms-edits

Un-update bin/rspec
  services/QuillLMS/bin/rspec
Due: lms-edits

Un-update spring
  services/QuillLMS/bin/spring
Due: lms-edits

Update structure.sql
  services/QuillLMS/db/structure.sql
Due: lms-edits

Remove extraneous concept_
  services/QuillLMS/spec/models/concept_feedback_spec.rb
Due: none

Add back in factory for translation mappings
  services/QuillLMS/spec/factories/translation_mappings.rb
Due: none

Add script to evaluate optimals for a prompt.
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/01_random_empty.md
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Rubocop
  services/QuillLMS/config/initializers/gengo.rb
  services/QuillLMS/db/migrate/20240610145220_create_english_texts.rb
  services/QuillLMS/db/migrate/20240610145308_create_translated_texts.rb
  services/QuillLMS/db/migrate/20240610155753_create_translation_mappings.rb
Due: lms-edits

Iterations on prompt and examples.
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_07_more_examples.md
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

refactor Menus component, add customizable dropdown menu
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/menus.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

add dropdown options
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/menus.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

last changes
  services/QuillLMS/app/assets/stylesheets/pages/press.scss
  services/QuillLMS/app/views/pages/press.html.erb
Due: lms-edits

color nit
  services/QuillLMS/app/assets/stylesheets/pages/press.scss
Due: lms-edits

add order to payload
  services/QuillLMS/client/app/bundles/Shared/components/internalTools/regexInputAndConceptSelectorForm.tsx
Due: lms-client-edits

fix "validatedomnesting" errors where possible (#11920)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/snapshots.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_pack.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_recommendations.scss
  services/QuillLMS/app/views/pages/shared/_expandable_units_section.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotRanking.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/UsageSnapshotsContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/overviewSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/skillSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/studentSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post_index.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/springboard.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/spring_board.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/recommendationsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendationsTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/preview_card.jsx
Due: lms-edits, lms-client-edits

delete def home path and rename home_new to home (#11923)
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/layouts/home.html.erb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
  services/QuillLMS/app/views/pages/home.html.erb
  services/QuillLMS/app/views/pages/home_new.html.erb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/pages_controller_spec.rb
Due: lms-edits

show blue for ungraded activites on activity analysis student overview (#11926)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/modules/grade_color.js
  services/QuillLMS/client/app/bundles/Teacher/components/modules/score_color.js
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/overview_boxes.jsx
Due: lms-edits, lms-client-edits

fix border radius for hovered row on dashboard (#11927)
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/post_checklist.scss
Due: lms-edits

Add worker with 1 minute delay to pull translations from Gengo
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/workers/save_translated_text_worker.rb
  services/QuillLMS/spec/models/english_text_spec.rb
Due: lms-edits

put back table body
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

fix tests
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
Due: lms-client-edits

correctly render table body for diagnostic student results page (#11931)
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

Iteration from test results.
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_07_more_examples.md
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

styling tweaks
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-client-edits

Remove materialized views that are not used by any queries
  services/QuillLMS/config/big_query_views.yml
  services/QuillLMS/db/big_query/views/active_classroom_stubs_view.sql
  services/QuillLMS/db/big_query/views/active_classroom_unit_stubs_view.sql
  services/QuillLMS/db/big_query/views/recommendation_activity_session_stubs_view.sql
Due: lms-edits

Update display of time spent on the Overview tab to match Student
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/helpers.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-client-edits

Update tests for new format
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/diagnosticGrowthReportsHelpers.test.tsx
Due: lms-client-edits

turn delete into a get and update tests
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/pdf_subscriptions_controller_spec.rb
Due: lms-edits

better error handling
  services/QuillLMS/app/services/learn_worlds_integration/suspended_users_request.rb
  services/QuillLMS/spec/services/learn_worlds_integration/suspended_users_request_spec.rb
Due: lms-edits

Small fixes
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/models/concept_feedback_spec.rb
Due: lms-edits

Move Gengo code from EnglishText into services.
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/app/services/gengo/save_jobs_from_order.rb
  services/QuillLMS/app/services/gengo/save_translated_text.rb
  services/QuillLMS/app/workers/gengo/save_jobs_from_order_worker.rb
  services/QuillLMS/app/workers/gengo/save_translated_text_worker.rb
  services/QuillLMS/app/workers/save_translated_text_worker.rb
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
  services/QuillLMS/spec/services/gengo/save_jobs_from_order_spec.rb
  services/QuillLMS/spec/services/gengo/save_translated_text_spec.rb
Due: lms-edits

Move code from translated_text to the save_translated_text service.
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/app/services/gengo/save_translated_text.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/services/gengo/save_translated_text_spec.rb
Due: lms-edits

Add specs for workers.
  services/QuillLMS/spec/workers/gengo/save_jobs_from_order_worker_spec.rb
  services/QuillLMS/spec/workers/gengo/save_translated_text_worker_spec.rb
Due: none

Small changes
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/app/services/gengo/save_jobs_from_order.rb
  services/QuillLMS/app/services/gengo/save_translated_text.rb
  services/QuillLMS/db/migrate/20240610155753_create_translation_mappings.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/factories/translation_mappings.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
Due: lms-edits
