Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Allow for different APIs for Primary, Repeat, and Secondary API calls.
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

add bundle exec to foreman command
  .circleci/continue_config.yml
Due: none

Explicitly sort Skill Groups by order_number
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-edits

update readme
  services/QuillLMS/e2e/README.md
  services/QuillLMS/e2e/example.spec.ts
Due: none

98% optimal, 76% suboptimal.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_08_19_gemini_optimized.md
Due: lms-edits

Fix linting error
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: none

checking in login_spec temporarily
  services/QuillLMS/spec/system/login_spec.rb
Due: none

Add a pluralize utility method and use it for Skill lists
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/pluralize.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResponsesIndex.tsx
Due: lms-client-edits

revisions
  services/QuillLMS/app/helpers/content_hubs_helper.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports_controller_spec.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits

Add new test for pluralize lib
  services/QuillLMS/client/app/bundles/Shared/libs/tests/pluralize.test.ts
Due: lms-client-edits

style revisions
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student-profile-modal.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/explanationSlide.scss
Due: lms-edits, lms-client-edits

building ai knowledge course page (#12256)
  packages/quill-cdn/assets/images/pages/content_hub/building_ai_knowledge@2x.png
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/course_page.scss
  services/QuillLMS/app/controllers/teachers/progress_reports_controller.rb
  services/QuillLMS/app/helpers/content_hubs_helper.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/helpers/teacher_center_helper.rb
  services/QuillLMS/app/views/pages/building_ai_knowledge.html.erb
  services/QuillLMS/app/views/pages/interdisciplinary_science.html.erb
  services/QuillLMS/app/views/teachers/progress_reports/building_ai_knowledge.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignment_flow_navigation.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_building_ai_knowledge.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_interdisciplinary_science_subject_page.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/__snapshots__/course_page_activity.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/__snapshots__/course_page_unit_template.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_activity.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_unit_template.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/AssignActivitiesRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/BuildingAIKnowledge.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/CoursePage.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/InterdisciplinaryScienceSubjectPage.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ProgressReportIndex.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/WorldHistory1200ToPresent.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/BuildingAIKnowledgeContainer.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/AdminAccess.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/BuildingAIKnowledgeContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/startup/BuildingAIKnowledgeAppClient.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/InterdisciplinaryScienceSubjectPageAppClient.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/clientRegistration.jsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports_controller_spec.rb
  services/QuillLMS/spec/helpers/content_hubs_helper_spec.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits, lms-client-edits

Update Rubocop rules
  services/.rubocop_base.yml
  services/QuillLMS/.rubocop_todo.yml
Due: none

copy and style updates
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/subject_page.scss
  services/QuillLMS/app/helpers/teacher_center_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/socialStudies.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/SocialStudiesSubjectPage.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/WorldHistory1200ToPresent.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/SocialStudiesSubjectPage.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/WorldHistory1200ToPresentContainer.test.tsx.snap
Due: lms-edits, lms-client-edits

Autocorrect script files
  services/QuillLMS/script/concept_results_from_sentry_errors.rb
  services/QuillLMS/script/recommendations/00_import_independent_practice_recommendations.rb
  services/QuillLMS/script/recommendations/01_import_group_lesson_recommendations.rb
  services/QuillLMS/script/search_git_history_for_env.rb
Due: none

Reorg secondary feedback files.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback/data/secondary_feedback_all.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback/data/secondary_feedback_test.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback/data/secondary_feedback_train.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback/data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback/prompts/2024_07_17_initial.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback/prompts/2024_07_17_with_highlight.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/secondary_feedback/data_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/secondary_feedback/prompt_builder_spec.rb
Due: lms-edits

Reorg repeated feedback
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/checker.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/data/all.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/data/test.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/data/train.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_07_31_initial.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_15_ask_identical.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_15_identical_with_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_checker.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback/checker_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback/prompt_builder_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Remove bad link
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompts/show.html.erb
Due: lms-edits

spec fix
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: none

a bit more styling
  services/QuillLMS/client/app/bundles/Evidence/styles/headerStyling.scss
Due: lms-client-edits

fix bug with linking to reports
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/config/routes.rb
Due: lms-edits

and anotha one
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/handy_actions.tsx
Due: lms-client-edits

everything rendering correctly
  packages/quill-cdn/assets/images/icons/xl/comment-document.svg
  packages/quill-cdn/assets/images/icons/xl/research-books.svg
  packages/quill-cdn/assets/images/icons/xl/search-document.svg
  packages/quill-cdn/assets/images/pages/interdisciplinary_science_subject_page/header_backdrop.svg
  packages/quill-cdn/assets/images/pages/interdisciplinary_science_subject_page/quill_logo_plus_ai_edu_logo.svg
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/subject_page.scss
  services/QuillLMS/app/views/teachers/progress_reports/building_ai_knowledge.html.erb
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/interdisciplinaryScience.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/InterdisciplinaryScienceSubjectPage.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/QuestionsAndAnswers.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/SocialStudiesSubjectPage.tsx
Due: lms-edits, lms-client-edits

copy changes
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/interdisciplinaryScience.tsx
Due: lms-client-edits

rename file, see data, etc
  services/QuillLMS/e2e/README.md
  services/QuillLMS/e2e/example.spec.ts
  services/QuillLMS/e2e/main.spec.ts
  services/QuillLMS/lib/tasks/local_data.rake
Due: lms-edits

Revert "checking in login_spec temporarily"
  services/QuillLMS/spec/system/login_spec.rb
Due: none

add seed data cmd to circle ci
  .circleci/continue_config.yml
Due: none

refactor out common code
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/subject_page_summary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/subject_page_teacher_center_articles.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/InterdisciplinaryScienceSubjectPage.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/SocialStudiesSubjectPage.tsx
Due: lms-client-edits

remove capybara spec
  services/QuillLMS/spec/system/activity_pack_assignment_spec.rb
Due: none

adjust copy for social studies too
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/socialStudies.tsx
Due: lms-client-edits

update readme
  services/QuillLMS/e2e/README.md
Due: none

testupdates
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/handy_actions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/InterdisciplinaryScienceSubjectPage.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/InterdisciplinaryScienceSubjectPage.test.jsx.snap
Due: lms-client-edits

move GenAI jobs to low queue
  services/QuillLMS/Procfile
  services/QuillLMS/Procfile.dev
  services/QuillLMS/config/initializers/sidekiq.rb
  services/QuillLMS/config/sidekiq_experiment.yml
  services/QuillLMS/config/sidekiq_gen_ai_eval.yml
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_g_eval_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_trial_worker.rb
Due: lms-edits

Add spec
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/g_eval_score_spec.rb
Due: lms-edits

remove rails process watcher, add DATABASE_URL to cci, add debug script
  .circleci/continue_config.yml
Due: none

correct circle ci conditional run pattern for integration tests
  .circleci/config.yml
Due: none

lint
  services/QuillLMS/lib/tasks/local_data.rake
Due: lms-edits

debug
  .circleci/continue_config.yml
  services/QuillLMS/e2e/main.spec.ts
Due: none

fix-teacher-diagnostic-student-report-ordering (#12258)
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
