Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Define our block properly
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
Due: none

revisions
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/filters.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotRanking.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dropdownInput.tsx
Due: lms-edits, lms-client-edits

remove extra padding
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
Due: lms-edits

Rely on shared context to define runner and results
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/schools_option_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/quill_big_query_test_runner_setup.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_option_query_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
Due: none

Lms/admin snapshot report backend milestone2 (#10607)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/queries/quill_big_query/query.rb
  services/QuillLMS/app/queries/snapshots/most_active_schools_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_practiced_query.rb
  services/QuillLMS/app/queries/snapshots/top_x_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
  services/QuillLMS/spec/rails_helper.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

update backend a little
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

Update migration timing message to be more explicit
  services/QuillLMS/deploy.sh
Due: none

Lms/admin snapshot report backend milestone2 redux (#10626)
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/schools_option_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/quill_big_query_test_runner_setup.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_option_query_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
Due: none

Add "on school days" qualifier to migration warning message
  services/QuillLMS/deploy.sh
Due: none

Add ActiveTeachersQuery query and specs
  services/QuillLMS/app/queries/snapshots/active_teachers_query.rb
  services/QuillLMS/spec/factories/user_login.rb
  services/QuillLMS/spec/queries/snapshots/active_teachers_query_spec.rb
Due: lms-edits

Add new active-teachers query to the registered queries in worker
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
Due: lms-edits

lms/migration-check-message-in-deploy-script (#10623)
  services/QuillLMS/deploy.sh
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
Due: none

Add dependent: :destroy with classroom_unit_activity_states (#10622)
  services/QuillLMS/app/models/classroom_unit.rb
  services/QuillLMS/app/models/unit_activity.rb
  services/QuillLMS/spec/factories/classroom_unit_activity_states.rb
  services/QuillLMS/spec/models/classroom_unit_spec.rb
  services/QuillLMS/spec/models/unit_activity_spec.rb
Due: lms-edits

Remove selects from job, loop through delete statements.
  services/QuillLMS/app/workers/delete_obsolete_active_activity_sessions_worker.rb
  services/QuillLMS/spec/workers/delete_obsolete_active_activity_sessions_worker_spec.rb
Due: lms-edits

Remove selects from job, loop through delete statements. (#10629)
  services/QuillLMS/app/workers/delete_obsolete_active_activity_sessions_worker.rb
  services/QuillLMS/spec/workers/delete_obsolete_active_activity_sessions_worker_spec.rb
Due: lms-edits

Lms/admin snapshot report backend milestone3 (#10627)
  services/QuillLMS/app/queries/snapshots/active_teachers_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/factories/user_login.rb
  services/QuillLMS/spec/queries/snapshots/active_teachers_query_spec.rb
Due: lms-edits

show active teachers
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Add "mestres" to the spelling exceptions list
  services/QuillLMS/engines/evidence/lib/evidence/evidence/spelling_check.rb
Due: lms-edits

Remove old environments from deploy script.
  services/QuillLMS/deploy.sh
Due: none

Don’t open NR for staging deploys
  services/QuillLMS/deploy.sh
Due: none

Fix date calculation in deploy script.
  services/QuillLMS/deploy.sh
Due: none

add dispatch action for previewSessionStep
  services/QuillLMS/app/assets/stylesheets/shared/teacher-preview-menu.scss
  services/QuillLMS/client/app/bundles/Evidence/actions/actionTypes.ts
  services/QuillLMS/client/app/bundles/Evidence/actions/session.ts
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Evidence/reducers/sessionReducer.ts
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenu.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
Due: lms-edits, lms-client-edits

Deploy Script Cleanup (#10633)
  services/QuillLMS/deploy.sh
Due: none

handle preview data changes during activity play
  services/QuillLMS/app/assets/stylesheets/shared/teacher-preview-menu.scss
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenu.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
Due: lms-edits, lms-client-edits

update snapshot; small refactors
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/style.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/teacherPreviewMenu.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/teacherPreviewMenu.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenu.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
Due: lms-client-edits

brendan changes
  services/QuillLMS/engines/evidence/lib/evidence/engine.rb
Due: lms-edits

Make evidence factories visible in LMS for testing (#10597)
  services/QuillLMS/engines/evidence/lib/evidence/engine.rb
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
  services/QuillLMS/engines/evidence/spec/spec_helper.rb
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/evidence_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/feedback_histories_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/rule_feedback_histories_controller_spec.rb
  services/QuillLMS/spec/controllers/api/v1/session_feedback_histories_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/activities_controller_spec.rb
  services/QuillLMS/spec/factories/activities.rb
  services/QuillLMS/spec/factories/activity_sessions.rb
  services/QuillLMS/spec/factories/unit_activities.rb
  services/QuillLMS/spec/lib/rule_feedback_history_spec.rb
  services/QuillLMS/spec/lib/universal_rule_loader_spec.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
  services/QuillLMS/spec/models/feedback_history_spec.rb
  services/QuillLMS/spec/queries/activity_feedback_history_spec.rb
  services/QuillLMS/spec/queries/prompt_feedback_history_spec.rb
  services/QuillLMS/spec/services/serialize_evidence_activity_health_spec.rb
  services/QuillLMS/spec/services/serialize_evidence_prompt_health_spec.rb
  services/QuillLMS/spec/services/vitally_integration/previous_year_teacher_datum_spec.rb
  services/QuillLMS/spec/workers/internal_tool/email_feedback_history_session_data_worker.rb
  services/QuillLMS/spec/workers/populate_aggregated_evidence_activity_healths_worker_spec.rb
  services/QuillLMS/spec/workers/populate_evidence_activity_health_worker_spec.rb
Due: lms-edits

Fix issue with factory_bot_rails
  services/QuillLMS/engines/evidence/lib/evidence/engine.rb
Due: lms-edits

Add staging environment config to rubocop.yml
  services/.rubocop.yml
Due: none

Add Canvas LTI configuration
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/views/canvas_integration/lti/launch.html.erb
  services/QuillLMS/app/views/canvas_integration/lti/launch_config.xml.erb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/requests/canvas_integration/lti_controller_spec.rb
Due: lms-edits

Remove factory_bot require
  services/QuillLMS/engines/evidence/lib/evidence/engine.rb
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
Due: lms-edits

Require factory_bot, rescue if not present.
  services/QuillLMS/engines/evidence/lib/evidence/engine.rb
Due: lms-edits

Add comment.
  services/QuillLMS/engines/evidence/lib/evidence/engine.rb
Due: lms-edits

Engine Factory Loading Tweak (#10636)
  services/QuillLMS/engines/evidence/lib/evidence/engine.rb
Due: lms-edits

Update services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
Due: lms-edits

Add Canvas LTI configuration (#10638)
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/views/canvas_integration/lti/launch.html.erb
  services/QuillLMS/app/views/canvas_integration/lti/launch_config.xml.erb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/requests/canvas_integration/lti_controller_spec.rb
Due: lms-edits
