Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

update tests
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Shared/__tests__/components/translations/__snapshots__/languageSelectionPage.test.tsx.snap
Due: lms-client-edits

pull language page out into shared component
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/languagePage.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Shared/__tests__/components/translations/languageSelectionPage.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languagePicker.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languageSelectionPage.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
Due: lms-client-edits

move translation flag logic to shared functions
  services/QuillLMS/client/app/bundles/Connect/components/navbar/navbar.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/Header.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/translations.ts
Due: lms-client-edits

only track language selection for diagnostic
  services/QuillLMS/client/app/bundles/Shared/components/translations/languageSelectionPage.tsx
Due: lms-client-edits

add language page for connect
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Connect/components/navbar/navbar.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Connect/reducers/questionReducer.js
  services/QuillLMS/client/app/bundles/Connect/styles/style.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_language-choices.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
  services/QuillLMS/client/app/bundles/Shared/components/translations/languageSelectionPage.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/activity_container.scss
  services/QuillLMS/client/app/bundles/Shared/styles/language-page.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
Due: lms-client-edits

tweak logic again
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/intro.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
Due: lms-client-edits

remove console log
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
Due: lms-client-edits

add back translations check
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
Due: lms-client-edits

tweak component rendering logic
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languageSelectionPage.tsx
Due: lms-client-edits

remove console statements
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
Due: lms-client-edits

tweak landing page logic
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/intro.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
Due: lms-client-edits

Translations/ add language landing page (#12173)
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Connect/components/navbar/navbar.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Connect/reducers/questionReducer.js
  services/QuillLMS/client/app/bundles/Connect/styles/style.scss
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/languagePage.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_language-choices.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
  services/QuillLMS/client/app/bundles/Grammar/components/Header.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/intro.tsx
  services/QuillLMS/client/app/bundles/Grammar/reducers/sessionReducer.ts
  services/QuillLMS/client/app/bundles/Grammar/styles/intro.scss
  services/QuillLMS/client/app/bundles/Shared/__tests__/components/translations/__snapshots__/languageSelectionPage.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/__tests__/components/translations/languageSelectionPage.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languagePicker.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languageSelectionPage.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/translations.ts
  services/QuillLMS/client/app/bundles/Shared/styles/activity_container.scss
  services/QuillLMS/client/app/bundles/Shared/styles/language-page.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
Due: lms-client-edits

Add annotations to classroom_unscoped
  services/QuillLMS/app/models/classroom_unscoped.rb
  services/QuillLMS/spec/models/classroom_unscoped_spec.rb
Due: lms-edits

Add annotations to classroom_unscoped (#12175)
  services/QuillLMS/app/models/classroom_unscoped.rb
  services/QuillLMS/spec/models/classroom_unscoped_spec.rb
Due: lms-edits

Refactor to have DataFetcher to the filtering.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_set.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/secondary_feedback_data_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/secondary_feedback_prompt_builder_spec.rb
Due: lms-edits

Lint.
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/secondary_feedback_data_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/secondary_feedback_prompt_builder_spec.rb
Due: lms-edits

Small refactor to one-line methods.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompt_builder.rb
Due: lms-edits

Lint.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompt_builder.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Use new Fetcher protocol in thor files
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Evidence GenAI - Add Experiments for secondary feedback (#12170)
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data/secondary_feedback_all.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data/secondary_feedback_test.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data/secondary_feedback_train.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_data_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompts/2024_07_17_initial.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompts/2024_07_17_with_highlight.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_set.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/response_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/secondary_feedback_data_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/secondary_feedback_prompt_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/system_prompt_builder_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Update team titles
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

fix logic and test
  services/QuillLMS/app/workers/sync_school_data_from_url_worker.rb
  services/QuillLMS/spec/workers/sync_school_data_from_url_worker_spec.rb
Due: lms-edits

Move prompts into their own concern
  services/QuillLMS/app/models/concerns/prompts.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

fix spec/lint
  services/QuillLMS/spec/helpers/teacher_center_helper_spec.rb
Due: none

Move in-code feedback into feedback_strings.json so it can be shared with rails
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/constants/feedback_strings.ts
  services/QuillLMS/config/locales/feedback_strings.json
Due: lms-edits, lms-client-edits

Rake task to translate feedback_strings
  services/QuillLMS/app/models/concerns/prompts.rb
  services/QuillLMS/config/locales/translations/feedback_strings.es-la.json
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

Fix spec
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/spec/models/question_spec.rb
Due: lms-edits

Add a debug statement for the data
  services/QuillLMS/client/app/bundles/Connect/components/renderForQuestions/feedback.tsx
Due: lms-client-edits

Wip working version of secondary feedback.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_prompts/2024_07_31_initial.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Fix specs.
  services/QuillLMS/app/models/concerns/prompts.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits

Rubocop
  services/QuillLMS/app/models/concerns/prompts.rb
Due: lms-edits

Rubocop rake task
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

Add comments.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
Due: lms-edits

Alphabetize the gemfile within groups
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/Gemfile
Due: lms-edits

Add spaces in comments
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/app/controllers/cms/users_controller.rb
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/app/controllers/teachers/students_controller.rb
  services/QuillLMS/app/models/classroom_unit.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/app/models/concerns/student.rb
  services/QuillLMS/app/models/concerns/teacher.rb
  services/QuillLMS/app/workers/test_for_earned_checkboxes_worker.rb
  services/QuillLMS/config/environments/production.rb
  services/QuillLMS/config/initializers/react_on_rails.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/db/migrate/20150113144201_create_concept_tag_categories.rb
  services/QuillLMS/db/migrate/20181026201202_create_zipcode_infos.rb
  services/QuillLMS/engines/evidence/config/initializers/backport_pg_support_to_rails4.rb
  services/QuillLMS/lib/tasks/ip_location.rake
  services/QuillLMS/spec/controllers/api/v1/title_cards_controller_spec.rb
  services/QuillLMS/spec/models/activity_session_spec.rb
  services/QuillLMS/spec/models/firebase_app_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_performance_by_student_view_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_recommendations_by_student_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_completed_view_query_spec.rb
Due: lms-edits

Add spaces around = in parameter defaults.
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/app/controllers/application_controller.rb
  services/QuillLMS/app/controllers/auth/clever_controller.rb
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/profiles_controller.rb
  services/QuillLMS/app/models/active_activity_session.rb
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/app/models/concerns/checkbox_callback.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/app/models/concerns/student.rb
  services/QuillLMS/app/models/concerns/teacher.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/subscription.rb
  services/QuillLMS/app/models/teacher_classrooms_cache.rb
  services/QuillLMS/app/models/title_card.rb
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/queries/profile/mobile/activity_sessions_by_unit.rb
  services/QuillLMS/app/queries/progress_reports/activities_scores_by_classroom.rb
  services/QuillLMS/app/queries/scorebook/query.rb
  services/QuillLMS/app/services/activity_search_wrapper.rb
  services/QuillLMS/app/services/clever_integration/requesters.rb
  services/QuillLMS/app/services/demo/create_admin_report.rb
  services/QuillLMS/app/services/unit_template_pseudo_serializer.rb
  services/QuillLMS/app/services/units/creator.rb
  services/QuillLMS/app/services/units/updater.rb
  services/QuillLMS/app/services/valid_name_builder.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/app/workers/assign_recommendations_worker.rb
  services/QuillLMS/app/workers/demo/reset_admin_demo_account_worker.rb
  services/QuillLMS/config/initializers/sass_debug_info.rb
  services/QuillLMS/engines/evidence/lib/evidence/automl_check.rb
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
  services/QuillLMS/lib/tasks/localize_classification_module_urls.rake
  services/QuillLMS/spec/support/helpers/mock_data_helper.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
