Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Add an after_create callback to user to create default notifications
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Make notification settings dependent destroy
  services/QuillLMS/app/models/user.rb
Due: lms-edits

Make teacher_notifications dependent destroy on users
  services/QuillLMS/app/models/user.rb
Due: lms-edits

Bigquery integration (#10490)
  services/.rubocop.yml
  services/QuillLMS/.env-sample
  services/QuillLMS/app/queries/progress_reports/district_concept_reports.rb
  services/QuillLMS/app/services/quill_big_query/client_fetcher.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/app/services/quill_big_query/transformer.rb
  services/QuillLMS/config/initializers/bigquery.rb
  services/QuillLMS/spec/queries/progress_reports/district_concept_reports_spec.rb
  services/QuillLMS/spec/rails_helper.rb
  services/QuillLMS/spec/services/quill_big_query/runner_spec.rb
  services/QuillLMS/spec/services/quill_big_query/transformer_spec.rb
Due: lms-edits

fix typo in secure headers
  services/QuillLMS/.env.development
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/app/bundles/Connect/actions/concepts.js
  services/QuillLMS/client/app/bundles/Connect/actions/responses.js
  services/QuillLMS/client/app/bundles/Connect/utils/configureStore.js
  services/QuillLMS/client/app/bundles/Diagnostic/actions/responses.js
  services/QuillLMS/client/app/entrypoints/connect.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/config/initializers/secure_headers.rb
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/vite.config.ts
Due: lms-edits, lms-client-edits

adjust whitespace for quill academy page (#10497)
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
Due: lms-edits

replace react-datetime-picker with react-datetime (#10499)
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/filterWidget.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/changeLog/changeLog.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/shared/filterWidget.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/date_time_selector.scss
  services/QuillLMS/client/app/bundles/Staff/styles/styles.scss
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

update react textarea autosize (#10501)
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/play/__tests__/__snapshots__/listBlanks.test.jsx.snap
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/play/__tests__/__snapshots__/multistep.test.jsx.snap
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/play/__tests__/__snapshots__/singleAnswer.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/client/setupTests.ts
Due: lms-client-edits

handle student with no last name in activity analysis (#10503)
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/class_report.jsx
Due: lms-client-edits

update secondary navbar
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/helpers/navbar_helper.rb
  services/QuillLMS/app/helpers/teacher_center_helper.rb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/application/_sub_header.html.erb
  services/QuillLMS/app/views/pages/ap.html.erb
  services/QuillLMS/app/views/pages/preap.html.erb
  services/QuillLMS/app/views/pages/shared/_explore_curriculum_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_mobile_sub_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_our_story_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_student_center_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_sub_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_teacher_center_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/_tools_anchor_navbar.html.erb
  services/QuillLMS/app/views/pages/springboard.html.erb
  services/QuillLMS/app/views/teachers/unit_templates/index.html.erb
  services/QuillLMS/client/app/assets/styles/tool-section.scss
  services/QuillLMS/spec/helpers/teacher_center_helper_spec.rb
Due: lms-edits, lms-client-edits

install compatibility package and add compatrouters where necessary
  services/QuillLMS/client/app/bundles/Connect/app.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/app.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/diagnosticRouter.tsx
  services/QuillLMS/client/app/bundles/Evidence/App.tsx
  services/QuillLMS/client/app/bundles/Grammar/App.tsx
  services/QuillLMS/client/app/bundles/Lessons/App.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubRouter.jsx
  services/QuillLMS/client/app/bundles/Proofreader/App.tsx
  services/QuillLMS/client/app/bundles/Staff/startup/AttributesManagerIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/startup/ConceptsIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/startup/EvidenceIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/startup/lockerAppClient.tsx
  services/QuillLMS/client/app/bundles/Student/startup/StudentProfileRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/new_account_stage1.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/new_account_stage1.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/AssignActivitiesRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/CmsActivitiesRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/DiagnosticReports.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/LessonPlannerRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/PublicUnitTemplatesRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherClassroomsRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherFixRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TutorialsRouter.jsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

small edits
  services/QuillLMS/app/views/navbar/_teacher_center.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/header_section.jsx
Due: lms-edits, lms-client-edits

update tutorialrouter and tutorialindex
  services/QuillLMS/client/app/bundles/Teacher/components/tutorials/TutorialIndex.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TutorialsRouter.jsx
Due: lms-client-edits

update snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

update teacherfixrouter
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/index.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/recalculate_staggered_release_locks.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherFixRouter.jsx
Due: lms-client-edits

update teacherclassroomrouter
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherClassroomsRouter.jsx
Due: lms-client-edits

Banner for Reading for Evidence Handbook (#10500)
  packages/quill-cdn/assets/images/evidence/evidence-teacher-handbook.svg
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/helpers/teacher_center_helper.rb
  services/QuillLMS/app/models/blog_post.rb
  services/QuillLMS/app/views/navbar/_teacher_center.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/client/app/assets/styles/evidence-tool.scss
  services/QuillLMS/client/app/assets/styles/home.scss
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post_index.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/data.ts
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post_constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post_index.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/header_section.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/topic_section.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/data.ts
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/evidence_promotion_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/lib/tasks/update_evidence_blog_post_topic.rake
  services/QuillLMS/package-lock.json
  services/QuillLMS/spec/helpers/public_pages_helper_spec.rb
  services/QuillLMS/spec/helpers/teacher_center_helper_spec.rb
Due: lms-edits, lms-client-edits

update npm packages
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

fix issue with doubled router in diagnostic
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/diagnosticRouter.tsx
Due: lms-client-edits

only committing stuff I definitely need
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/app/bundles/Connect/clientRegistration.js
  services/QuillLMS/client/app/entrypoints/application.tsx
  services/QuillLMS/client/app/entrypoints/connect.ts
Due: lms-edits, lms-client-edits

so far so good
  services/QuillLMS/client/app/bundles/Connect/styles/variables.sass
  services/QuillLMS/client/app/bundles/Connect/styles/variables.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
Due: lms-client-edits

Address PR feedback
  services/QuillLMS/app/models/teacher_notification.rb
  services/QuillLMS/db/migrate/20230420141952_create_teacher_notifications.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/teacher_notification.rb
  services/QuillLMS/spec/models/teacher_notification_spec.rb
Due: lms-edits

update string strip html and fix instances where we call it
  services/QuillLMS/client/app/bundles/Connect/components/activityHealth/activityHealth.tsx
  services/QuillLMS/client/app/bundles/Connect/components/activityHealth/promptHealth.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/__tests__/fillInBlank.test.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/feedback.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/headerImage.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/promptStep.tsx
  services/QuillLMS/client/app/bundles/Evidence/helpers/containerActionHelpers.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenu.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activitySessions/promptTable.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/changeLog/changeLog.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/rule.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/lowConfidenceRules/lowConfidenceRulesIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/plagiarismRules/plagiarismRulesIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/universalRules/universalRule.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/miscHelpers.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/ruleHelpers.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/questions.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/progress_report.jsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

package lock
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

add a login entrypoint
  services/QuillLMS/client/app/entrypoints/login.ts
  services/QuillLMS/client/package-lock.json
Due: lms-client-edits

only commiting what I'm sure is working
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/app/bundles/Connect/clientRegistration.js
  services/QuillLMS/client/app/entrypoints/connect.css
  services/QuillLMS/client/app/entrypoints/connect.scss
  services/QuillLMS/client/app/entrypoints/shared.css
  services/QuillLMS/client/app/entrypoints/shared.scss
Due: lms-edits, lms-client-edits

Add a controller for setting and unsetting TeacherNotificationSettings
  services/QuillLMS/app/controllers/teacher_notification_settings_controller.rb
  services/QuillLMS/app/models/teacher_notification_setting.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/teacher_notification_settings_controller_spec.rb
  services/QuillLMS/spec/factories/teacher_notification_setting.rb
Due: lms-edits

move back to last commonjs version of this package
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

fix last broken test
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/headerImage.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/headerImage.test.tsx
Due: lms-client-edits

get css working for connect (#10511)
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/app/bundles/Connect/clientRegistration.js
  services/QuillLMS/client/app/bundles/Connect/styles/variables.sass
  services/QuillLMS/client/app/bundles/Connect/styles/variables.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/entrypoints/application.tsx
  services/QuillLMS/client/app/entrypoints/connect.css
  services/QuillLMS/client/app/entrypoints/connect.scss
  services/QuillLMS/client/app/entrypoints/connect.ts
  services/QuillLMS/client/app/entrypoints/login.ts
  services/QuillLMS/client/app/entrypoints/shared.css
  services/QuillLMS/client/app/entrypoints/shared.scss
  services/QuillLMS/client/package-lock.json
Due: lms-edits, lms-client-edits

just kidding - remove mock from all tests
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/__tests__/fillInBlank.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/container.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/feedback.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/promptStep.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/fillInBlank/__tests__/prompt.test.tsx
  services/QuillLMS/client/app/bundles/Shared/test/libs/activityPreviewHelpers.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/promptTable.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/regexRules.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/questions.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-client-edits

fix last tests
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/activityHealth.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/expandLessonQuestions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lesson.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lessons.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/__tests__/fillInBlank.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/promptStep.test.tsx.snap
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/container.test.tsx.snap
Due: lms-client-edits

wip
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/client/app/bundles/Diagnostic/clientRegistration.js
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/variables.sass
  services/QuillLMS/client/app/bundles/Diagnostic/styles/variables.scss
  services/QuillLMS/client/app/entrypoints/connect.ts
  services/QuillLMS/client/app/entrypoints/diagnostic.scss
  services/QuillLMS/client/app/entrypoints/diagnostic.ts
  services/QuillLMS/client/package-lock.json
Due: lms-edits, lms-client-edits

try updating snapshot to use mount
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lessons.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/lessons.test.jsx
Due: lms-client-edits

Refactor TeacherNotification into an STI model
  services/QuillLMS/app/models/teacher_notification/student_completed_all_assigned_activities.rb
  services/QuillLMS/app/models/teacher_notification/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/app/models/teacher_notification/student_completed_diagnostic.rb
  services/QuillLMS/db/migrate/20230420141952_create_teacher_notifications.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/teacher_notification.rb
  services/QuillLMS/spec/factories/teacher_notification/student_completed_all_assigned_activities.rb
  services/QuillLMS/spec/factories/teacher_notification/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/spec/factories/teacher_notification/student_completed_diagnostic.rb
  services/QuillLMS/spec/models/teacher_notification/student_completed_all_assigned_activities_spec.rb
  services/QuillLMS/spec/models/teacher_notification/student_completed_all_diagnostic_recommendations_spec.rb
  services/QuillLMS/spec/models/teacher_notification/student_completed_diagnostic_spec.rb
  services/QuillLMS/spec/models/teacher_notification_spec.rb
Due: lms-edits

fix stuff vite didn't like
  services/QuillLMS/app/assets/stylesheets/home.scss
  services/QuillLMS/client/app/bundles/Diagnostic/app.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/utils/configureStore.js
Due: lms-edits, lms-client-edits

Add some missing annotations to factories
  services/QuillLMS/spec/factories/teacher_notification/student_completed_all_assigned_activities.rb
  services/QuillLMS/spec/factories/teacher_notification/student_completed_all_diagnostic_recommendations.rb
Due: none

Fix bug with teacher_admin_subscriptions_url
  services/QuillLMS/app/controllers/stripe_integration/subscription_checkout_sessions_controller.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/requests/stripe_integration/subscription_checkout_sessions_controller_spec.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
