Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Add canvas_auth_credential factory trait
  services/QuillLMS/spec/factories/auth_credentials.rb
Due: none

Add with_canvas_account trait to user factory
  services/QuillLMS/spec/factories/users.rb
Due: none

Make after create callback required
  services/QuillLMS/spec/factories/auth_credentials.rb
  services/QuillLMS/spec/factories/canvas_instance_auth_credentials.rb
  services/QuillLMS/spec/services/canvas_integration/rest_client_spec.rb
Due: none

mostly get dynamic filters working but clear behavior is weird
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

Fix spec
  services/QuillLMS/spec/controllers/auth/canvas_controller_spec.rb
Due: none

fix weirdness with clearing filters
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

remove nazis from list
  services/QuillLMS/engines/evidence/config/initializers/bad_words.json
Due: lms-edits

handle grades
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

lms/sort-classroom-and-teacher-filters (#10717)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Lms/add no school assigned filter (#10718)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/period_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: lms-edits

remove nazis from list (#10719)
  services/QuillLMS/engines/evidence/config/initializers/bad_words.json
Due: lms-edits

Thomas suggestion
  services/QuillLMS/spec/services/canvas_integration/classroom_data_adapter_spec.rb
Due: none

Fix specs
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/app/services/canvas_integration/client_fetcher.rb
  services/QuillLMS/spec/controllers/auth/canvas_controller_spec.rb
  services/QuillLMS/spec/services/canvas_integration/teacher_classrooms_cache_hydrator_spec.rb
Due: lms-edits

Add Client Fetcher
  services/QuillLMS/app/services/canvas_integration/client_fetcher.rb
  services/QuillLMS/spec/services/canvas_integration/client_fetcher_spec.rb
Due: lms-edits

Add Cache Hydration to SSO flow
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/spec/controllers/auth/canvas_controller_spec.rb
Due: lms-edits

Make after create callback required
  services/QuillLMS/spec/services/canvas_integration/client_fetcher_spec.rb
Due: none

Add TeacherClassroomsCacheHydrator
  services/QuillLMS/app/services/canvas_integration/teacher_classrooms_cache_hydrator.rb
  services/QuillLMS/spec/services/canvas_integration/teacher_classrooms_cache_hydrator_spec.rb
Due: lms-edits

add outlines; update copy
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-edits, lms-client-edits

update tests
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
Due: lms-client-edits

update label
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/results.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-client-edits

Add TeacherClassroomsCache hydration after Canvas SSO flow (#10716)
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/app/services/canvas_integration/client_fetcher.rb
  services/QuillLMS/app/services/canvas_integration/teacher_classrooms_cache_hydrator.rb
  services/QuillLMS/spec/controllers/auth/canvas_controller_spec.rb
  services/QuillLMS/spec/services/canvas_integration/client_fetcher_spec.rb
  services/QuillLMS/spec/services/canvas_integration/teacher_classrooms_cache_hydrator_spec.rb
Due: lms-edits

Fix some intermittent spec failures
  services/QuillLMS/app/controllers/clever_integration/teachers_controller.rb
  services/QuillLMS/app/services/canvas_integration/teacher_classrooms_cache_hydrator.rb
  services/QuillLMS/app/services/clever_integration/teacher_classrooms_cache_hydrator.rb
  services/QuillLMS/app/services/clever_integration/teacher_imported_classrooms_updater.rb
  services/QuillLMS/app/services/google_integration/teacher_imported_classrooms_updater.rb
  services/QuillLMS/spec/services/canvas_integration/classroom_data_adapter_spec.rb
Due: lms-edits

Add Client for Canvas REST API (#10713)
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/app/controllers/clever_integration/teachers_controller.rb
  services/QuillLMS/app/models/canvas_auth_credential.rb
  services/QuillLMS/app/services/canvas_integration/classroom_data_adapter.rb
  services/QuillLMS/app/services/canvas_integration/client_fetcher.rb
  services/QuillLMS/app/services/canvas_integration/rest_client.rb
  services/QuillLMS/app/services/canvas_integration/teacher_classrooms_cache_hydrator.rb
  services/QuillLMS/app/services/clever_integration/teacher_classrooms_cache_hydrator.rb
  services/QuillLMS/app/services/clever_integration/teacher_imported_classrooms_updater.rb
  services/QuillLMS/app/services/google_integration/teacher_imported_classrooms_updater.rb
  services/QuillLMS/config/initializers/auth/canvas.rb
  services/QuillLMS/spec/controllers/auth/canvas_controller_spec.rb
  services/QuillLMS/spec/factories/auth_credentials.rb
  services/QuillLMS/spec/factories/canvas_instance_auth_credentials.rb
  services/QuillLMS/spec/factories/canvas_integration/canvas_course_data.rb
  services/QuillLMS/spec/factories/canvas_integration/canvas_section_data.rb
  services/QuillLMS/spec/factories/canvas_integration/canvas_student_data.rb
  services/QuillLMS/spec/factories/users.rb
  services/QuillLMS/spec/models/canvas_auth_credential_spec.rb
  services/QuillLMS/spec/services/canvas_integration/classroom_data_adapter_spec.rb
  services/QuillLMS/spec/services/canvas_integration/client_fetcher_spec.rb
  services/QuillLMS/spec/services/canvas_integration/rest_client_spec.rb
  services/QuillLMS/spec/services/canvas_integration/teacher_classrooms_cache_hydrator_spec.rb
Due: lms-edits

Refactor ProviderClassroom to ProviderClassroomDelegator
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/models/provider_classroom_delegator.rb
  services/QuillLMS/app/services/clever_integration/classroom_students_importer.rb
  services/QuillLMS/app/services/provider_classrooms_with_unsynced_students_finder.rb
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
  services/QuillLMS/spec/models/provider_classroom_delegator_spec.rb
  services/QuillLMS/spec/serializers/provider_classroom_with_unsynced_students_serializer_spec.rb
Due: lms-edits, lms-client-edits

update tests
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-client-edits

Don't cast "id"s to int. (#10721)
  services/QuillLMS/lib/tasks/vitally.rake
Due: lms-edits

adjustment to behavior with removing last pill
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
Due: lms-client-edits

remove deduplication logic from frontend
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

put it back in place bc backend deduplication doesn't seem to be working
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

Revert "put it back in place bc backend deduplication doesn't seem to be working"
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

fix bug that was causing way too many requests to be made
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

Move "No grade set" to the end of the grade filters list
  services/QuillLMS/app/controllers/snapshots_controller.rb
Due: lms-edits

Refactor ProviderClassroom to ProviderClassroomDelegator (#10723)
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/models/provider_classroom_delegator.rb
  services/QuillLMS/app/services/clever_integration/classroom_students_importer.rb
  services/QuillLMS/app/services/provider_classrooms_with_unsynced_students_finder.rb
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
  services/QuillLMS/spec/models/provider_classroom_delegator_spec.rb
  services/QuillLMS/spec/serializers/provider_classroom_with_unsynced_students_serializer_spec.rb
Due: lms-edits, lms-client-edits

Rename ProviderClassroomUser fields and add canvas_instance_id
  services/QuillLMS/app/models/clever_classroom_user.rb
  services/QuillLMS/app/models/google_classroom_user.rb
  services/QuillLMS/app/models/provider_classroom_delegator.rb
  services/QuillLMS/app/models/provider_classroom_user.rb
  services/QuillLMS/app/services/provider_classroom_users_updater.rb
  services/QuillLMS/db/migrate/20230630172652_rename_provider_classroom_user_fields.rb
  services/QuillLMS/db/migrate/20230630173229_add_canvas_instance_ref_to_provider_classoom_user.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/controllers/teacher_fix_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
  services/QuillLMS/spec/factories/provider_classroom_users.rb
  services/QuillLMS/spec/models/clever_classroom_user_spec.rb
  services/QuillLMS/spec/models/google_classroom_user_spec.rb
  services/QuillLMS/spec/models/provider_classroom_delegator_spec.rb
  services/QuillLMS/spec/models/provider_classroom_user_spec.rb
  services/QuillLMS/spec/serializers/provider_classroom_with_unsynced_students_serializer_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_students_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/teacher_classrooms_students_importer_spec.rb
  services/QuillLMS/spec/services/provider_classroom_users_updater_spec.rb
  services/QuillLMS/spec/services/provider_classrooms_with_unsynced_students_finder_spec.rb
Due: lms-edits

Fix intermittent spec
  services/QuillLMS/spec/services/classroom_unit_updater_spec.rb
Due: none

Fix field name
  services/QuillLMS/db/migrate/20230630172652_rename_provider_classroom_user_fields.rb
Due: lms-edits

Rename ProviderClassroomUser fields and add canvas_instance_id (#10725)
  services/QuillLMS/app/models/clever_classroom_user.rb
  services/QuillLMS/app/models/google_classroom_user.rb
  services/QuillLMS/app/models/provider_classroom_delegator.rb
  services/QuillLMS/app/models/provider_classroom_user.rb
  services/QuillLMS/app/services/provider_classroom_users_updater.rb
  services/QuillLMS/db/migrate/20230630172652_rename_provider_classroom_user_fields.rb
  services/QuillLMS/db/migrate/20230630173229_add_canvas_instance_ref_to_provider_classoom_user.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/controllers/teacher_fix_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
  services/QuillLMS/spec/factories/provider_classroom_users.rb
  services/QuillLMS/spec/models/clever_classroom_user_spec.rb
  services/QuillLMS/spec/models/google_classroom_user_spec.rb
  services/QuillLMS/spec/models/provider_classroom_delegator_spec.rb
  services/QuillLMS/spec/models/provider_classroom_user_spec.rb
  services/QuillLMS/spec/serializers/provider_classroom_with_unsynced_students_serializer_spec.rb
  services/QuillLMS/spec/services/classroom_unit_updater_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_students_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/teacher_classrooms_students_importer_spec.rb
  services/QuillLMS/spec/services/provider_classroom_users_updater_spec.rb
  services/QuillLMS/spec/services/provider_classrooms_with_unsynced_students_finder_spec.rb
Due: lms-edits

Add ProviderClassroom STI
  services/QuillLMS/app/models/canvas_classroom.rb
  services/QuillLMS/app/models/provider_classroom.rb
  services/QuillLMS/db/migrate/20230630184901_create_provider_classrooms.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/provider_classrooms.rb
  services/QuillLMS/spec/models/provider_classroom_spec.rb
Due: lms-edits

Fix linter error
  services/QuillLMS/spec/models/provider_classroom_spec.rb
Due: none

Add ProviderClassroom STI (#10726)
  services/QuillLMS/app/models/canvas_classroom.rb
  services/QuillLMS/app/models/provider_classroom.rb
  services/QuillLMS/db/migrate/20230630184901_create_provider_classrooms.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/provider_classrooms.rb
  services/QuillLMS/spec/models/provider_classroom_spec.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
