Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Add a bunch of logging to chase down an intermittent error
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/classroom_card.tsx
Due: lms-client-edits

Ignore linting rules for our logging
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/classroom_card.tsx
Due: lms-client-edits

fix spec
  services/QuillLMS/spec/services/analytics/cache_segment_school_data_spec.rb
Due: none

lms/add-activity-assignment-logging (#10407)
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/classroom_card.tsx
Due: lms-client-edits

Turn of admin pre-caching to avoid temp space issues on the database
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: lms-edits

Turn of admin pre-caching to avoid temp space issues on the database (#10409)
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: lms-edits

add default variable definition
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
Due: lms-edits

change false to nil
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
Due: lms-edits

update initialize arg
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
Due: lms-edits

Strip Stripe Invoice and Subscription ID whitespace before validation
  services/QuillLMS/app/models/subscription.rb
  services/QuillLMS/spec/models/subscription_spec.rb
Due: lms-edits

Admin dashboard/ freemium standards report (#10357)
  services/QuillLMS/app/assets/stylesheets/pages/admin_dashboard/admin-dashboard.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/controllers/api/v1/progress_reports_controller.rb
  services/QuillLMS/app/models/schools_admins.rb
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
  services/QuillLMS/client/app/actions/district_standards_reports.js
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReports.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReportsTable.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboard.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/DistrictStandardsReports.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/AdminDashboard.test.jsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/shared.tsx
  services/QuillLMS/spec/controllers/api/v1/progress_reports_controller_spec.rb
  services/QuillLMS/spec/models/schools_admin_spec.rb
Due: lms-edits, lms-client-edits

Fix linting error
  services/QuillLMS/app/models/subscription.rb
Due: lms-edits

fix dividers
  services/QuillLMS/app/assets/stylesheets/pages/college_board.scss
  services/QuillLMS/app/views/pages/ap.html.erb
  services/QuillLMS/app/views/pages/preap.html.erb
  services/QuillLMS/app/views/pages/springboard.html.erb
Due: lms-edits

small updates
  services/QuillLMS/client/app/bundles/Shared/components/reactTable/reactTable.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/standardsReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReports.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReportsTable.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboard.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/DistrictStandardsReports.jsx
Due: lms-client-edits

sort props alphabetically
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReportsTable.tsx
Due: lms-client-edits

add expandable sections for preap and springboard
  services/QuillLMS/app/views/pages/preap.html.erb
  services/QuillLMS/app/views/pages/shared/_expandable_units_section.html.erb
  services/QuillLMS/app/views/pages/springboard.html.erb
  services/QuillLMS/client/app/bundles/Public/startup/clickHandlers.js
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
Due: lms-edits, lms-client-edits

fix failing spec
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

Small tweaks to Quill Staff New Subscription/Edit Subscription page (#10386)
  services/QuillLMS/app/models/bonus_days_calculator.rb
  services/QuillLMS/app/models/subscription.rb
  services/QuillLMS/client/app/bundles/Teacher/containers/EditOrCreateSubscription.jsx
  services/QuillLMS/spec/models/subscription_spec.rb
  services/QuillLMS/spec/services/bonus_days_calculator_spec.rb
Due: lms-edits, lms-client-edits

revisions
  services/QuillLMS/app/models/segment_integration/user.rb
  services/QuillLMS/app/services/analytics/cache_segment_school_data.rb
  services/QuillLMS/app/workers/calculate_and_cache_school_data_for_segment_worker.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/services/analytics/cache_segment_school_data_spec.rb
  services/QuillLMS/spec/workers/calculate_and_cache_school_data_for_segment_worker_spec.rb
Due: lms-edits

fix lint errors
  services/QuillLMS/app/services/analytics/cache_segment_school_data.rb
  services/QuillLMS/spec/services/analytics/cache_segment_school_data_spec.rb
Due: lms-edits

remove trailing whitespace
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
Due: none

fix broken test
  services/QuillLMS/app/models/segment_integration/user.rb
Due: lms-edits

stop wrapping keys in brackets
  services/QuillLMS/app/services/analytics/cache_segment_school_data.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/services/analytics/cache_segment_school_data_spec.rb
Due: lms-edits

fix failing spec (#10415)
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

remove 'develop' route and view
  services/QuillLMS/app/assets/stylesheets/pages/develop.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/pages/develop.html.slim
  services/QuillLMS/config/routes.rb
Due: lms-edits

remove 'develop' route and view (#10414)
  services/QuillLMS/app/assets/stylesheets/pages/develop.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/pages/develop.html.slim
  services/QuillLMS/config/routes.rb
Due: lms-edits

add q&a sections
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/views/pages/ap.html.erb
  services/QuillLMS/app/views/pages/preap.html.erb
  services/QuillLMS/app/views/pages/shared/_expandable_units_section.html.erb
  services/QuillLMS/app/views/pages/shared/_questions_and_answers_section.html.erb
  services/QuillLMS/app/views/pages/springboard.html.erb
  services/QuillLMS/client/app/bundles/Public/startup/clickHandlers.js
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/ap.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/QuestionsAndAnswers.tsx
Due: lms-edits, lms-client-edits

Allow school search to work if you search a value in the middle
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/spec/controllers/schools_controller_spec.rb
Due: lms-edits

changes
  packages/quill-cdn/assets/images/team/webp/advisor-alesha-cary@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-audrey-gebber@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-carmen-adamucci@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-deana-harris@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-donald-mckendrick@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-elizabeth-tanner@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-elma-ruiz@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-jane-nevins@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-jasmine-hobson-rodriguez@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-jennifer-james@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-juan-alvarado@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-megan-tourda-nelsen@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-meleighsa-mclaughlin@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-rebecca-foland@2x.png
  packages/quill-cdn/assets/images/team/webp/advisor-sera-ramirez@2x.png
  services/QuillLMS/app/assets/stylesheets/pages/team.scss
  services/QuillLMS/app/helpers/pages_helper.rb
  services/QuillLMS/app/views/pages/team.html.erb
Due: lms-edits

Admin dashboard/ small tweaks to freemium district standards reports (#10413)
  services/QuillLMS/client/app/bundles/Shared/components/reactTable/reactTable.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/standardsReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReports.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReportsTable.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboard.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/DistrictStandardsReports.jsx
Due: lms-client-edits

update call to cache data to include users in school call
  services/QuillLMS/app/workers/calculate_and_cache_school_data_for_segment_worker.rb
Due: lms-edits

include users with school
  services/QuillLMS/app/workers/calculate_and_cache_school_data_for_segment_worker.rb
Due: lms-edits

add remaining q&a sections
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/views/pages/ap.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
  services/QuillLMS/app/views/pages/shared/_premium_main.html.erb
  services/QuillLMS/app/views/pages/shared/_questions_and_answers_section.html.erb
  services/QuillLMS/app/views/pages/springboard.html.erb
  services/QuillLMS/client/app/assets/styles/evidence-tool.scss
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/evidence.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/PremiumPricingGuide.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/QuestionsAndAnswers.tsx
Due: lms-edits, lms-client-edits

form frontend is good
  services/QuillLMS/app/assets/stylesheets/pages/admin_access.scss
  services/QuillLMS/app/assets/stylesheets/pages/sign_up.scss
  services/QuillLMS/app/controllers/schools_users_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_school.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/admin_access/adminRequestModal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/admin_access/adminTable.tsx
Due: lms-edits, lms-client-edits

Update deprecated syntax
  services/QuillLMS/app/models/validators/stripe_uid_validator.rb
Due: lms-edits

Don't worry about only doing before_validation call sometimes
  services/QuillLMS/app/models/subscription.rb
Due: lms-edits

lms/strip-stripe-ids-before-validation (#10411)
  services/QuillLMS/app/models/subscription.rb
  services/QuillLMS/app/models/validators/stripe_uid_validator.rb
  services/QuillLMS/spec/models/subscription_spec.rb
Due: lms-edits

Allow school search to work if you search a value in the middle (#10417)
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/spec/controllers/schools_controller_spec.rb
Due: lms-edits

rearrange bundles and add helpers
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/views/application/_demo_account_banner.html.erb
  services/QuillLMS/app/views/pages/ap.html.erb
  services/QuillLMS/app/views/pages/preap.html.erb
  services/QuillLMS/app/views/pages/springboard.html.erb
  services/QuillLMS/client/app/assets/javascripts/clickHandlers.js
  services/QuillLMS/client/app/bundles/Home/home.js
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Public/startup/preApApp.tsx
  services/QuillLMS/client/app/bundles/Public/startup/questionsAndAnswersApp.tsx
  services/QuillLMS/client/app/bundles/Public/startup/springBoardApp.tsx
  services/QuillLMS/config/database.yml
Due: lms-edits, lms-client-edits

add/update tests; fix lint errors
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/views/pages/shared/_questions_and_answers_section.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/ap.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/pre_ap.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/scrollBox.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/springboard.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/PremiumPricingGuide.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/spec/helpers/public_pages_helper_spec.rb
Due: lms-edits, lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
