Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

close button added
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/post_checklist.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/postNavigationBanner.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/scoring_updates_card.tsx
Due: lms-edits, lms-client-edits

margin
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
Due: lms-client-edits

orange filter
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
Due: lms-client-edits

translate remaining buttons
  services/QuillLMS/client/app/bundles/Connect/app.tsx
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Connect/components/navbar/navbar.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/home.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/studentNavbar.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/teacherNavbar.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/intro.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languagePicker.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/helpers.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/arabic/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/chinese/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/dari/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/french/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/german/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/hindi/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/japanese/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/korean/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/portuguese/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/russian/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/spanish/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/tagalog/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/thai/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/ukrainian/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/urdu/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/vietnamese/translation.json
Due: lms-client-edits

wip
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

massage depenencies to resolve conflicts
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

activity id fixes and copy changes
  services/QuillLMS/app/helpers/content_hubs_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/__snapshots__/course_page_activity.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/__snapshots__/course_page_unit_template.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/course_page_unit_template.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_activity.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_unit_template.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/WorldHistory1200ToPresentContainer.test.tsx.snap
Due: lms-edits, lms-client-edits

get average score calculated correctly
  services/QuillLMS/app/helpers/content_hubs_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/WorldHistory1200ToPresentContainer.test.tsx.snap
Due: lms-edits, lms-client-edits

update tests, fix linter errors
  services/QuillLMS/client/app/bundles/Connect/components/navbar/__tests__/__snapshots__/navbar.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/__tests__/__snapshots__/studentNavbar.test.jsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/__tests__/__snapshots__/teacherNavbar.test.tsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/__tests__/diagnosticRouter.test.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/__tests__/__snapshots__/header.test.tsx.snap
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/helpers.tsx
Due: lms-client-edits

WIP adding subscription front-end to ADGR
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/reportSubscriptionModal.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
Due: lms-client-edits

adjust various pieces of logic so tooltips and reports work
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_activity.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/activity_icon_with_tooltip.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/overview_boxes.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/student_overview.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/student_scores.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
  services/QuillLMS/client/app/modules/activity_classifications.js
Due: lms-edits, lms-client-edits

delete file that should not be in this pr
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_activity.tsx
Due: lms-edits, lms-client-edits

small tweaks
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/intro.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/question.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/helpers.tsx
Due: lms-client-edits

ruby 3.2 (#12097)
  .circleci/continue_config.yml
  services/QuillLMS/.ruby-version
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

WIP integrating backend for subscriptions
  services/QuillLMS/app/models/admin_report_filter_selection.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_subscriptions_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
Due: lms-edits, lms-client-edits

Turn off GenAI check.
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
Due: lms-edits

changed-twiter-to-x (#12199)
  docs/_layouts/layout.html
  docs/features/cms_blog_posts.md
  services/QuillLMS/app/assets/images/icons/twitter-footer-52.png
  services/QuillLMS/app/views/application/footer/_social.html.erb
  services/QuillLMS/app/views/referrals/index.html.erb
  services/QuillLMS/client/app/bundles/Shared/styles/react_select.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/unit_assignment_followup.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/unit_assignment_followup.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_profile/unit_template_profile_share_buttons.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/create_or_edit_blog_post.jsx
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/course_completed_event_data.rb
  services/QuillLMS/spec/support/shared_contexts/learn_worlds_integration/enrolled_free_course_event_data.rb
Due: lms-edits, lms-client-edits

cleanup (#12206)
  services/QuillLMS/.env.development
  services/QuillLMS/vite.config.ts
Due: none

Finish front-end for ADGR subscriptions
  services/QuillLMS/app/models/admin_report_filter_selection.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
Due: lms-edits, lms-client-edits

Fix super call to pass appropriate params
  services/QuillLMS/app/mailers/admin_diagnostic_reports/subscription_report_mailer.rb
Due: lms-edits

Refactor response builder test.
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/response_builder_spec.rb
Due: lms-edits

Add env.test-sample for Evidence engine
  services/QuillLMS/engines/evidence/.env.test-sample
Due: lms-edits

Update default Diagnostic ID when not selected
  services/QuillLMS/app/services/admin_diagnostic_reports/construct_query_payload.rb
Due: lms-edits

Fix mis-configuration in unsubscribe controller
  services/QuillLMS/app/controllers/email_subscriptions_controller.rb
Due: lms-edits

Revert "Turn off integration tests. (#11724)"
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Fix GenAI check tests.
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_session.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
Due: lms-edits

Update unsubscribe link to work
  services/QuillLMS/app/controllers/email_subscriptions_controller.rb
  services/QuillLMS/app/views/email_subscriptions/unsubscribe.html.erb
Due: lms-edits

Prompt builder spec
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback_prompt_builder_spec.rb
Due: lms-edits

Add checker tests.
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback_checker_spec.rb
Due: lms-edits

Exclude external API tests.
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
Due: lms-edits

Set frequency for email template
  services/QuillLMS/app/mailers/admin_diagnostic_reports/subscription_report_mailer.rb
Due: lms-edits

Lint
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Turn GenAI on.
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
Due: lms-edits

Add number to Trial schema
  services/QuillLMS/db/migrate/20240805190219_add_number_to_evidence_research_gen_ai_trials.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/db/migrate/20240805185650_add_number_to_evidence_research_gen_ai_trials.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/trials.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

Fix dataset validator for prompt and test partitions
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_validator.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/dataset_validator_spec.rb
Due: lms-edits

Add some constants
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_validator.rb
Due: lms-edits

Add ordering of activities by created_at
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/activities_controller.rb
Due: lms-edits

Add header and student response validation
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_importer.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/dataset_validator.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/dataset_validator_spec.rb
Due: lms-edits

Add trial link on comparison page
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
Due: lms-edits

Add Prompt template
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
