Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

allow logged-out users to access /teachers/view_demo; fix regeneration (#11015)
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/models/concerns/teacher.rb
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
Due: lms-edits

various updates/fixes
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
Due: lms-edits, lms-client-edits

add lms package lock
  services/QuillLMS/package-lock.json
Due: none

Loosen sentence length requirement on Connect/Diagnostic (#11007)
  lambdas/rematching/package.json
  packages/quill-marking-logic/package.json
  packages/quill-marking-logic/src/libs/matchers/min_length_match.spec.ts
  packages/quill-marking-logic/src/libs/matchers/min_length_match.ts
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits, marking-logic-edits

tweak CSS
  services/QuillLMS/app/assets/stylesheets/pages/my_activities.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/activity_table.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-edits, lms-client-edits

remove unneeded class
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-client-edits

freshen package.json
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/assets/stylesheets/pages/index.scss
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/activityHealth.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/expandLessonQuestions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lesson.test.jsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/modules/analytics/index.ts
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/spec/helpers/mobile_helper_spec.rb
Due: lms-edits, lms-client-edits

update snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/app_legend.test.jsx.snap
Due: lms-client-edits

revert bin/bundle changes
  services/QuillLMS/bin/bundle
Due: lms-edits

lint
  services/QuillLMS/client/app/bundles/Home/tabslet.js
  services/QuillLMS/client/app/bundles/Proofreader/components/Header.tsx
  services/QuillLMS/config/vite.rb
Due: lms-edits, lms-client-edits

relocking Gemfile after bundle lock --add-platform x86_64-linux
  services/QuillLMS/Gemfile.lock
Due: lms-edits

silence system spec that depends on webpacker environment
  services/QuillLMS/spec/system/activity_pack_assignment_spec.rb
Due: none

wip
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/ai_platform.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
Due: lms-edits

add loading spinner and disable button while waiting for response
  services/QuillLMS/client/app/bundles/Teacher/containers/EditOrCreateSubscription.jsx
Due: lms-client-edits

remove extra space from table
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
Due: lms-edits

new icon
  packages/quill-cdn/assets/images/pages/activity_summary/diagnostic-grey.svg
Due: none

wip 2
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/activateModelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/model.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/modelAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/ai_platform.rb
  services/QuillLMS/engines/evidence/db/migrate/20230911142601_create_evidence_automl_models.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/automl_models.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
Due: lms-edits, lms-client-edits

all logic changes in place, testing
  services/QuillLMS/client/app/bundles/Connect/components/questions/questionForm.jsx
  services/QuillLMS/client/app/bundles/Connect/components/shared/questionListByConcept.tsx
  services/QuillLMS/client/app/bundles/Connect/styles/style.scss
  services/QuillLMS/client/app/bundles/Grammar/components/questions/questionListByConcept.tsx
Due: lms-client-edits

fix linting
  services/QuillLMS/client/app/bundles/Connect/components/questions/questionForm.jsx
  services/QuillLMS/client/app/bundles/Connect/components/shared/questionListByConcept.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/questionListByConcept.tsx
Due: lms-client-edits

space issue w linting
  services/QuillLMS/client/app/bundles/Connect/components/questions/questionForm.jsx
Due: lms-client-edits

Fix Canvas Import bug with course pagination
  services/QuillLMS/app/services/canvas_integration/rest_client.rb
  services/QuillLMS/spec/services/canvas_integration/rest_client_spec.rb
Due: lms-edits

handle stripe subscription with no card
  services/QuillLMS/app/models/stripe_integration/subscription.rb
Due: lms-edits

add test
  services/QuillLMS/spec/models/stripe_integration/subscription_spec.rb
Due: none

fix bug with resetting custom dates for data export and usage snapshots
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

tweak CSS (#11019)
  services/QuillLMS/app/assets/stylesheets/pages/my_activities.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/activity_table.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-edits, lms-client-edits

Admin Data Export page updates part 2 (#11020)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
Due: lms-edits, lms-client-edits

handle stripe subscription with no card (#11025)
  services/QuillLMS/app/models/stripe_integration/subscription.rb
  services/QuillLMS/spec/models/stripe_integration/subscription_spec.rb
Due: lms-edits

fix bug with resetting custom dates for data export and usage snapshots (#11026)
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

add loading spinner and disable button while waiting for response (#11021)
  services/QuillLMS/client/app/bundles/Teacher/containers/EditOrCreateSubscription.jsx
Due: lms-client-edits

Add migration for main app
  services/QuillLMS/db/migrate/20230912150456_create_evidence_automl_models.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
Due: lms-edits

get set of tests for login form passing
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/__snapshots__/login_form.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/login_form.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/login_form.jsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/client/setupTestFilesAfterEnv.ts
Due: lms-client-edits

add logic to DataTable component to handle aggregate row data
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
Due: lms-client-edits

update min height
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
Due: lms-edits

small refactor
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/login_form.test.tsx
Due: lms-client-edits

tweak CSS to fix tertiary tab displays
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
