Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Fix set impact metrics worker (#11132)
  services/QuillLMS/app/queries/impact_metrics/active_students_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_count_query.rb
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_query.rb
  services/QuillLMS/app/queries/impact_metrics/schools_containing_certain_teachers_query.rb
  services/QuillLMS/app/queries/impact_metrics/schools_with_minimum_activity_sessions_query.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/impact_metrics/active_teachers_all_time_query_count_spec.rb
  services/QuillLMS/spec/queries/impact_metrics/schools_with_minimum_activity_sessions_query_spec.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

add info to google modal about classrooms unavailable for import (#11112)
  packages/quill-cdn/assets/images/illustrations/empty_class.svg
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/app/services/google_integration/classroom_data_adapter.rb
  services/QuillLMS/app/services/google_integration/rest_client.rb
  services/QuillLMS/app/services/google_integration/teacher_course_data_validator.rb
  services/QuillLMS/client/app/bundles/Shared/components/shared/tooltip.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/tooltip.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/no_classrooms_to_import_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/no_classrooms_to_import_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/no_classrooms_to_import_modal.tsx
  services/QuillLMS/spec/services/google_integration/classroom_data_adapter_spec.rb
  services/QuillLMS/spec/services/google_integration/rest_client_spec.rb
  services/QuillLMS/spec/services/google_integration/teacher_course_data_validator_spec.rb
Due: lms-edits, lms-client-edits

update gold colors (#11118)
  services/QuillLMS/app/assets/stylesheets/variables.scss
Due: lms-edits

update the font for internal tools (#11119)
  services/QuillLMS/client/app/bundles/Connect/components/questions/response.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/response.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/response.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/internal_tool.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
Due: lms-client-edits

Clean up sessions controller dead code
  services/QuillLMS/app/controllers/sessions_controller.rb
  services/QuillLMS/config/routes.rb
Due: lms-edits

Update Snapshot workers to updated versions
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_previous_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

fix some tests
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/diagnosticGrowthReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/overviewTable.test.tsx.snap
Due: lms-client-edits

WIP of an overnight pre-caching worker for Admin Snapshots
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
  services/QuillLMS/app/workers/pre_cache_premium_hubs_worker.rb
Due: lms-edits

fix premiumfilterablereportscontainer test
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/PremiumFilterableReportsContainer.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumFilterableReportsContainer.test.tsx.snap
Due: lms-client-edits

Fix sign_in method
  services/QuillLMS/spec/support/helpers/session_helper.rb
Due: none

Fix specs
  services/QuillLMS/spec/controllers/sessions_controller_spec.rb
  services/QuillLMS/spec/requests/sign_in_spec.rb
  services/QuillLMS/spec/requests/sign_up_spec.rb
Due: none

Allow google users to reset their non-existent password
  services/QuillLMS/app/controllers/password_reset_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/login_form.jsx
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits, lms-client-edits

update reset password messaging; add Leah to /team
  packages/quill-cdn/assets/images/team/webp/team-leah-allen-manning.webp
  services/QuillLMS/app/assets/stylesheets/pages/accounts_session_and_password_reset.scss
  services/QuillLMS/app/helpers/pages_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/reset_password/forgot_password.jsx
Due: lms-edits, lms-client-edits

Add a new worker to cache reports for a specified admin_id
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
  services/QuillLMS/app/workers/pre_cache_premium_hubs_worker.rb
  services/QuillLMS/spec/workers/cache_admin_snapshots_worker_spec.rb
  services/QuillLMS/spec/workers/pre_cache_premium_hub_worker_spec.rb
Due: lms-edits

Clean up sessions controller dead code (#11141)
  services/QuillLMS/app/controllers/sessions_controller.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/sessions_controller_spec.rb
  services/QuillLMS/spec/requests/sign_in_spec.rb
  services/QuillLMS/spec/requests/sign_up_spec.rb
  services/QuillLMS/spec/support/helpers/session_helper.rb
Due: lms-edits

update reset password messaging; add Leah to /team (#11144)
  packages/quill-cdn/assets/images/team/webp/team-leah-allen-manning.webp
  services/QuillLMS/app/assets/stylesheets/pages/accounts_session_and_password_reset.scss
  services/QuillLMS/app/helpers/pages_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/reset_password/forgot_password.jsx
Due: lms-edits, lms-client-edits

css for google login tbd
  services/QuillLMS/app/assets/stylesheets/shared/session.scss
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/__snapshots__/login_form.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/login_form.jsx
Due: lms-edits, lms-client-edits

make it smaller
  services/QuillLMS/app/assets/stylesheets/shared/session.scss
Due: lms-edits

add migrations, modal files, and specs
  services/QuillLMS/app/models/admin_report_filter_selection.rb
  services/QuillLMS/db/migrate/20231018141022_create_admin_report_filter_selections.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/admin_report_filter_selections.rb
  services/QuillLMS/spec/models/admin_report_filter_selection_spec.rb
Due: lms-edits

remove trailing comma
  services/QuillLMS/app/models/admin_report_filter_selection.rb
Due: lms-edits

css for google login tbd (#11147)
  services/QuillLMS/app/assets/stylesheets/shared/session.scss
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/__snapshots__/login_form.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/login_form.jsx
Due: lms-edits, lms-client-edits

Only unlink teacher accounts
  services/QuillLMS/app/controllers/password_reset_controller.rb
  services/QuillLMS/app/controllers/sessions_controller.rb
Due: lms-edits

wip
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/queries/snapshots/data_export_query.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/filterFunctions.tsx
  services/QuillLMS/client/app/bundles/Shared/test/libs/filterFunctions.test.ts
Due: lms-edits, lms-client-edits

Fix spec
  services/QuillLMS/spec/controllers/sessions_controller_spec.rb
Due: none

Updates based on PR feedback
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_previous_count_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits, lms-client-edits

Add unused method param to allow for matching signatures
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Update changes to cache workers from outstanding PR branch
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Update method param generator to include all params
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
Due: lms-edits

Tweak cache job to actually enqueue jobs
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
  services/QuillLMS/spec/workers/cache_admin_snapshots_worker_spec.rb
Due: lms-edits

Clean up params and use class variables
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
  services/QuillLMS/spec/workers/cache_admin_snapshots_worker_spec.rb
Due: lms-edits

Remove file that was removed from parent branch
  services/QuillLMS/app/workers/snapshots/cache_snapshot_previous_count_worker.rb
Due: lms-edits

initial checklist flow, no styling or specs
  services/QuillLMS/app/controllers/cms/district_admins_controller.rb
  services/QuillLMS/app/controllers/cms/districts_controller.rb
  services/QuillLMS/app/models/district_admin.rb
  services/QuillLMS/app/views/cms/districts/new_admin.html.erb
  services/QuillLMS/client/app/bundles/Staff/components/newAdminOrDistrictUser.tsx
Due: lms-edits, lms-client-edits

Update loginMethod
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
Due: lms-client-edits

Add check for expired google_access
  services/QuillLMS/app/controllers/application_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/application_controller_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Fix specs
  services/QuillLMS/spec/models/user_spec.rb
Due: none

Allow google users to reset their non-existent password (#11143)
  services/QuillLMS/app/assets/stylesheets/shared/session.scss
  services/QuillLMS/app/controllers/application_controller.rb
  services/QuillLMS/app/controllers/password_reset_controller.rb
  services/QuillLMS/app/controllers/sessions_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/__snapshots__/login_form.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/login_form.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
  services/QuillLMS/spec/controllers/application_controller_spec.rb
  services/QuillLMS/spec/controllers/sessions_controller_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits, lms-client-edits

Add Google::Cloud::DeadlineExceededError to retry
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/text_classifier.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
