Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Backfill capitalize names on user model
  services/QuillLMS/lib/tasks/progress_bar.rb
  services/QuillLMS/lib/tasks/temporary/remove_student_duplicates_with_same_email.rake
  services/QuillLMS/lib/tasks/temporary/users.rake
  services/QuillLMS/lib/tasks/users.rake
Due: lms-edits

lms/concepts-in-use-link (#10933)
  services/QuillLMS/client/app/bundles/Staff/components/ConceptReplaceForm.tsx
Due: lms-client-edits

Evidence/parallelize invalid highlights (#10938)
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activities.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activityInvalidHighlights.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/activityAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits, lms-client-edits

lms/tweak-score-reporting-percentages (#10939)
  services/QuillLMS/app/models/concerns/get_score_for_question.rb
Due: lms-edits

Fix intermitten spec failures with name capitalization
  services/QuillLMS/spec/services/canvas_integration/student_creator_spec.rb
  services/QuillLMS/spec/services/clever_integration/teacher_creator_spec.rb
Due: none

Save record after capitalization
  services/QuillLMS/aug21.txt
  services/QuillLMS/lib/tasks/temporary/users.rake
Due: lms-edits

Fix typo
  services/QuillLMS/lib/tasks/progress_bar.rb
  services/QuillLMS/lib/tasks/temporary/remove_student_duplicates_with_same_email.rake
  services/QuillLMS/lib/tasks/users.rake
Due: lms-edits

Fix intermitten spec failures with name capitalization (#10945)
  services/QuillLMS/spec/services/canvas_integration/student_creator_spec.rb
  services/QuillLMS/spec/services/clever_integration/teacher_creator_spec.rb
Due: none

Fix capitalize_names logic so that it only runs if name is changed (#10941)
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/lib/tasks/progress_bar.rb
  services/QuillLMS/lib/tasks/temporary/remove_student_duplicates_with_same_email.rake
  services/QuillLMS/lib/tasks/users.rake
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/services/canvas_integration/student_creator_spec.rb
  services/QuillLMS/spec/services/clever_integration/teacher_creator_spec.rb
Due: lms-edits

Small copy tweak so that the copy matches new layout
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/adminsTeachers.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/adminsTeachers.tsx
Due: lms-client-edits

Only open the snackbar if there is content to show in it
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/activity_pack.tsx
Due: lms-client-edits

double render bug fix
  services/QuillLMS/app/controllers/students_controller.rb
  services/QuillLMS/spec/controllers/students_controller_spec.rb
Due: lms-edits

refactor
  services/QuillLMS/app/controllers/students_controller.rb
Due: lms-edits

Add authorization check for clever teachers clasrooms cache
  services/QuillLMS/app/workers/clever_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/spec/workers/clever_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
Due: lms-edits

Add authorization check for canvas teachers clasrooms cache
  services/QuillLMS/app/workers/canvas_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/spec/workers/canvas_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
Due: lms-edits

If no existing data for learning hours is in place, return 0 not null
  services/QuillLMS/app/queries/snapshots/student_learning_hours_query.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
Due: lms-edits

Fix clever integration cache hydration auth (#10950)
  services/QuillLMS/app/workers/canvas_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/app/workers/clever_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/spec/workers/canvas_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
  services/QuillLMS/spec/workers/clever_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
Due: lms-edits

Add gem
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

fix lint error
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/activity_table.tsx
Due: lms-client-edits

If no existing data for learning hours is in place, return 0 not null (#10951)
  services/QuillLMS/app/queries/snapshots/student_learning_hours_query.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
Due: lms-edits

Only open the snackbar if there is content to show in it (#10948)
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/activity_pack.tsx
Due: lms-client-edits

Add email notification for send grid email cap warning
  services/QuillLMS/app/mailers/sendgrid_integration/mailer.rb
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/views/sendgrid_integration/mailer/monthly_email_cap_warning.html.erb
  services/QuillLMS/app/workers/sendgrid_integration/monthly_email_cap_warning_worker.rb
  services/QuillLMS/config/initializers/sendgrid.rb
  services/QuillLMS/spec/mailers/sengrid_integration/mailer_spec.rb
  services/QuillLMS/spec/models/cron_spec.rb
Due: lms-edits

double render bug fix (#10949)
  services/QuillLMS/app/controllers/students_controller.rb
  services/QuillLMS/spec/controllers/students_controller_spec.rb
Due: lms-edits

take out elasticsearch param changes
  services/QuillCMS/app/controllers/responses_controller.rb
  services/QuillCMS/app/workers/batch_reindex_responses_worker.rb
Due: cms-edits

try removing single node
  .circleci/config.yml
  services/QuillCMS/docker-compose.yml
Due: cms-edits

changes
  packages/quill-marking-logic/src/libs/graders/diagnostic_question.ts
  packages/quill-marking-logic/src/libs/matchers/min_length_match.spec.ts
  packages/quill-marking-logic/src/libs/matchers/min_length_match.ts
Due: marking-logic-edits

Fix bug with Clever district_admin flow
  services/QuillLMS/app/controllers/auth/clever_controller.rb
  services/QuillLMS/app/controllers/clever_controller.rb
  services/QuillLMS/app/services/clever_integration/district_client.rb
  services/QuillLMS/app/services/clever_integration/district_data_adapter.rb
  services/QuillLMS/app/services/clever_integration/parsers/district_from_auth.rb
  services/QuillLMS/app/services/clever_integration/sign_up/clever_district.rb
  services/QuillLMS/app/services/clever_integration/sign_up/sub_main.rb
  services/QuillLMS/app/views/clever/district_success.html.erb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/services/clever_integration/district_data_adapter_spec.rb
  services/QuillLMS/spec/services/clever_integration/library_teacher_integration_spec.rb
  services/QuillLMS/spec/services/clever_integration/parsers/district_from_auth_spec.rb
  services/QuillLMS/spec/support/shared_contexts/clever_integration/clever_district_admin_auth_hash.rb
Due: lms-edits

Peter suggestion
  services/QuillLMS/app/controllers/auth/clever_controller.rb
  services/QuillLMS/app/views/clever/district_success.html.erb
Due: lms-edits

Fix bug with Clever district_admin flow (#10958)
  services/QuillLMS/app/controllers/auth/clever_controller.rb
  services/QuillLMS/app/controllers/clever_controller.rb
  services/QuillLMS/app/services/clever_integration/district_client.rb
  services/QuillLMS/app/services/clever_integration/district_data_adapter.rb
  services/QuillLMS/app/services/clever_integration/parsers/district_from_auth.rb
  services/QuillLMS/app/services/clever_integration/sign_up/clever_district.rb
  services/QuillLMS/app/services/clever_integration/sign_up/sub_main.rb
  services/QuillLMS/app/views/clever/district_success.html.erb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/services/clever_integration/district_data_adapter_spec.rb
  services/QuillLMS/spec/services/clever_integration/library_teacher_integration_spec.rb
  services/QuillLMS/spec/services/clever_integration/parsers/district_from_auth_spec.rb
  services/QuillLMS/spec/support/shared_contexts/clever_integration/clever_district_admin_auth_hash.rb
Due: lms-edits

Fix bug with Associators::StudentToClassrooms
  services/QuillLMS/app/controllers/students_classrooms_controller.rb
  services/QuillLMS/app/controllers/students_controller.rb
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/app/controllers/teachers/students_controller.rb
  services/QuillLMS/app/models/students_classrooms.rb
  services/QuillLMS/app/services/associators/students_to_classrooms.rb
  services/QuillLMS/app/services/canvas_integration/classroom_student_importer.rb
  services/QuillLMS/app/services/clever_integration/classroom_student_importer.rb
  services/QuillLMS/app/services/google_integration/classroom_student_importer.rb
  services/QuillLMS/app/services/student_classroom_associator.rb
  services/QuillLMS/spec/controllers/students_classrooms_controller_spec.rb
  services/QuillLMS/spec/models/students_classrooms_spec.rb
  services/QuillLMS/spec/services/student_classroom_associator_spec.rb
  services/QuillLMS/spec/services/students_to_classrooms_associator_spec.rb
Due: lms-edits

Add back in missing params
  services/QuillLMS/app/controllers/auth/clever_controller.rb
Due: lms-edits

Add back in missing params (#10961)
  services/QuillLMS/app/controllers/auth/clever_controller.rb
Due: lms-edits

Fix bug with student provider in classroom view
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
Due: lms-edits

Fix user_external_id serialize value
  services/QuillLMS/app/serializers/user_with_provider_serializer.rb
  services/QuillLMS/spec/serializers/user_with_provider_serializer_spec.rb
Due: lms-edits

Fix failing spec
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
Due: lms-edits

restore spec to keep diff small
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
