Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

snapshot update
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/InterdisciplinaryScienceSubjectPage.test.jsx.snap
Due: lms-client-edits

Evidence GenAI - Return static optimal feedback from rules. (#12300)
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/response_builder_spec.rb
Due: lms-edits

Use the previous feedback history instead of DB.
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/app/models/feedback_session.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_session.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
Due: lms-edits

Clean up some unused methods.
  services/QuillLMS/config/initializers/evidence.rb
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_session.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Fix temperature implementation on LLMs
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
Due: lms-edits

fix course page zero problem
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_activity.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/BuildingAIKnowledgeContainer.test.tsx.snap
Due: lms-client-edits

wip
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
  services/QuillLMS/app/queries/progress_reports/standards/all_classrooms_standard.rb
  services/QuillLMS/app/queries/progress_reports/standards/new_standard.rb
  services/QuillLMS/app/queries/progress_reports/standards/standard.rb
  services/QuillLMS/app/serializers/progress_reports/standards/classroom_serializer.rb
  services/QuillLMS/app/serializers/progress_reports/standards/standard_serializer.rb
Due: lms-edits

update proofreader regex to match unnecessary space edits (#12282)
  services/QuillLMS/client/app/bundles/Proofreader/components/proofreaderActivities/sharedRegexes.ts
Due: lms-client-edits

PR feedback.
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
Due: lms-edits

PR feedback.
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
Due: lms-edits

Evidence GenAI - Only use previous feedback for prompt (not session) (#12304)
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/config/initializers/evidence.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_session.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Fix spec
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_spec.rb
Due: lms-edits

Fix temperature implementation on LLMs (#12305)
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_spec.rb
Due: lms-edits

checking in evidence Gemfiles; bump evidence version
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
Due: lms-edits

pin google-cloud-ai_platform-v1 at app level as well as engine level
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Wip
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/checker.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

New static prompt for coral because.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/673.md
Due: lms-edits

Create DataSlice model
  services/QuillLMS/db/migrate/20240828204236_create_evidence_research_gen_ai_data_slices.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/data_slice.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/db/migrate/20240828195901_create_evidence_research_gen_ai_data_slices.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/data_slices.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/data_slice_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
Due: lms-edits

Scrap data slice model
  services/QuillLMS/db/migrate/20240828204236_create_evidence_research_gen_ai_data_slices.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/db/migrate/20240828195901_create_evidence_research_gen_ai_data_slices.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
Due: lms-edits

temporarily increase CCI resource class
  .circleci/continue_config.yml
Due: none

fix standards pages to show evidence stuff properly
  services/QuillLMS/app/controllers/teachers/progress_reports/standards/student_standards_controller.rb
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
  services/QuillLMS/app/queries/progress_reports/standards/all_classrooms_standard.rb
  services/QuillLMS/app/queries/progress_reports/standards/new_standard.rb
  services/QuillLMS/app/queries/progress_reports/standards/standard.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/standardsReportsTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
Due: lms-edits, lms-client-edits

changes
  services/QuillLMS/app/controllers/teachers/progress_reports/standards/student_standards_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/standardsReportsTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
Due: lms-edits, lms-client-edits

Go back to single table
  services/QuillLMS/db/migrate/20240828221440_add_parent_id_to_evidence_research_gen_ai_dataset.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/data_slice.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/db/migrate/20240828221309_add_parent_id_to_evidence_research_gen_ai_dataset.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/data_slices.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/datasets.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/data_slice_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
Due: lms-edits

Store results of repeated feedback tests.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/results/test_runs.csv
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

specs
  services/QuillLMS/spec/serializers/progress_reports/standards/classroom_serializer_spec.rb
  services/QuillLMS/spec/serializers/progress_reports/standards/standard_serializer_spec.rb
Due: none

fix indentation
  services/QuillLMS/spec/serializers/progress_reports/standards/classroom_serializer_spec.rb
  services/QuillLMS/spec/serializers/progress_reports/standards/standard_serializer_spec.rb
Due: none

fix test and lint
  services/QuillLMS/app/serializers/progress_reports/standards/classroom_serializer.rb
  services/QuillLMS/spec/serializers/progress_reports/standards/classroom_serializer_spec.rb
  services/QuillLMS/spec/serializers/progress_reports/standards/standard_serializer_spec.rb
Due: lms-edits

further adjustment
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
Due: lms-client-edits

better test
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/__tests__/standards_standard_students_progress_report.test.tsx
Due: lms-client-edits

swap out featured blog post
  services/QuillLMS/client/app/bundles/Teacher/constants/featuredBlogPost.ts
Due: lms-client-edits

Add DataSubsetBuilder service object
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/data_subset_builder.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/data_subset_builder_spec.rb
Due: lms-edits

fix indentation for real this time hopefully
  services/QuillLMS/spec/serializers/progress_reports/standards/classroom_serializer_spec.rb
  services/QuillLMS/spec/serializers/progress_reports/standards/standard_serializer_spec.rb
Due: none

one more lint fix
  services/QuillLMS/spec/serializers/progress_reports/standards/classroom_serializer_spec.rb
  services/QuillLMS/spec/serializers/progress_reports/standards/standard_serializer_spec.rb
Due: none

fix other test
  services/QuillLMS/spec/queries/progress_reports/standards/all_classrooms_standard_spec.rb
Due: none

reorder
  services/QuillLMS/spec/queries/progress_reports/standards/all_classrooms_standard_spec.rb
Due: none

Update datasets#create to accomodate data subset creation
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/datasets_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/prompt_examples.rb
Due: lms-edits

Update versioning based on parent_id
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
Due: lms-edits

Add new templates.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini2.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini_with_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_open_ai_new.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_open_ai_new_examples.md
Due: lms-edits

Make adjustments to the repeated feedback llm call.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/checker.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/results/test_runs.csv
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback/checker_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback/prompt_builder_spec.rb
Due: lms-edits

Add task to generate repeated examples.
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
