Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Add some debug output to chase down CSV generation failure
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
Due: lms-edits

Remove debugging output
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
Due: lms-edits

fix bug with clicking on activity pack links from signed-out page
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
Due: lms-edits

Remove unused constant declarations
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_subscriptions_worker.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_subscriptions_worker.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_weekly_subscriptions_worker.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_subscription_csv_email_worker_spec.rb
Due: lms-edits

Update snapshot
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/diagnosticGrowthReports.test.tsx.snap
Due: lms-client-edits

More snapshot cleanup
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/reportSubscriptionModal.test.tsx.snap
Due: lms-client-edits

Update constants in spec since we've standardized them
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_subscription_csv_email_worker_spec.rb
Due: none

WIP updating subscription reporting in Segment
  services/QuillLMS/app/models/admin_report_filter_selection.rb
  services/QuillLMS/app/models/segment_integration/user.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/admin_report_filter_selection_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Update tests with appropriate new param names
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/reportSubscriptionModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/reportSubscriptionModal.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/AdminAccess.test.jsx.snap
Due: lms-client-edits

Update worker and spec to handle premium requirement
  services/QuillLMS/app/models/email_subscription.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_monthly_subscriptions_worker.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_weekly_subscriptions_worker.rb
  services/QuillLMS/spec/models/email_subscription_spec.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_monthly_subscriptions_worker_spec.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_weekly_subscriptions_worker_spec.rb
Due: lms-edits

Remove unnecessary times call
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_monthly_subscriptions_worker_spec.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_weekly_subscriptions_worker_spec.rb
Due: none

Fix linting
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_monthly_subscriptions_worker_spec.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_weekly_subscriptions_worker_spec.rb
Due: none

Change "My" to "Manage" in all copy for teacher tabs (#12210)
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/previouslyAssignedTooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/merge_activity_packs.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
  services/QuillLMS/spec/helpers/footer_helper_spec.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits, lms-client-edits

temporarily hardcode integration tets for testing
  .circleci/continue_config.yml
Due: none

Tweak the way that we copy relevant AdminReportFilterSelections
  services/QuillLMS/app/controllers/email_subscriptions_controller.rb
  services/QuillLMS/app/models/email_subscription.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/spec/models/email_subscription_spec.rb
Due: lms-edits, lms-client-edits

Update names to be more consistent with other constants
  services/QuillLMS/app/models/admin_report_filter_selection.rb
  services/QuillLMS/app/models/email_subscription.rb
  services/QuillLMS/spec/models/email_subscription_spec.rb
Due: lms-edits

Update new constant names everywhere they're used
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_subscriptions_worker.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/app/models/email_subscription.rb
Due: lms-edits

More linting fixes
  services/QuillLMS/spec/models/email_subscription_spec.rb
Due: none

debugging
  .circleci/continue_config.yml
Due: none

Another place to update constant names
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_subscription_csv_email_worker_spec.rb
Due: none

Update debug script
  .circleci/continue_config.yml
Due: none

Update unicode.
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Add task for running GenAI check.
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Lint.
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Memoize API call.
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
Due: lms-edits

Finish getting specs working
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

GenAI Prototype - Connect Secondary Feedback and Highlighting (#12220)
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_checker.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback_prompts/2024_07_31_initial.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/secondary_feedback_prompts/2024_07_17_with_highlight.md
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_session.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback_checker_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback_prompt_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/response_builder_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Make sure to suppress nil and duplicate records
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Fix linting
  services/QuillLMS/spec/models/user_spec.rb
Due: none

Fix typo in spec
  services/QuillLMS/spec/models/user_spec.rb
Due: none

restoring spec/system/
  services/QuillLMS/spec/system/activity_pack_assignment_spec.rb
Due: none

Bump a couple of packages to resolve Dependabot alerts
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

fix rubocop error
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
Due: lms-edits

add specs
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/scorebook_tooltip.test.tsx
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-client-edits

fix rubocop lint error
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

fix spec
  services/QuillLMS/spec/helpers/content_hubs_helper_spec.rb
Due: none

update onboarding slides for evidence
  packages/quill-cdn/assets/images/evidence/evidence-report.svg
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationData.ts
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationSlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/explanationSlide.scss
Due: lms-client-edits

update evidence onboarding slides
  packages/quill-cdn/assets/images/evidence/evidence-report.svg
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationData.ts
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/explanationSlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/explanationSlide.scss
Due: lms-client-edits
