Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

add frozen string literal
  services/QuillLMS/app/controllers/admin_report_filter_selections_controller.rb
  services/QuillLMS/spec/controllers/admin_report_filter_selections_controller_spec.rb
Due: lms-edits

tweak CSS
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
Due: lms-edits

AGDR/ student section fe (#11159)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/studentSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/studentSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-edits, lms-client-edits

AGDR/ skill section frontend (#11139)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/diagnosticGrowthReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/overviewSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/overviewTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/skillSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/studentSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/overviewSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/skillSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/studentSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-edits, lms-client-edits

Add segment event to track google users that set a password
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/services/analytics/segment_analytics.rb
  services/QuillLMS/app/services/analytics/segment_io.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
Due: lms-edits

Linter error
  services/QuillLMS/app/services/analytics/segment_analytics.rb
  services/QuillLMS/app/services/analytics/segment_io.rb
Due: lms-edits

Fix some specs
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
  services/QuillLMS/spec/services/complete_account_creation_spec.rb
Due: none

Change callback to before_update
  services/QuillLMS/app/models/user.rb
Due: lms-edits

Add segment event to track google users that set a password (#11173)
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/services/analytics/segment_analytics.rb
  services/QuillLMS/app/services/analytics/segment_io.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
  services/QuillLMS/spec/services/complete_account_creation_spec.rb
Due: lms-edits

brendan feedback
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
  services/QuillLMS/app/workers/snapshots/premium_download_reports_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/workers/snapshots/premium_download_reports_worker_spec.rb
Due: lms-edits, lms-client-edits

add check for current_user
  services/QuillLMS/app/views/pages/teacher_premium.html.erb
Due: lms-edits

update header size
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
Due: lms-edits

Fix intermittent spec failure
  services/QuillLMS/spec/factories/activity_sessions.rb
Due: none

update default for evidence
  services/QuillLMS/app/controllers/grades_controller.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
Due: lms-edits

add test
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: none

change to keyword argument
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
Due: lms-edits

Fix google teacher set password tracking
  services/QuillLMS/app/controllers/password_reset_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/password_reset_controller_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

fix spec
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits

update header size (#11176)
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
Due: lms-edits

add check for current_user (#11175)
  services/QuillLMS/app/views/pages/teacher_premium.html.erb
Due: lms-edits

Fix specs
  services/QuillLMS/spec/models/user_spec.rb
Due: none

Fix intermittent spec failure (#11179)
  services/QuillLMS/spec/factories/activity_sessions.rb
Due: none

brendan's suggestion
  services/QuillLMS/app/controllers/grades_controller.rb
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/spec/models/activity_session_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits

missed a file
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
Due: lms-edits

update maroon, add viridian and transparent colors; update backpack
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/colorPalette.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-edits, lms-client-edits

add viridian to backpack
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/colorPalette.tsx
Due: lms-client-edits

Allow apostrophes in local part of email address
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Remove VALID_EMAIL_REGEX and use the gem used in validation already
  services/QuillLMS/app/controllers/invitations_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/invitations_controller_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Allow apostrophes in local part of email address (#11181)
  services/QuillLMS/app/controllers/invitations_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/invitations_controller_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

add tooltips for overview section
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/skillSection.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
Due: lms-edits, lms-client-edits

attach school to teacher if premium exists
  services/QuillLMS/app/controllers/cms/district_admins_controller.rb
  services/QuillLMS/app/controllers/cms/districts_controller.rb
Due: lms-edits

add specs
  services/QuillLMS/app/models/district_admin.rb
  services/QuillLMS/spec/controllers/cms/district_admins_controller_spec.rb
  services/QuillLMS/spec/models/district_admin_spec.rb
Due: lms-edits

fix failing spec
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
Due: none

brendan revision suggestions
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/admin_report_filter_selections_controller_spec.rb
Due: lms-edits

tweak CSS
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

copy changes and test updates
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/skillGroupTooltip.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/skillGroupTooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/summary.tsx
Due: lms-client-edits

tweak CSS (#11184)
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

Fix google teacher set password tracking (#11178)
  services/QuillLMS/app/controllers/password_reset_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/password_reset_controller_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

add by skill and by student tooltip copy
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-edits, lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
