Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Add a new TeacherInfo field for storing email notification frequency
  services/QuillLMS/app/controllers/teacher_infos_controller.rb
  services/QuillLMS/app/models/teacher_info.rb
  services/QuillLMS/db/migrate/20230428190706_add_notification_email_frequency_to_teacher_info.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/controllers/teacher_infos_controller_spec.rb
  services/QuillLMS/spec/factories/teacher_infos.rb
  services/QuillLMS/spec/models/teacher_info_spec.rb
Due: lms-edits

Set up code to set default values for notification_frequency on new users
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Remove two migrations from structure from a different branch
  services/QuillLMS/db/structure.sql
Due: lms-edits

Remove more migrations from other branches from structure.sql
  services/QuillLMS/db/structure.sql
Due: lms-edits

Fix db/structure, hopefully
  services/QuillLMS/db/structure.sql
Due: lms-edits

Clean up specs to work with new more common TeacherInfo records
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/system/activity_pack_assignment_spec.rb
Due: none

Tweak ClassroomManager teacher info modal to appearance logic
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
Due: lms-edits

consolidate primary and secondary navbars
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/helpers/navbar_helper.rb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/pages/shared/_mobile_sub_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/tabs/_premium_tab.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
Due: lms-edits

Update more specs using teacher_info
  services/QuillLMS/spec/models/concerns/teacher_spec.rb
Due: none

main css is working
  services/QuillLMS/app/assets/stylesheets/application.scss
  services/QuillLMS/app/assets/stylesheets/cms/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/custom_activity_pack/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/index.scss
  services/QuillLMS/app/assets/stylesheets/shared/category-label.scss~3f363d934baa4ac5b06651f8b39ba5f2dedcd87f
  services/QuillLMS/app/assets/stylesheets/shared/index.scss
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/app/entrypoints/app.css
  services/QuillLMS/client/app/entrypoints/application.scss
Due: lms-edits, lms-client-edits

get grammar working (#10521)
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/client/app/bundles/Connect/actions/questions.ts
  services/QuillLMS/client/app/bundles/Connect/components/questions/massEditContainer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/questions/responseComponent.jsx
  services/QuillLMS/client/app/bundles/Connect/components/shared/focusPointsInputAndConceptSelectorForm.jsx
  services/QuillLMS/client/app/bundles/Connect/components/shared/incorrectSequencesInputAndConceptSelectorForm.jsx
  services/QuillLMS/client/app/bundles/Connect/libs/grading/rematching.ts
  services/QuillLMS/client/app/bundles/Diagnostic/actions/questions.ts
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/massEditContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/responseComponent.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/focusPointsInputAndConceptSelectorForm.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/incorrectSequencesInputAndConceptSelectorForm.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/libs/grading/rematching.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/responses.ts
  services/QuillLMS/client/app/bundles/Grammar/clientRegistration.js
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/question.test.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/massEditContainer.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/response.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/responseComponent.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/shared/focusPointsInputAndConceptSelectorForm.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/shared/incorrectSequencesInputAndConceptSelectorForm.tsx
  services/QuillLMS/client/app/bundles/Grammar/index.tsx
  services/QuillLMS/client/app/bundles/Grammar/libs/grading/rematching.ts
  services/QuillLMS/client/app/bundles/Grammar/styles/style.scss
  services/QuillLMS/client/app/bundles/Proofreader/tests/proofreaderActivities/container.test.tsx
  services/QuillLMS/client/app/entrypoints/grammar.scss
  services/QuillLMS/client/app/entrypoints/grammar.ts
Due: lms-edits, lms-client-edits

this should be the bulk of what we need to get everything else working
  services/QuillLMS/app/controllers/application_controller.rb
  services/QuillLMS/app/controllers/cms/activities_controller.rb
  services/QuillLMS/app/controllers/cms/admin_verification_controller.rb
  services/QuillLMS/app/controllers/cms/attributes_manager_controller.rb
  services/QuillLMS/app/controllers/cms/concepts_controller.rb
  services/QuillLMS/app/controllers/cms/districts_controller.rb
  services/QuillLMS/app/controllers/cms/evidence_controller.rb
  services/QuillLMS/app/controllers/cms/schools_controller.rb
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/app/bundles/Teacher/startup/CmsUserIndexAppClient.jsx
  services/QuillLMS/client/app/bundles/Teacher/startup/PremiumHubAppClient.jsx
  services/QuillLMS/client/app/entrypoints/application.ts
  services/QuillLMS/client/app/entrypoints/evidence.ts
  services/QuillLMS/client/app/entrypoints/home.ts
  services/QuillLMS/client/app/entrypoints/proofreader.ts
  services/QuillLMS/client/app/entrypoints/public.ts
  services/QuillLMS/client/app/entrypoints/staff.scss
  services/QuillLMS/client/app/entrypoints/staff.ts
  services/QuillLMS/client/app/entrypoints/student.ts
Due: lms-edits, lms-client-edits

fixing some home javascript stuff
  services/QuillLMS/app/helpers/mobile_helper.rb
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
  services/QuillLMS/client/app/assets/styles/tool-section.scss
  services/QuillLMS/client/app/entrypoints/home.css
  services/QuillLMS/client/app/entrypoints/home.scss
  services/QuillLMS/client/app/entrypoints/staff.scss
Due: lms-edits, lms-client-edits

more home bundle javascript
  services/QuillLMS/app/views/pages/connect_tool.erb
  services/QuillLMS/app/views/pages/diagnostic_tool.erb
  services/QuillLMS/app/views/pages/grammar_tool.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
  services/QuillLMS/app/views/pages/proofreader_tool.erb
  services/QuillLMS/client/app/bundles/Home/tabslet.js
Due: lms-edits, lms-client-edits

fix places still using process.env.default_url
  services/QuillLMS/client/app/actions/district_activity_scores.js
  services/QuillLMS/client/app/actions/district_concept_reports.js
  services/QuillLMS/client/app/actions/district_standards_reports.js
  services/QuillLMS/client/app/actions/student_profile.js
  services/QuillLMS/client/app/bundles/Evidence/actions/activities.ts
  services/QuillLMS/client/app/bundles/Evidence/styles/style.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/request_admin_access_form.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/school_verification_form.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_sub_role.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_email.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_school.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/admin_access/adminRequestModal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/admin_access/inviteAdminModal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_and_district_premium_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/articleSpotlight.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/recalculate_staggered_release_locks.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/AdminAccess.tsx
Due: lms-client-edits

fix other places using process.env
  services/QuillLMS/client/app/actions/district_activity_scores.js
  services/QuillLMS/client/app/actions/district_concept_reports.js
  services/QuillLMS/client/app/actions/district_standards_reports.js
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/PremiumHub.test.jsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/request_admin_access_form.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/school_verification_form.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_sub_role.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_email.tsx
Due: lms-client-edits

fix function signature-based regression on staggered release teacher fix (#10524)
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/recalculate_staggered_release_locks.jsx
Due: lms-client-edits

fix tutorial slides regression
  services/QuillLMS/client/app/bundles/Teacher/components/tutorials/TutorialIndex.jsx
Due: lms-client-edits

add mobile dropdown checkmark icons
  packages/quill-cdn/assets/images/icons/mobile-dark-green-check.svg
  packages/quill-cdn/assets/images/icons/mobile-white-check.svg
Due: none

fix tutorial slides regression (#10526)
  services/QuillLMS/client/app/bundles/Teacher/components/tutorials/TutorialIndex.jsx
Due: lms-client-edits

remove style-in-js imports from evidence and proofreader
  services/QuillLMS/client/app/bundles/Evidence/clientRegistration.js
  services/QuillLMS/client/app/bundles/Proofreader/clientRegistration.js
Due: lms-client-edits

update checkmark icons
  packages/quill-cdn/assets/images/icons/mobile-dark-green-check.svg
  packages/quill-cdn/assets/images/icons/mobile-white-check.svg
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/pages/shared/_mobile_sub_navbar.html.erb
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/db/structure.sql
  services/QuillLMS/package-lock.json
Due: lms-edits, lms-client-edits

Make tweaks based on code review
  services/QuillLMS/app/controllers/teacher_infos_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/teacher_info_modal.tsx
  services/QuillLMS/spec/controllers/teacher_infos_controller_spec.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
Due: lms-edits, lms-client-edits

Use update action for teacher info when signing up
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/add_teacher_info.tsx
Due: lms-client-edits

fix two more image urls
  services/QuillLMS/client/app/assets/styles/home.scss
  services/QuillLMS/client/app/assets/styles/tool-section.scss
Due: lms-client-edits

Lms/add teacher notification settings (#10519)
  services/QuillLMS/app/controllers/api/v1/teacher_notification_settings_controller.rb
  services/QuillLMS/app/models/teacher_notification_setting.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/db/migrate/20230421172858_create_teacher_notification_settings.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/controllers/api/v1/teacher_notification_settings_controller_spec.rb
  services/QuillLMS/spec/factories/teacher_notification/student_completed_all_assigned_activities.rb
  services/QuillLMS/spec/factories/teacher_notification/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/spec/factories/teacher_notification_setting.rb
  services/QuillLMS/spec/factories/teacher_notifications/student_completed_all_assigned_activities.rb
  services/QuillLMS/spec/factories/teacher_notifications/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/spec/factories/teacher_notifications/student_completed_diagnostic.rb
  services/QuillLMS/spec/models/teacher_notification_setting_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/rails_helper.rb
Due: lms-edits

Lms/add teacher notification email frequency (#10525)
  services/QuillLMS/app/controllers/teacher_infos_controller.rb
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/models/teacher_info.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/add_teacher_info.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/teacher_info_modal.tsx
  services/QuillLMS/db/migrate/20230428190706_add_notification_email_frequency_to_teacher_info.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/controllers/teacher_infos_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
  services/QuillLMS/spec/factories/teacher_infos.rb
  services/QuillLMS/spec/models/concerns/teacher_spec.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/models/teacher_info_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/system/activity_pack_assignment_spec.rb
Due: lms-edits, lms-client-edits

fix active tab rendering; add badging
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/helpers/navbar_helper.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/pages/shared/_mobile_sub_navbar.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/my_activities_tabs.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/activity_packs.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostics_index.tsx
Due: lms-edits, lms-client-edits

Add infrastructure to enqueue notification rollup emails to users
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/workers/teacher_notifications/enqueue_users_for_rollup_email_worker.rb
  services/QuillLMS/spec/models/cron_spec.rb
  services/QuillLMS/spec/workers/teacher_notifications/enqueue_users_for_rollup_email_worker.rb
Due: lms-edits

made queries more efficient and added complexity to tests
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

fix specs and linter
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/app/workers/sync_sales_form_submission_to_vitally_worker.rb
  services/QuillLMS/app/workers/sync_vitally_organization_worker.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
  services/QuillLMS/spec/workers/sync_sales_form_submission_to_vitally_worker_spec.rb
  services/QuillLMS/spec/workers/sync_vitally_organization_worker_spec.rb
Due: lms-edits

add memoization
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
Due: lms-edits

Do some file renaming and shuffling for factories
  services/QuillLMS/spec/factories/teacher_notification.rb
  services/QuillLMS/spec/factories/teacher_notifications/student_completed_all_assigned_activities.rb
  services/QuillLMS/spec/factories/teacher_notifications/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/spec/factories/teacher_notifications/student_completed_diagnostic.rb
  services/QuillLMS/spec/workers/teacher_notifications/enqueue_users_for_rollup_email_worker_spec.rb
Due: none

Add a worker and spec to actually send email notifications
  services/QuillLMS/app/workers/teacher_notifications/send_rollup_email_worker.rb
  services/QuillLMS/spec/workers/teacher_notifications/send_rollup_email_worker_spec.rb
Due: lms-edits

Add a mailer for notification rollups with accompanying views and specs
  services/QuillLMS/app/mailers/teacher_notifications/rollup_mailer.rb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_all_assigned_activities.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_all_diagnostic_recommendations.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_diagnostics.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_truncate_student_names.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
  services/QuillLMS/spec/mailers/teacher_notifications/rollup_mailer_spec.rb
Due: lms-edits

Tweak section order to match the one in the spec
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

Fix linting errors
  services/QuillLMS/app/mailers/teacher_notifications/rollup_mailer.rb
  services/QuillLMS/app/workers/teacher_notifications/enqueue_users_for_rollup_email_worker.rb
  services/QuillLMS/app/workers/teacher_notifications/send_rollup_email_worker.rb
  services/QuillLMS/spec/mailers/teacher_notifications/rollup_mailer_spec.rb
Due: lms-edits

extract method to user model, various styling fixes; add/update tests
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/app/helpers/navbar_helper.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/pages/shared/_mobile_sub_navbar.html.erb
  services/QuillLMS/app/views/pages/shared/tabs/_my_reports_tab.html.erb
  services/QuillLMS/app/views/pages/shared/tabs/_premium_tab.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/spec/helpers/navbar_helper_spec.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

add padding
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
Due: lms-edits
