Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix spec that attempted to read a nil key from cache
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: none

pin rubocop gems
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

shim for action cable bug
  services/QuillLMS/config/application.rb
Due: lms-edits

remove xlarge resource class
  .circleci/continue_config.yml
Due: none

more of same
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_skills_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_students_controller_spec.rb
Due: none

whitespace
  services/QuillLMS/Gemfile
Due: lms-edits

lint
  services/QuillLMS/config/application.rb
Due: lms-edits

rails 7.1 (#12270)
  .circleci/continue_config.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_skills_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_students_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

remove bundler install commands from CCI
  .circleci/continue_config.yml
Due: none

spurious change to trigger CI
  services/QuillLMS/app/controllers/activity_sessions_controller.rb
Due: lms-edits

bugfix for satismeter
  services/QuillLMS/app/views/application/_satismeter.html.erb
Due: lms-edits

newline
  services/QuillLMS/app/views/application/_satismeter.html.erb
Due: lms-edits

bugfix for satismeter (#12294)
  services/QuillLMS/app/views/application/_satismeter.html.erb
Due: lms-edits

Revert "spurious change to trigger CI"
  services/QuillLMS/app/controllers/activity_sessions_controller.rb
Due: lms-edits

Revert "rails 7.1 (#12270)"
  .circleci/continue_config.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_skills_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_students_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Revert "rails 7.1 (#12270)" (#12296)
  .circleci/continue_config.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_skills_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_students_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Translations/ Connect intro page updates (#12291)
  services/QuillLMS/client/app/bundles/Connect/components/renderForQuestions/renderFormForAnswer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/question.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/__tests__/__snapshots__/register.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/__tests__/register.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/spanish/translation.json
Due: lms-client-edits

port over Samantha's work and make some tweaks
  services/QuillLMS/app/controllers/api/v1/activity_questions_controller.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/client/app/bundles/Connect/actions/lessons.ts
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Connect/constants.js
  services/QuillLMS/client/app/bundles/Connect/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Connect/reducers/questions.js
  services/QuillLMS/spec/models/question_spec.rb
Due: lms-edits, lms-client-edits

get question language data populating
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Connect/reducers/questions.js
Due: lms-client-edits

update snapshots
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lessons.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/AdminAccess.test.jsx.snap
Due: lms-client-edits

remove unneeded code
  services/QuillLMS/client/app/bundles/Connect/actions/lessons.ts
Due: lms-client-edits

update tests
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/concept.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/__tests__/lesson.test.tsx
Due: lms-client-edits

Return static optimal feedback from rules.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/response_builder_spec.rb
Due: lms-edits

Lint.
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/response_builder_spec.rb
Due: lms-edits

Revert "Revert "rails 7.1 (#12270)" (#12296)"
  .circleci/continue_config.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_skills_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_students_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

pin google-cloud-ai_platform-v1
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
Due: lms-edits

manifest
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/app/views/layouts/home.html.erb
  services/QuillLMS/config/manifest.json
Due: lms-edits

suppress video section
  services/QuillLMS/app/views/pages/evidence_tool.erb
Due: lms-edits

replace scoring card with school yer update card
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/scoring_updates_card.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/postNavigationBanner.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/promotional_card.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/promotional_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/school_year_updates_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/scoring_updates_card.tsx
Due: lms-edits, lms-client-edits

evidence tool page updates (#12283)
  packages/quill-cdn/assets/images/evidence/home_page/onboarding_slide_3.svg
  packages/quill-cdn/assets/images/evidence/home_page/world_history_map.png
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/helpers/tools_helper.rb
  services/QuillLMS/app/views/evidence/_third_topic.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/client/app/assets/styles/evidence-tool.scss
  services/QuillLMS/client/app/assets/styles/home.scss
Due: lms-edits, lms-client-edits

small change
  services/QuillLMS/client/app/bundles/Connect/components/renderForQuestions/renderFormForAnswer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
Due: lms-client-edits

fix view sample activity links to not be hardcoded to prod
  services/QuillLMS/app/views/evidence/_first_topic.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
Due: lms-edits

fix featured activity pack link
  services/QuillLMS/app/helpers/content_hubs_helper.rb
Due: lms-edits

lint
  services/QuillLMS/engines/evidence/Gemfile
Due: lms-edits

update course page to always go to top
  services/QuillLMS/client/app/bundles/Teacher/containers/CoursePage.tsx
Due: lms-client-edits

Add optimization to finder (to use index)
  services/QuillLMS/app/models/feedback_history.rb
Due: lms-edits

Only use DB history from prompt.
  services/QuillLMS/app/models/feedback_session.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_session.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
Due: lms-edits

qa fixes
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/containers/BuildingAIKnowledge.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/InterdisciplinaryScienceSubjectPage.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/InterdisciplinaryScienceSubjectPage.test.jsx.snap
Due: lms-edits, lms-client-edits
