Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

update tests
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/growthResults.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/test_data.ts
Due: lms-client-edits

Copy changes for Diagnostic student results pages (#10883)
  packages/quill-cdn/assets/images/pages/diagnostic_reports/icons-triangle-up-bright-green.svg
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_student_responses_index.scss
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMinisTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/growthResults.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/test_data.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthResults.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/interfaces.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/results.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResponsesIndex.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-edits, lms-client-edits

Add some logging
  services/QuillLMS/lib/tasks/temporary/users.rake
Due: lms-edits

Remove users with duplicate emails that have no activity sessions and no classrooms (#10904)
  services/QuillLMS/lib/tasks/temporary/users.rake
Due: lms-edits

Vite3 prod build (#10896)
  services/QuillLMS/.env.development
  services/QuillLMS/bin/dev/airbyte
  services/QuillLMS/client/app/bundles/Diagnostic/actions/filters.js
  services/QuillLMS/client/app/bundles/Diagnostic/modules/analytics/index.ts
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/shared.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/vite.config.ts
Due: lms-edits, lms-client-edits

remove webpack/ and webpacker.yml
  services/QuillLMS/config/webpack/development.js
  services/QuillLMS/config/webpack/environment.js
  services/QuillLMS/config/webpack/production.js
  services/QuillLMS/config/webpack/test.js
  services/QuillLMS/config/webpacker.yml
Due: lms-edits

comment out initializers/react_on_rails.rb
  services/QuillLMS/config/initializers/react_on_rails.rb
Due: lms-edits

- removed webpacker gem \n - removed webpacker binstubs \n - removed webpack specific scripts in package.json
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/bin/webpack
  services/QuillLMS/bin/webpack-dev-server
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package.json
Due: lms-edits, lms-client-edits

Upgrade rubocop; add autocorrect for frozen string literal
  services/.rubocop.yml
  services/rubocop.sh
Due: none

Run linter
  services/QuillLMS/app/controllers/accounts_controller.rb
  services/QuillLMS/app/controllers/api/v1/active_activity_sessions_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/services/diagnostics_organized_by_classroom_fetcher.rb
  services/QuillLMS/app/workers/teacher_notifications/send_complete_all_diagnostic_recommendations_notification_worker.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
  services/QuillLMS/spec/controllers/accounts_controller_spec.rb
  services/QuillLMS/spec/controllers/profiles_controller_spec.rb
  services/QuillLMS/spec/factories/users.rb
  services/QuillLMS/spec/lib/universal_rule_loader_spec.rb
  services/QuillLMS/spec/mailers/teacher_notifications/rollup_mailer_spec.rb
  services/QuillLMS/spec/support/pages/page.rb
Due: lms-edits

fix navigation hover states
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
Due: lms-edits, lms-client-edits

add a color palette to backpack
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/colorPalette.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

Fix some formatting
  services/QuillLMS/spec/controllers/profiles_controller_spec.rb
Due: none

Add some formatting
  services/QuillLMS/spec/lib/universal_rule_loader_spec.rb
Due: none

More formatting
  services/QuillLMS/spec/lib/universal_rule_loader_spec.rb
Due: none

Peter suggestion
  services/rubocop.sh
Due: none

Upgrade rubocop (#10911)
  services/.rubocop.yml
  services/QuillLMS/app/controllers/accounts_controller.rb
  services/QuillLMS/app/controllers/api/v1/active_activity_sessions_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports/diagnostic_reports_controller.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/services/diagnostics_organized_by_classroom_fetcher.rb
  services/QuillLMS/app/workers/teacher_notifications/send_complete_all_diagnostic_recommendations_notification_worker.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
  services/QuillLMS/spec/controllers/accounts_controller_spec.rb
  services/QuillLMS/spec/controllers/profiles_controller_spec.rb
  services/QuillLMS/spec/factories/users.rb
  services/QuillLMS/spec/lib/universal_rule_loader_spec.rb
  services/QuillLMS/spec/mailers/teacher_notifications/rollup_mailer_spec.rb
  services/QuillLMS/spec/support/pages/page.rb
  services/rubocop.sh
Due: lms-edits

teal, blue, purple, violet, red, maroon, gold
  services/QuillLMS/app/assets/stylesheets/custom.scss
  services/QuillLMS/app/assets/stylesheets/pages/blog_posts.scss
  services/QuillLMS/app/assets/stylesheets/pages/grade_level_warning_modal.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_page.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
  services/QuillLMS/app/assets/stylesheets/pages/sign_up.scss
  services/QuillLMS/app/assets/stylesheets/pages/subscriptions.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/evidence_promotion_card.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/scoring_updates_card.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_premium.scss
  services/QuillLMS/app/assets/stylesheets/pages/update-assigned-students.scss
  services/QuillLMS/app/assets/stylesheets/shared/banner-with-button.scss
  services/QuillLMS/app/assets/stylesheets/shared/banner.scss
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/subnav.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/assets/stylesheets/shared/teacher-preview-menu.scss
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/main.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/app/views/evidence/_first_topic.html.erb
  services/QuillLMS/app/views/evidence/_home_section.html.erb
  services/QuillLMS/app/views/evidence/_second_topic.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/home_new.html.erb
  services/QuillLMS/client/app/assets/styles/evidence-tool.scss
  services/QuillLMS/client/app/assets/styles/home.scss
  services/QuillLMS/client/app/assets/styles/tool-section.scss
  services/QuillLMS/client/app/bundles/Staff/components/evidence/syntheticData/labeledDataUploadForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/syntheticData/seedDataForm.tsx
Due: lms-edits, lms-client-edits

CSP update
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

update newrelic and dalli gems (#10836)
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits, cms-edits

hash changes with syntax
  services/QuillCMS/app/websockets/admin_updates.rb
  services/QuillCMS/app/workers/batch_reindex_responses_worker.rb
  services/QuillCMS/lib/modules/response_search.rb
  services/QuillCMS/spec/controllers/responses_controller_spec.rb
Due: cms-edits

try syntax change
  services/QuillCMS/app/controllers/responses_controller.rb
Due: cms-edits

update elasticsearch gem
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
Due: cms-edits

update elasticsearch circle CI version
  .circleci/config.yml
  services/QuillCMS/README.md
Due: cms-edits

try docker reconfig
  services/QuillCMS/README.md
  services/QuillCMS/docker-compose.yml
Due: cms-edits

CSP update (#10913)
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

try settings
  .circleci/config.yml
Due: none

import variables everywhere and fix earlier mistaken replacements
  services/QuillLMS/app/assets/stylesheets/pages/archived_classrooms_manager.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_student_responses.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_questions_analysis.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_recommendations.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/toggle_explanation.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/bulk_archive_classrooms_card.scss
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/unit_template_profile.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/assets/styles/bootstrap-carousel.scss
  services/QuillLMS/client/app/assets/styles/tool-section.scss
  services/QuillLMS/client/app/bundles/Connect/styles/style.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-question.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/activity.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/headerStyling.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/readAndHighlightInstructions.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/step.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/style.scss
  services/QuillLMS/client/app/bundles/Grammar/styles/admin.scss
  services/QuillLMS/client/app/bundles/Grammar/styles/headerStyling.scss
  services/QuillLMS/client/app/bundles/Grammar/styles/style.scss
  services/QuillLMS/client/app/bundles/Lessons/styles/components/_student-question.scss
  services/QuillLMS/client/app/bundles/Lessons/styles/components/classroom_lessons/_script_items.scss
  services/QuillLMS/client/app/bundles/Lessons/styles/components/customize/_customize_edition_header.scss
  services/QuillLMS/client/app/bundles/Lessons/styles/style.scss
  services/QuillLMS/client/app/bundles/Proofreader/styles/admin.scss
  services/QuillLMS/client/app/bundles/Proofreader/styles/headerStyling.scss
  services/QuillLMS/client/app/bundles/Proofreader/styles/style.scss
  services/QuillLMS/client/app/bundles/Shared/styles/cues.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/seed_data.scss
  services/QuillLMS/client/app/bundles/Teacher/styles/styles.scss
Due: lms-edits, lms-client-edits

add seed host
  .circleci/config.yml
Due: none

add single node
  .circleci/config.yml
Due: none

update factory and rspec
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
  services/QuillCMS/docker-compose.yml
Due: cms-edits

fix xlsx and other auditable errors
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

fix xlsx and other auditable errors (#10917)
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

include import for stats email
  services/QuillLMS/app/assets/stylesheets/stats_email.css
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
