Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

commit files for further testing later
  services/QuillLMS/app/services/quill_big_query/pretransformer.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

so far have some styling and tests
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_diagnostics.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
  services/QuillLMS/config/initializers/assets.rb
  services/QuillLMS/lib/mailer_previews/teacher_notifications/rollup_preview.rb
Due: lms-edits

remove unnecessary logic around empty arrays
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-client-edits

Teacher Diagnostic Report Changes: update the “Student results” tab (#10711)
  packages/quill-cdn/assets/images/pages/diagnostic_reports/components-proficiency-circle-color-gained-some-proficiency.svg
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_growth_results_summary.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_pack.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthResults.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/interfaces.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/results.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-edits, lms-client-edits

Move "No grade set" to the end of the grade filters list (#10727)
  services/QuillLMS/app/controllers/snapshots_controller.rb
Due: lms-edits

many improvements
  packages/quill-cdn/assets/images/pages/my_activities/revert_unassignment_icon.svg
  services/QuillLMS/app/assets/stylesheets/pages/update-assigned-students.scss
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/student.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/UpdateAssignedStudents.tsx
Due: lms-edits, lms-client-edits

add new query classes and tests
  services/QuillLMS/app/queries/quill_big_query/active_teachers_all_time_query.rb
  services/QuillLMS/app/queries/quill_big_query/activities_all_time_query.rb
  services/QuillLMS/app/queries/quill_big_query/schools_containing_x_teachers_query.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/queries/quill_big_query/active_teachers_all_time_query_spec.rb
  services/QuillLMS/spec/queries/quill_big_query/activities_all_time_query_spec.rb
  services/QuillLMS/spec/queries/quill_big_query/schools_containing_x_teachers_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: lms-edits

fix last spec
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: none

linting
  services/QuillLMS/app/services/quill_big_query/pretransformer.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/spec/queries/quill_big_query/active_teachers_all_time_query_spec.rb
  services/QuillLMS/spec/queries/quill_big_query/activities_all_time_query_spec.rb
  services/QuillLMS/spec/queries/quill_big_query/schools_containing_x_teachers_query_spec.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

make sure route exists
  services/QuillLMS/config/routes.rb
Due: lms-edits

fix issue with create a class modal not being scrollable
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

fix issue with create a class modal not being scrollable (#10735)
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

Remove teacher_id from classrooms table
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/serializers/classroom_serializer.rb
  services/QuillLMS/db/migrate/20230706155155_remove_teacher_id_from_classrooms.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/classrooms.rb
  services/QuillLMS/spec/models/classroom_spec.rb
Due: lms-edits

Fix spec failures
  services/QuillLMS/app/services/google_integration/classroom_importer.rb
  services/QuillLMS/spec/models/unit_activity_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/students_to_classrooms_associator_spec.rb
Due: lms-edits

Update controller to support new timeframe patterns
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Update worker to support new timeframe shape
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits

Fix some linting errors
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: lms-edits

Another linting error
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: none

WIP on MostActiveTeachers query
  services/QuillLMS/app/queries/snapshots/most_active_teachers_query.rb
  services/QuillLMS/spec/queries/snapshots/most_active_teachers_query_spec.rb
Due: lms-edits

Add MostActiveTeachers query and hook it up to the frontend
  services/QuillLMS/app/queries/snapshots/most_active_teachers_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/spec/queries/snapshots/most_active_teachers_query_spec.rb
Due: lms-edits, lms-client-edits

update tests
  services/QuillLMS/app/assets/stylesheets/pages/update-assigned-students.scss
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/__tests__/__snapshots__/student.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/__tests__/__snapshots__/unassign_warning_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/__tests__/student.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/__tests__/unassign_warning_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/student.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/unassign_warning_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/UpdateAssignedStudents.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/UpdateAssignedStudents.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/UpdateAssignedStudents.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/test_data.js
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
Due: lms-edits, lms-client-edits

adjust rspec tets
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
Due: lms-edits

update snapshots
  services/QuillLMS/app/assets/stylesheets/pages/update-assigned-students.scss
  services/QuillLMS/client/app/bundles/Teacher/containers/UpdateAssignedStudents.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/UpdateAssignedStudents.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/UpdateAssignedStudents.test.jsx.snap
Due: lms-edits, lms-client-edits

Remove teacher_id from classrooms table (#10738)
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/serializers/classroom_serializer.rb
  services/QuillLMS/app/services/google_integration/classroom_importer.rb
  services/QuillLMS/db/migrate/20230706155155_remove_teacher_id_from_classrooms.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/classrooms.rb
  services/QuillLMS/spec/models/classroom_spec.rb
  services/QuillLMS/spec/models/unit_activity_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_importer_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/students_to_classrooms_associator_spec.rb
Due: lms-edits

add components for data export
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

edits
  services/QuillLMS/app/queries/quill_big_query/schools_containing_certain_teachers_query.rb
  services/QuillLMS/app/services/quill_big_query/pretransformer.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/app/services/quill_big_query/transformer.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/mailers/previews/teacher_notifications/rollup_preview.rb
  services/QuillLMS/spec/queries/quill_big_query/schools_containing_certain_teachers_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/services/quill_big_query/runner_spec.rb
  services/QuillLMS/spec/services/quill_big_query/transformer_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

fixing tests
  services/QuillLMS/app/queries/quill_big_query/schools_containing_certain_teachers_query.rb
  services/QuillLMS/app/services/quill_big_query/post_transformer.rb
  services/QuillLMS/app/services/quill_big_query/pre_transformer.rb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/mailers/previews/teacher_notifications/rollup_preview.rb
  services/QuillLMS/spec/queries/quill_big_query/schools_containing_certain_teachers_query_spec.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

revisions
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/spec/controllers/milestones_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
Due: lms-edits

adjustment
  services/QuillLMS/app/controllers/teachers/units_controller.rb
Due: lms-edits

Add MostAssignedActivitiesQuery
  services/QuillLMS/app/queries/snapshots/most_assigned_activities_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/spec/queries/snapshots/most_assigned_activities_query_spec.rb
Due: lms-edits, lms-client-edits

Add MostCompletedActivitiesQuery
  services/QuillLMS/app/queries/snapshots/most_completed_activities_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/spec/queries/snapshots/most_completed_activities_query_spec.rb
Due: lms-edits, lms-client-edits

Add MostActiveGradesQuery
  services/QuillLMS/app/queries/snapshots/most_active_grades_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/spec/queries/snapshots/most_active_grades_query_spec.rb
Due: lms-edits, lms-client-edits

Add AverageActiveClassroomsPerTeacherQuery
  services/QuillLMS/app/queries/snapshots/average_active_classrooms_per_teacher_query.rb
  services/QuillLMS/app/queries/snapshots/average_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/spec/queries/snapshots/average_active_classrooms_per_teacher_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_active_students_per_classroom_query_spec.rb
Due: lms-edits, lms-client-edits

Add AverageActiveStudentsPerClassroomQuery
  services/QuillLMS/app/queries/snapshots/average_active_students_per_classroom_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/spec/queries/snapshots/average_active_students_per_classroom_query_spec.rb
Due: lms-edits, lms-client-edits

Remove comingSoon logic from the front-end
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
Due: lms-client-edits

Fix some linting errors and leftover code from testing
  services/QuillLMS/app/queries/snapshots/average_query.rb
  services/QuillLMS/spec/queries/snapshots/most_active_grades_query_spec.rb
Due: lms-edits

Update snapshots
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
Due: lms-client-edits

Update snapshots
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotCount.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotRanking.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
Due: lms-client-edits
