Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix spec
  services/QuillLMS/client/app/bundles/Connect/test/actions/questions.test.ts
Due: lms-client-edits

lint
  services/QuillLMS/client/app/bundles/Connect/test/actions/fillInBlank.test.ts
  services/QuillLMS/client/app/bundles/Connect/test/actions/sentenceFragments.test.ts
Due: lms-client-edits

more spec fixes
  services/QuillLMS/client/app/bundles/Diagnostic/test/actions/fillInBlank.test.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/actions/questions.test.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/actions/sentenceFragments.test.ts
Due: lms-client-edits

revert top level node linter to node 14
  .circleci/continue_config.yml
Due: none

get top section built and styled
  packages/quill-cdn/assets/images/pages/content_hub/world_history_1200_to_present@2x.png
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/course_page.scss
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/index.scss
  services/QuillLMS/client/app/bundles/Shared/styles/button.scss
  services/QuillLMS/client/app/bundles/Teacher/containers/WorldHistory1200ToPresent.tsx
Due: lms-edits, lms-client-edits

Move logic for new diagnostics into main materialized view
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_view_query.rb
  services/QuillLMS/config/big_query_views.yml
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_STAGING_view.sql
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_view.sql
Due: lms-edits

Update specs now that 1663 is not the first Diagnostic ID
  services/QuillLMS/spec/support/shared_contexts/materialized_views/pre_post_diagnostic_skill_group_performance_view.rb
Due: none

Fix typo in reference for default value
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
Due: lms-client-edits

remove window.alert mocking
  services/QuillLMS/client/app/bundles/Connect/test/actions/questions.test.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/actions/questions.test.ts
Due: lms-client-edits

Standardize test syntax
  services/QuillLMS/spec/controllers/api/v1/concept_feedback_controller_spec.rb
Due: none

update package.jsons, CCI, nvmrc, etc (#12102)
  .circleci/continue_config.yml
  services/QuillLMS/client/.nvmrc
  services/QuillLMS/client/app/bundles/Connect/actions/titleCards.ts
  services/QuillLMS/client/app/bundles/Connect/test/actions/fillInBlank.test.ts
  services/QuillLMS/client/app/bundles/Connect/test/actions/questions.test.ts
  services/QuillLMS/client/app/bundles/Connect/test/actions/sentenceFragments.test.ts
  services/QuillLMS/client/app/bundles/Diagnostic/actions/titleCards.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/actions/fillInBlank.test.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/actions/questions.test.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/actions/sentenceFragments.test.ts
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

Rename function to something slightly simpler
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-client-edits

Concept feedback api (#12111)
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/app/controllers/api/v1/lessons_controller.rb
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
  services/QuillLMS/client/app/bundles/Shared/__tests__/components/feedback/__snapshots__/conceptExplanation.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/feedback/conceptExplanation.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/api/v1/concept_feedback_controller_spec.rb
  services/QuillLMS/spec/factories/concept_feedbacks.rb
  services/QuillLMS/spec/factories/english_texts.rb
  services/QuillLMS/spec/factories/translation_mappings.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: lms-edits, lms-client-edits

Replace except with only
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
Due: lms-edits

update NVMRCs, CCI, and package.jsons for node 18
  .circleci/continue_config.yml
  services/QuillLMS/.nvmrc
  services/QuillLMS/client/.nvmrc
  services/QuillLMS/client/package.json
  services/QuillLMS/package.json
Due: lms-client-edits

also specify npm 10.x, which is paired with node 18
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

Fix warning
  services/.rubocop_base.yml
Due: none

Add rubocop for spacing of hashes.
  services/.rubocop_base.yml
  services/QuillLMS/.rubocop_todo.yml
Due: none

react and backend in shape for course page
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/course_page.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports_controller.rb
  services/QuillLMS/app/helpers/content_hubs_helper.rb
  services/QuillLMS/app/models/unit_activity.rb
  services/QuillLMS/app/views/pages/world_history_1200_to_present.html.erb
  services/QuillLMS/client/app/bundles/Teacher/containers/WorldHistory1200ToPresent.tsx
  services/QuillLMS/spec/helpers/content_hub_helper_spec.rb
Due: lms-edits, lms-client-edits

move language picker to header
  services/QuillLMS/client/app/bundles/Diagnostic/actions/diagnostics.js
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/footer.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/home.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/studentNavbar.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/studentNavbar.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/teacherNavbar.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/languageOptions.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/reducers/diagnostics.js
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-container.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-nav.scss
  services/QuillLMS/client/app/bundles/Shared/components/translations/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languagePicker.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/activity_container.scss
  services/QuillLMS/client/app/bundles/Shared/styles/button.scss
Due: lms-client-edits

update tests
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/__tests__/__snapshots__/studentNavbar.test.jsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/__tests__/__snapshots__/teacherNavbar.test.tsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/__tests__/__snapshots__/languageOptions.test.tsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/__tests__/languageOptions.test.tsx
Due: lms-client-edits

update key to new key (one word change (#12109)
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/arabic/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/chinese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/dari/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/french/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/german/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/hindi/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/japanese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/korean/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/portuguese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/russian/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/spanish/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/tagalog/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/thai/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/ukrainian/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/urdu/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/vietnamese/translation.json
Due: lms-client-edits

tweak css (#12110)
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-client-edits

Update copy and images for Diagnostic Tools page
  packages/quill-cdn/assets/images/tools/diagnostic/diagnostic_intro_slide_1.svg
  packages/quill-cdn/assets/images/tools/diagnostic/diagnostic_intro_slide_2.svg
  services/QuillLMS/app/views/pages/diagnostic_tool.erb
  services/QuillLMS/app/views/pages/home.html.erb
  services/QuillLMS/client/app/assets/styles/tool-section.scss
  services/QuillLMS/public/images/tools/diagnostic/diagnostic_intro_slide_1.svg
  services/QuillLMS/public/images/tools/diagnostic/diagnostic_intro_slide_2.svg
Due: lms-edits, lms-client-edits

style tweaks
  services/QuillLMS/client/app/bundles/Diagnostic/components/home.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-container.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/teacherPreviewMenuButton.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenuButton.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/activity_container.scss
Due: lms-client-edits

remove commented out code
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-container.scss
  services/QuillLMS/client/app/bundles/Shared/styles/button.scss
Due: lms-client-edits

Replace except with only (#12114)
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
Due: lms-edits

css looks good including mobile
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/course_page.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Teacher/containers/WorldHistory1200ToPresent.tsx
Due: lms-edits, lms-client-edits

update widths
  services/QuillLMS/client/app/bundles/Shared/styles/activity_container.scss
Due: lms-client-edits

tweak css
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-client-edits

Node18 (#12116)
  .circleci/continue_config.yml
  services/QuillLMS/.nvmrc
  services/QuillLMS/client/.nvmrc
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

Remove rubocop rules that are automatically enforced.
  services/.rubocop_base.yml
Due: none

add min height
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/reports_header.scss
Due: lms-edits

ELL translations/ refactor language dropdown (#12121)
  services/QuillLMS/client/app/bundles/Diagnostic/actions/diagnostics.js
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/footer.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/home.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/__tests__/__snapshots__/studentNavbar.test.jsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/__tests__/__snapshots__/teacherNavbar.test.tsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/studentNavbar.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/studentNavbar.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/navbar/teacherNavbar.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/__tests__/__snapshots__/languageOptions.test.tsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/__tests__/languageOptions.test.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/languageOptions.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/reducers/diagnostics.js
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-container.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-nav.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/teacherPreviewMenuButton.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenuButton.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languagePicker.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/activity_container.scss
  services/QuillLMS/client/app/bundles/Shared/styles/button.scss
Due: lms-client-edits

Bug fix/ Activity Analysis classroom dropdown (#12124)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/reports_header.scss
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-edits, lms-client-edits

update key
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/arabic/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/chinese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/dari/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/french/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/german/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/hindi/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/japanese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/korean/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/portuguese/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/russian/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/spanish/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/tagalog/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/thai/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/ukrainian/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/urdu/translation.json
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/vietnamese/translation.json
Due: lms-client-edits

Remove rubocop rules that are automatically enforced. (#12126)
  services/.rubocop_base.yml
Due: none
