Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Add canvas omniauth
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Add SSO endpoint
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/views/canvas_integration/lti/launch.html.erb
  services/QuillLMS/app/views/canvas_integration/lti/sso.html.erb
  services/QuillLMS/app/views/layouts/canvas_integration/lti.html.erb
  services/QuillLMS/config/initializers/auth/canvas.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/requests/canvas_integration/lti_controller_spec.rb
Due: lms-edits

add rollup replace plugin
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/vite.config.ts
Due: lms-client-edits

Add script that automates click-thru to SSO
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/views/canvas_integration/lti/sso.html.erb
  services/QuillLMS/app/views/layouts/canvas_integration/lti.html.erb
  services/QuillLMS/spec/requests/canvas_integration/lti_controller_spec.rb
Due: lms-edits

Add omniauth-canvas configuration
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/config/initializers/auth/canvas.rb
  services/QuillLMS/config/routes.rb
Due: lms-edits

update snapshots for getServerState new line delta
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/activityHealth.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/expandLessonQuestions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lesson.test.jsx.snap
Due: lms-client-edits

update more snapshots
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/app_legend.test.jsx.snap
Due: lms-client-edits

Link omniauth-canvas configuration with SSO endpoint (#10640)
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/app/views/canvas_integration/lti/launch.html.erb
  services/QuillLMS/app/views/canvas_integration/lti/sso.html.erb
  services/QuillLMS/app/views/layouts/canvas_integration/lti.html.erb
  services/QuillLMS/config/initializers/auth/canvas.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/requests/canvas_integration/lti_controller_spec.rb
Due: lms-edits

Remove canvas LTI layout and move styling directly into launch
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/views/canvas_integration/lti/launch.html.erb
  services/QuillLMS/app/views/layouts/canvas_integration/lti.html.erb
Due: lms-edits

Extract on_sign_up_or_log_in? helper
  services/QuillLMS/app/helpers/application_helper.rb
  services/QuillLMS/app/views/application/_header.html.erb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/application/_sub_header.html.erb
Due: lms-edits

Render minimal footer for sso view
  services/QuillLMS/app/helpers/application_helper.rb
  services/QuillLMS/app/views/application/footer/_base.html.erb
  services/QuillLMS/app/views/application/footer/_social.html.erb
  services/QuillLMS/app/views/canvas_integration/lti/sso.html.erb
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
Due: lms-edits

Add inilne styling for launch.html
  services/QuillLMS/app/views/canvas_integration/lti/launch.html.erb
Due: lms-edits

Wrap Snapshot responses in an object with root key "results"
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits, lms-client-edits

Remove sso from request spec
  services/QuillLMS/app/assets/stylesheets/application.scss
  services/QuillLMS/spec/requests/canvas_integration/lti_controller_spec.rb
Due: lms-edits

Dan suggestions
  services/QuillLMS/app/assets/stylesheets/application.scss
  services/QuillLMS/app/views/canvas_integration/lti/launch.html.erb
Due: lms-edits

Add a spec for the condition we're fixing
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: none

Tweak the way we extract snapshot API data
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-client-edits

additional tweaks
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/views/evidence/_first_topic.html.erb
  services/QuillLMS/app/views/evidence/_second_topic.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/postActivitySlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/activityFollowUp.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/evidence.tsx
Due: lms-edits, lms-client-edits

skip tracking for preview
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/postActivitySlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
Due: lms-client-edits

update spec
  services/QuillLMS/spec/models/activity_spec.rb
Due: none

prevent menu button for showing for students
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
Due: lms-client-edits

remove mobile check
  services/QuillLMS/client/app/bundles/Evidence/components/Header.tsx
Due: lms-client-edits

skip tracking in header for preview mode
  services/QuillLMS/client/app/bundles/Evidence/components/Header.tsx
Due: lms-client-edits

tweak showPreview logic
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
Due: lms-client-edits

Fix the way we calculate concept counts
  services/QuillLMS/app/queries/snapshots/top_concepts_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/top_concepts_practiced_query.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/top_concepts_practiced_query_spec.rb
Due: lms-edits

fixing stuff after the rebase against develop
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/teacher_email_notifications.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/tutorials/TutorialIndex.jsx
  services/QuillLMS/client/package.json
  services/QuillLMS/package.json
Due: lms-edits, lms-client-edits

Canvas sso and launch styling (#10643)
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/helpers/application_helper.rb
  services/QuillLMS/app/views/application/_header.html.erb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/application/_sub_header.html.erb
  services/QuillLMS/app/views/application/footer/_base.html.erb
  services/QuillLMS/app/views/application/footer/_social.html.erb
  services/QuillLMS/app/views/canvas_integration/lti/launch.html.erb
  services/QuillLMS/app/views/canvas_integration/lti/sso.html.erb
  services/QuillLMS/app/views/layouts/canvas_integration/lti.html.erb
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
  services/QuillLMS/spec/requests/canvas_integration/lti_controller_spec.rb
Due: lms-edits

regress to start style import for moment, so jests pass; yank a bug fix from develop
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHub.jsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activitySessions/sessionOverview.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/gatherResponses/editOrDeleteTurkSession.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_user_type.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/activity_table.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_google_classrooms_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
Due: lms-client-edits

update conditional
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
Due: lms-client-edits

Do some refactoring and tweak a couple of queries
  services/QuillLMS/app/queries/snapshots/active_classrooms_query.rb
  services/QuillLMS/app/queries/snapshots/active_students_query.rb
  services/QuillLMS/app/queries/snapshots/active_teachers_query.rb
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/activities_completed_query.rb
  services/QuillLMS/app/queries/snapshots/activity_session_count_query.rb
  services/QuillLMS/app/queries/snapshots/average_activities_completed_per_student_query.rb
  services/QuillLMS/app/queries/snapshots/count_query.rb
  services/QuillLMS/app/queries/snapshots/sentences_written_query.rb
  services/QuillLMS/app/queries/snapshots/student_learning_hours_query.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_teachers_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_activity_session_count_cte.rb
Due: lms-edits

bump some packages to align with develop; fixing a spec regression
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

post spec suggested revisions
  services/QuillLMS/app/assets/stylesheets/shared/teacher-preview-menu.scss
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
Due: lms-edits, lms-client-edits

Allow UserLogin records to be destroyed through dependency chains
  services/QuillLMS/app/models/user_login.rb
  services/QuillLMS/spec/models/user_login_spec.rb
Due: lms-edits

more issues with moment js import statement
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/invite_coteachers_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostic_activity_packs.tsx
Due: lms-client-edits

Allow UserLogin records to be destroyed through dependency chains (#10647)
  services/QuillLMS/app/models/user_login.rb
  services/QuillLMS/spec/models/user_login_spec.rb
Due: lms-edits

Add "mestres" to the spelling exceptions list (#10632)
  services/QuillLMS/engines/evidence/lib/evidence/evidence/spelling_check.rb
Due: lms-edits

changes and test
  services/QuillLMS/app/services/serialize_evidence_activity_health.rb
  services/QuillLMS/spec/services/serialize_evidence_activity_health_spec.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
