Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Create LLMPromptGuideline
  services/QuillLMS/config/initializers/zeitwerk.rb
  services/QuillLMS/db/migrate/20240620115611_create_evidence_research_gen_ai_llm_prompt_guidelines.evidence.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_guideline.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/readme.md
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/db/migrate/20240620115506_create_evidence_research_gen_ai_llm_prompt_guidelines.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_prompt_guidelines.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_guideline_spec.rb
Due: lms-edits

Create PromptExample model
  services/QuillLMS/db/migrate/20240619230446_create_evidence_research_gen_ai_prompt_examples.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/prompt_example.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/test_example.rb
  services/QuillLMS/engines/evidence/db/migrate/20240619224707_create_evidence_research_gen_ai_prompt_examples.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/prompt_examples.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/prompt_example_spec.rb
Due: lms-edits

Create Evidence::Research::GenAI::TestExample
  services/QuillLMS/app/models/user_activity_classification.rb
  services/QuillLMS/db/migrate/20240619220045_create_evidence_research_gen_ai_test_examples.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/test_example.rb
  services/QuillLMS/engines/evidence/db/migrate/20240619215433_create_evidence_research_gen_ai_test_examples.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/test_examples.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/test_example_spec.rb
  services/QuillLMS/spec/factories/user_activity_classifications.rb
  services/QuillLMS/spec/models/user_activity_classification_spec.rb
Due: lms-edits

Create LLMPromptPromptExample model
  services/QuillLMS/config/initializers/zeitwerk.rb
  services/QuillLMS/db/migrate/20240620113751_create_evidence_research_gen_ai_llm_prompt_prompt_examples.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_feedback.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_prompt_example.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt_template.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/quill_feedback.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/student_response.rb
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/db/migrate/20240620113244_create_evidence_research_gen_ai_llm_prompt_prompt_examples.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_prompt_prompt_examples.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_prompt_example_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/prompt_example_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/stem_vault_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/test_example_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

Create Evidence::Research::GenAI::Dataset
  services/QuillLMS/db/migrate/20240619191903_create_evidence_research_gen_ai_datasets.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/activities_controller.rb
  services/QuillLMS/engines/evidence/app/models/concerns/evidence/research/gen_ai/has_optimal_and_suboptimal.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/activity.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/guideline.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_feedback.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/prompt_example.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/quill_feedback.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/optimal_and_suboptimal_results_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/results_fetcher.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/activities/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/activities/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/application/_confusion_matrix.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240619184956_create_evidence_research_gen_ai_datasets.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/datasets.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/activity_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_feedback_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/quill_feedback_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/stem_vault_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/optimal_and_suboptimal_results_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/support/shared_examples/evidence/research/gen_ai/has_optimal_and_suboptimal_rspec.rb
Due: lms-edits

Create Guideline model
  services/QuillLMS/db/migrate/20240619174539_create_evidence_research_gen_ai_guidelines.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/guidelines_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/guideline.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/stem_vault.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/guidelines/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/show.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240619171521_create_evidence_research_gen_ai_guidelines.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/guidelines.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/guideline_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/stem_vault_spec.rb
Due: lms-edits

wip
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Connect/components/turk/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/playFillInTheBlankQuestion.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/fillInBlankInputStyle.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/tests/fillInBlankInputStyle.test.tsx
Due: lms-client-edits

make sure all migrations are in structure.sql
  services/QuillLMS/db/structure.sql
Due: lms-edits

more styling tweaks
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-client-edits

fix lint error
  services/QuillLMS/app/workers/sync_district_data_from_url_worker.rb
  services/QuillLMS/app/workers/sync_school_data_from_url_worker.rb
Due: lms-edits

Move translate module to main app and copy OpenAI::API to main app + add tests
  services/QuillLMS/app/services/concerns/open_ai/api.rb
  services/QuillLMS/app/services/open_ai/translate.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/translate.rb
  services/QuillLMS/spec/services/concerns/open_ai/api_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_spec.rb
Due: lms-edits

Update scope query to be more explicit with OR
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

set signup role virtual attribute
  services/QuillLMS/app/controllers/accounts_controller.rb
  services/QuillLMS/app/models/user.rb
Due: lms-edits

user spec
  services/QuillLMS/spec/models/user_spec.rb
Due: none

Import each language
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/languagePageInfo.js
Due: lms-client-edits

Remove unused lines
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/footer.tsx
Due: lms-client-edits

nces sync updates (#11966)
  services/QuillLMS/app/controllers/cms/schools_controller.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/app/views/cms/schools/new.html.erb
  services/QuillLMS/app/workers/sync_district_data_from_url_worker.rb
  services/QuillLMS/app/workers/sync_school_data_from_url_worker.rb
  services/QuillLMS/db/migrate/20240620123025_add_direct_certification_to_schools.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/lib/tasks/nces_sync.rake
  services/QuillLMS/spec/controllers/cms/schools_controller_spec.rb
  services/QuillLMS/spec/factories/schools.rb
  services/QuillLMS/spec/models/school_spec.rb
  services/QuillLMS/spec/workers/sync_district_data_from_url_worker_spec.rb
  services/QuillLMS/spec/workers/sync_school_data_from_url_worker_spec.rb
Due: lms-edits

add view and button for admin usage pdf snapshot unsubscribe (#11969)
  services/QuillLMS/app/controllers/pdf_subscriptions_controller.rb
  services/QuillLMS/app/views/pdf_subscriptions/unsubscribe.html.erb
  services/QuillLMS/spec/controllers/pdf_subscriptions_controller_spec.rb
Due: lms-edits

wip
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_24_no_plagiarism.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_24_optimal_focused.md
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_history.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

more design tweaks
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-client-edits

Minor tweaks based on PR feedback
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/spec/models/school_spec.rb
Due: lms-edits

Lms/restrict admin reporting to subscribed schools (#11970)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/models/school_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

rematching index file is working
  lambdas/rematching/index.js
Due: none

add test file
  lambdas/cloudflare_rematch/index-test.js
Due: none

setting up docs and parallel builds
  lambdas/README.md
  lambdas/rematching/build.sh
  lambdas/rematching/vite.config.js
Due: none

wip
  lambdas/README.md
  lambdas/rematching/build_cloudflare.sh
  lambdas/rematching/index-cloudflare.js
Due: none

check in old index.js again
  lambdas/rematching/index.js
Due: none

Move language picker to shared (#11971)
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/finishedDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/footer.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/landingPage.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/languagePage.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/sentenceCombining.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/titleCard.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/playFillInTheBlankQuestion.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/renderForQuestions/cues.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/__tests__/languageOptions.test.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/languageOptions.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/modules/translation/languagePageInfo.js
  services/QuillLMS/client/app/bundles/Shared/components/translations/languagePicker.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
Due: lms-client-edits

WIP
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/models/gengo_job.rb
  services/QuillLMS/app/models/openai_translated_text.rb
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/app/services/gengo/save_translated_text.rb
  services/QuillLMS/app/services/open_ai/save_translated_text.rb
  services/QuillLMS/app/services/open_ai/save_translated_texts.rb
  services/QuillLMS/db/migrate/20240625131834_combine_translation_tables_and_add_gengo_table.rb
  services/QuillLMS/db/migrate/20240625142619_create_gengo_jobs.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/gengo_jobs.rb
  services/QuillLMS/spec/factories/openai_translated_texts.rb
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/factories/user_activity_classifications.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/models/gengo_job_spec.rb
  services/QuillLMS/spec/models/openai_translated_text_spec.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/models/user_activity_classification_spec.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
  services/QuillLMS/spec/services/gengo/save_translated_text_spec.rb
  services/QuillLMS/spec/services/open_ai/save_translated_text_spec.rb
  services/QuillLMS/spec/services/open_ai/save_translated_texts_spec.rb
Due: lms-edits

final css tweaks
  services/QuillLMS/app/assets/stylesheets/pages/my_account.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
Due: lms-edits, lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
