Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Lint with rubocop (#12139)
  services/QuillLMS/app/controllers/api/v1/activity_questions_controller.rb
  services/QuillLMS/spec/controllers/api/v1/activity_questions_controller_spec.rb
  services/QuillLMS/spec/factories/questions.rb
  services/QuillLMS/spec/models/concerns/translatable_question_spec.rb
  services/QuillLMS/spec/models/question_spec.rb
Due: lms-edits

Rename spec to show what it actually does
  services/QuillLMS/client/app/bundles/Connect/test/actions/sentenceFragments.test.ts
Due: lms-client-edits

Use activity-scoped questions route in the students grammar page.
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/session.ts
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Grammar/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/__mocks__/question_api.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/libs/questions_api.test.ts
Due: lms-client-edits

Fix test and add a new one
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/actions/questions.test.ts
Due: lms-client-edits

Make `getActivityUID` a function so it can pull the new UID as the URL changes.
  services/QuillLMS/client/app/bundles/Grammar/actions/session.ts
  services/QuillLMS/client/app/bundles/Grammar/helpers/getParameterByName.ts
Due: lms-client-edits

Change getAll -> getAllForActivity
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/session.ts
  services/QuillLMS/client/app/bundles/Grammar/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/__mocks__/question_api.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/actions/questions.test.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/libs/questions_api.test.ts
Due: lms-client-edits

backend tests
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports_controller_spec.rb
  services/QuillLMS/spec/helpers/content_hub_helper_spec.rb
  services/QuillLMS/spec/helpers/content_hubs_helper_spec.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
  services/QuillLMS/spec/helpers/teacher_center_helper_spec.rb
  services/QuillLMS/spec/models/concerns/teacher_spec.rb
Due: lms-edits

Scope questions for grammar (#12127)
  services/QuillLMS/client/app/bundles/Connect/test/actions/sentenceFragments.test.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/session.ts
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Grammar/helpers/getParameterByName.ts
  services/QuillLMS/client/app/bundles/Grammar/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/__mocks__/question_api.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/actions/questions.test.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/libs/questions_api.test.ts
Due: lms-client-edits

fix lint error
  services/QuillLMS/spec/helpers/content_hubs_helper_spec.rb
Due: none

Remove unneeded exclusions
  services/QuillLMS/.rubocop_todo.yml
Due: none

Remove exclusions from rubocop
  services/QuillLMS/app/controllers/api/v1/questions_controller.rb
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports_controller.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/config/puma.rb
  services/QuillLMS/db/migrate/20140916143956_make_username_downcase.rb
  services/QuillLMS/lib/tasks/add_user_id_to_units.rake
  services/QuillLMS/lib/tasks/build_objectives.rake
  services/QuillLMS/lib/tasks/handle_units_without_classroom_activities.rake
  services/QuillLMS/lib/tasks/migrate_flag_to_flags.rake
  services/QuillLMS/lib/tasks/milestones.rake
  services/QuillLMS/lib/tasks/standard_category.rake
  services/QuillLMS/spec/controllers/api/v1/activities_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/schools_controller_spec.rb
  services/QuillLMS/spec/controllers/invitations_controller_spec.rb
  services/QuillLMS/spec/controllers/password_reset_controller_spec.rb
  services/QuillLMS/spec/controllers/profiles_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
  services/QuillLMS/spec/models/activity_session_spec.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/change_log_spec.rb
  services/QuillLMS/spec/models/classroom_unit_activity_state_spec.rb
  services/QuillLMS/spec/models/title_card_spec.rb
  services/QuillLMS/spec/models/unit_activity_spec.rb
  services/QuillLMS/spec/models/unit_spec.rb
  services/QuillLMS/spec/models/unit_template_spec.rb
  services/QuillLMS/spec/queries/activity_search_spec.rb
  services/QuillLMS/spec/queries/lesson_recommendations_query.rb
  services/QuillLMS/spec/queries/profile/query.rb
  services/QuillLMS/spec/queries/teachers_data_spec.rb
  services/QuillLMS/spec/services/units/updater_spec.rb
  services/QuillLMS/spec/support/shared/concept_progress_report.rb
  services/QuillLMS/spec/support/shared/profile/profile.rb
  services/QuillLMS/spec/support/shared/standard_progress_report.rb
  services/QuillLMS/spec/support/shared/student_concept_progress_report.rb
  services/QuillLMS/spec/workers/lesson_plan_email_worker_spec.rb
  services/QuillLMS/spec/workers/user_login_worker_spec.rb
Due: lms-edits

Rubocop remove exceptions (#12141)
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/app/controllers/api/v1/questions_controller.rb
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/app/controllers/teachers/progress_reports_controller.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/config/puma.rb
  services/QuillLMS/db/migrate/20140916143956_make_username_downcase.rb
  services/QuillLMS/lib/tasks/add_user_id_to_units.rake
  services/QuillLMS/lib/tasks/build_objectives.rake
  services/QuillLMS/lib/tasks/handle_units_without_classroom_activities.rake
  services/QuillLMS/lib/tasks/migrate_flag_to_flags.rake
  services/QuillLMS/lib/tasks/milestones.rake
  services/QuillLMS/lib/tasks/standard_category.rake
  services/QuillLMS/spec/controllers/api/v1/activities_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/schools_controller_spec.rb
  services/QuillLMS/spec/controllers/invitations_controller_spec.rb
  services/QuillLMS/spec/controllers/password_reset_controller_spec.rb
  services/QuillLMS/spec/controllers/profiles_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
  services/QuillLMS/spec/models/activity_session_spec.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/change_log_spec.rb
  services/QuillLMS/spec/models/classroom_unit_activity_state_spec.rb
  services/QuillLMS/spec/models/title_card_spec.rb
  services/QuillLMS/spec/models/unit_activity_spec.rb
  services/QuillLMS/spec/models/unit_spec.rb
  services/QuillLMS/spec/models/unit_template_spec.rb
  services/QuillLMS/spec/queries/activity_search_spec.rb
  services/QuillLMS/spec/queries/lesson_recommendations_query.rb
  services/QuillLMS/spec/queries/profile/query.rb
  services/QuillLMS/spec/queries/teachers_data_spec.rb
  services/QuillLMS/spec/services/units/updater_spec.rb
  services/QuillLMS/spec/support/shared/concept_progress_report.rb
  services/QuillLMS/spec/support/shared/profile/profile.rb
  services/QuillLMS/spec/support/shared/standard_progress_report.rb
  services/QuillLMS/spec/support/shared/student_concept_progress_report.rb
  services/QuillLMS/spec/workers/lesson_plan_email_worker_spec.rb
  services/QuillLMS/spec/workers/user_login_worker_spec.rb
Due: lms-edits

Use the language options from the API for the header.
  services/QuillLMS/client/app/bundles/Connect/app.tsx
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Connect/components/navbar/navbar.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/languagePage.jsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languagePicker.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
Due: lms-client-edits

Lint fixes
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Connect/components/navbar/navbar.tsx
Due: lms-client-edits

Update demo data with new diagnostic (#12140)
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/lib/data/demo/activity_sessions.yml
  services/QuillLMS/lib/data/demo/concept_result_legacy_metadata.yml
  services/QuillLMS/lib/data/demo/concept_result_question_types.yml
  services/QuillLMS/lib/data/demo/concept_results.yml
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
  services/QuillLMS/spec/services/demo/session_data_spec.rb
Due: lms-edits

Fix closing parentheses indentation.
  services/QuillLMS/.rubocop_todo.yml
  services/QuillLMS/app/controllers/cms/activities_controller.rb
  services/QuillLMS/app/controllers/cms/blog_posts_controller.rb
  services/QuillLMS/app/controllers/cms/users_controller.rb
  services/QuillLMS/app/controllers/schools_controller.rb
  services/QuillLMS/app/lib/rule_feedback_history.rb
  services/QuillLMS/app/models/concerns/student.rb
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/app/models/unit_activity.rb
  services/QuillLMS/app/pusher_modules/pusher_admin_users_completed.rb
  services/QuillLMS/app/pusher_modules/pusher_district_activity_scores_completed.rb
  services/QuillLMS/app/pusher_modules/pusher_district_concept_reports_completed.rb
  services/QuillLMS/app/pusher_modules/pusher_district_standards_reports_completed.rb
  services/QuillLMS/app/pusher_modules/pusher_recommendation_completed.rb
  services/QuillLMS/app/pusher_modules/pusher_trigger.rb
  services/QuillLMS/app/queries/progress_reports/concepts/concept_result.rb
  services/QuillLMS/app/queries/prompt_feedback_history.rb
  services/QuillLMS/engines/evidence/lib/evidence/change_log.rb
  services/QuillLMS/spec/controllers/api/v1/rule_feedback_histories_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/districts_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/schools_controller_spec.rb
  services/QuillLMS/spec/controllers/invitations_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
  services/QuillLMS/spec/helpers/mobile_helper_spec.rb
  services/QuillLMS/spec/lib/snapshots/cache_keys_spec.rb
  services/QuillLMS/spec/lib/utils/numeric_spec.rb
  services/QuillLMS/spec/models/question_health_dashboard_spec.rb
  services/QuillLMS/spec/models/question_health_obj_spec.rb
  services/QuillLMS/spec/models/question_spec.rb
  services/QuillLMS/spec/queries/lesson_recommendations_query.rb
  services/QuillLMS/spec/queries/teachers_data_spec.rb
  services/QuillLMS/spec/services/admin_diagnostic_reports/assemble_overview_report_spec.rb
  services/QuillLMS/spec/services/serialize_activity_health_spec.rb
  services/QuillLMS/spec/support/shared/concept_progress_report.rb
  services/QuillLMS/spec/support/shared/student_concept_progress_report.rb
  services/QuillLMS/spec/workers/populate_activity_health_worker_spec.rb
Due: lms-edits

Only show translations if there are languages other than English.
  services/QuillLMS/client/app/bundles/Connect/components/navbar/navbar.tsx
Due: lms-client-edits

Remove exception to rule that wasn’t being applied anyways.
  services/QuillLMS/.rubocop_todo.yml
Due: none

Early return over if
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
Due: lms-client-edits

Use the language options from the API to populate the language picker (#12144)
  services/QuillLMS/client/app/bundles/Connect/app.tsx
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Connect/components/navbar/navbar.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/languagePage.jsx
  services/QuillLMS/client/app/bundles/Shared/components/translations/languagePicker.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
Due: lms-client-edits

Send in language to landing page.
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
Due: lms-client-edits

Show landing page in your chosen language.
  services/QuillLMS/client/app/bundles/Connect/styles/components/_student-container.scss
  services/QuillLMS/client/app/bundles/Connect/styles/variables.scss
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
Due: lms-client-edits

Remove unneeded line
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
Due: lms-client-edits

small adjustments and frontend tests
  services/QuillLMS/app/views/teachers/progress_reports/world_history_1200_to_present.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/__snapshots__/course_page_activity.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/coming_soon_tooltip.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/course_page_activity.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/quill_resource_link.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/WorldHistory1200ToPresent.tsx
Due: lms-edits, lms-client-edits

adjust
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/__snapshots__/course_page_activity.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/course_page_activity.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_unit_template.tsx
Due: lms-client-edits

Update snapshot with fixed ID
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/assign_a_diagnostic.test.tsx.snap
Due: lms-client-edits

more frontend tests
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/__snapshots__/course_page_unit_template.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/__snapshots__/quill_resource_link.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/__tests__/course_page_unit_template.test.tsx
Due: lms-client-edits

Lms/new diagnostics on assignment page (#12098)
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/assign_a_diagnostic.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/assignment_card.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_diagnostic.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assignment_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/ap.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/pre_ap.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/college_board/__tests__/__snapshots__/springboard.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendations.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
Due: lms-edits, lms-client-edits

Adgr report new diagnostics (#12112)
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/skillSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_view.sql
  services/QuillLMS/spec/support/shared_contexts/materialized_views/pre_post_diagnostic_skill_group_performance_view.rb
Due: lms-edits, lms-client-edits

Update copy and images for Diagnostic Tools page (#12120)
  packages/quill-cdn/assets/images/tools/diagnostic/diagnostic_intro_slide_1.svg
  packages/quill-cdn/assets/images/tools/diagnostic/diagnostic_intro_slide_2.svg
  services/QuillLMS/app/views/pages/diagnostic_tool.erb
  services/QuillLMS/app/views/pages/home.html.erb
  services/QuillLMS/client/app/assets/styles/tool-section.scss
  services/QuillLMS/public/images/tools/diagnostic/diagnostic_intro_slide_1.svg
  services/QuillLMS/public/images/tools/diagnostic/diagnostic_intro_slide_2.svg
Due: lms-edits, lms-client-edits

Update service that sets Diagnostic names on Teacher Reports page (#12100)
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/services/diagnostics_organized_by_classroom_fetcher.rb
Due: lms-edits

final snapshot tests
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/WorldHistory1200ToPresentContainer.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/WorldHistory1200ToPresentContainer.test.tsx.snap
Due: lms-client-edits

Fix colors
  services/QuillLMS/client/app/bundles/Connect/styles/components/_student-container.scss
  services/QuillLMS/client/app/bundles/Connect/styles/variables.scss
Due: lms-client-edits

remove test in wrong component
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/WorldHistory1200ToPresentContainer.test.tsx
Due: lms-client-edits

Use a mapping to send back languages instead of locales to the JS.
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
  services/QuillLMS/config/locales/languageConstants.json
  services/QuillLMS/spec/models/activity_spec.rb
Due: lms-edits, lms-client-edits

Activity landing page translation (#12149)
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/client/app/bundles/Connect/components/home.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Connect/styles/components/_student-container.scss
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/register.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/languageList.js
  services/QuillLMS/config/locales/languageConstants.json
  services/QuillLMS/spec/models/activity_spec.rb
Due: lms-edits, lms-client-edits
