Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

add logging
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/controllers/cms/blog_posts_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/create_or_edit_blog_post.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/articleSpotlight.tsx
Due: lms-edits, lms-client-edits

remove logs; update tests
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/controllers/cms/blog_posts_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/create_or_edit_blog_post.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/articleSpotlight.tsx
Due: lms-edits, lms-client-edits

clear queryClient on model activation
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/activateModelForm.tsx
Due: lms-client-edits

clear queryClient on model activation (#10444)
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/activateModelForm.tsx
Due: lms-client-edits

Teacher Center/ update subnav rendering logic (#10440)
  services/QuillLMS/app/views/blog_posts/index.html.erb
  services/QuillLMS/app/views/blog_posts/show.html.erb
Due: lms-edits

initial Connect app js is working (CSS not fully working)
  services/QuillLMS/client/app/bundles/Connect/actions/concepts.js
  services/QuillLMS/client/app/bundles/Connect/utils/configureStore.js
  services/QuillLMS/client/app/entrypoints/connect.tsx
Due: lms-client-edits

support verification by existing admins in sign up (#10424)
  services/QuillLMS/app/assets/stylesheets/pages/admin_access.scss
  services/QuillLMS/app/assets/stylesheets/pages/sign_up.scss
  services/QuillLMS/app/controllers/admin_access_controller.rb
  services/QuillLMS/app/controllers/admins_controller.rb
  services/QuillLMS/app/controllers/schools_users_controller.rb
  services/QuillLMS/app/models/admin_approval_request.rb
  services/QuillLMS/app/services/analytics/segment_analytics.rb
  services/QuillLMS/app/services/analytics/segment_io.rb
  services/QuillLMS/app/workers/admin_received_admin_upgrade_request_from_teacher_analytics_worker.rb
  services/QuillLMS/app/workers/teacher_approved_to_become_admin_analytics_worker.rb
  services/QuillLMS/app/workers/teacher_denied_to_become_admin_analytics_worker.rb
  services/QuillLMS/app/workers/teacher_requested_to_become_admin_analytics_worker.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/request_admin_access_form.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/school_verification_form.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/verify_school.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/request_admin_access_form.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/school_verification_form.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/verify_school.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/request_admin_access_form.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/school_verification_form.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/skip_for_now.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_school.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/admin_access/__tests__/__snapshots__/adminRequestModal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/admin_access/adminRequestModal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/admin_access/adminTable.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/adminsTeachers.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboard.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/AdminDashboard.test.jsx.snap
  services/QuillLMS/db/migrate/20230323114351_add_request_made_during_sign_up_to_admin_approval_requests.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/controllers/admin_access_controller_spec.rb
  services/QuillLMS/spec/controllers/admins_controller_spec.rb
  services/QuillLMS/spec/controllers/schools_users_controller.rb
  services/QuillLMS/spec/controllers/schools_users_controller_spec.rb
  services/QuillLMS/spec/factories/admin_approval_requests.rb
  services/QuillLMS/spec/models/admin_approval_request_spec.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
  services/QuillLMS/spec/workers/admin_received_admin_upgrade_request_from_teacher_analytics_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_approved_to_become_admin_analytics_worker_spec.rb
  services/QuillLMS/spec/workers/teacher_requested_to_become_admin_analytics_worker_spec.rb
Due: lms-edits, lms-client-edits

add note for district admins (#10437)
  packages/quill-cdn/assets/images/onboarding/district-admin-warning-icon.svg
  services/QuillLMS/app/assets/stylesheets/pages/sign_up.scss
  services/QuillLMS/app/models/admin_info.rb
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_sub_role.tsx
Due: lms-edits, lms-client-edits

trim proofreader submissions (#10438)
  services/QuillLMS/client/app/bundles/Proofreader/components/proofreaderActivities/container.tsx
Due: lms-client-edits

remove query string gate
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/verify_school.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_school.tsx
Due: lms-client-edits

add cron job and spec
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/workers/send_segment_identify_call_for_all_admins_worker.rb
  services/QuillLMS/spec/models/cron_spec.rb
  services/QuillLMS/spec/workers/send_segment_identify_call_for_all_admins_worker_spec.rb
Due: lms-edits

fix spec
  services/QuillLMS/app/workers/send_segment_identify_call_for_all_admins_worker.rb
  services/QuillLMS/spec/workers/send_segment_identify_call_for_all_admins_worker_spec.rb
Due: lms-edits

update main tab color scheme
  packages/quill-cdn/.DS_Store
  packages/quill-cdn/assets/.DS_Store
  services/QuillLMS/app/assets/stylesheets/pages/admin_dashboard/admin-dashboard.scss
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/views/application/_sub_header.html.erb
  services/QuillLMS/app/views/pages/shared/_navbar_divider.html.erb
  services/QuillLMS/app/views/teachers/classroom_manager/assign.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/config/database.yml
Due: lms-edits

expand footers
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
Due: lms-edits

fix link
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/app_legend.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/app_legend.tsx
Due: lms-client-edits

add scope and use in function
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/workers/send_segment_identify_call_for_all_admins_worker.rb
Due: lms-edits

new grammar rules
  services/QuillLMS/engines/evidence/lib/evidence/evidence/grammar/feedback_assembler.rb
Due: lms-edits

update admin demo account data creation
  services/QuillLMS/app/controllers/teachers/progress_reports_controller.rb
  services/QuillLMS/app/services/demo/create_admin_report.rb
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

fix lint errors
  services/QuillLMS/app/services/demo/create_admin_report.rb
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

Refactor front-end to use API call to get topic optimal data
  services/QuillLMS/client/app/bundles/Evidence/actions/actionTypes.ts
  services/QuillLMS/client/app/bundles/Evidence/actions/activities.ts
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Evidence/libs/conceptResults.ts
  services/QuillLMS/client/app/bundles/Evidence/reducers/activitiesReducer.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.data.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.test.ts
Due: lms-client-edits

Add a backend API endpoint to produce topic-optimal data
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/open_ai/chat.rb
  services/QuillLMS/engines/evidence/temp
Due: lms-edits

save faker to gemfile
  services/QuillLMS/Gemfile
Due: lms-edits

Add a spec for the new topic_optimal_info endpoint
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
Due: lms-edits

Remove extraneous file that's not part of this PR
  services/QuillLMS/engines/evidence/lib/evidence/evidence/open_ai/chat.rb
Due: lms-edits

Mock new action in container test so that it doesn't crash
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/container.test.tsx
Due: lms-client-edits

actually make identify call
  services/QuillLMS/app/workers/send_segment_identify_call_for_all_admins_worker.rb
Due: lms-edits

tests and standardizing code
  services/QuillLMS/Gemfile
  services/QuillLMS/app/services/demo/create_admin_report.rb
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/app/services/demo/session_data.rb
  services/QuillLMS/lib/data/demo/admin_demo_data.yml
  services/QuillLMS/spec/services/demo/create_admin_report_spec.rb
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
Due: lms-edits

fix typo
  services/QuillLMS/db/structure.sql
Due: lms-edits

BlogPosts/ add footer_content property to blog_posts (#10441)
  services/QuillLMS/app/models/blog_post.rb
  services/QuillLMS/db/migrate/20230328155819_add_footer_content_to_blog_post.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/models/blog_post_spec.rb
Due: lms-edits

last test fixes
  services/QuillLMS/app/services/demo/create_admin_report.rb
  services/QuillLMS/spec/services/demo/create_admin_report_spec.rb
Due: lms-edits

Teacher Center/ use footer_content property for recommended article (#10442)
  services/QuillLMS/app/assets/stylesheets/cms/blog_post.scss
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/controllers/cms/blog_posts_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/create_or_edit_blog_post.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/articleSpotlight.tsx
  services/QuillLMS/spec/controllers/blog_posts_controller_spec.rb
Due: lms-edits, lms-client-edits

fix link (#10449)
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/app_legend.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/app_legend.tsx
Due: lms-client-edits

fix rubocop lint
  services/QuillLMS/spec/services/demo/create_admin_report_spec.rb
Due: none

fix other tests
  services/QuillLMS/spec/controllers/teachers/progress_reports_controller_spec.rb
Due: none

move data method
  services/QuillLMS/app/services/demo/create_admin_report.rb
Due: lms-edits

another test fix
  services/QuillLMS/spec/services/demo/create_admin_report_spec.rb
Due: none

remove query string gate for admin access in admin sign up flow (#10447)
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/verify_school.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_school.tsx
Due: lms-client-edits

add cron job and spec to make an identify call for every admin nightly (#10448)
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/workers/send_segment_identify_call_for_all_admins_worker.rb
  services/QuillLMS/spec/models/cron_spec.rb
  services/QuillLMS/spec/workers/send_segment_identify_call_for_all_admins_worker_spec.rb
Due: lms-edits

another one
  services/QuillLMS/spec/controllers/teachers/progress_reports_controller_spec.rb
Due: none

update hover state; move divider
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/views/pages/shared/_navbar_divider.html.erb
  services/QuillLMS/app/views/teachers/classroom_manager/assign.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
Due: lms-edits, lms-client-edits
