Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix readme.md
  services/QuillLMS/engines/evidence/app/models/evidence/research/readme.md
Due: lms-edits

Refactor system prompt builder.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_05_24_initial.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_05_31_highlights.md
Due: lms-edits

Some organization and updating rule uids in script
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_05_24_optimal_and_feedback.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompts/2024_06_03_optimal_and_feedback.md
  services/QuillLMS/engines/evidence/lib/tasks/gen_ai.rake
Due: lms-edits

update some metric calculations and replace bar graph with map img
  packages/quill-cdn/assets/images/impact/quill-map-2024.png
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/impact_page.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_count_query.rb
  services/QuillLMS/app/views/pages/impact.html.erb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
Due: lms-edits

Rename Experiment resource to Trial (#11877)
  services/QuillLMS/db/migrate/20240531184027_rename_experiment_to_trial.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/experiments_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llm_configs_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/passage_prompts_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/passages_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/helpers/evidence/research/gen_ai/experiments_helper.rb
  services/QuillLMS/engines/evidence/app/helpers/evidence/research/gen_ai/trials_helper.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_feedback.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/passage_prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/readme.md
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/results_fetcher.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/g_evals/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompt_templates/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompts/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/passage_prompts/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/passages/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_trial_worker.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240531183845_rename_experiment_to_trial.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/trials_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llm_feedbacks.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/trials.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_feedback_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/passage_prompt_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/results_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/run_experiment_worker_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/run_trial_worker_spec.rb
Due: lms-edits

fix test
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: none

Small refactors.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/base.rb
Due: lms-edits

update some metric calculations and replace bar graph with map img on impact page (#11878)
  packages/quill-cdn/assets/images/impact/quill-map-2024.png
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/impact_page.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/queries/impact_metrics/active_teachers_all_time_count_query.rb
  services/QuillLMS/app/views/pages/impact.html.erb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

student dashboard and footer UI updates (#11872)
  services/QuillLMS/app/assets/stylesheets/pages/profile.scss
  services/QuillLMS/app/assets/stylesheets/pages/student_dashboard/student_profile_unit.scss
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_unit.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_units.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/student_profile_unit.jsx
Due: lms-edits, lms-client-edits

rails admin fixes (#11873)
  services/QuillLMS/app/models/skill_group.rb
  services/QuillLMS/config/initializers/rails_admin.rb
  services/QuillLMS/lib/tasks/local_data.rake
Due: lms-edits

Update the width on hints to 100%
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-question.scss
Due: lms-client-edits

The frontend should update the questions when you change the flag on their activity
  services/QuillLMS/client/app/bundles/Connect/actions/lessons.ts
  services/QuillLMS/client/app/bundles/Diagnostic/actions/lessons.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/grammarActivities.ts
  services/QuillLMS/client/app/bundles/Shared/__tests__/actions/questions.test.ts
  services/QuillLMS/client/app/bundles/Shared/actions/questions.ts
Due: lms-client-edits

Use controller to update the flags on the questions
  services/QuillLMS/app/controllers/api/v1/lessons_controller.rb
  services/QuillLMS/client/app/bundles/Connect/actions/lessons.ts
  services/QuillLMS/client/app/bundles/Diagnostic/actions/lessons.ts
  services/QuillLMS/spec/controllers/api/v1/lessons_controller_spec.rb
Due: lms-edits, lms-client-edits

Make parameter optional to stop typescript from complaining
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
Due: lms-client-edits

WIP — activity model updates the flags
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/client/app/bundles/Grammar/actions/grammarActivities.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/actions/grammar_activities.test.ts
  services/QuillLMS/spec/models/activity_spec.rb
Due: lms-edits, lms-client-edits

Change test folder name to be consistent with other parts of the app.
  services/QuillLMS/client/app/bundles/Shared/__tests__/libs/activityPreviewHelpers.test.tsx
  services/QuillLMS/client/app/bundles/Shared/__tests__/libs/filterFunctions.test.ts
  services/QuillLMS/client/app/bundles/Shared/__tests__/libs/getIconForActivityClassification.test.tsx
  services/QuillLMS/client/app/bundles/Shared/__tests__/libs/getLatestAttempt.test.ts
  services/QuillLMS/client/app/bundles/Shared/__tests__/libs/isTrackableEvent.test.ts
  services/QuillLMS/client/app/bundles/Shared/__tests__/libs/isValidRegex.test.ts
Due: lms-client-edits

Remove update_flag actions on questions
  services/QuillLMS/app/controllers/api/v1/questions_controller.rb
  services/QuillLMS/client/app/bundles/Connect/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Connect/test/libs/questions_api.test.ts
  services/QuillLMS/client/app/bundles/Diagnostic/actions/questions.ts
  services/QuillLMS/client/app/bundles/Diagnostic/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/__mocks__/question_api.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/__mocks__/title_card_api.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/actions/questions.test.ts
  services/QuillLMS/client/app/bundles/Diagnostic/test/libs/question_api.test.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/__mocks__/question_api.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/actions/questions.test.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/libs/questions_api.test.ts
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/api/v1/questions_controller_spec.rb
Due: lms-edits, lms-client-edits

Rename LLMConfig to LLM
  services/QuillLMS/config/initializers/inflections.rb
  services/QuillLMS/config/initializers/zeitwerk.rb
  services/QuillLMS/db/migrate/20240603162552_rename_llm_config_to_llm.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/auto_chain_of_thoughts_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llms_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/trial.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/readme.md
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_runner.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llms/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llms/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240603162245_rename_llm_config_to_llm.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/auto_chain_of_thoughts_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/trials_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/config/initializers/inflections.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llms.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/trials.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/open_ai/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_runner_spec.rb
Due: lms-edits

Undo formatting changes
  services/QuillLMS/client/app/bundles/Connect/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Connect/test/libs/questions_api.test.ts
  services/QuillLMS/client/app/bundles/Diagnostic/styles/components/_student-question.scss
  services/QuillLMS/client/app/bundles/Diagnostic/test/libs/question_api.test.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/libs/questions_api.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/actions/grammar_activities.test.ts
  services/QuillLMS/client/app/bundles/Grammar/tests/libs/questions_api.test.ts
Due: lms-client-edits

Update ruby file to fix whitespace
  services/QuillLMS/spec/models/activity_spec.rb
Due: none

Revert back to old private behavior
  services/QuillLMS/app/models/activity.rb
Due: lms-edits

tweak css
  services/QuillLMS/client/app/bundles/Shared/components/shared/list.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/list.scss
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-client-edits

use embedded buttons
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/list.tes.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/list.tes.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/list.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/list.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/checkBoxes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/lists.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/radioButtons.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/lists.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/lists.tsx
Due: lms-client-edits

fix lint errors
  services/QuillLMS/client/app/bundles/Shared/components/shared/list.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/lists.tsx
Due: lms-client-edits

update homepage/impact page rounding
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/pages/home_new.html.erb
  services/QuillLMS/app/workers/set_impact_metrics_worker.rb
  services/QuillLMS/spec/workers/set_impact_metrics_worker_spec.rb
Due: lms-edits

Update question_ids to question_uids
  services/QuillLMS/app/models/activity.rb
Due: lms-edits

make constants from defaults
  services/QuillLMS/app/controllers/pages_controller.rb
Due: lms-edits

account for static option
  services/QuillLMS/app/assets/stylesheets/shared/lists.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/list.tes.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/list.tes.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/list.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/list.scss
Due: lms-edits, lms-client-edits

update the demo account to include multiple sessions for some activities
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/app/services/demo/session_data.rb
  services/QuillLMS/lib/data/demo/activity_sessions.yml
  services/QuillLMS/lib/data/demo/concept_result_legacy_metadata.yml
  services/QuillLMS/lib/data/demo/concept_results.yml
Due: lms-edits

update snapshot
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/lists.test.tsx.snap
Due: lms-client-edits

update again
  services/QuillLMS/app/services/demo/session_data.rb
  services/QuillLMS/lib/data/demo/activity_sessions.yml
  services/QuillLMS/lib/data/demo/concept_result_legacy_metadata.yml
  services/QuillLMS/lib/data/demo/concept_results.yml
Due: lms-edits

fix tests
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
Due: none

reduce cyclomatic complexity
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

remove redundant self
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

fix
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

test fix
  services/QuillLMS/spec/services/demo/create_admin_report_spec.rb
Due: none

final test updates
  services/QuillLMS/spec/services/demo/session_data_spec.rb
Due: none

Update some styling
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
Due: lms-edits

Get rid of BertScore recall/precision
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
Due: lms-edits

Backpack/ lists (#11883)
  services/QuillLMS/app/assets/stylesheets/shared/lists.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/list.tes.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/list.tes.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/list.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/list.scss
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/checkBoxes.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/lists.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/radioButtons.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/lists.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/checkBoxes.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/lists.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/radioButtons.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/BackpackIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-edits, lms-client-edits
