Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix blur class for premium values
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_concepts_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_classroom_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
Due: lms-client-edits

fix remaining classes
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_scores_by_classroom_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_classroom_students_progress_report.jsx
Due: lms-client-edits

Add teacher fix for recalculating staggered release locks
  services/QuillLMS/app/controllers/concerns/teacher_fixes.rb
  services/QuillLMS/app/controllers/teacher_fix_controller.rb
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerConstants.ts
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerItems.ts
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/index.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/recalculate_staggered_release_locks.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherFixRouter.jsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/concerns/teacher_fixes_spec.rb
  services/QuillLMS/spec/controllers/teacher_fix_controller_spec.rb
Due: lms-edits, lms-client-edits

Teacher Center updates/ show Evidence articles publicly (#10303)
  services/QuillLMS/app/views/blog_posts/index.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post_index.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post_index.jsx
  services/QuillLMS/spec/controllers/blog_posts_controller_spec.rb
Due: lms-edits, lms-client-edits

Premium Reports/ fix blur styling (#10310)
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_scores_by_classroom_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_concepts_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_classroom_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
Due: lms-client-edits

fix bug with users not showing as admins
  services/QuillLMS/app/serializers/admin/teacher_serializer.rb
  services/QuillLMS/spec/serializers/admin/teacher_serializer_spec.rb
Due: lms-edits

Refactor to make specs easier to write
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions.rb
Due: lms-edits

Add new action to statuses to get Sidekiq queue latency
  services/QuillLMS/app/controllers/statuses_controller.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/statuses_controller_spec.rb
Due: lms-edits

add method to fetch most recent posts with same topic; update variables
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/models/blog_post.rb
  services/QuillLMS/app/views/blog_posts/show.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/blog_post.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post.jsx
Due: lms-edits, lms-client-edits

add/update tests
  services/QuillLMS/app/models/blog_post.rb
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/spec/models/blog_post_spec.rb
Due: lms-edits, lms-client-edits

update controller spec
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/spec/controllers/blog_posts_controller_spec.rb
Due: lms-edits

fix bug with users not showing as admins (#10313)
  services/QuillLMS/app/serializers/admin/teacher_serializer.rb
  services/QuillLMS/spec/serializers/admin/teacher_serializer_spec.rb
Due: lms-edits

remove gate for admin sign up access (#10309)
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_user_type.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_user_type.jsx
Due: lms-client-edits

spec failures
  services/QuillLMS/client/app/bundles/Staff/components/locker/__tests__/__snapshots__/lockerIndex.test.tsx.snap
  services/QuillLMS/spec/controllers/concerns/teacher_fixes_spec.rb
Due: lms-client-edits

Get rid of eslint warning
  .eslintrc
Due: none

Add teacher fix for recalculating staggered release locks (#10311)
  .eslintrc
  services/QuillLMS/app/controllers/concerns/teacher_fixes.rb
  services/QuillLMS/app/controllers/teacher_fix_controller.rb
  services/QuillLMS/client/app/bundles/Staff/components/locker/__tests__/__snapshots__/lockerIndex.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerConstants.ts
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerItems.ts
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/index.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/recalculate_staggered_release_locks.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherFixRouter.jsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/concerns/teacher_fixes_spec.rb
  services/QuillLMS/spec/controllers/teacher_fix_controller_spec.rb
Due: lms-edits, lms-client-edits

speed up admin cache reset job
  services/QuillLMS/lib/tasks/reset_admin_caches.rake
Due: lms-edits

remove .all
  services/QuillLMS/spec/models/blog_post_spec.rb
Due: none

Small tweak based on code review
  services/QuillLMS/app/controllers/statuses_controller.rb
Due: lms-edits

Add new action to statuses to get Sidekiq queue latency (#10314)
  services/QuillLMS/app/controllers/statuses_controller.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/statuses_controller_spec.rb
Due: lms-edits

remove filtering from admin standards report
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/DistrictStandardsReports.jsx
Due: lms-client-edits

call identify for user after they submit the verification form and when a staff member updates their approval status
  services/QuillLMS/app/controllers/admin_infos_controller.rb
  services/QuillLMS/app/controllers/cms/admin_verification_controller.rb
  services/QuillLMS/app/workers/identify_worker.rb
  services/QuillLMS/spec/controllers/admin_infos_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/admin_verification_controller_spec.rb
  services/QuillLMS/spec/workers/identify_worker_spec.rb
Due: lms-edits

fix indentation
  services/QuillLMS/spec/workers/identify_worker_spec.rb
Due: none

fix spec
  services/QuillLMS/spec/workers/identify_worker_spec.rb
Due: none

fix snapshots
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/DistrictStandardsReports.test.jsx.snap
Due: lms-client-edits

Tweak the latency status controller to 400 in certain conditions
  services/QuillLMS/app/controllers/statuses_controller.rb
  services/QuillLMS/spec/controllers/statuses_controller_spec.rb
Due: lms-edits

initial style changes
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_pack.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_recommendations.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/postTestTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendations.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendationsTable.tsx
Due: lms-edits, lms-client-edits

remove low queue setting
  services/QuillLMS/app/workers/identify_worker.rb
Due: lms-edits

speed up admin cache reset job (#10317)
  services/QuillLMS/lib/tasks/reset_admin_caches.rake
Due: lms-edits

remove filtering from admin standards report (#10321)
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/DistrictStandardsReports.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/DistrictStandardsReports.test.jsx.snap
Due: lms-client-edits

Send additional Segment Identify calls as part of the admin verification process (#10320)
  services/QuillLMS/app/controllers/admin_infos_controller.rb
  services/QuillLMS/app/controllers/cms/admin_verification_controller.rb
  services/QuillLMS/app/workers/identify_worker.rb
  services/QuillLMS/spec/controllers/admin_infos_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/admin_verification_controller_spec.rb
  services/QuillLMS/spec/workers/identify_worker_spec.rb
Due: lms-edits

refactor recent_posts to instance method
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/models/blog_post.rb
  services/QuillLMS/spec/controllers/blog_posts_controller_spec.rb
  services/QuillLMS/spec/models/blog_post_spec.rb
Due: lms-edits

add migrations and model updates
  services/QuillLMS/app/models/admin_approval_request.rb
  services/QuillLMS/app/models/admin_info.rb
  services/QuillLMS/db/migrate/20230301151808_add_approver_role_to_admin_info_table.rb
  services/QuillLMS/db/migrate/20230301160642_create_admin_approval_request.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/admin_infos.rb
  services/QuillLMS/spec/models/admin_approval_request_spec.rb
  services/QuillLMS/spec/models/admin_info_spec.rb
Due: lms-edits

fix lint
  services/QuillLMS/app/models/admin_approval_request.rb
  services/QuillLMS/db/migrate/20230301151808_add_approver_role_to_admin_info_table.rb
  services/QuillLMS/spec/models/admin_info_spec.rb
Due: lms-edits

update teacher center tabs
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/helpers/teacher_center_helper.rb
  services/QuillLMS/app/models/blog_post.rb
  services/QuillLMS/spec/helpers/teacher_center_helper_spec.rb
Due: lms-edits

fix lint errors
  services/QuillLMS/app/helpers/teacher_center_helper.rb
  services/QuillLMS/spec/helpers/teacher_center_helper_spec.rb
Due: lms-edits

add dependent destroy to model file and remove from migration
  services/QuillLMS/app/models/admin_info.rb
  services/QuillLMS/db/migrate/20230301160642_create_admin_approval_request.rb
Due: lms-edits

add migrations and model upgrades to support teachers submitting requests to become admins (#10324)
  services/QuillLMS/app/models/admin_approval_request.rb
  services/QuillLMS/app/models/admin_info.rb
  services/QuillLMS/db/migrate/20230301151808_add_approver_role_to_admin_info_table.rb
  services/QuillLMS/db/migrate/20230301160642_create_admin_approval_request.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/admin_infos.rb
  services/QuillLMS/spec/models/admin_approval_request_spec.rb
  services/QuillLMS/spec/models/admin_info_spec.rb
Due: lms-edits

Create a rake task to purge classrooms and their activity_sessions
  services/QuillLMS/lib/tasks/classrooms.rake
Due: lms-edits

Increase default latency limit from 5 seconds to 60
  services/QuillLMS/app/controllers/statuses_controller.rb
  services/QuillLMS/spec/controllers/statuses_controller_spec.rb
Due: lms-edits
