Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Fix bug with teacher_admin_subscriptions_url (#10513)
  services/QuillLMS/app/controllers/stripe_integration/subscription_checkout_sessions_controller.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/requests/stripe_integration/subscription_checkout_sessions_controller_spec.rb
Due: lms-edits

fix concepts link
  services/QuillLMS/client/app/bundles/Diagnostic/actions/concepts.js
Due: lms-client-edits

try again
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/activityHealth.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/expandLessonQuestions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lesson.test.jsx.snap
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/container.test.tsx.snap
Due: lms-client-edits

install compatibility package for react-router and add compatrouters where necessary (#10509)
  services/QuillLMS/client/app/bundles/Connect/app.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/app.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/diagnosticRouter.tsx
  services/QuillLMS/client/app/bundles/Evidence/App.tsx
  services/QuillLMS/client/app/bundles/Grammar/App.tsx
  services/QuillLMS/client/app/bundles/Lessons/App.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubRouter.jsx
  services/QuillLMS/client/app/bundles/Proofreader/App.tsx
  services/QuillLMS/client/app/bundles/Staff/startup/AttributesManagerIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/startup/ConceptsIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/startup/EvidenceIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/startup/lockerAppClient.tsx
  services/QuillLMS/client/app/bundles/Student/startup/StudentProfileRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/new_account_stage1.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/new_account_stage1.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/AssignActivitiesRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/CmsActivitiesRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/DiagnosticReports.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/LessonPlannerRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/PublicUnitTemplatesRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherClassroomsRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherFixRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TutorialsRouter.jsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

update string strip html (#10512)
  services/QuillLMS/client/app/bundles/Connect/components/activityHealth/activityHealth.tsx
  services/QuillLMS/client/app/bundles/Connect/components/activityHealth/promptHealth.tsx
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lessons.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/lessons.test.jsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/__tests__/fillInBlank.test.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/feedback.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/headerImage.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/promptStep.tsx
  services/QuillLMS/client/app/bundles/Evidence/helpers/containerActionHelpers.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/headerImage.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/promptStep.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/container.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/feedback.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/headerImage.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/promptStep.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/fillInBlank/__tests__/prompt.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenu.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
  services/QuillLMS/client/app/bundles/Shared/test/libs/activityPreviewHelpers.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/promptTable.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/regexRules.test.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activitySessions/promptTable.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/changeLog/changeLog.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/rule.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/lowConfidenceRules/lowConfidenceRulesIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/plagiarismRules/plagiarismRulesIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/universalRules/universalRule.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/miscHelpers.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/ruleHelpers.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/questions.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/questions.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

start converting react routes (#10510)
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/index.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/recalculate_staggered_release_locks.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/tutorials/TutorialIndex.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherClassroomsRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TeacherFixRouter.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/TutorialsRouter.jsx
Due: lms-client-edits

get diagnostic working (#10515)
  services/QuillLMS/app/assets/stylesheets/home.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/client/app/bundles/Diagnostic/actions/concepts.js
  services/QuillLMS/client/app/bundles/Diagnostic/app.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/clientRegistration.js
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/variables.sass
  services/QuillLMS/client/app/bundles/Diagnostic/styles/variables.scss
  services/QuillLMS/client/app/bundles/Diagnostic/utils/configureStore.js
  services/QuillLMS/client/app/entrypoints/connect.ts
  services/QuillLMS/client/app/entrypoints/diagnostic.scss
  services/QuillLMS/client/app/entrypoints/diagnostic.ts
  services/QuillLMS/client/package-lock.json
Due: lms-edits, lms-client-edits

fix typo in secure headers
  services/QuillLMS/.env.development
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/app/bundles/Connect/actions/concepts.js
  services/QuillLMS/client/app/bundles/Connect/actions/responses.js
  services/QuillLMS/client/app/bundles/Connect/utils/configureStore.js
  services/QuillLMS/client/app/bundles/Diagnostic/actions/responses.js
  services/QuillLMS/client/app/entrypoints/connect.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/config/initializers/secure_headers.rb
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/vite.config.ts
Due: lms-edits, lms-client-edits

update npm packages
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

get css working for connect (#10511)
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/client/app/bundles/Connect/clientRegistration.js
  services/QuillLMS/client/app/bundles/Connect/styles/variables.sass
  services/QuillLMS/client/app/bundles/Connect/styles/variables.scss
  services/QuillLMS/client/app/bundles/Shared/styles/styles.scss
  services/QuillLMS/client/app/entrypoints/application.tsx
  services/QuillLMS/client/app/entrypoints/connect.css
  services/QuillLMS/client/app/entrypoints/connect.scss
  services/QuillLMS/client/app/entrypoints/connect.ts
  services/QuillLMS/client/app/entrypoints/login.ts
  services/QuillLMS/client/app/entrypoints/shared.css
  services/QuillLMS/client/app/entrypoints/shared.scss
  services/QuillLMS/client/package-lock.json
Due: lms-edits, lms-client-edits

get diagnostic working (#10515)
  services/QuillLMS/app/assets/stylesheets/home.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/client/app/bundles/Diagnostic/actions/concepts.js
  services/QuillLMS/client/app/bundles/Diagnostic/app.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/clientRegistration.js
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/variables.sass
  services/QuillLMS/client/app/bundles/Diagnostic/styles/variables.scss
  services/QuillLMS/client/app/bundles/Diagnostic/utils/configureStore.js
  services/QuillLMS/client/app/entrypoints/connect.ts
  services/QuillLMS/client/app/entrypoints/diagnostic.scss
  services/QuillLMS/client/app/entrypoints/diagnostic.ts
Due: lms-edits, lms-client-edits

run npm install again
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

fix things that vite didn't like from rebase
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/client/app/bundles/Connect/components/lessons/lessonForm.jsx
  services/QuillLMS/client/app/bundles/Connect/components/questions/questions.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/lessonForm.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/questions.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/lessons/lessonForm.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-edits, lms-client-edits

improve error reporting, handle null rows edge case
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/spec/services/quill_big_query/runner_spec.rb
Due: lms-edits

Add frontend testing
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/CanvasInstanceForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/CanvasInstanceForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumHub.test.jsx.snap
  services/QuillLMS/spec/requests/canvas_instances_controller_spec.rb
Due: lms-client-edits

Update controller to accept a single payload for all config changes
  services/QuillLMS/app/controllers/api/v1/teacher_notification_settings_controller.rb
  services/QuillLMS/app/controllers/teacher_notification_settings_controller.rb
  services/QuillLMS/app/models/teacher_notification_setting.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/api/v1/teacher_notification_settings_controller_spec.rb
  services/QuillLMS/spec/controllers/teacher_notification_settings_controller_spec.rb
  services/QuillLMS/spec/factories/teacher_notification_setting.rb
  services/QuillLMS/spec/models/teacher_notification_setting_spec.rb
Due: lms-edits

lint
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/spec/services/quill_big_query/runner_spec.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/app/controllers/api/v1/teacher_notification_settings_controller.rb
  services/QuillLMS/app/models/teacher_notification_setting.rb
  services/QuillLMS/spec/controllers/api/v1/teacher_notification_settings_controller_spec.rb
Due: lms-edits

tweak primary and secondary navbar
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/helpers/navbar_helper.rb
  services/QuillLMS/app/views/application/_header.html.erb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/pages/shared/_mobile_sub_navbar.html.erb
  services/QuillLMS/client/app/bundles/Teacher/styles/styles.scss
Due: lms-edits, lms-client-edits

first draft changes
  services/QuillLMS/app/models/district.rb
Due: lms-edits

move vitally logic to separate file from districts
  services/QuillLMS/app/models/district.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/models/district_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

get grammar working
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/client/app/bundles/Connect/actions/questions.ts
  services/QuillLMS/client/app/bundles/Connect/components/questions/massEditContainer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/questions/responseComponent.jsx
  services/QuillLMS/client/app/bundles/Connect/components/shared/focusPointsInputAndConceptSelectorForm.jsx
  services/QuillLMS/client/app/bundles/Connect/components/shared/incorrectSequencesInputAndConceptSelectorForm.jsx
  services/QuillLMS/client/app/bundles/Connect/libs/grading/rematching.ts
  services/QuillLMS/client/app/bundles/Diagnostic/actions/questions.ts
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/massEditContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/responseComponent.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/focusPointsInputAndConceptSelectorForm.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/shared/incorrectSequencesInputAndConceptSelectorForm.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/libs/grading/rematching.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/responses.ts
  services/QuillLMS/client/app/bundles/Grammar/clientRegistration.js
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/question.test.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/massEditContainer.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/response.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/responseComponent.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/shared/focusPointsInputAndConceptSelectorForm.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/shared/incorrectSequencesInputAndConceptSelectorForm.tsx
  services/QuillLMS/client/app/bundles/Grammar/index.tsx
  services/QuillLMS/client/app/bundles/Grammar/libs/grading/rematching.ts
  services/QuillLMS/client/app/bundles/Grammar/styles/style.scss
  services/QuillLMS/client/app/bundles/Proofreader/tests/proofreaderActivities/container.test.tsx
  services/QuillLMS/client/app/entrypoints/grammar.scss
  services/QuillLMS/client/app/entrypoints/grammar.ts
Due: lms-edits, lms-client-edits

okay maybe just a package.json issue
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

Add backend tests
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/spec/requests/canvas_instances_controller_spec.rb
Due: lms-edits

standardize pusher key
  services/QuillLMS/client/app/bundles/Connect/actions/questions.ts
  services/QuillLMS/client/app/bundles/Diagnostic/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHub.jsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/SchoolSubscriptionsContainer.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_clever_classroom_students_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_clever_classrooms_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_google_classroom_students_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_google_classrooms_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendations.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/export_csv.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ClassroomsWithStudentsContainer.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/StudentProfile.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/Subscriptions.jsx
Due: lms-client-edits

Require school to be selected before submit
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/CanvasInstanceForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHub.jsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumHub.test.jsx.snap
  services/QuillLMS/spec/requests/canvas_instances_controller_spec.rb
Due: lms-edits, lms-client-edits

Use cleaner module syntax for namespacing TeacherNotification subclasses
  services/QuillLMS/app/models/teacher_notifications/student_completed_all_assigned_activities.rb
  services/QuillLMS/app/models/teacher_notifications/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/app/models/teacher_notifications/student_completed_diagnostic.rb
  services/QuillLMS/spec/models/teacher_notifications/student_completed_all_assigned_activities_spec.rb
  services/QuillLMS/spec/models/teacher_notifications/student_completed_all_diagnostic_recommendations_spec.rb
  services/QuillLMS/spec/models/teacher_notifications/student_completed_diagnostic_spec.rb
Due: lms-edits

Add feature flag
  services/QuillLMS/app/views/teachers/admin.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/CanvasInstanceForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHub.jsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

Fix snapshot now hidden from feature flag
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumHub.test.jsx.snap
Due: lms-client-edits

Eager load TeacherNotification subclasses in specs
  services/QuillLMS/spec/rails_helper.rb
Due: none

Updates based on code review
  services/QuillLMS/app/controllers/api/v1/teacher_notification_settings_controller.rb
  services/QuillLMS/app/models/teacher_notification_setting.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/api/v1/teacher_notification_settings_controller_spec.rb
  services/QuillLMS/spec/factories/teacher_notification_setting.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/app/models/teacher_notifications/student_completed_all_assigned_activities.rb
  services/QuillLMS/app/models/teacher_notifications/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/app/models/teacher_notifications/student_completed_diagnostic.rb
  services/QuillLMS/spec/rails_helper.rb
Due: lms-edits

Fix linting errors
  services/QuillLMS/app/models/teacher_notifications/student_completed_all_assigned_activities.rb
  services/QuillLMS/app/models/teacher_notifications/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/app/models/teacher_notifications/student_completed_diagnostic.rb
Due: lms-edits

lms/add-teacher-notifications (#10504)
  services/QuillLMS/app/models/teacher_notification.rb
  services/QuillLMS/app/models/teacher_notifications/student_completed_all_assigned_activities.rb
  services/QuillLMS/app/models/teacher_notifications/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/app/models/teacher_notifications/student_completed_diagnostic.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/db/migrate/20230420141952_create_teacher_notifications.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/teacher_notification/student_completed_all_assigned_activities.rb
  services/QuillLMS/spec/factories/teacher_notification/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/spec/factories/teacher_notification/student_completed_diagnostic.rb
  services/QuillLMS/spec/models/teacher_notification_spec.rb
  services/QuillLMS/spec/models/teacher_notifications/student_completed_all_assigned_activities_spec.rb
  services/QuillLMS/spec/models/teacher_notifications/student_completed_all_diagnostic_recommendations_spec.rb
  services/QuillLMS/spec/models/teacher_notifications/student_completed_diagnostic_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Update paths in factories to match models
  services/QuillLMS/spec/factories/teacher_notifications/student_completed_all_assigned_activities.rb
  services/QuillLMS/spec/factories/teacher_notifications/student_completed_all_diagnostic_recommendations.rb
  services/QuillLMS/spec/factories/teacher_notifications/student_completed_diagnostic.rb
Due: none

update to react subnavs
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/helpers/navbar_helper.rb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/my_activities_tabs.jsx
  services/QuillLMS/client/app/bundles/Teacher/styles/styles.scss
Due: lms-edits, lms-client-edits

lessons works
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/client/app/bundles/Connect/styles/style.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
  services/QuillLMS/client/app/bundles/Grammar/actions/responses.ts
  services/QuillLMS/client/app/bundles/Lessons/clientRegistration.js
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/admin/showScriptItem.tsx
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/admin/slideHTMLEditor.tsx
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/shared/reviewStudentRow.tsx
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/shared/scriptComponent.tsx
  services/QuillLMS/client/app/bundles/Lessons/styles/style.scss
  services/QuillLMS/client/app/bundles/Lessons/styles/variables.sass
  services/QuillLMS/client/app/bundles/Lessons/styles/variables.scss
  services/QuillLMS/client/app/bundles/Lessons/utils/configureStore.js
  services/QuillLMS/client/app/bundles/Lessons/utils/socketStore.js
  services/QuillLMS/client/app/bundles/PremiumHub/components/activity_scores_table.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activitySessions/sessionOverview.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/gatherResponses/editOrDeleteTurkSession.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/gatherResponses/turkSessions.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/modelsTable.tsx
  services/QuillLMS/client/app/bundles/Staff/containers/AdminVerification.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/activity_table.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_google_classrooms_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/invite_coteachers_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostic_activity_packs.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/bulk_archive_classes_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/unitActivityDates.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
  services/QuillLMS/client/app/entrypoints/lessons.scss
  services/QuillLMS/client/app/entrypoints/lessons.ts
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits, lms-client-edits

all stats working and basic tests all added
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

fix function signature-based regression on staggered release teacher fix
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/recalculate_staggered_release_locks.jsx
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
