Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

fix linter errors, tweak variable naming; update snapshots
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/canvasIntegrationForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/canvasIntegrationModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/schoolSelector.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/__snapshots__/gradeLevelWarningModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMinisTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/classroom_student_section.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/blog_post_table.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/featured_blog_posts.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/activity_feed.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/diagnostic_mini.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/lessons_mini.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/__snapshots__/view_as_student_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_unit.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/student_profile/__tests__/__snapshots__/student_profile_units.test.jsx.snap
Due: lms-client-edits

add tooltips to activity feed and activity summary (#11059)
  services/QuillLMS/app/assets/stylesheets/pages/scorebook_page.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/activity_feed.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/activity_feed.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/tooltipCopyForScoreDescriptions.ts
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/score_legend.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/score_legend.jsx
Due: lms-edits, lms-client-edits

assignment copy change for coteachers (#11060)
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/assign_a_diagnostic.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
Due: lms-client-edits

brendan comments
  services/QuillLMS/Gemfile
  services/QuillLMS/app/javascript/packs/rails_admin.js
  services/QuillLMS/app/javascript/stylesheets/rails_admin.scss
  services/QuillLMS/config/initializers/rails_admin.rb
  services/QuillLMS/package.json
Due: lms-edits

initial rubocop changes
  services/QuillCMS/spec/factories/response.rb
  services/QuillLMS/spec/factories/provider_classroom_users.rb
  services/QuillLMS/spec/factories/provider_classrooms.rb
  services/QuillLMS/spec/factories/schools.rb
  services/QuillLMS/spec/factories/teacher_notifications.rb
  services/QuillLMS/spec/factories/unit_templates.rb
  services/QuillLMS/spec/factories/units.rb
  services/QuillLMS/spec/factories/users.rb
Due: cms-edits

more rubocop
  services/QuillCMS/spec/factories/response.rb
Due: cms-edits

rubocop last changes
  services/QuillLMS/spec/factories/activities.rb
  services/QuillLMS/spec/factories/activity_sessions.rb
  services/QuillLMS/spec/factories/auth_credentials.rb
  services/QuillLMS/spec/factories/classrooms.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_courses.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_list_courses_response.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_list_students_responses.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_names.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_students.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_user_profiles.rb
  services/QuillLMS/spec/factories/omniauth_auth_hashes.rb
Due: none

Upgrade LMS Ruby to 3.1.4 (#11045)
  .circleci/config.yml
  services/QuillLMS/.ruby-version
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/spec/controllers/invitations_controller_spec.rb
Due: lms-edits

finish updating and styling data table
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
Due: lms-edits, lms-client-edits

diagnostic page updates
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/app/assets/stylesheets/pages/assignment_flow.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/assign_a_new_activity.test.jsx.snap
Due: lms-edits, lms-client-edits

Add new GPT3.5-turbo_instruct model, make it default.
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
Due: lms-edits

Use openAI paraphrase for labeled text generation.
  services/QuillLMS/engines/evidence/lib/evidence/synthetic/labeled_data_generator.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
Due: lms-edits

Fix js bug.
  services/QuillLMS/client/app/bundles/Staff/components/evidence/syntheticData/labeledDataUploadForm.tsx
Due: lms-client-edits

all styling changes
  docs/_layouts/layout.html
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
  services/QuillLMS/app/views/application/footer/_social.html.erb
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
Due: lms-edits

Update copy for google login error
  services/QuillLMS/app/controllers/auth/google_controller.rb
  services/QuillLMS/spec/controllers/auth/google_controller_spec.rb
  services/rubocop.sh
Due: lms-edits

finish tests
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/app/assets/stylesheets/pages/assignment_flow.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/assign_a_new_activity.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/assign_a_new_activity.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
Due: lms-edits, lms-client-edits

adjust css
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
Due: lms-edits

Fix spec failure
  services/QuillLMS/spec/controllers/auth/google_controller_spec.rb
Due: none

Add migration files
  services/QuillLMS/db/migrate/20230912150456_create_evidence_automl_models.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/db/migrate/20230911142601_create_evidence_automl_models.rb
Due: lms-edits

Update schema
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
Due: lms-edits

Thomas suggestion
  services/QuillLMS/lib/tasks/temporary/vertex_ai_migration.rake
Due: lms-edits

Add in raw sql
  services/QuillLMS/lib/tasks/temporary/vertex_ai_migration.rake
Due: lms-edits

Add backfill rake task for VertexAI
  services/QuillLMS/lib/tasks/temporary/vertex_ai_migration.rake
Due: lms-edits

Update fill with labels
  services/QuillLMS/lib/tasks/temporary/vertex_ai_migration.rake
Due: lms-edits

Add configuration
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/ai_platform.rb
Due: lms-edits

Fix spec/dummy/db/schema.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
Due: lms-edits

Add model_external_id and endpoint_id to Evidence::AutomlModel
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/activateModelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/model.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/modelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/modelAPIs.ts
  services/QuillLMS/db/migrate/20230912150456_create_evidence_automl_models.evidence.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/db/migrate/20230913142601_create_evidence_automl_models.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/automl_models.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
Due: lms-edits, lms-client-edits

Remove temp file
  services/QuillLMS/engines/evidence/app/services/evidence/blah_fetcher.rb
Due: lms-edits

Update gems
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/ai_platform.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

Fix specs
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/modelForm.test.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/deployed_model_names_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/params_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/text_classifier.rb
  services/QuillLMS/engines/evidence/lib/evidence/automl_check.rb
  services/QuillLMS/engines/evidence/spec/lib/automl_check_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
Due: lms-edits, lms-client-edits

Fix user assignment
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
Due: lms-edits

Fix linter error
  services/QuillLMS/engines/evidence/spec/factories/evidence/automl_models.rb
Due: lms-edits

Update gems
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/automl_models.rb
Due: lms-edits

Fix db/structure.sql
  services/QuillLMS/db/structure.sql
Due: lms-edits

Pull out TextClassifer and ParamsBuilder service objects
  services/QuillLMS/client/app/bundles/Shared/components/shared/dropdownInput.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureSettings/upperFormSection.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/model.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/modelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/modelAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/app/services/evidence/blah_client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/deployed_model_names_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/params_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/text_classifier.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/deployed_model_names_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/params_builder_spec.rb
Due: lms-edits, lms-client-edits

Use new table with external_id
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/activateModelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/model.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/modelAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
Due: lms-edits, lms-client-edits

Fix assignment
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
Due: lms-edits

Fix migration numbers
  services/QuillLMS/db/migrate/20230912150456_create_evidence_automl_models.evidence.rb
  services/QuillLMS/engines/evidence/db/migrate/20230911142601_create_evidence_automl_models.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
Due: lms-edits

Fix Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
