Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

make sure read button renders correctly in safari
  services/QuillLMS/client/app/bundles/Teacher/styles/article-spotlight.scss
Due: lms-client-edits

Use Constants for text generation types.
  services/QuillLMS/engines/evidence/app/models/evidence/text_generation.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/paraphrase.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling_passage_specific.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/translation.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
Due: lms-edits

Add Lockbox configuration for testing
  .circleci/config.yml
Due: none

center align text; remove DS store files
  packages/quill-cdn/.DS_Store
  packages/quill-cdn/assets/.DS_Store
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
Due: lms-edits

Update Gemfile todo comment
  services/QuillLMS/Gemfile
Due: lms-edits

Store labeled data.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text_batch.rb
  services/QuillLMS/engines/evidence/app/models/evidence/text_generation.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/synthetic_labeled_data_worker.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/labeled_data_generator.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/paraphrase_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/manual_types_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/synthetic_labeled_data_worker_spec.rb
Due: lms-edits

Change name of columns and fix tests.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text_batch.rb
  services/QuillLMS/engines/evidence/app/models/evidence/text_generation.rb
  services/QuillLMS/engines/evidence/db/migrate/20230306215123_create_evidence_prompt_text_generations.rb
  services/QuillLMS/engines/evidence/db/migrate/20230306215624_create_evidence_prompt_text_batches.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/paraphrase.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling_passage_specific.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/translation.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/labeled_data_generator.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/prompt_text_batches.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/text_generations.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/paraphrase_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/spelling_passage_specific_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/spelling_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/translation_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/prompt_text_batch_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/text_generation_spec.rb
Due: lms-edits

Clean up more of the generation script.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text_batch.rb
  services/QuillLMS/engines/evidence/app/models/evidence/text_generation.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/labeled_data_generator.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/labeled_result.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
Due: lms-edits

Add migrations to main app.
  services/QuillLMS/db/migrate/20230413215936_create_evidence_prompt_text_generations.evidence.rb
  services/QuillLMS/db/migrate/20230413215937_create_evidence_prompt_texts.evidence.rb
  services/QuillLMS/db/migrate/20230413215938_create_evidence_prompt_text_batches.evidence.rb
  services/QuillLMS/db/structure.sql
Due: lms-edits

update coming soon text
  services/QuillLMS/app/helpers/quill_academy_helper.rb
Due: lms-edits

Fix lint issues.
  services/QuillLMS/db/migrate/20230413215936_create_evidence_prompt_text_generations.evidence.rb
  services/QuillLMS/db/migrate/20230413215937_create_evidence_prompt_texts.evidence.rb
  services/QuillLMS/db/migrate/20230413215938_create_evidence_prompt_text_batches.evidence.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text_batch.rb
  services/QuillLMS/engines/evidence/app/models/evidence/text_generation.rb
  services/QuillLMS/engines/evidence/db/migrate/20230306215123_create_evidence_prompt_text_generations.rb
  services/QuillLMS/engines/evidence/db/migrate/20230306215326_create_evidence_prompt_texts.rb
  services/QuillLMS/engines/evidence/db/migrate/20230306215624_create_evidence_prompt_text_batches.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/paraphrase.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
Due: lms-edits

Fix syntax issue.
  services/QuillLMS/db/structure.sql
Due: lms-edits

Remove ENV variable in circleci config
  .circleci/config.yml
Due: none

Add external_id to canvas_account
  services/QuillLMS/app/models/canvas_account.rb
  services/QuillLMS/db/migrate/20230413140558_create_canvas_accounts.rb
  services/QuillLMS/spec/factories/canvas_accounts.rb
  services/QuillLMS/spec/models/canvas_account_spec.rb
Due: lms-edits

Update learn_worlds_accounts factory
  services/QuillLMS/spec/factories/learn_worlds_accounts.rb
Due: none

Add SchoolCanvasConfig
  services/QuillLMS/app/models/canvas_config.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/models/school_canvas_config.rb
  services/QuillLMS/db/migrate/20230414164818_create_school_canvas_configs.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_accounts.rb
  services/QuillLMS/spec/factories/school_canvas_configs.rb
  services/QuillLMS/spec/models/canvas_config_spec.rb
  services/QuillLMS/spec/models/school_canvas_config_spec.rb
  services/QuillLMS/spec/models/school_spec.rb
  services/QuillLMS/spec/tasks/schools_rake_spec.rb
Due: lms-edits

get basic layout changes done
  services/QuillLMS/app/assets/stylesheets/pages/blog_posts.scss
  services/QuillLMS/app/assets/stylesheets/pages/blog_posts_header_section.scss
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/topic_section.jsx
Due: lms-edits, lms-client-edits

Lint.
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/translation.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
Due: lms-edits

update jest tests
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post_index.test.jsx.snap
Due: lms-client-edits

Fix rake test and seed data per conjunction.
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/lib/tasks/synthetic.rake
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
Due: lms-edits

removing skip_ci references everywhere
  .circleci/config.yml
  services/.rubocop_todo.yml
  services/QuillLMS/.rspec
  services/QuillLMS/spec/skip_ci/comprehension_integration_samples.csv
  services/QuillLMS/spec/skip_ci/comprehension_integration_spec.rb
Due: none

initial wrapper
  services/QuillLMS/app/queries/quill_big_query.rb
Due: lms-edits

working
  services/QuillLMS/.env-sample
  services/QuillLMS/app/queries/progress_reports/district_concept_reports.rb
  services/QuillLMS/app/queries/quill_big_query.rb
  services/QuillLMS/spec/queries/progress_reports/district_concept_reports_spec.rb
  services/QuillLMS/spec/queries/quill_big_query_spec.rb
  services/QuillLMS/spec/rails_helper.rb
Due: lms-edits

specs passing
  services/QuillLMS/app/queries/quill_big_query.rb
  services/QuillLMS/spec/queries/quill_big_query_spec.rb
Due: lms-edits

linting
  services/QuillLMS/app/queries/quill_big_query.rb
  services/QuillLMS/spec/queries/progress_reports/district_concept_reports_spec.rb
  services/QuillLMS/spec/queries/quill_big_query_spec.rb
Due: lms-edits

remove print statement
  services/QuillLMS/spec/queries/progress_reports/district_concept_reports_spec.rb
Due: none

rename rspec filter integation -> external_api
  services/QuillLMS/app/queries/progress_reports/district_concept_reports.rb
  services/QuillLMS/app/queries/quill_big_query.rb
  services/QuillLMS/app/services/quill_big_query/client_fetcher.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/config/initializers/bigquery.rb
  services/QuillLMS/spec/queries/progress_reports/district_concept_reports_spec.rb
  services/QuillLMS/spec/rails_helper.rb
  services/QuillLMS/spec/services/quill_big_query/runner_spec.rb
Due: lms-edits

Linter errors
  services/QuillLMS/app/models/school_canvas_config.rb
  services/QuillLMS/spec/models/school_canvas_config_spec.rb
Due: lms-edits

evidence/add-positive-automl-concept-results (#10443)
  services/QuillLMS/client/app/bundles/Evidence/actions/actionTypes.ts
  services/QuillLMS/client/app/bundles/Evidence/actions/activities.ts
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Evidence/libs/conceptResults.ts
  services/QuillLMS/client/app/bundles/Evidence/reducers/activitiesReducer.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/container.test.tsx
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.data.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.test.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
  services/QuillLMS/engines/evidence/temp
Due: lms-edits, lms-client-edits

linting
  services/QuillLMS/app/services/quill_big_query/client_fetcher.rb
  services/QuillLMS/app/services/quill_big_query/runner.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/spec/queries/progress_reports/district_concept_reports_spec.rb
  services/QuillLMS/spec/services/quill_big_query/runner_spec.rb
Due: lms-edits

upgrade react (#10484)
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/activityHealth.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/expandLessonQuestions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lesson.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lessons.test.jsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/__tests__/__snapshots__/lessonForm.test.jsx.snap
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumHub.test.jsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/turkSessions.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/__tests__/__snapshots__/teacher_general.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/__tests__/__snapshots__/teacher_grade_levels.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/add_teacher_info.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_sub_role.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/shared/__tests__/__snapshots__/grade_level_section.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/previouslyAssignedTooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMini.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMinisTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_clever_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_google_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/teacher_info_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/diagnostic_activity_packs.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/__snapshots__/view_as_student_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/tests/components/salesForm/__snapshots__/schoolOrDistrictFields.test.tsx.snap
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

Add CanvasInstance and restructure other models
  services/QuillLMS/app/models/canvas_config.rb
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/models/school_canvas_config.rb
  services/QuillLMS/app/models/school_canvas_instance.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/db/migrate/20230411145111_create_canvas_instances.rb
  services/QuillLMS/db/migrate/20230411145241_create_canvas_configs.rb
  services/QuillLMS/db/migrate/20230413140558_create_canvas_accounts.rb
  services/QuillLMS/db/migrate/20230414164818_create_school_canvas_configs.rb
  services/QuillLMS/db/migrate/20230414164818_create_school_canvas_instances.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_configs.rb
  services/QuillLMS/spec/factories/canvas_instances.rb
  services/QuillLMS/spec/factories/school_canvas_configs.rb
  services/QuillLMS/spec/factories/school_canvas_instances.rb
  services/QuillLMS/spec/models/canvas_account_spec.rb
  services/QuillLMS/spec/models/canvas_config_spec.rb
  services/QuillLMS/spec/models/canvas_instance_spec.rb
  services/QuillLMS/spec/models/school_canvas_config_spec.rb
  services/QuillLMS/spec/models/school_canvas_instance_spec.rb
  services/QuillLMS/spec/models/school_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Linter error
  services/QuillLMS/spec/models/canvas_instance_spec.rb
Due: none

make sure read button renders correctly in safari (#10488)
  services/QuillLMS/client/app/bundles/Teacher/styles/article-spotlight.scss
Due: lms-client-edits

teacher center mobile layout (#10491)
  services/QuillLMS/app/assets/stylesheets/pages/blog_posts.scss
  services/QuillLMS/app/assets/stylesheets/pages/blog_posts_header_section.scss
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post_index.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/topic_section.jsx
Due: lms-edits, lms-client-edits

add quill mobile logo
  packages/quill-cdn/assets/images/icons/quill-logo-mobile.svg
Due: none

add/update quill mobile logos
  packages/quill-cdn/assets/images/icons/quill-logo-mobile-green.svg
  packages/quill-cdn/assets/images/icons/quill-mobile-logo-white.svg
Due: none

split out mobile header partial
  packages/quill-cdn/assets/images/icons/quill-logo-mobile-green.svg
  packages/quill-cdn/assets/images/icons/quill-mobile-logo-white.svg
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/views/application/_header.html.erb
  services/QuillLMS/app/views/application/_mobile_sub_header.html.erb
  services/QuillLMS/app/views/pages/home_new.html.erb
  services/QuillLMS/app/views/pages/shared/_navbar.html.erb
Due: lms-edits

fix asset typo
  packages/quill-cdn/assets/images/icons/quill-logo-mobile-white.svg
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
