Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Remove spacing
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/text_classifier.rb
Due: lms-edits

Update specs
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/modelForm.test.tsx
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/automl_models.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/rules.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
Due: lms-edits, lms-client-edits

wip
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/modelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/modelAPIs.ts
  services/QuillLMS/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/app/services/evidence/blah_client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/blah_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/text_classifier.rb
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/ai_platform.rb
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/vertex_ai.rb
  services/QuillLMS/engines/evidence/config/initializers/zeitwerk.rb
  services/QuillLMS/engines/evidence/lib/evidence/automl_check.rb
  services/QuillLMS/engines/evidence/spec/lib/automl_check_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/text_classifier_spec.rb
Due: lms-edits, lms-client-edits

typos
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/activateModelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/model.tsx
Due: lms-client-edits

Fix db/schema.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
Due: lms-edits

Update label extraction
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
Due: lms-edits

Dan suggestion
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
Due: lms-edits

Update annotations
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/app/models/evidence/feedback.rb
  services/QuillLMS/engines/evidence/app/models/evidence/highlight.rb
  services/QuillLMS/engines/evidence/app/models/evidence/hint.rb
  services/QuillLMS/engines/evidence/app/models/evidence/label.rb
  services/QuillLMS/engines/evidence/app/models/evidence/passage.rb
  services/QuillLMS/engines/evidence/app/models/evidence/plagiarism_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_health.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompts_rule.rb
  services/QuillLMS/engines/evidence/app/models/evidence/regex_rule.rb
  services/QuillLMS/engines/evidence/app/models/evidence/rule.rb
  services/QuillLMS/engines/evidence/app/models/evidence/turking_round.rb
  services/QuillLMS/engines/evidence/app/models/evidence/turking_round_activity_session.rb
  services/QuillLMS/spec/factories/comprehension_turking_round_activity_sessions.rb
Due: lms-edits

update css
  services/QuillLMS/app/assets/stylesheets/pages/scorebook_page.scss
Due: lms-edits

update border color to quill-grey-15
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
Due: lms-edits

update border and box shadow
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
Due: lms-edits

Remove empty method
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
Due: lms-edits

change to recommended practice
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/summary.tsx
Due: lms-client-edits

Update copy for google login error (#11067)
  services/QuillLMS/app/controllers/auth/google_controller.rb
  services/QuillLMS/spec/controllers/auth/google_controller_spec.rb
  services/rubocop.sh
Due: lms-edits

fix filter issue and somewhat improve react-select performance
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/checkableDropdownOption.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dropdownInput.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dropdownInputWithSearchTokens.tsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

hide classroom dropdown unless fewer than 2000 options
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-client-edits

WIP diagnostic completion with scores data
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_aggregate_completed_query.rb
Due: lms-edits

Use a safe accessor to handle weird edge cases
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
Due: lms-client-edits

add and style disabled classroom dropdown
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-edits, lms-client-edits

update conditional statement
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
Due: lms-client-edits

Synthetic Data - Update OpenAI model and use it for Labeled Data (#11065)
  services/QuillLMS/client/app/bundles/Staff/components/evidence/syntheticData/labeledDataUploadForm.tsx
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/synthetic/labeled_data_generator.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
Due: lms-edits, lms-client-edits

add header for diagnostic reports overview
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/diagnostic-report.scss
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticReports/OverviewContainer.tsx
Due: lms-edits, lms-client-edits

Remove translation synthetic data method.
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/synthetic/generators/translation.rb
  services/QuillLMS/engines/evidence/lib/evidence/synthetic/labeled_data_generator.rb
  services/QuillLMS/engines/evidence/lib/evidence/synthetic/manual_types.rb
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/translation_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/manual_types_spec.rb
Due: lms-edits

Lint.
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
Due: lms-edits

Change version.
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
Due: lms-edits

Rename test.
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
Due: lms-edits

fix diagnostic report display issue by stricter filtering by class roster
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/spec/controllers/concerns/diagnostic_reports_spec.rb
Due: lms-edits

Add Vertex AI backfill rake task (#11064)
  services/QuillLMS/lib/tasks/temporary/vertex_ai_migration.rake
Due: lms-edits

Add configuration
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/ai_platform.rb
Due: lms-edits

Update gems
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/automl_models.rb
Due: lms-edits

Use new table with external_id
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/activateModelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/model.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/modelAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
Due: lms-edits, lms-client-edits

Update gems
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/ai_platform.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

Add model_external_id and endpoint_id to Evidence::AutomlModel
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/activateModelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/model.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/modelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/modelAPIs.ts
  services/QuillLMS/db/migrate/20230912150456_create_evidence_automl_models.evidence.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/db/migrate/20230913142601_create_evidence_automl_models.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/automl_models.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
Due: lms-edits, lms-client-edits

Fix assignment
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
Due: lms-edits

Fix Gemfile.lock
  services/QuillLMS/engines/evidence/Gemfile.lock
Due: lms-edits

Fix linter error
  services/QuillLMS/engines/evidence/spec/factories/evidence/automl_models.rb
Due: lms-edits
