Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Add specs that classes include translatable
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/question_spec.rb
Due: none

Add some breadcrumbs
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/activities/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
Due: lms-edits

Add Test file an infra to run against test set.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/optimal_boundary_data/gen_ai_optimal_because_50.csv
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/optimal_boundary_data_fetcher.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

Add to gen ai to staff locker (#12015)
  services/QuillLMS/client/app/bundles/Staff/components/locker/__tests__/__snapshots__/lockerIndex.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerConstants.ts
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerItems.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/activities_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/stem_vaults_controller.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/activities/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/activities/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
Due: lms-edits, lms-client-edits

add more report styling updates
  packages/quill-cdn/assets/images/icons/xs/account-green.svg
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/assets/stylesheets/shared/table/react-table.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/clickableChip.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_scores_by_classroom_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
Due: lms-edits, lms-client-edits

add two new icons
  packages/quill-cdn/assets/images/icons/2xs/proficiency-circle/partial-proficiency-green.svg
  packages/quill-cdn/assets/images/icons/xs/account.svg
Due: none

Use question mark on staff
  services/QuillLMS/app/controllers/pages_controller.rb
Due: lms-edits

Add translations to the admin interface (#12012)
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/app/views/pages/translations.html.erb
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Staff/components/locker/__tests__/__snapshots__/lockerIndex.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/helpers/locker/lockerItems.ts
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/pages_controller_spec.rb
Due: lms-edits, lms-client-edits

Make activities and questions translatable (#12011)
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/app/models/translated_text.rb
  services/QuillLMS/app/models/translation_config/activity.yml
  services/QuillLMS/app/models/translation_config/concept_feedback.yml
  services/QuillLMS/app/models/translation_config/question.yml
  services/QuillLMS/app/services/gengo/request_translations.rb
  services/QuillLMS/app/services/gengo/save_translated_text.rb
  services/QuillLMS/app/services/open_ai/translate.rb
  services/QuillLMS/app/services/open_ai/translate_and_save_text.rb
  services/QuillLMS/lib/tasks/temporary/translate.rake
  services/QuillLMS/spec/factories/gengo_jobs.rb
  services/QuillLMS/spec/factories/translated_texts.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/concept_feedback_spec.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
  services/QuillLMS/spec/models/question_spec.rb
  services/QuillLMS/spec/models/translated_text_spec.rb
  services/QuillLMS/spec/services/gengo/request_translations_spec.rb
  services/QuillLMS/spec/services/gengo/save_translated_text_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_and_save_text_spec.rb
  services/QuillLMS/spec/services/open_ai/translate_spec.rb
Due: lms-edits

add safe nav
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
Due: lms-client-edits

debug stmt
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
Due: lms-client-edits

update remaining table styling
  packages/quill-cdn/assets/images/icons/2xs/proficiency-circle/partial-proficiency-green.svg
  packages/quill-cdn/assets/images/icons/xs/account.svg
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/assets/stylesheets/shared/quill_teacher_and_admin_reports.scss
  services/QuillLMS/app/assets/stylesheets/shared/table/react-table.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/clickableChip.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/react_table.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/activities_scores_by_classroom_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_concepts_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/concepts_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/student_overview_table.jsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/studentReports.tsx
Due: lms-edits, lms-client-edits

alphabetize connect panels
  services/QuillLMS/client/app/bundles/Connect/components/concepts/concepts.jsx
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concepts-feedback.jsx
  services/QuillLMS/client/app/bundles/Connect/components/lessons/lessons.jsx
Due: lms-client-edits

diagnostic alphabetized
  services/QuillLMS/client/app/bundles/Diagnostic/components/concepts/concepts.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/fillInBlankQuestions.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/lessons.jsx
Due: lms-client-edits

second roun fixes
  services/QuillLMS/client/app/bundles/Connect/components/lessons/lessons.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/fillInBlankQuestions.jsx
Due: lms-client-edits

format dates properly
  services/QuillLMS/app/controllers/activities_controller.rb
  services/QuillLMS/app/models/activity.rb
Due: lms-edits

activity spec
  services/QuillLMS/spec/models/activity_spec.rb
Due: none

add length in months to data
  services/QuillLMS/app/models/subscription.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/spec/models/subscription_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
Due: lms-edits

add district total months
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

add district earliest start date
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_organization.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

add school earliest premium start
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
Due: lms-edits

linting
  services/QuillLMS/app/models/subscription.rb
  services/QuillLMS/spec/models/subscription_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_organization_spec.rb
Due: lms-edits

Clean up some links
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/auto_chain_of_thoughts_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/g_evals_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llms_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/prompt_template_variables_controller.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/g_evals/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompts/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llms/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/prompt_template_variables/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/prompt_template_variables/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/prompt_template_variables/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/_pagination.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
Due: lms-edits

Clean up some links (#12021)
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/auto_chain_of_thoughts_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/g_evals_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llms_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/prompt_template_variables_controller.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/g_evals/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llm_prompts/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llms/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/prompt_template_variables/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/prompt_template_variables/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/prompt_template_variables/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/_pagination.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/show.html.erb
Due: lms-edits

Add Rebekah and Nikki to team page
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Factor translation_mapping logic into the logic and out of the view (plus catch some edge cases)
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/app/views/pages/translations.html.erb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
Due: lms-edits

Fix rubocop
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
Due: lms-edits

Connect play bug2 (#12018)
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
Due: lms-client-edits

Move logic for translations admin into the model and out of the view (#12024)
  services/QuillLMS/app/models/translation_mapping.rb
  services/QuillLMS/app/views/pages/translations.html.erb
  services/QuillLMS/spec/models/translation_mapping_spec.rb
Due: lms-edits

Don’t translate OpenAI if you already have a translation of any sort.
  services/QuillLMS/app/models/concerns/translatable.rb
  services/QuillLMS/app/models/english_text.rb
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
  services/QuillLMS/spec/models/english_text_spec.rb
Due: lms-edits

Add Rebekah and Nikki to team page (#12023)
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Make translation rake task use full list of activities to translate
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

stripe mailer should filter out unpaid subscriptions
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions_worker.rb
  services/QuillLMS/spec/workers/identify_stripe_invoices_without_subscriptions_worker_spec.rb
Due: lms-edits

Rubocop fix
  services/QuillLMS/spec/models/concerns/translatable_spec.rb
Due: none

Add space per rubocop
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

refactor
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions_worker.rb
  services/QuillLMS/spec/workers/identify_stripe_invoices_without_subscriptions_worker_spec.rb
Due: lms-edits

Pass in the limit to the translate task
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

Fix syntax
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits

update sort icons
  services/QuillLMS/app/assets/stylesheets/shared/table/react-table.scss
Due: lms-edits

Nicer syntax
  services/QuillLMS/lib/tasks/temporary/translate.rake
Due: lms-edits
