Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Upgrade RailsAdmin to 3.1.2
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/config/initializers/rails_admin.rb
  services/QuillLMS/package.json
Due: lms-edits, lms-client-edits

update package-lock.json
  services/QuillLMS/package-lock.json
Due: none

Peter suggestion
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

Peter suggestion
  services/QuillLMS/client/package.json
Due: lms-client-edits

Upgrade RailsAdmin to 3.1.2 (#10812)
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/config/initializers/rails_admin.rb
Due: lms-edits

Emilia suggestions
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/select_activities_container.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/Stage2.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_minis.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/active_classrooms.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/no_classrooms_to_import_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom_student_section.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/export_csv.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/assigning_indicator.test.jsx
Due: lms-client-edits

add migration to remove index for activity_info on unit_templates
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/db/migrate/20230728183700_remove_unit_template_activity_info_index.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/unit_templates.rb
  services/QuillLMS/spec/models/unit_template_spec.rb
Due: lms-edits

add rubocop comment
  services/QuillLMS/db/migrate/20230728183700_remove_unit_template_activity_info_index.rb
Due: lms-edits

Fix import provider classrooms modal test
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_provider_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/import_provider_classrooms_modal.test.jsx
Due: lms-client-edits

Fix failing tests
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/Stage2.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/Stage2.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/__snapshots__/assign_students.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/assign_students.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
Due: lms-client-edits

Fix failing tests
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/no_classrooms_to_import_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/no_classrooms_to_import_modal.test.jsx
Due: lms-client-edits

Fix snapshots
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/classroom_student_section.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/classroom_student_section.test.jsx
Due: lms-client-edits

Fix failing specs
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/active_classrooms.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/package-lock.json
Due: lms-client-edits

Fix test failures
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/active_classrooms.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/test_data/test_data.js
Due: lms-client-edits

Fix tests
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/active_classrooms.test.tsx
Due: lms-client-edits

Fix tests
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/assign_students.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/test_data/test_data.js
Due: lms-client-edits

Extract out more into providerConfig
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classroom_students_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classrooms_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/no_classrooms_to_import_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/providerHelpers.ts
Due: lms-client-edits

Extract out some more providerConfig
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classroom_students_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classrooms_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/providerHelpers.ts
  services/QuillLMS/engines/evidence/Gemfile
Due: lms-edits, lms-client-edits

wip
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classrooms_modal.tsx
  services/QuillLMS/client/app/modules/pusherInitializer.ts
Due: lms-client-edits

Fix pusher event names
  services/QuillLMS/app/workers/google_integration/import_teacher_classrooms_students_worker.rb
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/providerHelpers.ts
  services/QuillLMS/client/app/modules/pusherInitializer.ts
Due: lms-edits, lms-client-edits

Fix reauthorization form for google
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/reauthorize_provider_modal.tsx
Due: lms-client-edits

Fix ordering of pusherInitializer
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classrooms_modal.tsx
Due: lms-client-edits

styling changes and change input to p
  services/QuillLMS/app/assets/stylesheets/pages/my_account.scss
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/teacher_general.jsx
Due: lms-edits, lms-client-edits

fix some layout issues
  services/QuillLMS/app/assets/stylesheets/pages/my_account.scss
Due: lms-edits

Update tests
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/reauthorize_provider_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/active_classrooms.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/reauthorize_provider_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
Due: lms-client-edits

Update tests
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_provider_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/import_provider_classrooms_modal.test.jsx
Due: lms-client-edits

Canvas Rostering Frontend Part 1: Add google reauthorization modal (#10732)
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/app/views/teachers/classroom_manager/assign.html.erb
  services/QuillLMS/app/views/teachers/classroom_manager/lesson_planner.html.erb
  services/QuillLMS/app/views/teachers/classrooms/index.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/create_unit.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/Stage2.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/reauthorize_google_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/reauthorize_google_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/reauthorize_google_modal.tsx
  services/QuillLMS/config/initializers/auth/google.rb
Due: lms-edits, lms-client-edits

Fix off-by-one error with subscription expiration
  services/QuillLMS/app/models/concerns/teacher.rb
  services/QuillLMS/app/models/subscription.rb
Due: lms-edits

Open up Quill Academy to all school and district premium users
  services/QuillLMS/app/helpers/quill_academy_helper.rb
  services/QuillLMS/app/views/pages/quill_academy.html.erb
  services/QuillLMS/app/views/quill_academy/_info_section.html.erb
  services/QuillLMS/spec/helpers/quill_academy_helper_spec.rb
Due: lms-edits

various adjustments and unifying pusher setup
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

add icons for segment controls and sections
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/bulb.svg
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/pencil.svg
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/school.svg
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/star.svg
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/students.svg
  packages/quill-cdn/assets/images/pages/administrator/usage_snapshot_report/teacher.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

update tests
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotRanking.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
Due: lms-client-edits
