Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

sortable list editable catch added (#11705)
  services/QuillLMS/client/app/bundles/Shared/components/shared/sortableList.tsx
Due: lms-client-edits

change to component rather than function
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/question.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/finalAttemptFeedback.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
Due: lms-client-edits

add final attempt snapshot
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/__tests__/__snapshots__/finalAttemptFeedback.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/__tests__/finalAttemptFeedback.test.tsx
Due: lms-client-edits

clean up tests
  services/QuillLMS/spec/models/concerns/evidence_reports_spec.rb
Due: none

fix lint errors
  services/QuillLMS/spec/models/concerns/evidence_reports_spec.rb
Due: none

ignore dist file and remove console logs
  .gitignore
  lambdas/rematching/index.js
Due: none

serialize json instead of using array agg
  services/QuillLMS/client/app/modules/BigQueryUDFs.js
  services/QuillLMS/client/app/modules/BigQueryUDFs.test.js
Due: lms-client-edits

add pre diagnostic activity id to UDF
  services/QuillLMS/client/app/modules/BigQueryUDFs.js
Due: lms-client-edits

add correct recommendedActivities lookup; dedupe interDiagnosticActivities
  services/QuillLMS/client/app/modules/BigQueryUDFs.js
Due: lms-client-edits

latest diagnostic to skill group associations
  services/QuillLMS/client/app/modules/BigQueryUDFs.js
Due: lms-client-edits

remove obsolete tierUDF
  services/QuillLMS/client/app/modules/BigQueryUDFs.js
  services/QuillLMS/client/app/modules/BigQueryUDFs.test.js
Due: lms-client-edits

add skill specific tiers to payload; specs passing
  services/QuillLMS/client/app/modules/BigQueryUDFs.js
  services/QuillLMS/client/app/modules/BigQueryUDFs.test.js
Due: lms-client-edits

break out concept result scores
  services/QuillLMS/client/app/modules/BigQueryUDFs.js
  services/QuillLMS/client/app/modules/BigQueryUDFs.test.js
Due: lms-client-edits

remove old specs
  services/QuillLMS/client/app/modules/BigQueryUDFs.test.js
Due: lms-client-edits

updates to research diagnostic query (#11651)
  services/QuillLMS/client/app/modules/BigQueryUDFs.js
  services/QuillLMS/client/app/modules/BigQueryUDFs.test.js
Due: lms-client-edits

linting
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/question.tsx
Due: lms-client-edits

Connect with metrics endpoint
  services/QuillLMS/engines/evidence/app/assets/stylesheets/evidence/research/gen_ai/application.css
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/experiments_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/identical_results_accuracy_calculator.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/optimal_and_sub_optimal_results_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/results_fetcher.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/show.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_experiment_worker.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/identical_results_accuracy_calculator_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/optimal_and_sub_optimal_results_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/results_fetcher_spec.rb
Due: lms-edits

Compute Eval metrics
  services/QuillLMS/Procfile
  services/QuillLMS/Procfile.dev
  services/QuillLMS/config/sidekiq_experiment.yml
  services/QuillLMS/config/sidekiq_gen_ai_eval.yml
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/experiments_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/show.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_experiment_worker.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/concerns/api.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/experiment_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_feedback_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_template_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/passage_prompt_response_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/passage_prompt_spec.rb
Due: lms-edits

Update experiment_controller spec
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/experiments_controller_spec.rb
Due: lms-edits

Add num_results to experiment and fix some specs
  services/QuillLMS/db/migrate/20240407173007_add_num_examples_to_evidence_research_gen_ai_experiment.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/experiments_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/index.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_experiment_worker.rb
  services/QuillLMS/engines/evidence/db/migrate/20240407172612_add_num_examples_to_evidence_research_gen_ai_experiment.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/experiments.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/experiment_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/calculate_results_worker_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/run_experiment_worker_spec.rb
Due: lms-edits

Update has_many with dependent: :destroy
  services/QuillLMS/app/models/concept.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/spec/models/concept_spec.rb
  services/QuillLMS/spec/models/question_spec.rb
Due: lms-edits

Rails Admin - fix slow pages.
  services/QuillLMS/app/models/change_log.rb
  services/QuillLMS/app/models/concerns/student.rb
  services/QuillLMS/app/models/locker.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/config/initializers/rails_admin.rb
Due: lms-edits

Fix spec failure
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/concerns/api.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/completion_spec.rb
Due: lms-edits

Compute Gen AI Experiment metrics (#11730)
  services/QuillLMS/Procfile
  services/QuillLMS/Procfile.dev
  services/QuillLMS/config/sidekiq_experiment.yml
  services/QuillLMS/config/sidekiq_gen_ai_eval.yml
  services/QuillLMS/db/migrate/20240407173007_add_num_examples_to_evidence_research_gen_ai_experiment.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/assets/stylesheets/evidence/research/gen_ai/application.css
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/experiments_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm_prompt.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/identical_results_accuracy_calculator.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/optimal_and_sub_optimal_results_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/results_fetcher.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/index.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/new.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/show.html.erb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/calculate_results_worker.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/research/gen_ai/run_experiment_worker.rb
  services/QuillLMS/engines/evidence/db/migrate/20240407172612_add_num_examples_to_evidence_research_gen_ai_experiment.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/concerns/api.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/experiments_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/experiments.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/experiment_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_feedback_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_prompt_template_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/passage_prompt_response_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/passage_prompt_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/identical_results_accuracy_calculator_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/optimal_and_sub_optimal_results_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/results_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/calculate_results_worker_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/run_experiment_worker_spec.rb
Due: lms-edits

Show custom Max Attempts Feedback for Connect fill in blank questions (#11704)
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/question.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/__tests__/__snapshots__/finalAttemptFeedback.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/__tests__/finalAttemptFeedback.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/finalAttemptFeedback.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
Due: lms-client-edits

index actioncalls redis cache instead of cached endpoint
  services/QuillLMS/app/controllers/api/v1/concepts_controller.rb
  services/QuillLMS/spec/controllers/api/v1/concepts_controller_spec.rb
Due: lms-edits

delete redis cache when concept created
  services/QuillLMS/app/controllers/api/v1/concepts_controller.rb
  services/QuillLMS/spec/controllers/api/v1/concepts_controller_spec.rb
Due: lms-edits

add deletion callback to graphql
  services/QuillLMS/app/controllers/api/v1/concepts_controller.rb
  services/QuillLMS/app/graphql/mutations/concepts/create.rb
  services/QuillLMS/app/models/concept.rb
  services/QuillLMS/spec/controllers/api/v1/concepts_controller_spec.rb
Due: lms-edits

front end alerts for saved feedback
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/client/app/bundles/Connect/actions/concepts-feedback.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/conceptsFeedback.ts
Due: lms-edits, lms-client-edits

redis caching behavior when creating and updating concept feedbacks
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/app/models/concept_feedback.rb
  services/QuillLMS/spec/controllers/api/v1/concept_feedback_controller_spec.rb
Due: lms-edits

linting
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/app/controllers/api/v1/concepts_controller.rb
Due: lms-edits

test fix
  services/QuillLMS/app/controllers/api/v1/concepts_controller.rb
Due: lms-edits

edit and update concepts added
  services/QuillLMS/app/graphql/mutations/concepts/edit.rb
  services/QuillLMS/app/graphql/mutations/concepts/replace.rb
  services/QuillLMS/app/models/concept.rb
Due: lms-edits

remove extra space
  services/QuillLMS/spec/models/concerns/evidence_reports_spec.rb
Due: none

for real this time
  services/QuillLMS/spec/models/concerns/evidence_reports_spec.rb
Due: none

hardcode activity analysis feedback (#11709)
  services/QuillLMS/app/models/concerns/evidence_reports.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/app/models/question.rb
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/feedback.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.tsx
  services/QuillLMS/client/app/constants/evidence.ts
  services/QuillLMS/spec/models/concerns/evidence_reports_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits, lms-client-edits

fix function and add tests
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/spec/models/feedback_history_spec.rb
Due: lms-edits

Allow some of the larger tables to be visible.
  services/QuillLMS/config/initializers/rails_admin.rb
Due: lms-edits

Lint catch.
  services/QuillLMS/config/initializers/rails_admin.rb
Due: lms-edits
