Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Fix bug with admin role on clever import (#10279)
  services/QuillLMS/app/services/clever_integration/creators/teacher.rb
  services/QuillLMS/spec/services/clever_integration/creators/teacher_spec.rb
Due: lms-edits

Synthetic Seed Data - Allow Label Examples to be run on their own. (#10273)
  services/QuillLMS/client/app/bundles/Staff/components/evidence/syntheticData/seedDataForm.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/evidence_manager/seed_data.scss
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/activityAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
  services/QuillLMS/engines/evidence/app/workers/evidence/activity_seed_data_worker.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/activities_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
  services/QuillLMS/engines/evidence/spec/workers/evidence/activity_seed_data_worker_spec.rb
  services/QuillLMS/spec/models/user_activity_classification_spec.rb
Due: lms-edits, lms-client-edits

fix lazy load
  services/QuillLMS/app/assets/javascripts/tools.js
  services/QuillLMS/app/views/evidence/_home_section.html.erb
  services/QuillLMS/app/views/pages/connect_tool.erb
  services/QuillLMS/app/views/pages/diagnostic_tool.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/grammar_tool.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
  services/QuillLMS/app/views/pages/proofreader_tool.erb
Due: lms-edits

email verification in user manager (#10277)
  services/QuillLMS/app/controllers/cms/users_controller.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/models/user_email_verification.rb
  services/QuillLMS/app/views/cms/users/_form.html.erb
  services/QuillLMS/app/views/cms/users/show.html.erb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

segment and vitally updates for admin users
  services/QuillLMS/app/models/segment_integration/user.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/app/workers/user_login_worker.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: lms-edits

Fix bug with admin_id key
  services/QuillLMS/app/models/google_integration/teacher_classrooms_data.rb
  services/QuillLMS/app/services/google_integration/teacher_classroom_data_adapter.rb
  services/QuillLMS/spec/services/google_integration/teacher_classroom_data_adapter_spec.rb
Due: lms-edits

Fix bug with admin_id key (#10282)
  services/QuillLMS/app/models/google_integration/teacher_classrooms_data.rb
  services/QuillLMS/app/services/google_integration/teacher_classroom_data_adapter.rb
  services/QuillLMS/spec/services/google_integration/teacher_classroom_data_adapter_spec.rb
Due: lms-edits

fix tests and linter
  services/QuillLMS/app/workers/user_login_worker.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
Due: lms-edits

Update Procfile so that Sidekiq workers increase databse pool size
  services/QuillLMS/Procfile
Due: none

Update Procfile so that Sidekiq workers increase databse pool size (#10285)
  services/QuillLMS/Procfile
Due: none

suggestions incorporated
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/app/controllers/activities_controller.rb
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/topic.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/spec/models/topic_spec.rb
Due: lms-edits, lms-client-edits

linting
  services/QuillLMS/app/models/topic.rb
Due: lms-edits

jest test snapshot update
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/assign_a_new_activity.test.jsx.snap
Due: lms-client-edits

Display list of Evidence Activities on Assign Activities page (#10274)
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/app/controllers/activities_controller.rb
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/models/topic.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/assign_a_new_activity.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/engines/evidence/app/models/evidence/activity.rb
  services/QuillLMS/spec/controllers/activities_controller_spec.rb
  services/QuillLMS/spec/models/activity_spec.rb
  services/QuillLMS/spec/models/topic_spec.rb
Due: lms-edits, lms-client-edits

fix the shifting left 32px when table scrolls
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_recommendations.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendationsTable.tsx
Due: lms-edits, lms-client-edits

initial changes
  services/QuillLMS/app/controllers/sales_form_submission_controller.rb
  services/QuillLMS/app/services/sales_stage_types_factory.rb
  services/QuillLMS/app/views/pages/request_district_quote.html.erb
  services/QuillLMS/app/views/pages/request_school_quote.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/premium/__tests__/__snapshots__/school_and_district_premium_modal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_and_district_premium_modal.tsx
  services/QuillLMS/config/initializers/secure_headers.rb
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

fix broken test
  services/QuillLMS/spec/controllers/sales_form_submission_controller_spec.rb
Due: none

styling
  services/QuillLMS/app/assets/stylesheets/pages/request_quote.scss
  services/QuillLMS/app/views/pages/request_district_quote.html.erb
  services/QuillLMS/app/views/pages/request_school_quote.html.erb
Due: lms-edits

rename school dashboard to admin dashboard
  services/QuillLMS/app/views/admin_dashboard_user_mailer/admin_account_created_email.html.erb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/made_school_admin_change_school_email.html.erb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/made_school_admin_email.html.erb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/made_school_admin_link_school_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/admin_account_created_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/district_admin_account_created_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_district_admin_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_school_admin_change_school_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_school_admin_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_school_admin_link_school_email.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/app/views/user_mailer/new_admin_email.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_premium.jsx
Due: lms-edits, lms-client-edits

get restrictions on admin dashboard working
  packages/quill-cdn/assets/images/pages/administrator/premium_lock.svg
  services/QuillLMS/app/assets/stylesheets/pages/admin_dashboard/admin-dashboard.scss
  services/QuillLMS/app/controllers/admins_controller.rb
  services/QuillLMS/app/serializers/user_admin_serializer.rb
  services/QuillLMS/client/app/bundles/admin_dashboard/components/adminsTeachers.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/createNewAccounts.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/premiumFeatures.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboard.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/shared.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/admins_controller_spec.rb
Due: lms-edits, lms-client-edits

get banner display working correctly
  services/QuillLMS/app/assets/stylesheets/pages/admin_dashboard/admin-dashboard.scss
  services/QuillLMS/app/controllers/admins_controller.rb
  services/QuillLMS/app/controllers/api/v1/progress_reports_controller.rb
  services/QuillLMS/app/models/schools_admins.rb
  services/QuillLMS/app/workers/find_admin_users_worker.rb
  services/QuillLMS/app/workers/find_district_activity_scores_worker.rb
  services/QuillLMS/app/workers/find_district_concept_reports_worker.rb
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/DistrictActivityScores.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/DistrictConceptReports.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/DistrictStandardsReports.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/SchoolSubscriptionsContainer.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/shared.tsx
Due: lms-edits, lms-client-edits

responsive css
  services/QuillLMS/app/assets/stylesheets/pages/request_quote.scss
Due: lms-edits

Embed Salesmate sales forms inside Quill (#10288)
  services/QuillLMS/app/assets/stylesheets/pages/request_quote.scss
  services/QuillLMS/app/controllers/sales_form_submission_controller.rb
  services/QuillLMS/app/services/sales_stage_types_factory.rb
  services/QuillLMS/app/views/pages/request_district_quote.html.erb
  services/QuillLMS/app/views/pages/request_school_quote.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/premium/__tests__/__snapshots__/school_and_district_premium_modal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_and_district_premium_modal.tsx
  services/QuillLMS/config/initializers/secure_headers.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/sales_form_submission_controller_spec.rb
Due: lms-edits, lms-client-edits

Remove no-longer-accurate copy at the request of Product
  services/QuillLMS/client/app/bundles/Teacher/containers/EditOrCreateSubscription.jsx
Due: lms-client-edits

tests
  services/QuillLMS/app/models/schools_admins.rb
  services/QuillLMS/client/app/bundles/Teacher/containers/AdminDashboardContainer.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/AdminDashboardRouter.jsx.unused
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/AdminDashboard.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/premiumFeatures.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboard.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/AdminDashboard.test.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/DistrictActivityScores.test.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/DistrictConceptReports.test.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/DistrictStandardsReports.test.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/AdminDashboard.test.jsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/DistrictActivityScores.test.jsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/DistrictConceptReports.test.jsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/DistrictStandardsReports.test.jsx.snap
  services/QuillLMS/spec/models/schools_admin_spec.rb
Due: lms-edits, lms-client-edits

Lms/pull stripe invoices (#10213)
  services/QuillLMS/app/controllers/cms/subscriptions_controller.rb
  services/QuillLMS/app/models/district.rb
  services/QuillLMS/app/models/subscription.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_account.rb
  services/QuillLMS/client/app/bundles/Teacher/containers/EditOrCreateSubscription.jsx
  services/QuillLMS/db/migrate/20230111214530_add_purchase_order_number_to_subscription.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/controllers/cms/subscription_controller_spec.rb
  services/QuillLMS/spec/factories/subscriptions.rb
  services/QuillLMS/spec/models/district_spec.rb
  services/QuillLMS/spec/models/subscription_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_account_spec.rb
Due: lms-edits, lms-client-edits

refer to constant correctly
  services/QuillLMS/spec/models/schools_admin_spec.rb
Due: none

rename school dashboard to admin dashboard (#10289)
  services/QuillLMS/app/views/admin_dashboard_user_mailer/admin_account_created_email.html.erb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/made_school_admin_change_school_email.html.erb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/made_school_admin_email.html.erb
  services/QuillLMS/app/views/admin_dashboard_user_mailer/made_school_admin_link_school_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/admin_account_created_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/district_admin_account_created_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_district_admin_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_school_admin_change_school_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_school_admin_email.html.erb
  services/QuillLMS/app/views/internal_tool_user_mailer/made_school_admin_link_school_email.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/app/views/user_mailer/new_admin_email.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_premium.jsx
Due: lms-edits, lms-client-edits

fix spec
  services/QuillLMS/app/models/schools_admins.rb
  services/QuillLMS/spec/models/schools_admin_spec.rb
Due: lms-edits

fix bug with role and my account link
  services/QuillLMS/app/models/concerns/teacher.rb
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
Due: lms-edits, lms-client-edits

fix no school selected bug
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
Due: lms-client-edits

Increase max work_mem for expensive query
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/config/initializers/pg_work_mem.rb
Due: lms-edits

Fix initializer
  services/QuillLMS/config/initializers/pg_work_mem.rb
Due: lms-edits

Fix string interpolation
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/config/initializers/pg_work_mem.rb
Due: lms-edits

Try tweaking started_count subquery to use a SUM(CASE ...) rollup
  services/QuillLMS/app/controllers/teachers/units_controller.rb
Due: lms-edits

Update query to produce the same values as the subquery version
  services/QuillLMS/app/controllers/teachers/units_controller.rb
Due: lms-edits

fix scroll over to the left issue
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_recommendations.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
Due: lms-edits

style changes
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/app/views/application/_sub_header.html.erb
Due: lms-edits

define constant
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
Due: lms-client-edits

fix bug with redis setter
  services/QuillLMS/app/controllers/api/v1/progress_reports_controller.rb
  services/QuillLMS/app/workers/find_district_concept_reports_worker.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
