Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Add some logging
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Add more logging
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

More logging
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Even more logging
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Pass retryTimeout through to getData
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

More logging, trying to figure out encapsulation
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Allow for set calls on useState values to be async
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Hopefully final update with working clearTimeout
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Still trying to figure out clearTimeout
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Still chasing down timing issue
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Remove final logging
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Style changes for shifted bigger element on progress page
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_growth_results_summary.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/tooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
Due: lms-edits, lms-client-edits

Reverse tooltip changes
  services/QuillLMS/client/app/bundles/Shared/components/shared/tooltip.tsx
Due: lms-client-edits

particularize style changes to only affect the cards in post diagnstic
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_growth_results_summary.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
Due: lms-edits, lms-client-edits

add card class
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
Due: lms-client-edits

Remember to update Rankings to retry with the same logic
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-client-edits

Test hash comparison for Pusher payloads
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-edits, lms-client-edits

Don't change package.json for md5
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

Install md5 npm package in root
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

wip - things are good but need to figure out how to cutoff tooltip
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/app/services/google_integration/classroom_data_adapter.rb
  services/QuillLMS/app/services/google_integration/rest_client.rb
  services/QuillLMS/app/services/google_integration/teacher_course_data_validator.rb
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/no_classrooms_to_import_modal.tsx
Due: lms-edits, lms-client-edits

Create a Sidekiq worker to send Pusher messages
  services/QuillLMS/app/workers/send_pusher_message_worker.rb
  services/QuillLMS/spec/workers/send_pusher_message_worker_spec.rb
Due: lms-edits

Refactor Admin Snapshot workers to use Pusher Sidekiq worker
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_premium_reports_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Refactor classroom import workers to use Pusher Sidekiq job
  services/QuillLMS/app/workers/canvas_integration/import_teacher_classrooms_students_worker.rb
  services/QuillLMS/app/workers/clever_integration/import_teacher_classrooms_students_worker.rb
  services/QuillLMS/app/workers/google_integration/import_teacher_classrooms_students_worker.rb
Due: lms-edits

Try npm install with npm@8.5.5
  services/QuillLMS/package-lock.json
Due: none

everything looks good
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/tooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/no_classrooms_to_import_modal.tsx
Due: lms-edits, lms-client-edits

Add a utility to report errors when blocks take too long to execute
  services/QuillLMS/app/lib/error_notifier.rb
  services/QuillLMS/spec/lib/error_notifier_spec.rb
Due: lms-edits

Configure error notification of slow queries in SnapshotCount jobs
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits

Add too-long reporting to TopX workers
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Just return results directly
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
Due: lms-edits

Fix linting
  services/QuillLMS/app/lib/error_notifier.rb
  services/QuillLMS/spec/lib/error_notifier_spec.rb
Due: lms-edits

Fix linting error
  services/QuillLMS/app/workers/send_pusher_message_worker.rb
Due: lms-edits

add tabs, dropdown and table
  packages/quill-cdn/assets/images/icons/group-students-icon.svg
  packages/quill-cdn/assets/images/icons/white-bar-chart-icon.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/diagnostic-report.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewTable.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticReports/OverviewContainer.tsx
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
Due: lms-edits, lms-client-edits

html and css changed
  services/QuillLMS/app/assets/stylesheets/pages/empty_progress_report.scss
  services/QuillLMS/client/app/bundles/Teacher/components/shared/EmptyProgressReport.jsx
Due: lms-edits, lms-client-edits

update gemfile and ruby versions
  services/QuillCMS/.ruby-version
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
Due: cms-edits

update circleCI version
  .circleci/config.yml
Due: none

update fill in the blanks concept results file to use shared function
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/fillInTheBlanks.js
Due: lms-client-edits

replace diagnostic-grey icon
  packages/quill-cdn/assets/images/pages/activity_summary/diagnostic-grey.svg
Due: none

update fill in the blanks concept results file to use shared function (#11109)
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/fillInTheBlanks.js
Due: lms-client-edits

replace diagnostic-grey icon (#11110)
  packages/quill-cdn/assets/images/pages/activity_summary/diagnostic-grey.svg
Due: none

switch around variables
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/no_classrooms_to_import_modal.tsx
Due: lms-client-edits
