Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

adding ErrorNotifier, refactoring
  services/QuillLMS/app/controllers/cms/schools_controller.rb
  services/QuillLMS/app/models/application_record.rb
  services/QuillLMS/spec/models/application_record_spec.rb
Due: lms-edits

WIP with new testing library test file
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/PremiumFilterableReportsContainer.test.tsx
  services/QuillLMS/client/package-lock.json
Due: lms-client-edits

tests
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasIntegrationForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/CanvasIntegrationForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/CanvasIntegrationForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/canvasIntegrationForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/canvasIntegrationInstance.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/canvasIntegrationModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/canvasIntegrationForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/canvasIntegrationInstance.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/canvasIntegrationModal.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/data.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/canvasIntegrationForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/canvasIntegrationInstance.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/canvasIntegrationModal.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/schoolSelector.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/shared.ts
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/login_form.test.tsx
Due: lms-client-edits

finish tests
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/integrations.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/canvasIntegrationModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/schoolSelector.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/canvasIntegrationModal.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/container.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/schoolSelector.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/shared.ts
Due: lms-edits, lms-client-edits

fix rubocop issue
  services/QuillLMS/spec/requests/canvas_instances_controller_spec.rb
Due: none

add proper relationship between canvas instance and provider classroom
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/app/models/provider_classroom.rb
Due: lms-edits

Fix linter error
  services/QuillLMS/spec/factories/activities.rb
  services/QuillLMS/spec/factories/activity_sessions.rb
  services/QuillLMS/spec/factories/auth_credentials.rb
  services/QuillLMS/spec/factories/classrooms.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_courses.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_list_courses_response.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_list_students_responses.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_names.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_students.rb
  services/QuillLMS/spec/factories/google_integration/google_classroom_api_user_profiles.rb
  services/QuillLMS/spec/factories/omniauth_auth_hashes.rb
  services/QuillLMS/spec/factories/provider_classroom_users.rb
  services/QuillLMS/spec/factories/provider_classrooms.rb
  services/QuillLMS/spec/factories/schools.rb
  services/QuillLMS/spec/factories/teacher_notifications.rb
  services/QuillLMS/spec/factories/unit_templates.rb
  services/QuillLMS/spec/factories/units.rb
  services/QuillLMS/spec/factories/users.rb
Due: none

add tests
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/DataExportContainer.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/PremiumFilterableReportsContainer.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/UsageSnapshotsContainer.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/DataExportContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumFilterableReportsContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/UsageSnapshotsContainer.test.tsx.snap
Due: lms-client-edits

small tweaks
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-edits, lms-client-edits

update lock file
  services/QuillLMS/client/package-lock.json
Due: lms-client-edits

update lock file again
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

reconcile package.json
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

update lock file again
  services/QuillLMS/client/package-lock.json
Due: lms-client-edits

remove LJ from team page (#11046)
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

surface better errors for staff school creation (#11042)
  services/QuillLMS/app/controllers/cms/schools_controller.rb
  services/QuillLMS/app/models/application_record.rb
  services/QuillLMS/spec/controllers/cms/schools_controller_spec.rb
  services/QuillLMS/spec/models/application_record_spec.rb
Due: lms-edits

remove assigned recommendations for quill_staff_demo demo account
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

revert package-lock.json
  services/QuillLMS/client/package-lock.json
Due: lms-client-edits

update footer helper method
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
  services/QuillLMS/spec/helpers/footer_helper_spec.rb
Due: lms-edits

add missing import
  services/QuillLMS/client/app/bundles/Teacher/containers/UnitTemplates/index.tsx
Due: lms-client-edits

fix linter error
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/DataExportContainer.test.tsx.snap
  services/QuillLMS/spec/helpers/footer_helper_spec.rb
Due: lms-client-edits

add missing import (#11054)
  services/QuillLMS/client/app/bundles/Teacher/containers/UnitTemplates/index.tsx
Due: lms-client-edits

working
  services/QuillLMS/app/assets/stylesheets/pages/contact.scss
  services/QuillLMS/app/views/pages/contact.html.erb
Due: lms-edits

canvas integration page frontend redo (#11049)
  packages/quill-cdn/assets/images/pages/administrator/integrations/school.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/integrations.scss
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/app/models/provider_classroom.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasIntegrationForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/CanvasIntegrationForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/CanvasIntegrationForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/canvasIntegrationForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/canvasIntegrationInstance.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/canvasIntegrationModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/schoolSelector.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/canvasIntegrationForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/canvasIntegrationInstance.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/canvasIntegrationModal.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/container.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/data.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/schoolSelector.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/canvasIntegrationForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/canvasIntegrationInstance.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/canvasIntegrationModal.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/schoolSelector.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/login/__tests__/login_form.test.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/requests/canvas_instances_controller_spec.rb
Due: lms-edits, lms-client-edits

remove assigned recommendations for quill_staff_demo demo account (#11053)
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

make updates
  services/QuillLMS/app/assets/stylesheets/pages/scorebook_page.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/activity_feed.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/activity_feed.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/tooltipCopyForScoreDescriptions.ts
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/score_legend.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/score_legend.jsx
Due: lms-edits, lms-client-edits

Jack's padding tweaks
  services/QuillLMS/app/assets/stylesheets/pages/contact.scss
  services/QuillLMS/app/views/pages/contact.html.erb
Due: lms-edits

Deduplicate logic shared in Premium Admin pages (#11051)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/DataExportContainer.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/PremiumFilterableReportsContainer.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/UsageSnapshotsContainer.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/DataExportContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumFilterableReportsContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/UsageSnapshotsContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
  services/QuillLMS/spec/helpers/footer_helper_spec.rb
Due: lms-edits, lms-client-edits

add data table aggregate row icons
  packages/quill-cdn/assets/images/icons/data_table/aggregate-row-arrow.svg
  packages/quill-cdn/assets/images/icons/data_table/toggle-arrow-closed.svg
  packages/quill-cdn/assets/images/icons/data_table/toggle-arrow-expanded.svg
Due: none

adding horizontal bar for mobile
  services/QuillLMS/app/assets/stylesheets/pages/contact.scss
  services/QuillLMS/app/views/pages/contact.html.erb
Due: lms-edits

EF feedback
  services/QuillLMS/app/assets/stylesheets/pages/contact.scss
Due: lms-edits

add icons; remove test data
  packages/quill-cdn/assets/images/icons/data_table/aggregate-row-arrow.svg
  packages/quill-cdn/assets/images/icons/data_table/toggle-arrow-closed.svg
  packages/quill-cdn/assets/images/icons/data_table/toggle-arrow-expanded.svg
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/data_table.scss
Due: lms-client-edits

contact page updates (#11055)
  services/QuillLMS/app/assets/stylesheets/pages/contact.scss
  services/QuillLMS/app/views/pages/contact.html.erb
Due: lms-edits

fix
  services/QuillLMS/client/app/bundles/Teacher/components/modules/tooltipCopyForScoreDescriptions.ts
Due: lms-client-edits

fix test
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/score_legend.test.jsx.snap
Due: lms-client-edits

wip
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
Due: lms-edits, lms-client-edits

update assignment constants
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
Due: lms-client-edits

update test
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/assign_a_diagnostic.test.tsx.snap
Due: lms-client-edits

add tests
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/dataTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/dataTable.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
Due: lms-client-edits

add example to Backpack
  services/QuillLMS/client/app/bundles/Shared/components/shared/dataTable.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/dataTables.tsx
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
