Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

take out max width
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_recommendations.scss
Due: lms-edits

update snapshot
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/AdminDashboard.test.jsx.snap
Due: lms-client-edits

add demo banner to public bundle
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Public/startup/demoAccountBannerApp.tsx
Due: lms-client-edits

small updates and tests
  services/QuillLMS/app/assets/stylesheets/pages/admin_dashboard/admin-dashboard.scss
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/adminsTeachers.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/adminsTeachers.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/AdminDashboard.test.jsx.snap
Due: lms-edits, lms-client-edits

Admin Improvements/ update column widths for standards report (#10347)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/client/app/bundles/Shared/components/reactTable/reactTable.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/standardsReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/standardsReportsTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/standardsReports.test.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/standardsReportsTable.test.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReports.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReportsTable.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/DistrictStandardsReports.jsx
Due: lms-edits, lms-client-edits

add demo banner to public bundle (#10352)
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Public/startup/demoAccountBannerApp.tsx
Due: lms-client-edits

Disable skip-for-now in stripe school subscription flow
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_and_district_premium_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/school_selector.jsx
Due: lms-client-edits

new grammar rules
  services/QuillLMS/engines/evidence/lib/evidence/evidence/grammar/feedback_assembler.rb
Due: lms-edits

new grammar rules (#10355)
  services/QuillLMS/engines/evidence/lib/evidence/evidence/grammar/feedback_assembler.rb
Due: lms-edits

add tests; fix premium tab responsiveness
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/spec/controllers/api/v1/progress_reports_controller_spec.rb
  services/QuillLMS/spec/models/schools_admin_spec.rb
Due: lms-edits

fix lint errors
  services/QuillLMS/app/controllers/api/v1/progress_reports_controller.rb
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
Due: lms-edits

remove comments
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
Due: lms-edits

Add all admin report caching to the overnight admin pre cache job
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: lms-edits

Update reports with a note about cache timing
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/client/app/bundles/admin_dashboard/components/activity_scores.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/concept_reports.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReports.tsx
Due: lms-edits, lms-client-edits

Update snapshot
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/standardsReports.test.tsx.snap
Due: lms-client-edits

Lms/cache admin reports (#10359)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/standardsReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/activity_scores.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/concept_reports.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReports.tsx
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: lms-edits, lms-client-edits

Emilia suggestions
  services/QuillLMS/client/app/bundles/Teacher/components/shared/school_selector.jsx
Due: lms-client-edits

Disable skip-for-now in stripe school subscription flow (#10354)
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_and_district_premium_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/school_selector.jsx
Due: lms-client-edits

move memory_profiler to test, development
  services/QuillLMS/Gemfile
Due: lms-edits

Add MemoryProfilerReport{Comparator}
  services/QuillLMS/app/lib/memory_profiler_report.rb
  services/QuillLMS/app/lib/memory_profiler_report_comparator.rb
  services/QuillLMS/spec/lib/memory_profiler_report_comparator_spec.rb
  services/QuillLMS/spec/lib/memory_profiler_report_spec.rb
Due: lms-edits

do not allow user to unassign all students from pack
  services/QuillLMS/client/app/bundles/Teacher/containers/ClassroomsWithStudentsContainer.jsx
Due: lms-client-edits

Add a uniq call to prevent duplicates
  services/QuillLMS/app/models/unit.rb
Due: lms-edits

Add a uniq call to prevent duplicates (#10364)
  services/QuillLMS/app/models/unit.rb
Due: lms-edits

Revert "Lms/cache admin reports (#10359)"
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/standardsReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/activity_scores.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/concept_reports.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReports.tsx
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: lms-edits, lms-client-edits

Turn off a couple background jobs
  services/QuillLMS/app/workers/find_district_concept_reports_worker.rb
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
Due: lms-edits

Turn off a couple background jobs (#10367)
  services/QuillLMS/app/workers/find_district_concept_reports_worker.rb
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
Due: lms-edits

Protect against duplicate jobs in pre_cache job.
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: lms-edits

style modifications from emilia
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_recommendations.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendations.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/recommendationsTable.tsx
Due: lms-edits, lms-client-edits

update snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/recommendationsTable.test.jsx.snap
Due: lms-client-edits

Add some memory profiling helper classes (#10362)
  services/QuillLMS/Gemfile
  services/QuillLMS/app/lib/memory_profiler_report.rb
  services/QuillLMS/app/lib/memory_profiler_report_comparator.rb
  services/QuillLMS/spec/lib/memory_profiler_report_comparator_spec.rb
  services/QuillLMS/spec/lib/memory_profiler_report_spec.rb
Due: lms-edits

Add specific time to spec to get rid of non-deterministic effects
  services/QuillLMS/spec/models/feedback_history_spec.rb
Due: none

Fix updated_at comparison
  services/QuillLMS/spec/models/feedback_history_spec.rb
Due: none

Fix bug with @histories used instead of histories_for_scoring
  services/QuillLMS/spec/models/feedback_history_spec.rb
Due: none

Fix some intermittent spec failures with feedback_history_spec.rb (#10372)
  services/QuillLMS/spec/models/feedback_history_spec.rb
Due: none

revisions
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/views/pages/shared/_footer.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/shared/articleSpotlight.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/preview_card.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/dashboard.tsx
  services/QuillLMS/client/app/bundles/Teacher/styles/article-spotlight.scss
  services/QuillLMS/spec/controllers/blog_posts_controller_spec.rb
Due: lms-edits, lms-client-edits

remove unnecessary TEACHER import
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_email.tsx
Due: lms-client-edits

fix hover and focus styling
  services/QuillLMS/app/assets/stylesheets/pages/blog_posts.scss
Due: lms-edits

fix lint error; update snapshot'
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post_index.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/shared/articleSpotlight.tsx
Due: lms-client-edits

Protect against duplicate jobs in pre_cache job. (#10369)
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: lms-edits

initla changes
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_premium.jsx
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
