Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix logic with google link-to account
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/link_provider_account_modal.tsx
Due: lms-client-edits

Fix logic with google link-to account (#11197)
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/link_provider_account_modal.tsx
Due: lms-client-edits

WIP begin setting up basic tests for admin diagnostic queries
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_recommendations_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_completed_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_aggregate_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_completed_query_spec.rb
Due: lms-edits

try a different way to get rules by api
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/ruleViewForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/ruleHelpers.tsx
  services/QuillLMS/engines/evidence/app/controllers/evidence/activities_controller.rb
Due: lms-edits, lms-client-edits

use pngs instead
  packages/quill-cdn/assets/images/shared/indeterminate_spinner_dark@2x.png
  packages/quill-cdn/assets/images/shared/indeterminate_spinner_light@2x.png
  services/QuillLMS/client/app/bundles/Shared/components/shared/buttonLoadingSpinner.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/spinner.scss
Due: lms-client-edits

tweak table CSS
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-edits, lms-client-edits

fix headers extending past table
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
Due: lms-edits

images and start updating routing
  packages/quill-cdn/assets/images/pages/administrator/integrations/canvas.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/circle-check.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/clever.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/google.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/lightbulb.svg
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
Due: lms-client-edits

usage snapshot UI fixes (#11194)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotCount.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumFilterableReportsContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/UsageSnapshotsContainer.test.tsx.snap
Due: lms-edits, lms-client-edits

wip
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/integrations.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/container.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/clever/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/google/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/integration_tip.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

fix table tooltip display:
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-edits, lms-client-edits

persist custom dates for saved filter selections
  services/QuillLMS/app/controllers/admin_report_filter_selections_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-edits, lms-client-edits

fix bug with null dates
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-client-edits

persist custom dates for saved filter selections (#11201)
  services/QuillLMS/app/controllers/admin_report_filter_selections_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-edits, lms-client-edits

Add timeframe start and end info to snapshot pusher payloads
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

finish adding and styling pages
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/integrations.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/reports_header.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/clever/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/clever/__tests__/container.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/clever/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/google/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/google/__tests__/container.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/integration_tip.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
Due: lms-edits, lms-client-edits

Refactor Snapshot Pusher events to include query
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

stop doing unnecessary API fetches
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/ruleViewForm.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesIndex.tsx
Due: lms-client-edits

ensure csv headers are coerced to symbols
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

Truncate long classroom names
  services/QuillLMS/app/services/duplicate_name_resolver.rb
  services/QuillLMS/spec/services/duplicate_name_resolver_spec.rb
Due: lms-edits

ensure csv headers are coerced to symbols (#11203)
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

Add hash check logic to Data Export worker
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/spec/workers/snapshots/cache_premium_reports_worker_spec.rb
Due: lms-edits, lms-client-edits

Supplement hashed Pusher payloads with custom timeframe params
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

return early from pre-react javascript event handler
  services/QuillLMS/app/views/application/_sub_header.html.erb
Due: lms-edits

console logging
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-client-edits

Move custom_timeframe Pusher data into the hash
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/spec/workers/snapshots/cache_premium_reports_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

Fix linting errors
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Compare custom timeframe strings directly
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

Remove leftover dead function
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-client-edits

update tests
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/data-export.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/dataExportTableAndFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/DataExportContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumFilterableReportsContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/diagnosticGrowthReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/overviewSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/studentSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
Due: lms-edits, lms-client-edits

Rename DuplicateNameResolver to ValidNameBuilder and rename parameter
  services/QuillLMS/app/services/canvas_integration/classroom_creator.rb
  services/QuillLMS/app/services/canvas_integration/classroom_updater.rb
  services/QuillLMS/app/services/clever_integration/classroom_creator.rb
  services/QuillLMS/app/services/clever_integration/classroom_updater.rb
  services/QuillLMS/app/services/google_integration/classroom_creator.rb
  services/QuillLMS/app/services/google_integration/classroom_updater.rb
  services/QuillLMS/app/services/valid_name_builder.rb
  services/QuillLMS/spec/services/canvas_integration/classroom_creator_spec.rb
  services/QuillLMS/spec/services/canvas_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/clever_integration/classroom_creator_spec.rb
  services/QuillLMS/spec/services/clever_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_creator_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/valid_name_builder_spec.rb
Due: lms-edits

Truncate long classroom names (#11204)
  services/QuillLMS/app/services/canvas_integration/classroom_creator.rb
  services/QuillLMS/app/services/canvas_integration/classroom_updater.rb
  services/QuillLMS/app/services/clever_integration/classroom_creator.rb
  services/QuillLMS/app/services/clever_integration/classroom_updater.rb
  services/QuillLMS/app/services/google_integration/classroom_creator.rb
  services/QuillLMS/app/services/google_integration/classroom_updater.rb
  services/QuillLMS/app/services/valid_name_builder.rb
  services/QuillLMS/spec/services/canvas_integration/classroom_creator_spec.rb
  services/QuillLMS/spec/services/canvas_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/clever_integration/classroom_creator_spec.rb
  services/QuillLMS/spec/services/clever_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/duplicate_name_resolver_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_creator_spec.rb
  services/QuillLMS/spec/services/google_integration/classroom_updater_spec.rb
  services/QuillLMS/spec/services/valid_name_builder_spec.rb
Due: lms-edits

Fix missing , in array
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

Remove unused code
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-client-edits

add csv extension to s3 file names
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
Due: lms-edits

increase file expiration to 1 year
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
Due: lms-edits

enable file autodownload; pin file expiry to maximum: 7 days
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
  services/QuillLMS/app/workers/snapshots/premium_download_reports_worker.rb
Due: lms-edits

set loading spinners on reorder
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesIndex.tsx
Due: lms-client-edits

Add Checklist for new District Admin attaching to schools (#11183)
  services/QuillLMS/app/controllers/cms/district_admins_controller.rb
  services/QuillLMS/app/controllers/cms/districts_controller.rb
  services/QuillLMS/app/models/district_admin.rb
  services/QuillLMS/app/views/cms/districts/new_admin.html.erb
  services/QuillLMS/client/app/bundles/Staff/components/newAdminOrDistrictUser.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/new_admin_user.scss
  services/QuillLMS/spec/controllers/cms/district_admins_controller_spec.rb
  services/QuillLMS/spec/models/district_admin_spec.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
Due: lms-edits, lms-client-edits
