Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

re pinning sidekiq
  services/QuillLMS/Gemfile
Due: lms-edits

new gemlock
  services/QuillLMS/Gemfile.lock
Due: lms-edits

pin sidekiq-pro
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

more pinning
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

revert unneeded changes
  services/QuillLMS/app/assets/stylesheets/pages/unit_templates/unit_template_minis/unit_template_minis.scss
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/assignmentFlowConstants.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_minis.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_templates_manager.jsx
Due: lms-edits, lms-client-edits

new teacher premium page (#10468)
  packages/quill-cdn/assets/images/pages/teacher_premium/bar-graph-increasing.svg
  packages/quill-cdn/assets/images/pages/teacher_premium/clipboard-common-core.svg
  packages/quill-cdn/assets/images/pages/teacher_premium/clipboard-concepts.svg
  packages/quill-cdn/assets/images/pages/teacher_premium/file-document.svg
  packages/quill-cdn/assets/images/pages/teacher_premium/teacher-premium.png
  services/QuillLMS/app/assets/stylesheets/pages/home.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_page.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_premium.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/views/pages/teacher_premium.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits

fix some additional vulnerabilities
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

add category and content cards
  services/QuillLMS/app/assets/stylesheets/pages/admin_dashboard/admin-dashboard.scss
  services/QuillLMS/app/assets/stylesheets/pages/premium_page.scss
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
  services/QuillLMS/app/assets/stylesheets/shared/navbar.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/app/helpers/quill_academy_helper.rb
  services/QuillLMS/app/views/application/_header.html.erb
  services/QuillLMS/app/views/pages/locker.html.erb
  services/QuillLMS/app/views/pages/quill_academy.html.erb
  services/QuillLMS/app/views/pages/shared/_premium_main.html.erb
  services/QuillLMS/app/views/quill_academy/_category_card.html.erb
  services/QuillLMS/app/views/quill_academy/_content_card.html.erb
  services/QuillLMS/app/views/students/index.html.erb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_new_activity.tsx
Due: lms-edits, lms-client-edits

add more quill academy icons
  packages/quill-cdn/assets/images/icons/circle-simple-right.svg
  packages/quill-cdn/assets/images/icons/clipboard-check.svg
  packages/quill-cdn/assets/images/icons/file-document.svg
  packages/quill-cdn/assets/images/icons/human-by-board.svg
  packages/quill-cdn/assets/images/icons/lightbulb-with-rays.svg
Due: none

add more image files
  packages/quill-cdn/assets/images/icons/checkbox-multiple.svg
  packages/quill-cdn/assets/images/icons/circle-simple-right.svg
  packages/quill-cdn/assets/images/icons/clipboard-check.svg
  packages/quill-cdn/assets/images/icons/file-document.svg
  packages/quill-cdn/assets/images/icons/lightbulb-with-rays.svg
  packages/quill-cdn/assets/images/icons/teacher-account-view.svg
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
  services/QuillLMS/app/views/pages/quill_academy.html.erb
Due: lms-edits

add another quill academy icon
  packages/quill-cdn/assets/images/icons/human-by-board.svg
  packages/quill-cdn/assets/images/icons/teacher-account-view.svg
Due: none

add helper methods
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/helpers/quill_academy_helper.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/views/pages/quill_academy.html.erb
Due: lms-edits

Modify copy on "Assign featured activity pack" page (#10480)
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/activity_type.tsx
Due: lms-client-edits

bump react and react-dom
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

bump dependent packages where possible
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package.json
Due: lms-client-edits

fix package lock
  services/QuillLMS/package-lock.json
Due: none

revert problematic changes
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

add feature flag logic
  services/QuillLMS/app/helpers/quill_academy_helper.rb
Due: lms-edits

update buttons
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/helpers/quill_academy_helper.rb
  services/QuillLMS/app/views/pages/quill_academy.html.erb
Due: lms-edits

small tweaks; add/update tests
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/pages/quill_academy.scss
  services/QuillLMS/app/helpers/quill_academy_helper.rb
  services/QuillLMS/app/views/pages/quill_academy.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/__tests__/__snapshots__/assign_a_new_activity.test.jsx.snap
  services/QuillLMS/spec/factories/learn_worlds_accounts.rb
  services/QuillLMS/spec/helpers/quill_academy_helper_spec.rb
Due: lms-edits, lms-client-edits

fix rubocop errors
  services/QuillLMS/spec/helpers/quill_academy_helper_spec.rb
Due: none

add empty line
  services/QuillLMS/spec/helpers/quill_academy_helper_spec.rb
Due: none

source google client from quill-hosted repo
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

jest tests
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/activityHealth.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/expandLessonQuestions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lesson.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lessons.test.jsx.snap
  services/QuillLMS/client/app/bundles/Diagnostic/components/lessons/__tests__/__snapshots__/lessonForm.test.jsx.snap
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/evidence/__tests__/__snapshots__/turkSessions.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/__tests__/__snapshots__/teacher_general.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/__tests__/__snapshots__/teacher_grade_levels.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/add_teacher_info.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_sub_role.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/shared/__tests__/__snapshots__/grade_level_section.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/previouslyAssignedTooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_pack.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/__tests__/__snapshots__/activity_table.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMini.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMinisTable.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_clever_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/import_google_classrooms_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/__tests__/__snapshots__/create_or_edit_blog_post.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/teacher_info_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/diagnostic_activity_packs.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/__snapshots__/view_as_student_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/tests/components/salesForm/__snapshots__/schoolOrDistrictFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/AdminDashboard.test.jsx.snap
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

add orderable table to backpack (#10478)
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/dataTables.tsx
Due: lms-client-edits

fix npm vulnerabilities (#10481)
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

run npm install
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
Due: lms-client-edits

revisions
  services/QuillLMS/.gitignore
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/helpers/quill_academy_helper.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/views/pages/quill_academy.html.erb
  services/QuillLMS/app/views/quill_academy/_availability_disclaimer.html.erb
  services/QuillLMS/app/views/quill_academy/_info_section.html.erb
  services/QuillLMS/spec/helpers/quill_academy_helper_spec.rb
Due: lms-edits

remove DS_Store file
  packages/quill-cdn/assets/.DS_Store
Due: none

Merge in learn_worlds_access?
  services/QuillLMS/app/models/district.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/district_spec.rb
  services/QuillLMS/spec/models/school_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Merge in learn_worlds_access? (#10487)
  services/QuillLMS/app/models/district.rb
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/district_spec.rb
  services/QuillLMS/spec/models/school_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Add Canvas Config
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/canvas_config.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/db/migrate/20230411145241_create_canvas_configs.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_configs.rb
  services/QuillLMS/spec/models/canvas_config_spec.rb
Due: lms-edits

Add canvas accounts
  services/QuillLMS/app/models/canvas_account.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/db/migrate/20230413140558_create_canvas_accounts.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_accounts.rb
  services/QuillLMS/spec/models/canvas_account_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Fix linter errors
  services/QuillLMS/app/models/canvas_account.rb
  services/QuillLMS/app/models/canvas_config.rb
Due: lms-edits

Change to creates.
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/paraphrase.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling_passage_specific.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/translation.rb
Due: lms-edits

Seed data changes.
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/seed_data_generator_spec.rb
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
