Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

comments refactor
  services/QuillLMS/app/controllers/cms/district_admins_controller.rb
  services/QuillLMS/app/controllers/cms/districts_controller.rb
  services/QuillLMS/client/app/bundles/Staff/components/newAdminOrDistrictUser.tsx
  services/QuillLMS/spec/controllers/cms/district_admins_controller_spec.rb
  services/QuillLMS/spec/models/district_admin_spec.rb
Due: lms-edits, lms-client-edits

fix the bad index bug
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/ruleViewForm.tsx
Due: lms-client-edits

refresh cache each time a rule is created
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/ruleViewForm.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/ruleHelpers.tsx
Due: lms-client-edits

Admin csv export (#11154)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/mailers/premium_hub_user_mailer.rb
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/app/queries/snapshots/untruncated_data_export_query.rb
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
  services/QuillLMS/app/views/premium_hub_user_mailer/admin_premium_download_report_email.html.erb
  services/QuillLMS/app/workers/snapshots/premium_download_reports_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/dataExportTableAndFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/DataExportContainer.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/mailers/premium_hub_user_mailer_spec.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
  services/QuillLMS/spec/workers/snapshots/premium_download_reports_worker_spec.rb
Due: lms-edits, lms-client-edits

Update secure headers for google
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

update email copy
  services/QuillLMS/app/views/premium_hub_user_mailer/admin_premium_download_report_email.html.erb
Due: lms-edits

final email copy
  services/QuillLMS/app/mailers/premium_hub_user_mailer.rb
  services/QuillLMS/app/views/premium_hub_user_mailer/admin_premium_download_report_email.html.erb
  services/QuillLMS/app/workers/snapshots/premium_download_reports_worker.rb
Due: lms-edits

Add ENV setting for react-on-rails trace
  services/QuillLMS/config/initializers/react_on_rails.rb
Due: lms-edits

spinner working
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-edits, lms-client-edits

sorting bug fixed
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesIndex.tsx
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/ruleHelpers.tsx
Due: lms-client-edits

remove unneeded comments
  services/QuillLMS/client/app/bundles/Staff/helpers/evidence/ruleHelpers.tsx
Due: lms-client-edits

add snackbar and copy
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-client-edits

tweaks
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/mailers/premium_hub_user_mailer.rb
  services/QuillLMS/app/queries/snapshots/untruncated_data_export_query.rb
  services/QuillLMS/app/views/premium_hub_user_mailer/admin_premium_download_report_email.html.erb
  services/QuillLMS/app/workers/snapshots/premium_download_reports_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/dataExportTableAndFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/spec/mailers/premium_hub_user_mailer_spec.rb
Due: lms-edits, lms-client-edits

Add new instant queue for Sidekiq workers.
  services/QuillLMS/app/workers/send_pusher_message_worker.rb
  services/QuillLMS/config/initializers/sidekiq.rb
Due: lms-edits

Update Profile worker configs.
  services/QuillLMS/Procfile
Due: none

update snapshot
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/DataExportContainer.test.tsx.snap
Due: lms-client-edits

Update timeframe calculations to match new paradigm
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
  services/QuillLMS/spec/workers/cache_admin_snapshots_worker_spec.rb
Due: lms-edits

Text change to trigger deploy.
  services/QuillLMS/config/initializers/sidekiq.rb
Due: lms-edits

Lms/pre cache admin snapshots overnight (#11145)
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
  services/QuillLMS/app/workers/pre_cache_premium_hubs_worker.rb
  services/QuillLMS/spec/workers/cache_admin_snapshots_worker_spec.rb
  services/QuillLMS/spec/workers/pre_cache_premium_hub_worker_spec.rb
Due: lms-edits

delay button undisabling
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-client-edits

Add instant queue to Procfile.static.
  services/QuillLMS/Procfile.static
Due: none

Add an "Instant" sidekiq queue for Pusher jobs (#11191)
  services/QuillLMS/Procfile
  services/QuillLMS/Procfile.static
  services/QuillLMS/app/workers/send_pusher_message_worker.rb
  services/QuillLMS/config/initializers/sidekiq.rb
Due: lms-edits

Test a simple version of the delay.
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

add name hyperlink
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesIndex.tsx
Due: lms-client-edits

fix double render issue
  services/QuillLMS/app/controllers/cms/district_admins_controller.rb
  services/QuillLMS/app/models/district_admin.rb
  services/QuillLMS/spec/models/district_admin_spec.rb
Due: lms-edits

stop fetching all rules for all rule types
  services/QuillLMS/client/app/bundles/Staff/components/evidence/regexRules/regexRulesIndex.tsx
Due: lms-client-edits

start clearing the cache
  services/QuillLMS/client/app/bundles/Staff/components/evidence/configureRules/ruleViewForm.tsx
Due: lms-client-edits

thomas's suggestions for tests and rubocop fix
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/controllers/admin_report_filter_selections_controller_spec.rb
Due: lms-edits

default target skill display for evidence (#11177)
  services/QuillLMS/app/controllers/grades_controller.rb
  services/QuillLMS/app/models/activity_session.rb
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/spec/models/activity_session_spec.rb
  services/QuillLMS/spec/models/concerns/public_progress_reports_spec.rb
Due: lms-edits

color palette updates (#11180)
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/colorPalette.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
Due: lms-edits, lms-client-edits

copy changes and test updates (#11185)
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/results.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/skillGroupTooltip.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/skillGroupTooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/summary.tsx
Due: lms-client-edits

delete unnecessary space
  services/QuillLMS/app/models/user.rb
Due: lms-edits

usage snapshot ui fixes
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/filterable-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-edits, lms-client-edits

fix tests
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotCount.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/__tests__/__snapshots__/snapshotSection.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/PremiumFilterableReportsContainer.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/UsageSnapshotsContainer.test.tsx.snap
Due: lms-client-edits

standardize all files where the button loading indicator shows up
  packages/quill-cdn/assets/images/shared/indeterminate_spinner_dark.svg
  packages/quill-cdn/assets/images/shared/indeterminate_spinner_light.svg
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/client/app/bundles/Evidence/components/shared/buttonLoadingSpinner.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/promptStep.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/buttonLoadingSpinner.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/style.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/buttonLoadingSpinner.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/select_activities_container.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/Stage2.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/create_student_accounts.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classroom_students_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classrooms_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/move_students_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/export_csv.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/__snapshots__/assigning_indicator.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/assigning_indicator.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/button_loading_indicator.tsx
Due: lms-edits, lms-client-edits

Admin csv export: add spinner, snackbar, new copy (#11189)
  services/QuillLMS/app/mailers/premium_hub_user_mailer.rb
  services/QuillLMS/app/queries/snapshots/untruncated_data_export_query.rb
  services/QuillLMS/app/views/premium_hub_user_mailer/admin_premium_download_report_email.html.erb
  services/QuillLMS/app/workers/snapshots/premium_download_reports_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/dataExportTableAndFields.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/DataExportContainer.test.tsx.snap
  services/QuillLMS/spec/mailers/premium_hub_user_mailer_spec.rb
Due: lms-edits, lms-client-edits

Update overnight cache worker to use stored filters
  services/QuillLMS/app/workers/cache_admin_snapshots_worker.rb
  services/QuillLMS/spec/workers/cache_admin_snapshots_worker_spec.rb
Due: lms-edits

Add a spec for the controller
  services/QuillLMS/app/controllers/admin_diagnostic_reports_controller.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
Due: lms-edits

Add clean up query cache worker and add a spec
  services/QuillLMS/app/workers/admin_diagnostic_reports/diagnostic_overview_worker.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/diagnostic_overview_worker_spec.rb
Due: lms-edits
