Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

try again
  services/QuillLMS/app/assets/stylesheets/stats_email.scss
  services/QuillLMS/config/initializers/assets.rb
Due: lms-edits

and rollup email too
  services/QuillLMS/app/assets/stylesheets/rollup_email.scss
  services/QuillLMS/config/initializers/assets.rb
Due: lms-edits

bring districts#show school query to parity with districts#new_subscription
  services/QuillLMS/app/controllers/cms/districts_controller.rb
  services/QuillLMS/app/views/cms/districts/show.html.erb
  services/QuillLMS/spec/controllers/cms/districts_controller_spec.rb
Due: lms-edits

make color changes deployable (#10919)
  services/QuillLMS/app/assets/stylesheets/rollup_email.scss
  services/QuillLMS/app/assets/stylesheets/stats_email.scss
  services/QuillLMS/config/initializers/assets.rb
Due: lms-edits

wip
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/config/initializers/sentry.rb
  services/QuillLMS/config/routes.rb
Due: lms-edits

add .to_i call
  services/QuillLMS/app/workers/teacher_activity_feed_batch_refill_worker.rb
  services/QuillLMS/spec/workers/teacher_activity_feed_batch_refill_worker_spec.rb
Due: lms-edits

drop to 6.8 elasticsearch
  .circleci/config.yml
  services/QuillCMS/Gemfile
  services/QuillCMS/Gemfile.lock
Due: cms-edits

Add safe navigation
  services/QuillLMS/app/helpers/navigation_helper.rb
Due: lms-edits

Add index route for CanvasInstancesController
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/config/routes.rb
Due: lms-edits

Add integrations to subnav_tab
  services/QuillLMS/client/app/bundles/PremiumHub/components/subnav_tabs.tsx
Due: lms-client-edits

Add route for IntegrationsContainer
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHubContainer.jsx
Due: lms-client-edits

Add canvas associations to user model
  services/QuillLMS/app/models/user.rb
Due: lms-edits

Formatting
  services/QuillLMS/client/app/bundles/Teacher/startup/clientRegistration.jsx
Due: lms-client-edits

Fix import error
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/constants.js
Due: lms-client-edits

Move canvas integration to integrations tab
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceSchoolsSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceSchoolsSelector.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasIntegrationForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/CanvasIntegrationForm.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/CanvasInstanceForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/__tests__/__snapshots__/CanvasIntegrationForm.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHub.jsx
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
Due: lms-edits, lms-client-edits

Update package-lock.json
  package-lock.json
Due: none

Linter errors
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceSchoolsSelector.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasIntegrationForm.tsx
Due: lms-client-edits

Update premium features data
  services/QuillLMS/client/app/bundles/Teacher/components/premium/premium_features_data.ts
Due: lms-client-edits

Restrict CanvasIntegration to full access
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasIntegrationForm.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
Due: lms-client-edits

bring districts#show school query to parity with districts#new_subscription (#10921)
  services/QuillLMS/app/controllers/cms/districts_controller.rb
  services/QuillLMS/app/views/cms/districts/show.html.erb
  services/QuillLMS/spec/controllers/cms/districts_controller_spec.rb
Due: lms-edits

Add callback to remove trailing slashes
  services/QuillLMS/app/controllers/canvas_instances_controller.rb
  services/QuillLMS/app/models/canvas_instance.rb
  services/QuillLMS/spec/models/canvas_instance_spec.rb
Due: lms-edits

Update snapshots
  services/QuillLMS/client/app/bundles/Teacher/components/premium/premium_minis/__tests__/__snapshots__/individual_features_table.test.jsx.snap
Due: lms-client-edits

take out weird space changes
  services/QuillCMS/README.md
Due: cms-edits

revert change on admin updates
  services/QuillCMS/app/websockets/admin_updates.rb
Due: cms-edits

revert change on test
  services/QuillCMS/spec/controllers/responses_controller_spec.rb
Due: cms-edits

Update demo accounts with scoring data
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/lib/data/demo/activity_sessions.yml
  services/QuillLMS/lib/data/demo/concept_result_legacy_metadata.yml
  services/QuillLMS/lib/data/demo/concept_result_question_types.yml
  services/QuillLMS/lib/data/demo/concept_results.yml
Due: lms-edits

Add rake task to generate data
  services/QuillLMS/lib/tasks/report_demo.rake
Due: lms-edits

add .to_i call (#10922)
  services/QuillLMS/app/workers/teacher_activity_feed_batch_refill_worker.rb
  services/QuillLMS/spec/workers/teacher_activity_feed_batch_refill_worker_spec.rb
Due: lms-edits

fix navigation hover states (#10909)
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/premium-hub.scss
  services/QuillLMS/app/assets/stylesheets/shared/tabs.scss
  services/QuillLMS/client/app/bundles/Shared/libs/navbarHelpers.tsx
Due: lms-edits, lms-client-edits

Emilia suggestion
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasInstanceSchoolsSelector.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/CanvasIntegrationForm.tsx
Due: lms-client-edits

tweak percent_final_optimal_for_conjunction logic
  services/QuillLMS/app/services/serialize_evidence_activity_health.rb
Due: lms-edits

Formatting
  services/QuillLMS/app/services/demo/report_demo_creator.rb
Due: lms-edits

add console statements
  services/QuillLMS/app/services/serialize_evidence_activity_health.rb
Due: lms-edits

Add names to ids
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
Due: lms-edits

Update yml
  services/QuillLMS/lib/data/demo/activity_sessions.yml
  services/QuillLMS/lib/data/demo/concept_result_legacy_metadata.yml
  services/QuillLMS/lib/data/demo/concept_result_question_types.yml
  services/QuillLMS/lib/data/demo/concept_results.yml
Due: lms-edits

Fix specs
  services/QuillLMS/app/services/demo/report_demo_creator.rb
  services/QuillLMS/spec/services/demo/create_admin_report_spec.rb
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
  services/QuillLMS/spec/services/demo/session_data_spec.rb
Due: lms-edits

Update description
  services/QuillLMS/spec/services/demo/create_admin_report_spec.rb
Due: none

Update range on activity_session count
  services/QuillLMS/spec/services/demo/create_admin_report_spec.rb
Due: none

Remove trailing comma
  services/QuillLMS/spec/services/demo/session_data_spec.rb
Due: none

Fix spec failure
  services/QuillLMS/spec/services/demo/report_demo_creator_spec.rb
Due: none
