Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Update secure headers for google (#11188)
  services/QuillLMS/config/initializers/react_on_rails.rb
  services/QuillLMS/config/initializers/secure_headers.rb
Due: lms-edits

Lms/fix admin diagnostic percentage bug (#11209)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/workers/snapshots/cache_premium_reports_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_premium_reports_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits, lms-client-edits

Make sure to reset custom filter values when changing timeframe type
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-client-edits

Clean up extra effect triggers that aren't necessary
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
Due: lms-client-edits

lms/fix-admin-snapshot-filter-edge-case (#11214)
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
Due: lms-client-edits

only save filterSelections to backend if they are different from all
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-client-edits

css changes
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/integrations.scss
Due: lms-edits

add clicktracking=off param to email template <a> tag
  services/QuillLMS/app/views/premium_hub_user_mailer/admin_premium_download_report_email.html.erb
Due: lms-edits

QA change requests for Admin CSV download feature (#11210)
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
  services/QuillLMS/app/views/premium_hub_user_mailer/admin_premium_download_report_email.html.erb
  services/QuillLMS/app/workers/snapshots/premium_download_reports_worker.rb
Due: lms-edits

set content type during upload
  services/QuillLMS/app/uploaders/admin_report_csv_uploader.rb
Due: lms-edits

standardize button loading spinner file and add two color options (#11199)
  packages/quill-cdn/assets/images/shared/indeterminate_spinner_dark.svg
  packages/quill-cdn/assets/images/shared/indeterminate_spinner_dark@2x.png
  packages/quill-cdn/assets/images/shared/indeterminate_spinner_light.svg
  packages/quill-cdn/assets/images/shared/indeterminate_spinner_light@2x.png
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/client/app/bundles/Evidence/components/shared/buttonLoadingSpinner.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/promptStep.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/buttonLoadingSpinner.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/style.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/buttonLoadingSpinner.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/spinner.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/select_activities_container.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/Stage2.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/create_student_accounts.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classroom_students_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_provider_classrooms_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/move_students_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/export_csv.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/__snapshots__/assigning_indicator.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/shared/__tests__/assigning_indicator.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/button_loading_indicator.tsx
Due: lms-edits, lms-client-edits

add google and clever to admin integrations page, plus an additional state to the canvas page for non-premium users (#11205)
  packages/quill-cdn/assets/images/pages/administrator/integrations/canvas.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/circle-check.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/clever.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/google.svg
  packages/quill-cdn/assets/images/pages/administrator/integrations/lightbulb.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/integrations.scss
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/reports_header.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/__tests__/container.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/canvas/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/clever/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/clever/__tests__/container.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/clever/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/google/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/PremiumHub/components/google/__tests__/container.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/google/container.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/integration_tip.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/IntegrationsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
  services/QuillLMS/config/routes.rb
Due: lms-edits, lms-client-edits

only save filterSelections to backend if they are different from all (#11216)
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
Due: lms-client-edits

fix import for file that no longer exists
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-client-edits

fix import for file that no longer exists (#11220)
  services/QuillLMS/client/app/bundles/PremiumHub/components/dataExportTableAndFields.tsx
Due: lms-client-edits

stop showing default model feedback for human suboptimals in connect
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/question.tsx
Due: lms-client-edits

Update tests for PostDiagnosticComplete
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_completed_query_spec.rb
Due: lms-edits

Add a spec for PreDiagnosticCompleted
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_completed_query_spec.rb
Due: none

add multiple option dropdown to assign students and active classrooms pages
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
Due: lms-edits, lms-client-edits

Add spec for PreDiagnosticAssigned query
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query_spec.rb
Due: lms-edits

Add spec for PostDiagnosticAssigned
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_assigned_query_spec.rb
Due: none

Add diagnostic order for sorting
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
Due: lms-edits

make headers human readable; refactor error handling
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

format custom cells
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits

stop showing default model feedback for human suboptimals in connect (#11221)
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/question.tsx
Due: lms-client-edits

Update the BigQuery test runner to handle Rails enum model values
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: none

Use an explicit list of activity ids to identify and sort diagnostics
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/post_diagnostic_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/pre_diagnostic_completed_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_completed_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_completed_query_spec.rb
Due: lms-edits

update various tooltip detail sections
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/advert.scss
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/main.scss
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/scorebook-tooltip.scss
  services/QuillLMS/app/controllers/grades_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details_section.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concept.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concepts.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/componentGenerators/tooltip_title/scorebook_tooltip_title.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/loading_dots.jsx
Due: lms-edits, lms-client-edits

frontend looks good to go
  services/QuillLMS/app/assets/stylesheets/shared/canvas_modal.scss
  services/QuillLMS/app/serializers/user_with_provider_serializer.rb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/__tests__/__snapshots__/assign_students.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/stage2/assign_students.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/active_classrooms.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/__snapshots__/canvas_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/__tests__/canvas_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/canvas_modal.tsx
Due: lms-edits, lms-client-edits

update score text
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concepts.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/componentGenerators/tooltip_title/scorebook_tooltip_title.jsx
Due: lms-client-edits

Add a spec for DiagnosticRecommendationsQuery
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_recommendations_query_spec.rb
Due: none

file cleanup
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/activity_icon_with_tooltip.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details_section.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/componentGenerators/tooltip_title/student_profile_tooltip_title_generator.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/componentGenerators/tooltip_title/tooltip_title_generator_generator.jsx
Due: lms-client-edits

Update specs to stop putting dummy follow_up_activity_id in models
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_recommendations_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_recommendations_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_assigned_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_completed_query_spec.rb
Due: lms-edits

fix new admin page on schools path
  services/QuillLMS/app/views/cms/schools/new_admin.html.erb
Due: lms-edits

fix new admin page on schools path (#11224)
  services/QuillLMS/app/views/cms/schools/new_admin.html.erb
Due: lms-edits

add/update tests
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/advert.scss
  services/QuillLMS/app/assets/stylesheets/shared/tooltip/scorebook_and_student_profile_tooltip/main.scss
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/about_premium.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/activity_details.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/activity_details_section.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/key_target_skill_concept.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/key_target_skill_concepts.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/key_target_skill_concepts.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/about_premium.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/activity_details.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/activity_details.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/activity_details_section.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/key_target_skill_concept.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/key_target_skill_concepts.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/key_target_skill_concepts.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/scorebook_tooltip.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/about_premium.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details_section.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concept.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concepts.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concepts.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/__tests__/__snapshots__/unitActivityDates.tsx.snap
  services/QuillLMS/spec/controllers/grades_controller_spec.rb
Due: lms-edits, lms-client-edits

fix linter errors
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/activity_details_section.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/activity_details.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/key_target_skill_concepts.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
Due: lms-client-edits

Add spec for DiagnosticAggregateQuery parent class
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/diagnostic_aggregate_query_spec.rb
Due: lms-edits

small refactors
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/__tests__/__snapshots__/scorebook_tooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/general_components/tooltip/scorebook_tooltip.tsx
Due: lms-client-edits

truncating score decimals
  services/QuillLMS/app/queries/adapters/csv/admin_premium_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_premium_data_export_spec.rb
Due: lms-edits
