Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

pin sprockets
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

bust cci cache for evidence bundle
  .circleci/continue_config.yml
Due: none

adding ruby platform to lockfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

don't send anyone but students to the completed page
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/activityFollowUp.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
Due: lms-client-edits

use correct bundler in CCI
  .circleci/continue_config.yml
Due: none

Remove inaccurate test.
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/feedback_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/check_with_genai_spec.rb
Due: lms-edits

add long timeout for bundle
  .circleci/continue_config.yml
Due: none

Refactor due to lint complexity.
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
  services/QuillLMS/engines/evidence/spec/lib/check_with_genai_spec.rb
Due: lms-edits

removing darwin platform from Gemfile lock
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Revert "add long timeout for bundle"
  .circleci/continue_config.yml
Due: none

Add coral reef but and so prompts.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/674.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/675.md
Due: lms-edits

Fix rubicon errors.
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

increasing resource class
  .circleci/continue_config.yml
Due: none

Add ability to hide guidelines (#12268)
  services/QuillLMS/db/migrate/20240821210256_add_visible_to_guidelines.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/guidelines_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/stem_vaults_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/guideline.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/stem_vaults/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/trials/new.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240821205700_add_visible_to_guidelines.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/guidelines.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/guideline_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/trial_spec.rb
Due: lms-edits

Add order to LLM model
  services/QuillLMS/db/migrate/20240822145310_add_order_to_llm.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/db/migrate/20240822145206_add_order_to_llm.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llms.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_spec.rb
Due: lms-edits

Add ability to reorder LLMs for UI
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llms_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llms/index.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
Due: lms-edits

removing cypress-on-rails
  services/QuillLMS/Gemfile
Due: lms-edits

Add order attribute to LLM model (#12271)
  services/QuillLMS/db/migrate/20240822145310_add_order_to_llm.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/llms_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/trials_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/llms/index.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/db/migrate/20240822145206_add_order_to_llm.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/llms.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_spec.rb
Due: lms-edits

Update evidence gemspec for sidekiq-pro
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
Due: lms-edits

Fix g_eval_scores_fetcher to use sidekiq
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/g_eval_scores_fetcher.rb
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback_spec.rb
Due: lms-edits

Add LLMPromptBuilder test for custom text
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/llm_prompt_builder_spec.rb
Due: lms-edits

new Gemfile.lock for evidence
  services/QuillLMS/engines/evidence/Gemfile.lock
Due: lms-edits

remove cypress from main lockfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

remove legacy_connection_handling directives
  services/QuillLMS/config/application.rb
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
Due: lms-edits

pin global gem
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

new param type for serialize ActiveRecord declaration
  services/QuillLMS/app/models/unit_template.rb
Due: lms-edits

update rspec-rails in evidence
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
Due: lms-edits

Add GEvalScoresFetcherCallback spec
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/g_eval_scores_fetcher_callback_spec.rb
Due: lms-edits

Add spec for BuildLLMExampleWorker
  services/QuillLMS/engines/evidence/spec/workers/evidence/research/gen_ai/build_llm_example_worker_spec.rb
Due: lms-edits

update serialization declaration
  services/QuillLMS/app/models/unit_template.rb
Due: lms-edits

pin rubocop gems
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

shim for action cable bug
  services/QuillLMS/config/application.rb
Due: lms-edits

fix spec that attempted to read a nil key from cache
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: none

more of same
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_skills_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_students_controller_spec.rb
Due: none

whitespace
  services/QuillLMS/Gemfile
Due: lms-edits

update copy
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/helpers/tools_helper.rb
Due: lms-edits

remove copy about the 2023-2024 school year from the scoring update card
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/scoring_updates_card.tsx
Due: lms-client-edits

jest test
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
Due: lms-client-edits

remove debug statements
  .circleci/continue_config.yml
Due: none

disable login test
  services/QuillLMS/e2e/main.spec.ts
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
