Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Refactor workers to have a similar signature to cache key generation
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Refactor controller to simplify code by breaking it into more methods
  services/QuillLMS/app/controllers/snapshots_controller.rb
Due: lms-edits

Don't cast "id"s to int.
  services/QuillLMS/lib/tasks/vitally.rake
Due: lms-edits

Lms/add admin snapshot filter options (#10679)
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/cache_keys.rb
  services/QuillLMS/app/queries/snapshots/options_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/schools_options_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/lib/snapshots/cache_keys_spec.rb
  services/QuillLMS/spec/queries/snapshots/period_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/schools_option_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/quill_big_query_test_runner_setup.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_option_query_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

WIP
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/lib/snapshots/cache_keys.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
Due: lms-edits

Update Snapshot libs for adjust timeframe approach
  services/QuillLMS/app/lib/snapshots/cache_keys.rb
  services/QuillLMS/app/lib/snapshots/timeframes.rb
  services/QuillLMS/spec/lib/snapshots/timeframes_spec.rb
Due: lms-edits

Add Canvas teacher classrooms cache (#10700)
  services/QuillLMS/app/models/canvas_integration/teacher_classrooms_cache.rb
  services/QuillLMS/app/models/google_integration/teacher_classrooms_cache.rb
  services/QuillLMS/app/models/teacher_classrooms_cache.rb
  services/QuillLMS/spec/models/canvas_integration/teacher_classrooms_cache_spec.rb
  services/QuillLMS/spec/models/clever_integration/teacher_classrooms_cache_spec.rb
  services/QuillLMS/spec/support/shared_examples/teacher_classrooms_cache_rspec.rb
Due: lms-edits

wip
  services/QuillLMS/client/app/bundles/Teacher/containers/ClassroomsWithStudentsContainer.jsx
Due: lms-client-edits

css fixes
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/create_student_accounts.tsx
Due: lms-edits, lms-client-edits

get things rendering with no styling
  services/QuillLMS/client/app/bundles/Teacher/containers/ClassroomsWithStudentsContainer.jsx
Due: lms-client-edits

delete a bunch of old code
  services/QuillLMS/app/assets/stylesheets/custom.scss
  services/QuillLMS/app/assets/stylesheets/pages/edit-assigned-students.scss
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/assets/stylesheets/pages/update-assigned-students.scss
  services/QuillLMS/app/assets/stylesheets/shared/panels.scss
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/ClassroomsWithStudents.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/EditStudentsButton.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/__tests__/EditStudentsButton.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/classroom.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/student.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/LessonPlannerContainer.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/UpdateAssignedStudents.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/ClassroomsWithStudentsContainer.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/UpdateAssignedStudents.test.jsx
Due: lms-edits, lms-client-edits

Fix last_login false positive
  services/QuillLMS/spec/requests/auth/learn_worlds_controller_spec.rb
Due: none

Fix Google ClassroomsCache false positive
  services/QuillLMS/app/services/google_integration/teacher_classrooms_retriever.rb
  services/QuillLMS/spec/services/google_integration/teacher_classrooms_retriever_spec.rb
Due: lms-edits

Bs intermittent spec failures (#10705)
  services/QuillLMS/app/services/google_integration/teacher_classrooms_retriever.rb
  services/QuillLMS/spec/requests/auth/learn_worlds_controller_spec.rb
  services/QuillLMS/spec/services/google_integration/teacher_classrooms_retriever_spec.rb
Due: lms-edits

Fix issue with string key params.
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits

Fix issue with string key params. (#10706)
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_count_worker_spec.rb
Due: lms-edits

Fix same issue for other worker.
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Fix same issue for other worker. (#10708)
  services/QuillLMS/app/workers/snapshots/cache_snapshot_top_x_worker.rb
  services/QuillLMS/spec/workers/snapshots/cache_snapshot_top_x_worker_spec.rb
Due: lms-edits

Fix bug with staff/activity route
  services/QuillLMS/app/models/user.rb
Due: lms-edits

add remaining student results changes
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_results_summary.scss
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-edits, lms-client-edits

update tests
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_individual_pack.scss
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-edits, lms-client-edits

fix rubocop error
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
Due: lms-edits

Fix bug with staff/activity route (#10710)
  services/QuillLMS/app/models/user.rb
Due: lms-edits

wip
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/assets/stylesheets/pages/update-assigned-students.scss
  services/QuillLMS/app/controllers/milestones_controller.rb
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/models/milestone.rb
  services/QuillLMS/app/views/teachers/classroom_manager/lesson_planner.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/student.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/unassign_warning_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/LessonPlannerContainer.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/UpdateAssignedStudents.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/milestones_controller_spec.rb
  services/QuillLMS/spec/factories/milestone.rb
Due: lms-edits, lms-client-edits

remove font family declaration
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/bulk_archive_classrooms_card.scss
Due: lms-edits

Add TeacherClassroomsDataAdapter
  services/QuillLMS/app/services/canvas_integration/classroom_data_adapter.rb
  services/QuillLMS/spec/factories/canvas_integration/canvas_course_data.rb
  services/QuillLMS/spec/factories/canvas_integration/canvas_section_data.rb
  services/QuillLMS/spec/factories/canvas_integration/canvas_student_data.rb
  services/QuillLMS/spec/services/canvas_integration/classroom_data_adapter_spec.rb
Due: lms-edits

Add RestClient
  services/QuillLMS/app/services/canvas_integration/rest_client.rb
  services/QuillLMS/spec/services/canvas_integration/rest_client_spec.rb.rb
Due: lms-edits

Add lms-api gem
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/config/initializers/auth/canvas.rb
Due: lms-edits

Add token virtual attribute for lms-api gem
  services/QuillLMS/app/models/canvas_auth_credential.rb
  services/QuillLMS/spec/models/canvas_auth_credential_spec.rb
Due: lms-edits

fix invite students modal sizing (#10704)
  services/QuillLMS/app/assets/stylesheets/pages/classrooms.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/bulk_archive_classrooms_card.scss
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
  services/QuillLMS/client/app/bundles/Shared/styles/input.scss
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/create_student_accounts.tsx
Due: lms-edits, lms-client-edits

add media queries for finicky header
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/diagnostic_growth_results_summary.scss
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthResults.tsx
Due: lms-edits, lms-client-edits

Add distinct and order to teacher and classroom options
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Fix linting error
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: none

include gained some proficiency in delta growth values
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/studentResultsTable.tsx
Due: lms-edits, lms-client-edits

Fix rest_client_spec
  services/QuillLMS/app/services/canvas_integration/rest_client.rb
  services/QuillLMS/spec/services/canvas_integration/rest_client_spec.rb
  services/QuillLMS/spec/services/canvas_integration/rest_client_spec.rb.rb
Due: lms-edits

Add a new "No grade set" grade option for Admin Snapshots
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/spec/queries/snapshots/period_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
Due: lms-edits

Update a spec to work in a world where we allow actual null values in CTE
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
Due: none

Fix linting error
  services/QuillLMS/app/queries/snapshots/period_query.rb
Due: lms-edits

Simplify interface to RestClient
  services/QuillLMS/app/services/canvas_integration/rest_client.rb
  services/QuillLMS/spec/services/canvas_integration/rest_client_spec.rb
Due: lms-edits
