Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix another broken test
  services/QuillLMS/spec/workers/populate_evidence_activity_health_worker_spec.rb
Due: none

Up batch size to 1,000
  services/QuillLMS/app/workers/delete_obsolete_active_activity_sessions_worker.rb
Due: lms-edits

update more snapshots
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/container.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/scorebook/__tests__/__snapshots__/app_legend.test.jsx.snap
Due: lms-client-edits

add rollup replace plugin
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/vite.config.ts
Due: lms-client-edits

bump some packages to align with develop; fixing a spec regression
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

regress to start style import for moment, so jests pass; yank a bug fix from develop
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumHub.jsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/activitySessions/sessionOverview.tsx
  services/QuillLMS/client/app/bundles/Staff/components/evidence/gatherResponses/editOrDeleteTurkSession.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_user_type.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/manage_units/activity_table.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/import_google_classrooms_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/cms/blog_posts/shared.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
Due: lms-client-edits

more issues with moment js import statement
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/classroom.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/invite_coteachers_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/diagnostic_activity_packs.tsx
Due: lms-client-edits

update snapshots for getServerState new line delta
  services/QuillLMS/client/app/bundles/Connect/components/__tests__/__snapshots__/activityHealth.test.tsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/expandLessonQuestions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/lessons/__tests__/__snapshots__/lesson.test.jsx.snap
Due: lms-client-edits

update results summary
  services/QuillLMS/app/controllers/concerns/results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/summary.tsx
  services/QuillLMS/spec/controllers/concerns/results_summary_spec.rb
Due: lms-edits, lms-client-edits

Evidence teacher preview menu (#10644)
  services/QuillLMS/app/assets/stylesheets/shared/teacher-preview-menu.scss
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/models/activity.rb
  services/QuillLMS/app/views/evidence/_first_topic.html.erb
  services/QuillLMS/app/views/evidence/_second_topic.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/client/app/bundles/Evidence/actions/actionTypes.ts
  services/QuillLMS/client/app/bundles/Evidence/actions/session.ts
  services/QuillLMS/client/app/bundles/Evidence/components/Header.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/postActivitySlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/activityFollowUp.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Evidence/reducers/sessionReducer.ts
  services/QuillLMS/client/app/bundles/Evidence/styles/explanationSlide.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/headerStyling.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/style.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/teacherPreviewMenu.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/teacherPreviewMenu.test.tsx
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenu.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/interfaces/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/evidence.tsx
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/spec/models/activity_spec.rb
Due: lms-edits, lms-client-edits

Add canvas_instance, canvas_external_id unique index to canvas_account
  services/QuillLMS/app/models/canvas_account.rb
  services/QuillLMS/db/migrate/20230613164607_update_indices_on_canvas_account.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_accounts.rb
  services/QuillLMS/spec/factories/classroom_unit_activity_states.rb
  services/QuillLMS/spec/models/canvas_account_spec.rb
  services/rubocop.sh
Due: lms-edits

Add role information to Canvas SSO flow
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/services/canvas_integration/role_extractor.rb
  services/QuillLMS/app/views/canvas_integration/lti/sso.html.erb
  services/QuillLMS/config/initializers/auth/canvas.rb
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/middleware/canvas_auth_spec.rb
  services/QuillLMS/spec/requests/canvas_integration/lti_controller_spec.rb
  services/QuillLMS/spec/services/canvas_integration/role_extractor_spec.rb
Due: lms-edits

Handle the SSO Canvas callback phase
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/app/models/auth_credential.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/services/canvas_integration/user_importer.rb
  services/QuillLMS/spec/factories/canvas_instances.rb
  services/QuillLMS/spec/factories/omniauth_auth_hashes.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/requests/auth/canvas_controller_spec.rb
  services/QuillLMS/spec/services/auth/learn_worlds/sso_request_spec.rb
  services/QuillLMS/spec/services/canvas_integration/user_importer_spec.rb
  services/QuillLMS/spec/support/omniauth_setup.rb
  services/QuillLMS/spec/support/shared_contexts/canvas_integration/canvas_user_auth_hash.rb
Due: lms-edits

Dan suggestion
  services/QuillLMS/app/models/canvas_account.rb
  services/QuillLMS/spec/models/canvas_account_spec.rb
Due: lms-edits

tweak percentage value
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/percentageCircle.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/summary.tsx
Due: lms-client-edits

Add new Social Studies Curriculum Developer entry to the career page
  services/QuillLMS/config/careers.yml
Due: lms-edits

Change Rachel's last name to match her legal name.
  packages/quill-cdn/assets/images/team/webp/team-rachel-calabrese.webp
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Change Rachel's last name to match her legal name. (#10655)
  packages/quill-cdn/assets/images/team/webp/team-rachel-calabrese.webp
  services/QuillLMS/app/helpers/pages_helper.rb
Due: lms-edits

Add new Social Studies Curriculum Developer entry to the career page (#10654)
  services/QuillLMS/config/careers.yml
Due: lms-edits

add airbyte convenience script
  scripts/airbyte
Due: none

update growth diagnostics class summary calculations
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/growthResults.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/__snapshots__/studentResultsTable.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/__tests__/test_data.ts
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/growthSummary.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/diagnostics/interfaces.ts
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
Due: lms-edits, lms-client-edits

update tests
  services/QuillLMS/app/controllers/concerns/diagnostic_reports.rb
  services/QuillLMS/app/controllers/concerns/growth_results_summary.rb
  services/QuillLMS/spec/controllers/concerns/diagnostic_reports_spec.rb
  services/QuillLMS/spec/controllers/concerns/growth_results_summary_spec.rb
Due: lms-edits

Add canvas_instance, canvas_external_id unique index to canvas_account (#10651)
  services/QuillLMS/app/models/canvas_account.rb
  services/QuillLMS/db/migrate/20230613164607_update_indices_on_canvas_account.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/factories/canvas_accounts.rb
  services/QuillLMS/spec/factories/classroom_unit_activity_states.rb
  services/QuillLMS/spec/models/canvas_account_spec.rb
  services/rubocop.sh
Due: lms-edits

Extract role and import user before Canvas SSO
  services/QuillLMS/app/controllers/canvas_integration/lti_controller.rb
  services/QuillLMS/app/models/auth_credential.rb
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/services/canvas_integration/user_importer.rb
  services/QuillLMS/app/views/canvas_integration/lti/launch_config.xml.erb
  services/QuillLMS/config/initializers/auth/canvas.rb
  services/QuillLMS/spec/factories/canvas_instances.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/requests/canvas_integration/lti_controller_spec.rb
  services/QuillLMS/spec/services/canvas_integration/user_importer_spec.rb
Due: lms-edits

Handle Canvas SSO Callback
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/app/services/canvas_integration/user_finder.rb
  services/QuillLMS/spec/controllers/auth/canvas_controller_spec.rb
  services/QuillLMS/spec/factories/omniauth_auth_hashes.rb
  services/QuillLMS/spec/services/canvas_integration/user_finder_spec.rb
  services/QuillLMS/spec/support/omniauth_setup.rb
Due: lms-edits

Rename file
  services/QuillLMS/spec/services/auth/learn_worlds/sso_request_spec.rb
Due: none

Fix intermittent failing spec
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
Due: none

Save user auth_credential after Canvas SSO callback
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/app/models/auth_credential.rb
  services/QuillLMS/app/services/canvas_integration/user_auth_credential_saver.rb
  services/QuillLMS/app/services/canvas_integration/user_finder.rb
  services/QuillLMS/spec/controllers/auth/canvas_controller_spec.rb
  services/QuillLMS/spec/services/canvas_integration/user_auth_credential_saver_spec.rb
Due: lms-edits

Upgrade spring
  services/QuillLMS/Gemfile.lock
Due: lms-edits

refactor canvas_auth_spec.rb
  services/QuillLMS/config/initializers/auth/canvas.rb
  services/QuillLMS/config/initializers/auth/canvas/setup.rb
  services/QuillLMS/spec/middleware/auth/canvas/setup_spec.rb
  services/QuillLMS/spec/middleware/canvas_auth_spec.rb
Due: lms-edits

Some refactoring
  services/QuillLMS/app/controllers/auth/canvas_controller.rb
  services/QuillLMS/app/services/canvas_integration/auth_credential_saver.rb
  services/QuillLMS/spec/controllers/auth/canvas_controller_spec.rb
  services/QuillLMS/spec/services/canvas_integration/auth_credential_saver_spec.rb
Due: lms-edits

re-introduce vite shim, which was clobbered during a recent rebase
  services/QuillLMS/app/views/application/_head.html.erb
Due: lms-edits

Fix calculation for Evidence Activity Final Optimal % (#10657)
  services/QuillLMS/app/services/serialize_evidence_activity_health.rb
  services/QuillLMS/spec/services/serialize_evidence_activity_health_spec.rb
  services/QuillLMS/spec/workers/populate_evidence_activity_health_worker_spec.rb
Due: lms-edits

change endpoint name
  services/QuillLMS/engines/evidence/lib/evidence/evidence/spelling_check.rb
Due: lms-edits

change endpoint names on specs
  services/QuillLMS/engines/evidence/spec/controllers/evidence/feedback_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
  services/QuillLMS/engines/evidence/spec/lib/spelling_check_spec.rb
Due: lms-edits

Use existing queries inside AverageActivitiesCompletedPerStudent query
  services/QuillLMS/app/queries/snapshots/average_activities_completed_per_student_query.rb
Due: lms-edits
