Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Wip
  services/QuillLMS/app/queries/snapshots/active_classrooms_query.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
Due: lms-edits

Try to run on circleci
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
Due: none

filter out order attribute
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
Due: none

Linter errors
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
Due: none

Update logic for multiple tables
  services/QuillLMS/app/queries/snapshots/active_classrooms_query.rb
  services/QuillLMS/spec/factories/schools.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/rails_helper.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_count_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
  services/QuillLMS/spec/support/shared_examples/snapshots/snapshots_period_query_school_ids_rspec.rb
  services/QuillLMS/spec/support/shared_examples/snapshots/snapshots_period_query_timeframe_rspec.rb
Due: lms-edits

Update ActiveStudentsQuery spec
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
Due: none

Fix typo
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
Due: none

Add circleci config
  .circleci/config.yml
Due: none

Update ActiveStudentsQuery spec
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_count_cte.rb
Due: none

Update specs for ActivitiesCompleted
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
Due: lms-edits

Sentences Written query
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_count_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
Due: none

Update queries
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/options_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/sentences_written_query.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_count_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
Due: lms-edits

Fix failures
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_count_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_cte.rb
Due: none

Add option query
  services/QuillLMS/app/queries/snapshots/options_query.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/schools_option_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_option_query_cte.rb
Due: lms-edits

Remove redundant around blocks
  services/QuillLMS/spec/queries/progress_reports/district_concept_reports_spec.rb
  services/QuillLMS/spec/queries/progress_reports/district_standards_reports_spec.rb
  services/QuillLMS/spec/services/quill_big_query/client_fetcher_spec.rb
Due: none

extract helper functions; various CSS changes
  services/QuillLMS/app/assets/stylesheets/shared/teacher-preview-menu.scss
  services/QuillLMS/client/app/bundles/Evidence/components/Header.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/explanationSlide.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/headerStyling.scss
  services/QuillLMS/client/app/bundles/Evidence/styles/style.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/teacherPreviewMenu.tsx
  services/QuillLMS/client/app/bundles/Shared/interfaces/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
Due: lms-edits, lms-client-edits

Add a model to track teacher logins when we send Segment events
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/models/user_login.rb
  services/QuillLMS/app/workers/user_login_worker.rb
  services/QuillLMS/db/migrate/20230601210338_create_user_login.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/models/user_login_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/workers/user_login_worker_spec.rb
Due: lms-edits

Fix linting error
  services/QuillLMS/db/migrate/20230601210338_create_user_login.rb
Due: lms-edits

Peter and Thomas suggestions
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/options_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/sentences_written_query.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/schools_option_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_count_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_option_query_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
Due: lms-edits

compress csv before emailing
  services/QuillLMS/app/mailers/user_mailer.rb
Due: lms-edits

update spec
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
Due: none

flip the ordering
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
Due: none

Move record_login into the User model
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/workers/user_login_worker.rb
Due: lms-edits

Get rid of final_query, core_query
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/options_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/sentences_written_query.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_cte.rb
Due: lms-edits

Add a model to track teacher logins when we send Segment events (#10608)
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/app/models/user_login.rb
  services/QuillLMS/app/workers/user_login_worker.rb
  services/QuillLMS/db/migrate/20230601210338_create_user_login.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/spec/models/user_login_spec.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/workers/user_login_worker_spec.rb
Due: lms-edits

add log in to purchase modal
  services/QuillLMS/app/assets/stylesheets/pages/premium_page.scss
  services/QuillLMS/client/app/bundles/Teacher/containers/PremiumPricingGuide.jsx
Due: lms-edits, lms-client-edits

update job postings
  services/QuillLMS/config/careers.yml
Due: lms-edits

get all existing data loaded correctly
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/queries/snapshots/average_activities_completed_per_student_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/workers/snapshots/cache_snapshot_count_worker.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits

Create seam for TestRunner
  services/QuillLMS/app/queries/quill_big_query/query.rb
  services/QuillLMS/app/queries/snapshots/options_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/support/shared_contexts/quill_big_query_test_runner_setup.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_option_query_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
Due: lms-edits

Add testing for snapshots queries on BigQuery (#10605)
  .circleci/config.yml
  services/QuillLMS/app/queries/quill_big_query/query.rb
  services/QuillLMS/app/queries/snapshots/activities_assigned_query.rb
  services/QuillLMS/app/queries/snapshots/options_query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/app/queries/snapshots/sentences_written_query.rb
  services/QuillLMS/spec/factories/schools.rb
  services/QuillLMS/spec/queries/progress_reports/district_concept_reports_spec.rb
  services/QuillLMS/spec/queries/progress_reports/district_standards_reports_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_classrooms_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/active_students_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_assigned_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/activities_completed_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/average_activities_completed_per_student_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/schools_option_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/sentences_written_query_spec.rb
  services/QuillLMS/spec/queries/snapshots/student_learning_hours_query_spec.rb
  services/QuillLMS/spec/rails_helper.rb
  services/QuillLMS/spec/services/quill_big_query/client_fetcher_spec.rb
  services/QuillLMS/spec/support/shared/quill_big_query/test_runner.rb
  services/QuillLMS/spec/support/shared_contexts/quill_big_query_test_runner_setup.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_count_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_option_query_cte.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_period_query_cte.rb
  services/QuillLMS/spec/support/shared_examples/snapshots/snapshots_period_query_school_ids_rspec.rb
  services/QuillLMS/spec/support/shared_examples/snapshots/snapshots_period_query_timeframe_rspec.rb
Due: lms-edits

const -> let
  services/QuillLMS/client/app/bundles/Evidence/libs/stringFormatting.ts
Due: lms-client-edits

change file name
  services/QuillLMS/app/mailers/user_mailer.rb
Due: lms-edits

Refactor Google Auth logic
  services/QuillLMS/app/services/google_integration/refresh_access_token.rb
  services/QuillLMS/config/initializers/auth/google.rb
  services/QuillLMS/config/initializers/omniauth.rb
  services/QuillLMS/spec/services/google_integration/refresh_access_token_spec.rb
Due: lms-edits

Fix session_feedback_histories_controller_spec failure
  services/QuillLMS/spec/controllers/api/v1/session_feedback_histories_controller_spec.rb
Due: none

WIP adding spec to TopX queries
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/app/queries/quill_big_query/query.rb
  services/QuillLMS/app/queries/snapshots/period_query.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
  services/QuillLMS/spec/queries/snapshots/most_active_schools_query_spec.rb
  services/QuillLMS/spec/support/shared_contexts/snapshots/snapshots_top_x_cte.rb
Due: lms-edits

Fix feedback_history_spec failure
  services/QuillLMS/spec/models/feedback_history_spec.rb
Due: none

Remove Kindergarten from the grade options
  services/QuillLMS/app/controllers/snapshots_controller.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

revisions
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/customDateModal.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/filters.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/shared.ts
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotCount.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotFeedback.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotRanking.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/components/usage_snapshots/snapshotSection.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
Due: lms-edits, lms-client-edits
