Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Add resolver
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/resolver.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/completion_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/resolver_spec.rb
Due: lms-edits

tests tests tests
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/__snapshots__/helpfulTips.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/shared/__tests__/helpfulTips.test.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/formatAnswerStringForReport.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/tests/findFeedbackForReport.test.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/tests/formatAnswerStringForReport.test.tsx
  services/QuillLMS/client/app/bundles/Student/components/studentActivityReport/__tests__/__snapshots__/attempt.test.tsx.snap
  services/QuillLMS/client/app/bundles/Student/components/studentActivityReport/__tests__/__snapshots__/questionLevelInformation.test.tsx.snap
  services/QuillLMS/client/app/bundles/Student/components/studentActivityReport/__tests__/attempt.test.tsx
  services/QuillLMS/client/app/bundles/Student/components/studentActivityReport/__tests__/questionLevelInformation.test.tsx
  services/QuillLMS/client/app/bundles/Student/components/studentActivityReport/attempt.tsx
  services/QuillLMS/client/app/bundles/Student/components/studentActivityReport/questionLevelInformation.tsx
  services/QuillLMS/client/app/bundles/Student/components/studentActivityReport/shared.ts
  services/QuillLMS/client/app/bundles/Student/startup/StudentActivityReportAppClient.tsx
  services/QuillLMS/client/app/bundles/Student/startup/__tests__/StudentActivityReportAppClient.test.tsx
  services/QuillLMS/client/app/bundles/Student/startup/__tests__/__snapshots__/StudentActivityReportAppClient.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/__tests__/__snapshots__/student_report.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.tsx
  services/QuillLMS/spec/controllers/activity_sessions_controller_spec.rb
Due: lms-edits, lms-client-edits

Commit some temp code to test new logic for scoring Advance diagnostic
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_query.rb
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_view_query.rb
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
  services/QuillLMS/config/big_query_views.yml
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_view_STAGING.sql
Due: lms-edits, lms-client-edits

Turn on snapshots for all queries and run them
  services/QuillLMS/lib/snapshots/admin_diagnostics/diagnostic-skills-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/diagnostic-students-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/filter-scope.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/post-diagnostic-assigned-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/post-diagnostic-completed-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/pre-diagnostic-assigned-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/pre-diagnostic-completed-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/recommendations.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/student-recommendation.json
  services/QuillLMS/lib/tasks/queries.thor
Due: lms-edits

Remove extra classroom
  services/QuillLMS/lib/tasks/queries.thor
Due: lms-edits

remove stylesheet stub from spec
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/spec/views/user_mailer/daily_stats_email.html.erb_spec.rb
Due: lms-client-edits

Update snapshot job with new classroom for advanced diagnostic data
  services/QuillLMS/lib/tasks/queries.thor
Due: lms-edits

Commit snapshots from a run on the development branch
  services/QuillLMS/lib/snapshots/admin_diagnostics/diagnostic-skills-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/diagnostic-students-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/filter-scope.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/post-diagnostic-assigned-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/post-diagnostic-completed-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/pre-diagnostic-assigned-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/pre-diagnostic-completed-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/recommendations.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/student-recommendation.json
Due: lms-edits

stub stylesheet references in view specs
  services/QuillLMS/spec/views/user_mailer/daily_stats_email.html.erb_spec.rb
  services/QuillLMS/spec/views/user_mailer/ell_starter_diagnostic_info_email.html.erb_spec.rb
Due: none

try a new stubbing technique
  services/QuillLMS/spec/mailers/internal_tool_user_mailer_spec.rb
  services/QuillLMS/spec/mailers/premium_hub_user_mailer_spec.rb
  services/QuillLMS/spec/mailers/teacher_notifications/rollup_mailer_spec.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
Due: none

Fix spec
  services/QuillLMS/engines/evidence/lib/evidence/gemini/concerns/api.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/completion_spec.rb
Due: lms-edits

Add more info to Resolver erorr handling
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/resolver.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/resolver_spec.rb
Due: lms-edits

Add retry functionality and only show experiments that need to be retried in the experiments#index
  services/QuillLMS/engines/evidence/app/assets/stylesheets/evidence/research/gen_ai/application.css
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/experiments_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/index.html.erb
  services/QuillLMS/engines/evidence/config/routes.rb
Due: lms-edits

Move created_at to top of experiment#show
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/show.html.erb
Due: lms-edits

Fix Resolver:ResolverError
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/experiment.rb
Due: lms-edits

update so diagnostic sends to special results page
  packages/quill-cdn/assets/images/tools/tool-diagnostic-white.svg
  services/QuillLMS/app/assets/stylesheets/pages/student_results.scss
  services/QuillLMS/client/app/bundles/Diagnostic/components/diagnostics/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/utils/saveSession.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/activities/results_page/results_icon.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ResultsPage.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/ResultsPage.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/ResultsPage.test.jsx.snap
Due: lms-edits, lms-client-edits

update some more tests
  services/QuillLMS/client/app/bundles/Diagnostic/components/diagnostics/__tests__/studentDiagnostic.test.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/utils/__tests__/saveSession.test.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/utils/saveSession.tsx
Due: lms-client-edits

Deploy updated view definition and snapshot changes
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_view_STAGING.sql
  services/QuillLMS/lib/snapshots/admin_diagnostics/diagnostic-skills-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/diagnostic-students-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/post-diagnostic-completed-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/pre-diagnostic-completed-view.json
  services/QuillLMS/lib/snapshots/admin_diagnostics/recommendations.json
Due: lms-edits

Move updated View code into main View
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_view_query.rb
  services/QuillLMS/config/big_query_views.yml
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_view.sql
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_view_STAGING.sql
Due: lms-edits

Finish removing reference to old staging view from testing
  services/QuillLMS/app/queries/admin_diagnostic_reports/diagnostic_aggregate_view_query.rb
Due: lms-edits

Add Pre AP writing skills survey diagnostic to front-end drop-down
  services/QuillLMS/client/app/bundles/PremiumHub/shared.tsx
Due: lms-client-edits

refactor
  services/QuillLMS/client/app/bundles/Shared/libs/findFeedbackForReport.ts
Due: lms-client-edits

make sure we use score as well as questionScore for question optimality
  services/QuillLMS/client/app/bundles/Student/components/studentActivityReport/questionLevelInformation.tsx
  services/QuillLMS/client/app/bundles/Student/startup/StudentActivityReportAppClient.tsx
Due: lms-client-edits

one more test fix
  services/QuillLMS/client/app/bundles/Student/components/studentActivityReport/__tests__/questionLevelInformation.test.tsx
Due: lms-client-edits

change all imports to use local path
  services/QuillLMS/client/app/bundles/Connect/components/questions/responseList.jsx
  services/QuillLMS/client/app/bundles/Connect/components/sentenceFragments/sentenceFragmentTemplateComponentML.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/question.tsx
  services/QuillLMS/client/app/bundles/Connect/components/turk/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Connect/interfaces/questions.ts
  services/QuillLMS/client/app/bundles/Connect/libs/grading/rematching.ts
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/playFillInTheBlankQuestion.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/questions/responseList.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/renderForQuestions/answerState.ts
  services/QuillLMS/client/app/bundles/Diagnostic/components/renderForQuestions/checkAnswer.ts
  services/QuillLMS/client/app/bundles/Diagnostic/components/sentenceFragments/sentenceFragmentTemplateComponent.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/sentenceFragments/sentenceFragmentTemplateComponentML.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/libs/grading/rematching.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/responses.ts
  services/QuillLMS/client/app/bundles/Grammar/actions/session.ts
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/question.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/massEditContainer.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/question.tsx
  services/QuillLMS/client/app/bundles/Grammar/helpers/conceptResultsGenerator.ts
  services/QuillLMS/client/app/bundles/Grammar/interfaces/questions.ts
  services/QuillLMS/client/app/bundles/Grammar/libs/checkAnswer.ts
  services/QuillLMS/client/app/bundles/Grammar/libs/grading/rematching.ts
  services/QuillLMS/client/app/bundles/Lessons/components/renderForQuestions/answerState.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/.babelrc
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/.gitignore
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/.npmignore
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/LICENSE
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/README.md
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/config/rollup.js
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/deploy.sh
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/karma.conf.js
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/package-lock.json
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/package.json
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/tsconfig.json
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/tslint.json
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/webpack.config.js
Due: lms-client-edits

uninstall quill-marking-logic and also update rake task
  scripts/rake_tasks/license_finder.rake
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

Update shared context for diagnostics to include optimal concepts
  services/QuillLMS/spec/support/shared_contexts/materialized_views/pre_post_diagnostic_skill_group_performance_view.rb
Due: none

tests
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/diagnostic_question.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/diagnostic_question_integration.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/diagnostic_sentence_fragment_spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/fill_in_the_blank_integration.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/grammar_integration.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/sentence_combining.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/sentence_combining_integration.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/sentence_fragment.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/graders/sentence_fragment_integration.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/case_insensitive_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/case_start_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/change_object_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/exact_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/focus_point_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/incorrect_sequence_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/length_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/machine_learning_sentence_matcher.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/max_length_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/min_length_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/punctuation_and_case_insensitive_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/punctuation_end_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/punctuation_insensitive_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/quotation_mark_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/required_words_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/spacing_after_comma_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/spacing_before_punctuation_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/spacy_pos_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/whitespace_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/words_out_of_order_match.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/spellchecker/brain.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/spellchecker/correct.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/spellchecker/correctSentence.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/spellchecker/edits.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/spellchecker/main.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/spellchecker/processSentence.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/spellchecker/processSentences.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/spellchecker/train.spec.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/test/module.spec.ts
Due: lms-client-edits

uncomment and rewrite parts of speech matcher; remove qml from circleci
  .circleci/config.yml
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/parts_of_speech_match.spec.ts
Due: lms-client-edits

fix one more import
  services/QuillLMS/client/app/bundles/Grammar/components/questions/responseList.tsx
Due: lms-client-edits

fix circle ci config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Add a reference record for when the data is missing
  services/QuillLMS/spec/queries/admin_diagnostic_reports/post_diagnostic_assigned_view_query_spec.rb
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_assigned_view_query_spec.rb
Due: none

Add some additional specs around DiagnosticQuestionOptimalConcepts
  services/QuillLMS/spec/queries/admin_diagnostic_reports/pre_diagnostic_completed_view_query_spec.rb
Due: none

add order variable to new incorrect sequences on all apps
  services/QuillLMS/client/app/bundles/Connect/components/incorrectSequence/newIncorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/incorrectSequence/newIncorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/newIncorrectSequenceContainer.tsx
Due: lms-client-edits

save incorrect sequence order button on grammar
  services/QuillLMS/client/app/bundles/Grammar/components/questions/incorrectSequenceContainer.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/questions/newIncorrectSequenceContainer.tsx
Due: lms-client-edits

AGDR/ sort Classroom and Teacher aggregate row data for Overview alphabetically (#11726)
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/diagnosticGrowthReportsHelpers.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/helpers.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/overviewSection.tsx
Due: lms-client-edits

AGDR/ No Growth UX update (#11723)
  services/QuillLMS/Procfile.dev
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/growth-diagnostic-reports.scss
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/diagnosticGrowthReportsHelpers.test.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/helpers.tsx
Due: lms-edits, lms-client-edits

Update to view definition based on PR feedback
  services/QuillLMS/db/big_query/views/pre_post_diagnostic_skill_group_performance_view.sql
Due: lms-edits

update connect and grammar
  services/QuillLMS/client/app/bundles/Connect/components/incorrectSequence/incorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Connect/components/incorrectSequence/newIncorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/incorrectSequence/incorrectSequenceContainer.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/incorrectSequence/newIncorrectSequenceContainer.jsx
Due: lms-client-edits
