Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Add to package.json
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

package bumps
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

typo
  services/QuillLMS/client/package-lock.json
Due: lms-client-edits

braces in parent directory
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: none

ws updates in parent
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: none

ws in client
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
Due: lms-client-edits

syntax
  services/QuillLMS/client/package.json
Due: lms-client-edits

syntsx
  services/QuillLMS/package-lock.json
Due: none

last syntax
  services/QuillLMS/package.json
Due: none

update homepage for content hubs (#12179)
  packages/quill-cdn/assets/images/pages/dashboard/quill-and-ai-edu-logo.svg
  packages/quill-cdn/assets/images/pages/dashboard/quill-and-oer-logo.svg
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/content_hub_card.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/handy_actions.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/index.scss
  services/QuillLMS/app/assets/stylesheets/shared/index.scss
  services/QuillLMS/app/assets/stylesheets/shared/new_tag.scss
  services/QuillLMS/client/app/bundles/Shared/images/index.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/client/app/bundles/Staff/styles/style_guide.scss
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/content_hub_card.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/handy_actions.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/content_hub_card.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/handy_actions.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/content_hub_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/handy_actions.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/dashboard.tsx
Due: lms-edits, lms-client-edits

fix css formatting; add test
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/subject_page.scss
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/SocialStudiesSubjectPage.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/SocialStudiesSubjectPage.test.jsx.snap
Due: lms-edits, lms-client-edits

start saving percentages for evidence
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/container.tsx
  services/QuillLMS/client/app/bundles/Evidence/libs/conceptResults.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.test.ts
Due: lms-client-edits

simplify logic and testS
  services/QuillLMS/client/app/bundles/Evidence/libs/conceptResults.ts
  services/QuillLMS/client/app/bundles/Evidence/tests/libs/conceptResults.test.ts
Due: lms-client-edits

revisions
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/evidence.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/modules/questionsAndAnswers/socialStudies.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/QuestionsAndAnswers.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/SocialStudiesSubjectPage.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/SocialStudiesSubjectPage.test.jsx.snap
Due: lms-edits, lms-client-edits

package updates after vite upgrade script
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-edits

restoring Ruby declaration
  services/QuillLMS/Gemfile
Due: lms-edits

move i18n translation logic into shared bundle
  services/QuillLMS/client/app/bundles/Diagnostic/app.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/landingPage.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/titleCard.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/home.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/titleCards/titleCardForm.tsx
  services/QuillLMS/client/app/bundles/Diagnostic/i18n.js
  services/QuillLMS/client/app/bundles/Diagnostic/styles/style.scss
  services/QuillLMS/client/app/bundles/Diagnostic/styles/variables.scss
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/translations/helpers.ts
  services/QuillLMS/client/app/bundles/Shared/libs/translations/i18n.js
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/arabic/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/chinese/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/commonText.js
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/dari/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/english/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/french/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/german/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/hindi/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/japanese/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/korean/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/languagePageInfo.js
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/portuguese/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/russian/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/spanish/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/tagalog/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/thai/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/ukrainian/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/urdu/translation.json
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/vietnamese/translation.json
  services/QuillLMS/client/app/bundles/Shared/styles/activity_container.scss
  services/QuillLMS/client/app/bundles/Shared/styles/button-archived.scss
Due: lms-client-edits

cleanup
  services/QuillLMS/.env.development
  services/QuillLMS/vite.config.ts
Due: none

translate submit button for Grammar
  services/QuillLMS/client/app/bundles/Diagnostic/components/eslDiagnostic/studentDiagnostic.jsx
  services/QuillLMS/client/app/bundles/Grammar/App.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/question.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/spanish/translation.json
Due: lms-client-edits

fix logic around 0 vs null for direct_certification and free_lunches attributes for schools (#12178)
  services/QuillLMS/app/workers/sync_school_data_from_url_worker.rb
  services/QuillLMS/spec/workers/sync_school_data_from_url_worker_spec.rb
Due: lms-edits

translate save and exit button for Grammar
  services/QuillLMS/client/app/bundles/Grammar/components/Header.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/PageLayout.tsx
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/index.ts
  services/QuillLMS/client/app/bundles/Shared/libs/translations/helpers.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/spanish/translation.json
Due: lms-client-edits

minor evidence ui changes
  services/QuillLMS/client/app/bundles/Evidence/components/activitySlides/postActivitySlide.tsx
  services/QuillLMS/client/app/bundles/Evidence/components/studentView/feedback.tsx
  services/QuillLMS/client/app/bundles/Evidence/styles/postActivitySlide.scss
  services/QuillLMS/client/app/bundles/Evidence/tests/components/activitySlides/__snapshots__/postActivitySlide.test.tsx.snap
  services/QuillLMS/client/app/bundles/Evidence/tests/components/studentView/__snapshots__/promptStep.test.tsx.snap
Due: lms-client-edits

Add the new Diagnostic banner back to the Assign Diagnostics page (#12188)
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/assign_a_diagnostic.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/assign_a_diagnostic.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
Due: lms-client-edits

all copy changes
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/__tests__/__snapshots__/previouslyAssignedTooltip.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/teacher_fix/merge_activity_packs.tsx
  services/QuillLMS/client/app/bundles/Teacher/helpers/unitTemplates.tsx
  services/QuillLMS/spec/helpers/footer_helper_spec.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits, lms-client-edits

change names of variables
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/app/views/teachers/shared/_scorebook_tabs.html.erb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits

Vite5 (#12204)
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-edits

package updates after vite upgrade script
  services/QuillLMS/Gemfile
Due: lms-edits

CCI, ruby version
  .circleci/continue_config.yml
  services/QuillLMS/.ruby-version
Due: none

gemfile
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
Due: lms-edits

Add a worker for Monthly subscriptions and add workers to Cron
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_monthly_subscriptions_worker.rb
Due: lms-edits

Refactor workers and add specs
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_monthly_subscriptions_worker.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_subscriptions_worker.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_weekly_subscriptions_worker.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_monthly_subscriptions_worker_spec.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_weekly_subscriptions_worker_spec.rb
Due: lms-edits

Do some refactoring to make mailers construct more cleanly
  services/QuillLMS/app/mailers/admin_diagnostic_reports/report_mailer.rb
  services/QuillLMS/app/mailers/admin_diagnostic_reports/subscription_report_mailer.rb
  services/QuillLMS/app/views/admin_diagnostic_reports/subscription_report_mailer/csv_download_email.html.erb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_subscription_csv_email_worker.rb
  services/QuillLMS/spec/workers/admin_diagnostic_reports/send_subscription_csv_email_worker_spec.rb
Due: lms-edits

Update cron spec
  services/QuillLMS/spec/models/cron_spec.rb
Due: none

Upgrade ws, braces packages for security (#12202)
  services/QuillLMS/client/package-lock.json
  services/QuillLMS/client/package.json
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
Due: lms-client-edits

scoring updates changed to premium banner
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/scoring_updates_card.tsx
Due: lms-client-edits

close quotation
  services/QuillLMS/package-lock.json
Due: none

close quotation (#12212)
  services/QuillLMS/package-lock.json
Due: none

tag text
  services/QuillLMS/client/app/bundles/Shared/components/shared/postNavigationBanner.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/scoring_updates_card.tsx
Due: lms-client-edits

button
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/scoring_updates_card.tsx
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
