Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Revert "Revert "rails 7.1 (#12270)" (#12296)"
  .circleci/continue_config.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_skills_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_students_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

manifest added icons
  services/QuillLMS/config/manifest.json
Due: lms-edits

Evidence GenAI - Return static optimal feedback from rules. (#12300)
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/response_builder_spec.rb
Due: lms-edits

replace scoring card with school yer update card
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/index.scss
  services/QuillLMS/app/assets/stylesheets/pages/teacher_dashboard/scoring_updates_card.scss
  services/QuillLMS/client/app/bundles/Shared/components/shared/postNavigationBanner.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/banner.scss
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/__snapshots__/promotional_card.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/__tests__/promotional_card.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/promotional_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/school_year_updates_card.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/dashboard/scoring_updates_card.tsx
Due: lms-edits, lms-client-edits

fix featured activity pack link
  services/QuillLMS/app/helpers/content_hubs_helper.rb
Due: lms-edits

qa fixes
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/containers/BuildingAIKnowledge.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/InterdisciplinaryScienceSubjectPage.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/InterdisciplinaryScienceSubjectPage.test.jsx.snap
Due: lms-edits, lms-client-edits

update course page to always go to top
  services/QuillLMS/client/app/bundles/Teacher/containers/CoursePage.tsx
Due: lms-client-edits

snapshot update
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/InterdisciplinaryScienceSubjectPage.test.jsx.snap
Due: lms-client-edits

fix view sample activity links to not be hardcoded to prod
  services/QuillLMS/app/views/evidence/_first_topic.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
Due: lms-edits

update proofreader regex to match unnecessary space edits (#12282)
  services/QuillLMS/client/app/bundles/Proofreader/components/proofreaderActivities/sharedRegexes.ts
Due: lms-client-edits

fix course page zero problem
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_activity.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/BuildingAIKnowledgeContainer.test.tsx.snap
Due: lms-client-edits

fix vitally spec (#12326)
  services/QuillLMS/spec/services/vitally_integration/previous_year_school_datum_spec.rb
Due: none

setup Playwright e2e env; add initial e2e tests (#12223)
  .circleci/config.yml
  .circleci/continue_config.yml
  services/QuillLMS/.env-sample
  services/QuillLMS/.gitignore
  services/QuillLMS/Procfile.ci
  services/QuillLMS/e2e/README.md
  services/QuillLMS/e2e/main.spec.ts
  services/QuillLMS/lib/tasks/local_data.rake
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/playwright.config.ts
Due: lms-edits

fix standards pages to show scored evidence activities; update helpful article on activity summary page (#12310)
  services/QuillLMS/app/queries/progress_reports/standards/all_classrooms_standard.rb
  services/QuillLMS/app/queries/progress_reports/standards/new_standard.rb
  services/QuillLMS/app/queries/progress_reports/standards/standard.rb
  services/QuillLMS/app/serializers/progress_reports/standards/standard_serializer.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/standardsReportsTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/__tests__/standards_standard_students_progress_report.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/constants/featuredBlogPost.ts
  services/QuillLMS/spec/queries/progress_reports/standards/all_classrooms_standard_spec.rb
  services/QuillLMS/spec/serializers/progress_reports/standards/standard_serializer_spec.rb
Due: lms-edits, lms-client-edits

Evidence GenAI - Only use previous feedback for prompt (not session) (#12304)
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/config/initializers/evidence.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/spec/dummy/app/models/feedback_session.rb
  services/QuillLMS/engines/evidence/spec/lib/check/gen_ai_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

New static prompt for coral because. (#12311)
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/673.md
Due: lms-edits

Add DataSubset functionality
  services/QuillLMS/db/migrate/20240828221440_add_parent_id_to_evidence_research_gen_ai_dataset.evidence.rb
  services/QuillLMS/db/structure.sql
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/datasets_controller.rb
  services/QuillLMS/engines/evidence/app/controllers/evidence/research/gen_ai/stem_vaults_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/dataset.rb
  services/QuillLMS/engines/evidence/app/services/evidence/research/gen_ai/data_subset_builder.rb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/application/_confusion_matrix.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/comparisons/show.html.erb
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/datasets/show.html.erb
  services/QuillLMS/engines/evidence/db/migrate/20240828221309_add_parent_id_to_evidence_research_gen_ai_dataset.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/research/gen_ai/datasets_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/structure.sql
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/datasets.rb
  services/QuillLMS/engines/evidence/spec/factories/evidence/research/gen_ai/prompt_examples.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/dataset_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/research/gen_ai/data_subset_builder_spec.rb
Due: lms-edits

Fix temperature implementation on LLMs (#12305)
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_spec.rb
Due: lms-edits

Evidence GenAI - Improvements to RepeatFeedback::Checker (#12312)
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/checker.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini2.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini2_with_table_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini_with_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_open_ai_new.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_open_ai_new_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/results/test_runs.csv
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/chat.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/chat_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback/checker_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback/prompt_builder_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

all changed files
  services/QuillLMS/app/controllers/static_controller.rb
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/app/views/layouts/home.html.erb
  services/QuillLMS/config/manifest.json
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/static_controller_spec.rb
Due: lms-edits

css adjustments
  services/QuillLMS/client/app/assets/styles/home.scss
Due: lms-client-edits

adjust button l styling; add xl; add to backpack (#12325)
  services/QuillLMS/client/app/bundles/Shared/styles/button.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/__tests__/__snapshots__/buttons.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/buttons.tsx
Due: lms-client-edits

fix lint
  services/QuillLMS/app/helpers/footer_helper.rb
  services/QuillLMS/spec/helpers/footer_helper_spec.rb
Due: lms-edits

fix tests
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: none

update slugignore to ignore snapshot tests
  services/QuillLMS/.slugignore
Due: none

add images to backpack
  packages/quill-cdn/assets/images/icons/xl/comment-document.svg
  packages/quill-cdn/assets/images/icons/xl/diamond-in-hand.svg
  packages/quill-cdn/assets/images/icons/xl/fountain-pen.svg
  packages/quill-cdn/assets/images/icons/xl/global-education.svg
  packages/quill-cdn/assets/images/icons/xl/lecture-hall.svg
  packages/quill-cdn/assets/images/icons/xl/research-books.svg
  packages/quill-cdn/assets/images/icons/xl/search-document.svg
  packages/quill-cdn/assets/images/icons/xl/time-in-hand.svg
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/subject_page.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
  services/QuillLMS/config/puma.rb
Due: lms-edits, lms-client-edits

change start url to production
  services/QuillLMS/config/manifest.json
Due: lms-edits

put this back
  services/QuillLMS/config/puma.rb
Due: lms-edits

add images to backpack (#12331)
  packages/quill-cdn/assets/images/icons/xl/comment-document.svg
  packages/quill-cdn/assets/images/icons/xl/diamond-in-hand.svg
  packages/quill-cdn/assets/images/icons/xl/fountain-pen.svg
  packages/quill-cdn/assets/images/icons/xl/global-education.svg
  packages/quill-cdn/assets/images/icons/xl/lecture-hall.svg
  packages/quill-cdn/assets/images/icons/xl/research-books.svg
  packages/quill-cdn/assets/images/icons/xl/search-document.svg
  packages/quill-cdn/assets/images/icons/xl/time-in-hand.svg
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/subject_page.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
Due: lms-edits, lms-client-edits

Rails 7.1 (#12323)
  .circleci/continue_config.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_skills_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_students_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

Add service to handle assigning items to sequence on assignment
  services/QuillLMS/app/services/find_sequence_start_activity.rb
  services/QuillLMS/app/services/student_activity_sequences/find_start_activity.rb
  services/QuillLMS/app/services/student_activity_sequences/handle_assignment.rb
  services/QuillLMS/spec/services/find_sequence_start_activity_spec.rb
  services/QuillLMS/spec/services/student_activity_sequences/find_start_activity_spec.rb
  services/QuillLMS/spec/services/student_activity_sequences/handle_assignment_spec.rb
Due: lms-edits

Add service to handle updating sequences on activity completion
  services/QuillLMS/app/services/student_activity_sequences/handle_completion.rb
Due: lms-edits

change to public folder and no route
  services/QuillLMS/app/controllers/static_controller.rb
  services/QuillLMS/config/manifest.json
  services/QuillLMS/config/routes.rb
  services/QuillLMS/public/manifest.json
  services/QuillLMS/spec/controllers/static_controller_spec.rb
Due: lms-edits

fix and spec addition
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/spec/services/vitally_integration/previous_year_school_datum_spec.rb
Due: lms-edits

fix trailing whitespace
  services/QuillLMS/spec/services/vitally_integration/previous_year_school_datum_spec.rb
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
