Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

switch to using numbers for schools and districts in segment/vitally
  services/QuillLMS/app/models/segment_integration/user.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: lms-edits

standardize some stuff around school selection
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/edit/teacher_general.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_us_k12.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_and_district_premium_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/shared/school_selector.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
Due: lms-client-edits

additional lazy loading updates
  services/QuillLMS/app/helpers/mobile_helper.rb
  services/QuillLMS/app/views/evidence/_first_topic.html.erb
  services/QuillLMS/app/views/evidence/_home_section.html.erb
  services/QuillLMS/app/views/evidence/_second_topic.html.erb
  services/QuillLMS/app/views/evidence/_third_topic.html.erb
  services/QuillLMS/app/views/navbar/_tooltip_link.html.erb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/home_new.html.erb
  services/QuillLMS/spec/helpers/mobile_helper_spec.rb
Due: lms-edits

revisions
  services/QuillLMS/app/assets/stylesheets/pages/admin_dashboard/admin-dashboard.scss
  services/QuillLMS/app/assets/stylesheets/pages/sign_up.scss
  services/QuillLMS/app/controllers/admin_infos_controller.rb
  services/QuillLMS/app/controllers/auth/google_controller.rb
  services/QuillLMS/app/controllers/verify_emails_controller.rb
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/views/user_mailer/user_requested_admin_verification_email.html.erb
  services/QuillLMS/app/workers/user_requested_admin_verification_email_worker.rb
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/__tests__/__snapshots__/approveModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/__tests__/__snapshots__/denyModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/__tests__/__snapshots__/undoModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/approveModal.tsx
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/denyModal.tsx
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/undoModal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_sub_role.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/verify_school.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_sub_role.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_email.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_school.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/premiumFeatures.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/premiumFeatures.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/AdminDashboard.test.jsx.snap
Due: lms-edits, lms-client-edits

Update stripe_invoice_id language in cms subscription form
  services/QuillLMS/client/app/bundles/Teacher/containers/EditOrCreateSubscription.jsx
Due: lms-client-edits

lms/simplipfy-started-count-query (#10296)
  services/QuillLMS/app/controllers/teachers/units_controller.rb
Due: lms-edits

fix carousels
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/pages/evidence_tool.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
  services/QuillLMS/client/app/assets/styles/home.scss
  services/QuillLMS/client/app/bundles/Public/public.js
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/webpack.client.base.config.js
  services/QuillLMS/client/webpack.client.dev.base.config.js
Due: lms-edits, lms-client-edits

add more webp images
  packages/quill-cdn/assets/images/tools/Diagnostic1.webp
  packages/quill-cdn/assets/images/tools/Grammar1.webp
  packages/quill-cdn/assets/images/tools/Proofreader1.webp
  packages/quill-cdn/assets/images/tools/connect/attempt_1.webp
  packages/quill-cdn/assets/images/tools/connect/attempt_2.webp
  packages/quill-cdn/assets/images/tools/connect/attempt_3.webp
  packages/quill-cdn/assets/images/tools/connect/attempt_4.webp
  packages/quill-cdn/assets/images/tools/connect/laura_marshall_student.webp
  packages/quill-cdn/assets/images/tools/connect/visual_overview_screenshot.webp
  packages/quill-cdn/assets/images/tools/lessons/Lessons_Testimonial_Image.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_intro_slide_1.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_intro_slide_2.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_intro_slide_3.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_intro_slide_4.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_1.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_2.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_3.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_4.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_5.webp
Due: none

add more webp images
  packages/quill-cdn/assets/images/tools/Diagnostic1.webp
  packages/quill-cdn/assets/images/tools/Grammar1.webp
  packages/quill-cdn/assets/images/tools/Proofreader1.webp
  packages/quill-cdn/assets/images/tools/connect/attempt_1.webp
  packages/quill-cdn/assets/images/tools/connect/attempt_2.webp
  packages/quill-cdn/assets/images/tools/connect/attempt_3.webp
  packages/quill-cdn/assets/images/tools/connect/attempt_4.webp
  packages/quill-cdn/assets/images/tools/connect/laura_marshall_student.webp
  packages/quill-cdn/assets/images/tools/connect/visual_overview_screenshot.webp
  packages/quill-cdn/assets/images/tools/lessons/Lessons_Testimonial_Image.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_intro_slide_1.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_intro_slide_2.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_intro_slide_3.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_intro_slide_4.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_1.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_2.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_3.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_4.webp
  packages/quill-cdn/assets/images/tools/lessons/lessons_screenshot_5.webp
  services/QuillLMS/app/views/pages/connect_tool.erb
  services/QuillLMS/app/views/pages/diagnostic_tool.erb
  services/QuillLMS/app/views/pages/grammar_tool.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
  services/QuillLMS/app/views/pages/proofreader_tool.erb
Due: lms-edits

move blogposts app to public bundle
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/app/views/layouts/twenty_seventeen_home.html.erb
  services/QuillLMS/app/views/pages/lessons_tool.erb
  services/QuillLMS/client/app/bundles/Public/startup/blogPostsApp.jsx
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Teacher/startup/BlogPostsAppClient.jsx
  services/QuillLMS/client/app/bundles/Teacher/startup/clientRegistration.jsx
Due: lms-edits, lms-client-edits

Introduce a job and mailer to report on Stripe invoices w/o subscriptions
  services/QuillLMS/app/mailers/stripe_integration/mailer.rb
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/views/stripe_integration/mailer/invoices_without_subscriptions.html.erb
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions.rb
Due: lms-edits

refactor fetch_diagnostics_unit_cache
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/app/services/diagnostic_unit_records_fetcher.rb
  services/QuillLMS/app/services/diagnostics_organized_by_classroom_fetcher.rb
Due: lms-edits

Add back in caching
  services/QuillLMS/app/controllers/teachers/units_controller.rb
Due: lms-edits

Update stripe_invoice_id language in cms subscription form (#10297)
  services/QuillLMS/client/app/bundles/Teacher/containers/EditOrCreateSubscription.jsx
Due: lms-client-edits

Fix spec
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
Due: none

final update
  services/QuillLMS/app/controllers/pages_controller.rb
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
Due: lms-edits, lms-client-edits

linter error
  services/QuillLMS/app/services/diagnostics_organized_by_classroom_fetcher.rb
Due: lms-edits

move BlogPostApp back to Teacher bundle
  services/QuillLMS/app/controllers/blog_posts_controller.rb
  services/QuillLMS/client/app/bundles/Public/startup/blogPostsApp.jsx
  services/QuillLMS/client/app/bundles/Public/startup/clientRegistration.js
  services/QuillLMS/client/app/bundles/Teacher/startup/BlogPostsAppClient.jsx
  services/QuillLMS/client/app/bundles/Teacher/startup/QuestionsAndAnswersClient.tsx
  services/QuillLMS/client/app/bundles/Teacher/startup/clientRegistration.jsx
Due: lms-edits, lms-client-edits

last two bug fixes
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
Due: lms-edits, lms-client-edits

Refactor teacher units controller (#10300)
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/app/services/diagnostic_unit_records_fetcher.rb
  services/QuillLMS/app/services/diagnostics_organized_by_classroom_fetcher.rb
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
Due: lms-edits

small css change
  services/QuillLMS/client/app/assets/styles/tool-section.scss
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/unit_template_first_row.jsx
Due: lms-client-edits

update snapshots
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateFirstRow.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/unit_templates_manager/__tests__/__snapshots__/unitTemplateMini.test.tsx.snap
Due: lms-client-edits

fix bug with nil ip address
  services/QuillLMS/app/controllers/cms/admin_verification_controller.rb
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/AdminDashboard.test.jsx.snap
Due: lms-edits, lms-client-edits

small css
  services/QuillLMS/app/assets/stylesheets/shared/banner-with-button.scss
Due: lms-edits

show Evidence articles publically
  services/QuillLMS/app/views/blog_posts/index.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/blog_post_index.jsx
  services/QuillLMS/spec/controllers/blog_posts_controller_spec.rb
Due: lms-edits, lms-client-edits

update email for verification
  services/QuillLMS/app/mailers/user_mailer.rb
Due: lms-edits

update snapshot
  services/QuillLMS/client/app/bundles/Teacher/components/blog_posts/__tests__/__snapshots__/blog_post_index.test.jsx.snap
Due: lms-client-edits

tests
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/spec/controllers/admin_infos_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/admin_verification_controller_spec.rb
  services/QuillLMS/spec/controllers/verify_emails_controller_spec.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/workers/user_requested_admin_verification_email_worker_spec.rb
Due: lms-edits

fix whitespace
  services/QuillLMS/app/controllers/verify_emails_controller.rb
Due: lms-edits

test/lint fixes
  services/QuillLMS/spec/controllers/admin_infos_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/admin_verification_controller_spec.rb
  services/QuillLMS/spec/controllers/verify_emails_controller_spec.rb
Due: none

fix test
  services/QuillLMS/app/models/segment_integration/user.rb
Due: lms-edits

fix test
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
Due: none

style changes (#10295)
  services/QuillLMS/app/assets/stylesheets/pages/assign_a_new_activity.scss
  services/QuillLMS/app/views/application/_sub_header.html.erb
Due: lms-edits

fix tests
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/workers/user_requested_admin_verification_email_worker_spec.rb
Due: none

admin segment and vitally updates (#10284)
  services/QuillLMS/app/models/segment_integration/user.rb
  services/QuillLMS/app/services/vitally_integration/serialize_vitally_sales_user.rb
  services/QuillLMS/app/workers/user_login_worker.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: lms-edits

admin onboarding/dashboard revisions (#10304)
  services/QuillLMS/app/assets/stylesheets/pages/admin_dashboard/admin-dashboard.scss
  services/QuillLMS/app/assets/stylesheets/pages/sign_up.scss
  services/QuillLMS/app/controllers/admin_infos_controller.rb
  services/QuillLMS/app/controllers/auth/google_controller.rb
  services/QuillLMS/app/controllers/cms/admin_verification_controller.rb
  services/QuillLMS/app/controllers/verify_emails_controller.rb
  services/QuillLMS/app/mailers/user_mailer.rb
  services/QuillLMS/app/views/user_mailer/user_requested_admin_verification_email.html.erb
  services/QuillLMS/app/workers/user_requested_admin_verification_email_worker.rb
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/__tests__/__snapshots__/approveModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/__tests__/__snapshots__/denyModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/__tests__/__snapshots__/undoModal.test.tsx.snap
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/approveModal.tsx
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/denyModal.tsx
  services/QuillLMS/client/app/bundles/Staff/components/adminVerification.tsx/undoModal.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_sub_role.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/verify_school.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_sub_role.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_email.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/verify_school.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/premiumFeatures.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/premiumFeatures.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/AdminDashboardContainer.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/containers/__tests__/__snapshots__/AdminDashboard.test.jsx.snap
  services/QuillLMS/spec/controllers/admin_infos_controller_spec.rb
  services/QuillLMS/spec/controllers/cms/admin_verification_controller_spec.rb
  services/QuillLMS/spec/controllers/verify_emails_controller_spec.rb
  services/QuillLMS/spec/mailers/user_mailer_spec.rb
  services/QuillLMS/spec/workers/user_requested_admin_verification_email_worker_spec.rb
Due: lms-edits, lms-client-edits

remove gate for admin sign up access
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/__tests__/__snapshots__/select_user_type.test.tsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/accounts/new/select_user_type.jsx
Due: lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
