Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).* lms-edits true
            services/QuillLMS/client/.* lms-client-edits true
            services/QuillCMS/.* cms-edits true
            packages/quill-marking-logic/.* marking-logic-edits true
          base-revision: develop
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix imports
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
Due: lms-client-edits

Refactor to use individual tab saved params
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
Due: lms-edits

Fix multi-tab config
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
  services/QuillLMS/app/workers/admin_diagnostic_reports/send_csv_email_worker.rb
Due: lms-edits

Fix fallback logic for missing stored filters
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

Extract correct params
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

Temp change for testing
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

Refactor client_fetcher to client with inheritance hierarchy
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/client_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/deployed_model_names_and_projects_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/endpoint_client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/model_client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/params_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/prediction_client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/text_classifier.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/client_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/client_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/deployed_model_names_and_projects_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/endpoint_client_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/model_client_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/params_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/prediction_client_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/text_classifier_spec.rb
Due: lms-edits

Rename, work on prompt
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat_with_history.rb
Due: lms-edits

Rename auto_ml? to use_for_optimal_feedback?
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/auto_ml.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/base.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/chat_gpt.rb
Due: lms-edits

Fix spec
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/client_spec.rb
Due: lms-edits

Fix bug
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
Due: lms-edits

Wip. Working version of AI testing in console.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt.rb
  services/QuillLMS/engines/evidence/app/models/evidence/rule.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/chat_gpt.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat_with_history.rb
Due: lms-edits

Use Env var for template.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
Due: lms-edits

Enqueue asynchronously
  services/QuillLMS/app/workers/admin_diagnostic_reports/enqueue_csv_email_worker.rb
Due: lms-edits

Parse json.
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat_with_history.rb
Due: lms-edits

Bug fixes from testing.
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
Due: lms-edits

Bug fixes from testing.
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
Due: lms-edits

Add tasks to populate Rules.
  services/QuillLMS/engines/evidence/app/models/evidence/rule.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/response_builder.rb
  services/QuillLMS/engines/evidence/lib/tasks/gen_ai.rake
Due: lms-edits

Self review cleanup.
  services/QuillLMS/app/models/feedback_history.rb
  services/QuillLMS/engines/evidence/app/models/evidence/rule.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat_with_history.rb
Due: lms-edits

Fix typo
  services/QuillLMS/engines/evidence/lib/evidence/check.rb
Due: lms-edits

Fix bug with history.
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat_with_history.rb
Due: lms-edits

Add controller spec for new action
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
Due: none

Update snapshot for reports page with new download UX
  services/QuillLMS/client/app/bundles/PremiumHub/containers/__tests__/__snapshots__/diagnosticGrowthReports.test.tsx.snap
Due: lms-client-edits

Include examples to make the activity easier.
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/system_prompt_builder.rb
Due: lms-edits

add padding and styling to unordered list
  services/QuillLMS/client/app/bundles/Shared/styles/conceptFeedback.scss
Due: lms-client-edits

Fix delete concept feedback feature, add new default instruction (#11862)
  services/QuillLMS/app/controllers/api/v1/concept_feedback_controller.rb
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concept-feedback.jsx
  services/QuillLMS/client/app/bundles/Connect/constants.js
  services/QuillLMS/client/app/bundles/Diagnostic/components/feedback/concept-feedback.jsx
  services/QuillLMS/client/app/bundles/Grammar/components/conceptsFeedback/conceptFeedback.tsx
Due: lms-edits, lms-client-edits

add concept name to concepts without data
  services/QuillLMS/client/app/bundles/Connect/components/feedback/concept-feedback.jsx
Due: lms-client-edits

logging for info
  services/QuillLMS/client/app/bundles/Teacher/components/assignment_flow/create_unit/custom_activity_pack/index.tsx
Due: lms-client-edits

Update VertexAI client access to per project calls. (#11858)
  services/QuillLMS/.env-sample
  services/QuillLMS/client/app/bundles/Staff/components/evidence/semanticRules/modelForm.tsx
  services/QuillLMS/client/app/bundles/Staff/utils/evidence/modelAPIs.ts
  services/QuillLMS/engines/evidence/app/controllers/evidence/automl_models_controller.rb
  services/QuillLMS/engines/evidence/app/models/evidence/automl_model.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/deployed_model_names_fetcher.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/endpoint_client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/model_client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/params_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/prediction_client.rb
  services/QuillLMS/engines/evidence/app/services/evidence/vertex_ai/text_classifier.rb
  services/QuillLMS/engines/evidence/config/initializers/google/cloud/vertex_ai.rb
  services/QuillLMS/engines/evidence/config/initializers/vertex_ai.rb
  services/QuillLMS/engines/evidence/config/routes.rb
  services/QuillLMS/engines/evidence/spec/controllers/evidence/automl_models_controller_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/automl_model_spec.rb
  services/QuillLMS/engines/evidence/spec/rails_helper.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/client_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/deployed_model_names_fetcher_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/endpoint_client_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/model_client_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/params_builder_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/prediction_client_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/vertex_ai/text_classifier_spec.rb
Due: lms-edits, lms-client-edits

Add specs for CSV adapters
  services/QuillLMS/spec/queries/adapters/csv/admin_diagnostic_overview_data_export_spec.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_diagnostic_skills_summary_data_export_spec.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_diagnostic_students_summary_data_export_spec.rb
Due: none

start rendering id for skill groups; update local data rake
  services/QuillLMS/app/models/skill_group.rb
  services/QuillLMS/config/initializers/rails_admin.rb
  services/QuillLMS/lib/tasks/local_data.rake
Due: lms-edits

try accepts_nested_attributes
  services/QuillLMS/app/models/skill_group.rb
Due: lms-edits

Update CSV formatting with tweaks from Peter S
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_overview_data_export.rb
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_skills_summary_data_export.rb
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_students_summary_data_export.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_diagnostic_overview_data_export_spec.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_diagnostic_skills_summary_data_export_spec.rb
  services/QuillLMS/spec/queries/adapters/csv/admin_diagnostic_students_summary_data_export_spec.rb
Due: lms-edits

Update "tooltip" row data with custom copy
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_overview_data_export.rb
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_skills_summary_data_export.rb
  services/QuillLMS/app/queries/adapters/csv/admin_diagnostic_students_summary_data_export.rb
Due: lms-edits

Refactor "download" function hierarchy
  services/QuillLMS/client/app/bundles/PremiumHub/containers/PremiumFilterableReportsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/UsageSnapshotsContainer.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/index.tsx
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-client-edits

try it
  services/QuillLMS/app/models/skill_group.rb
  services/QuillLMS/config/initializers/rails_admin.rb
Due: lms-edits

Update Student 500-results "download" button to trigger CSV download
  services/QuillLMS/client/app/bundles/PremiumHub/containers/diagnosticGrowthReports/studentSection.tsx
Due: lms-client-edits

try this
  services/QuillLMS/config/initializers/rails_admin.rb
Due: lms-edits

get rid of all this
  services/QuillLMS/config/initializers/rails_admin.rb
Due: lms-edits

Fix experiment#show template
  services/QuillLMS/engines/evidence/app/views/evidence/research/gen_ai/experiments/show.html.erb
Due: lms-edits
