Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

qa fixes
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/client/app/bundles/Teacher/containers/BuildingAIKnowledge.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/InterdisciplinaryScienceSubjectPage.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/InterdisciplinaryScienceSubjectPage.test.jsx.snap
Due: lms-edits, lms-client-edits

fix model spec
  services/QuillLMS/spec/models/question_spec.rb
Due: none

Rails 7.1 (#12323)
  .circleci/continue_config.yml
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/unit_template.rb
  services/QuillLMS/config/application.rb
  services/QuillLMS/engines/evidence/Gemfile
  services/QuillLMS/engines/evidence/Gemfile.lock
  services/QuillLMS/engines/evidence/evidence.gemspec
  services/QuillLMS/engines/evidence/lib/evidence/version.rb
  services/QuillLMS/engines/evidence/spec/dummy/config/application.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_reports_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_skills_controller_spec.rb
  services/QuillLMS/spec/controllers/admin_diagnostic_students_controller_spec.rb
  services/QuillLMS/spec/controllers/snapshots_controller_spec.rb
Due: lms-edits

add images to backpack (#12331)
  packages/quill-cdn/assets/images/icons/xl/comment-document.svg
  packages/quill-cdn/assets/images/icons/xl/diamond-in-hand.svg
  packages/quill-cdn/assets/images/icons/xl/fountain-pen.svg
  packages/quill-cdn/assets/images/icons/xl/global-education.svg
  packages/quill-cdn/assets/images/icons/xl/lecture-hall.svg
  packages/quill-cdn/assets/images/icons/xl/research-books.svg
  packages/quill-cdn/assets/images/icons/xl/search-document.svg
  packages/quill-cdn/assets/images/icons/xl/time-in-hand.svg
  services/QuillLMS/app/assets/stylesheets/pages/content_hub/subject_page.scss
  services/QuillLMS/app/assets/stylesheets/variables.scss
  services/QuillLMS/client/app/bundles/Staff/components/styleGuide/icons.tsx
Due: lms-edits, lms-client-edits

update snapshots
  services/QuillLMS/client/app/bundles/Connect/components/admin/__tests__/__snapshots__/admin.test.jsx.snap
  services/QuillLMS/client/app/bundles/Connect/components/admin/__tests__/__snapshots__/adminLesson.test.jsx.snap
Due: lms-client-edits

New static prompt for coral because. (#12311)
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/primary_feedback/static_prompts/673.md
Due: lms-edits

Evidence GenAI - Improvements to RepeatFeedback::Checker (#12312)
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/checker.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompt_builder.rb
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini2.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini2_with_table_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_gemini_with_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_open_ai_new.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/prompts/2024_08_28_open_ai_new_examples.md
  services/QuillLMS/engines/evidence/app/services/evidence/gen_ai/repeated_feedback/results/test_runs.csv
  services/QuillLMS/engines/evidence/lib/evidence/check/gen_ai.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/chat.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/chat.rb
  services/QuillLMS/engines/evidence/spec/lib/evidence/gemini/chat_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback/checker_spec.rb
  services/QuillLMS/engines/evidence/spec/services/evidence/gen_ai/repeated_feedback/prompt_builder_spec.rb
  services/QuillLMS/lib/tasks/gen_ai_tasks.thor
Due: lms-edits

fix standards pages to show scored evidence activities; update helpful article on activity summary page (#12310)
  services/QuillLMS/app/queries/progress_reports/standards/all_classrooms_standard.rb
  services/QuillLMS/app/queries/progress_reports/standards/new_standard.rb
  services/QuillLMS/app/queries/progress_reports/standards/standard.rb
  services/QuillLMS/app/serializers/progress_reports/standards/standard_serializer.rb
  services/QuillLMS/client/app/bundles/PremiumHub/components/standardsReportsTable.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/__tests__/standards_standard_students_progress_report.test.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_all_classrooms_progress_report.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standard_students_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/standards_standards_progress_report.jsx
  services/QuillLMS/client/app/bundles/Teacher/constants/featuredBlogPost.ts
  services/QuillLMS/spec/queries/progress_reports/standards/all_classrooms_standard_spec.rb
  services/QuillLMS/spec/serializers/progress_reports/standards/standard_serializer_spec.rb
Due: lms-edits, lms-client-edits

update course page to always go to top
  services/QuillLMS/client/app/bundles/Teacher/containers/CoursePage.tsx
Due: lms-client-edits

remove bundler install commands from CCI (#12293)
  .circleci/continue_config.yml
Due: none

setup Playwright e2e env; add initial e2e tests (#12223)
  .circleci/config.yml
  .circleci/continue_config.yml
  services/QuillLMS/.env-sample
  services/QuillLMS/.gitignore
  services/QuillLMS/Procfile.ci
  services/QuillLMS/e2e/README.md
  services/QuillLMS/e2e/main.spec.ts
  services/QuillLMS/lib/tasks/local_data.rake
  services/QuillLMS/package-lock.json
  services/QuillLMS/package.json
  services/QuillLMS/playwright.config.ts
Due: lms-edits

fix vitally spec (#12326)
  services/QuillLMS/spec/services/vitally_integration/previous_year_school_datum_spec.rb
Due: none

fix course page zero problem
  services/QuillLMS/client/app/bundles/Teacher/components/content_hubs/course_page_activity.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/BuildingAIKnowledgeContainer.test.tsx.snap
Due: lms-client-edits

diagnostic reports bug fix (#12337)
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/spec/controllers/teachers/progress_reports/diagnostic_reports_controller_spec.rb
Due: lms-edits

fix linter error
  services/QuillLMS/app/models/question.rb
Due: lms-edits

Fix temperature implementation on LLMs (#12305)
  services/QuillLMS/engines/evidence/app/models/evidence/research/gen_ai/llm.rb
  services/QuillLMS/engines/evidence/lib/evidence/gemini/completion.rb
  services/QuillLMS/engines/evidence/lib/evidence/open_ai/completion.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/research/gen_ai/llm_spec.rb
Due: lms-edits

debug
  services/QuillLessonsServer/src/index.js
Due: none

update tests
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/finished.jsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/lesson.jsx
  services/QuillLMS/client/app/bundles/Diagnostic/components/fillInBlank/__tests__/__snapshots__/playFillInTheBlankQuestion.test.tsx.snap
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/__tests__/__snapshots__/question.test.tsx.snap
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/play/__tests__/__snapshots__/fillInTheBlank.test.jsx.snap
  services/QuillLMS/client/app/bundles/Lessons/components/classroomLessons/play/__tests__/__snapshots__/singleAnswer.test.jsx.snap
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/__tests__/__snapshots__/finalAttemptFeedback.test.tsx.snap
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/spanish/translation.json
Due: lms-client-edits

Fix bug involving Evidence::Activity preview text with <br/> tags (#12340)
  services/QuillLMS/client/app/bundles/Shared/libs/activityPreviewHelpers.tsx
Due: lms-client-edits

use consts for feedback types
  services/QuillLMS/client/app/bundles/Connect/components/renderForQuestions/feedback.tsx
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/fillInBlank.tsx
  services/QuillLMS/client/app/bundles/Shared/components/renderForQuestions/feedback.tsx
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/finalAttemptFeedback.tsx
  services/QuillLMS/client/app/bundles/Shared/index.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/spanish/translation.json
  services/QuillLMS/client/app/bundles/Shared/utils/constants.ts
Due: lms-client-edits

fix linter error
  services/QuillLMS/client/app/bundles/Shared/components/studentLessons/finalAttemptFeedback.tsx
Due: lms-client-edits

Fix Vitally Stats calculations to include archived classrooms (#12334)
  services/QuillLMS/app/models/concerns/vitally_school_stats.rb
  services/QuillLMS/spec/services/vitally_integration/previous_year_school_datum_spec.rb
Due: lms-edits

Add manifest.json file for PWA installs (#12328)
  services/QuillLMS/app/views/application/_head.html.erb
  services/QuillLMS/app/views/layouts/home.html.erb
  services/QuillLMS/public/manifest.json
Due: lms-edits

changes and styling
  services/QuillLMS/app/assets/stylesheets/shared/footer.scss
  services/QuillLMS/app/views/application/footer/_social.html.erb
Due: lms-edits

add logo to cdn
  packages/quill-cdn/assets/images/logos/linkedin-logo-light.svg
Due: none

logos to footer
  services/QuillLMS/app/views/application/footer/_social.html.erb
Due: lms-edits

fix hyphenated surname bug (#12339)
  services/QuillLMS/app/pdfs/login_pdf.rb
  services/QuillLMS/spec/pdfs/login_pdf_spec.rb
Due: lms-edits

debug (#12342)
  services/QuillLessonsServer/src/index.js
Due: none

tweak quill marking logic to render translated feedback
  services/QuillLMS/client/app/bundles/Connect/components/studentLessons/question.tsx
  services/QuillLMS/client/app/bundles/Shared/components/renderForQuestions/feedback.tsx
  services/QuillLMS/client/app/bundles/Shared/libs/translations/modules/spanish/translation.json
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/interfaces/index.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/focus_point_match.ts
  services/QuillLMS/client/app/bundles/Shared/quill-marking-logic/src/libs/matchers/incorrect_sequence_match.ts
Due: lms-client-edits

update password pdf copy
  services/QuillLMS/app/pdfs/login_pdf.rb
Due: lms-edits

tweak rendering logic
  services/QuillLMS/client/app/bundles/Shared/components/renderForQuestions/feedback.tsx
  services/QuillLMS/client/app/bundles/Shared/styles/feedback.scss
Due: lms-client-edits

copy changes
  services/QuillLMS/app/views/pages/admins.html.erb
Due: lms-edits

additional copy change
  services/QuillLMS/app/views/navbar/_schools_and_districts.html.erb
Due: lms-edits

change link
  services/QuillLMS/app/views/pages/admins.html.erb
Due: lms-edits

fix link
  services/QuillLMS/app/views/pages/home.html.erb
Due: lms-edits

final link changes
  services/QuillLMS/app/views/pages/admins.html.erb
Due: lms-edits

fix hover state
  services/QuillLMS/app/views/pages/admins.html.erb
  services/QuillLMS/client/app/bundles/Shared/styles/focus.scss
Due: lms-edits, lms-client-edits

remove some tags
  services/QuillLMS/app/assets/stylesheets/pages/for_administrators.scss
  services/QuillLMS/app/views/pages/admins.html.erb
Due: lms-edits

put it back
  services/QuillLMS/app/assets/stylesheets/pages/for_administrators.scss
Due: lms-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
