Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

spec for pretransformer
  services/QuillLMS/app/services/quill_big_query/pre_transformer.rb
  services/QuillLMS/spec/services/quill_big_query/post_transformer_spec.rb
  services/QuillLMS/spec/services/quill_big_query/pre_transformer_spec.rb
Due: lms-edits

more linting
  services/QuillLMS/app/services/quill_big_query/pre_transformer.rb
Due: lms-edits

add one more spec
  services/QuillLMS/spec/services/quill_big_query/pre_transformer_spec.rb
Due: none

linting
  services/QuillLMS/spec/services/quill_big_query/pre_transformer_spec.rb
Due: none

fix .to change syntax
  services/QuillLMS/spec/controllers/milestones_controller_spec.rb
Due: none

revisions
  services/QuillLMS/app/assets/stylesheets/pages/update-assigned-students.scss
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/__tests__/__snapshots__/student.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/student.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/UpdateAssignedStudents.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/UpdateAssignedStudents.test.jsx.snap
  services/QuillLMS/client/app/modules/unorderedArraysAreEqual.js
Due: lms-edits, lms-client-edits

Remove CSS rules for `coming-soon` class in the Premium Hub
  services/QuillLMS/app/assets/stylesheets/pages/premium_hub/usage-snapshot-report.scss
Due: lms-edits

fix bug where invite coteachers modal exceeded height of page
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

stop making unnecessary calls for archived classrooms
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
Due: lms-edits

update test again
  services/QuillLMS/spec/controllers/milestones_controller_spec.rb
Due: none

actually fix test
  services/QuillLMS/spec/controllers/milestones_controller_spec.rb
Due: none

new version of the update assigned students page (#10736)
  packages/quill-cdn/assets/images/pages/my_activities/revert_unassignment_icon.svg
  services/QuillLMS/app/assets/stylesheets/custom.scss
  services/QuillLMS/app/assets/stylesheets/pages/edit-assigned-students.scss
  services/QuillLMS/app/assets/stylesheets/pages/lesson_planner_and_unit_template_editor.scss
  services/QuillLMS/app/assets/stylesheets/pages/update-assigned-students.scss
  services/QuillLMS/app/assets/stylesheets/shared/panels.scss
  services/QuillLMS/app/controllers/milestones_controller.rb
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/controllers/teachers/units_controller.rb
  services/QuillLMS/app/models/classroom.rb
  services/QuillLMS/app/models/milestone.rb
  services/QuillLMS/app/views/teachers/classroom_manager/lesson_planner.html.erb
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/ClassroomsWithStudents.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/EditStudentsButton.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/__tests__/EditStudentsButton.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/classroom.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms_with_students/student.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/__tests__/__snapshots__/student.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/__tests__/__snapshots__/unassign_warning_modal.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/__tests__/student.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/__tests__/unassign_warning_modal.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/student.tsx
  services/QuillLMS/client/app/bundles/Teacher/components/update_assigned_students/unassign_warning_modal.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/ClassroomsWithStudentsContainer.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/LessonPlannerContainer.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/UpdateAssignedStudents.tsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/ClassroomsWithStudentsContainer.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/UpdateAssignedStudents.test.jsx
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/__snapshots__/UpdateAssignedStudents.test.jsx.snap
  services/QuillLMS/client/app/bundles/Teacher/containers/__tests__/test_data.js
  services/QuillLMS/client/app/modules/unorderedArraysAreEqual.js
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/milestones_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/units_controller_spec.rb
  services/QuillLMS/spec/factories/milestone.rb
Due: lms-edits, lms-client-edits

fix bug where invite coteachers modal exceeded height of page (#10745)
  services/QuillLMS/app/assets/stylesheets/shared/modals.scss
Due: lms-edits

stop making unnecessary calls for archived classrooms (#10746)
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
Due: lms-edits

fix bug with calling .merge on student object in my classes page
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
Due: lms-edits

add test
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
Due: none

reduce cyclomatic complexity
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
Due: lms-edits

and fix again
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
Due: lms-edits

temp save changes
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_all_assigned_activities.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_all_diagnostic_recommendations.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_students_completed_diagnostics.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/_truncate_student_names.html.erb
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
  services/QuillLMS/lib/mailer_previews/rollup_mailer_preview.rb
Due: lms-edits

disable cyclomatic complexity lint
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
Due: lms-edits

and fix whitespace lint
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
Due: none

fix 500 error on my classes page (#10748)
  services/QuillLMS/app/controllers/teachers/classrooms_controller.rb
  services/QuillLMS/spec/controllers/teachers/classrooms_controller_spec.rb
Due: lms-edits

always pass question_uid and question_concept_uid from frontend
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/fillInTheBlanks.js
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/sentenceCombining.js
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/sharedConceptResultsFunctions.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/fillInTheBlanks.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/sentenceCombining.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/sharedConceptResultsFunctions.js
  services/QuillLMS/client/app/bundles/Grammar/helpers/conceptResultsGenerator.ts
  services/QuillLMS/client/app/bundles/Lessons/libs/conceptResults/classroomLessons.js
  services/QuillLMS/client/app/bundles/Proofreader/helpers/conceptResultsGenerator.ts
Due: lms-client-edits

wip
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/fillInTheBlanks.js
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/sentenceCombining.js
  services/QuillLMS/client/app/bundles/Connect/libs/conceptResults/sharedConceptResultsFunctions.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/fillInTheBlanks.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/sentenceCombining.js
  services/QuillLMS/client/app/bundles/Diagnostic/libs/conceptResults/sharedConceptResultsFunctions.js
  services/QuillLMS/client/app/bundles/Proofreader/components/proofreaderActivities/container.tsx
  services/QuillLMS/client/app/bundles/Proofreader/helpers/conceptResultsGenerator.ts
  services/QuillLMS/client/app/bundles/Proofreader/interfaces/proofreaderActivities.ts
Due: lms-edits, lms-client-edits

delete repeated code
  services/QuillLMS/client/app/bundles/Grammar/components/grammarActivities/container.tsx
Due: lms-client-edits

Capitalize some edge case names
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
Due: lms-edits

Add custom name
  services/QuillLMS/spec/support/faker.rb
Due: none

Fix spec failure
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
Due: none

ready for testing
  services/QuillLMS/app/assets/stylesheets/rollup_email.css
  services/QuillLMS/app/views/teacher_notifications/rollup_mailer/rollup.html.erb
Due: lms-edits

Refactor based on PR feedback
  services/QuillLMS/app/lib/utils/numeric.rb
  services/QuillLMS/app/queries/snapshots/average_query.rb
  services/QuillLMS/spec/lib/utils/numeric_spec.rb
Due: lms-edits

Fix linting error
  services/QuillLMS/spec/lib/utils/numeric_spec.rb
Due: none

what if we make it a permitted parameter
  services/QuillLMS/app/controllers/api/v1/classroom_units_controller.rb
Due: lms-edits

get frontend working
  services/QuillLMS/app/models/concerns/public_progress_reports.rb
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/connect_student_report_box.jsx
  services/QuillLMS/client/app/bundles/Teacher/components/progress_reports/diagnostic_reports/student_report_box.tsx
  services/QuillLMS/client/app/interfaces/keyTargetSkillConcept.ts
  services/QuillLMS/client/app/interfaces/questionData.ts
Due: lms-edits, lms-client-edits

Allow fallback values to be passed into save_division
  services/QuillLMS/app/lib/utils/numeric.rb
  services/QuillLMS/spec/lib/utils/numeric_spec.rb
Due: lms-edits

Capitalize some edge case names (#10752)
  services/QuillLMS/Gemfile
  services/QuillLMS/Gemfile.lock
  services/QuillLMS/app/models/user.rb
  services/QuillLMS/spec/models/user_spec.rb
  services/QuillLMS/spec/services/vitally_integration/serialize_vitally_sales_user_spec.rb
  services/QuillLMS/spec/support/faker.rb
Due: lms-edits

Refactor GoogleStudentImporterWorker
  services/QuillLMS/app/controllers/auth/google_controller.rb
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/workers/google_integration/import_classroom_students_worker.rb
  services/QuillLMS/app/workers/google_student_importer_worker.rb
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
  services/QuillLMS/spec/workers/google_integration/import_classroom_students_worker_spec.rb
  services/QuillLMS/spec/workers/google_student_importer_worker_spec.rb
Due: lms-edits

Rename RetreiveTeacherClassroomsWorker -> HydrateTeacherClassroomsCacheWorker
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/app/workers/google_integration/hydrate_teacher_classrooms_cache_worker.rb
  services/QuillLMS/app/workers/google_integration/retrieve_teacher_classrooms_worker.rb
  services/QuillLMS/spec/workers/google_integration/hydrate_teacher_classrooms_cache_worker_spec.rb
  services/QuillLMS/spec/workers/google_integration/import_classroom_students_worker_spec.rb
Due: lms-edits

Move classroom_managers/teachers#import_google_students to google_integration/teachers#import_students
  services/QuillLMS/app/controllers/google_integration/teachers_controller.rb
  services/QuillLMS/app/controllers/teachers/classroom_manager_controller.rb
  services/QuillLMS/client/app/bundles/Teacher/components/classrooms/active_classrooms.tsx
  services/QuillLMS/config/routes.rb
  services/QuillLMS/spec/controllers/google_integration/teachers_controller_spec.rb
  services/QuillLMS/spec/controllers/teachers/classroom_manager_controller_spec.rb
Due: lms-edits, lms-client-edits

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
