Repository empirical-org/Empirical-Core: changes, and which CircleCI parameters are due for each by the changed paths.
All: lms-edits, lms-client-edits, cms-edits, marking-logic-edits

Sort by name
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
Due: lms-edits

Do some clean up based on PR feedback:
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions_worker.rb
Due: lms-edits

lms/filter-irrelevant-stripe-invoices (#10384)
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions.rb
  services/QuillLMS/app/workers/identify_stripe_invoices_without_subscriptions_worker.rb
  services/QuillLMS/spec/workers/identify_stripe_invoices_without_subscriptions_spec.rb
  services/QuillLMS/spec/workers/identify_stripe_invoices_without_subscriptions_worker_spec.rb
Due: lms-edits

use identify instead of context for admin events
  services/QuillLMS/app/services/analytics/segment_analytics.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
Due: lms-edits

fix tests
  services/QuillLMS/app/services/analytics/segment_analytics.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
Due: lms-edits

Synthetic Labeled Data - OpenAI paraphrasing (#10076)
  services/QuillLMS/engines/evidence/lib/evidence/evidence/open_ai.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/paraphrase.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/translation.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/labeled_data_generator.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/labeled_result.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/seed_data_generator.rb
  services/QuillLMS/engines/evidence/lib/tasks/synthetic.rake
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/paraphrase_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
Due: lms-edits

make sure to be sending the anonymous id
  services/QuillLMS/app/services/analytics/segment_analytics.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
Due: lms-edits

use identify instead of context for admin events (#10395)
  services/QuillLMS/app/services/analytics/segment_analytics.rb
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
Due: lms-edits

Add some testing
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
  services/QuillLMS/spec/queries/district_standards_reports_spec.rb
Due: lms-edits

add link helper, preap and springboard pages
  services/QuillLMS/app/helpers/public_pages_helper.rb
  services/QuillLMS/app/views/pages/ap.html.erb
  services/QuillLMS/app/views/pages/preap.html.erb
  services/QuillLMS/app/views/pages/springboard.html.erb
Due: lms-edits

Updates to Quill Premium page copy and images (#10375)
  packages/quill-cdn/assets/images/pages/premium/add-students.svg
  packages/quill-cdn/assets/images/pages/premium/code-editor.svg
  packages/quill-cdn/assets/images/pages/premium/frame.svg
  packages/quill-cdn/assets/images/pages/premium/globe.svg
  packages/quill-cdn/assets/images/pages/premium/grammar-check.svg
  packages/quill-cdn/assets/images/pages/premium/hat-3.svg
  packages/quill-cdn/assets/images/pages/premium/quill.svg
  packages/quill-cdn/assets/images/pages/premium/student-pencil.svg
  services/QuillLMS/app/assets/stylesheets/pages/premium_page.scss
  services/QuillLMS/client/app/bundles/Teacher/components/premium/school_premium.jsx
Due: lms-edits, lms-client-edits

change constants everywhere they are used
  services/QuillLMS/app/models/bonus_days_calculator.rb
  services/QuillLMS/app/models/subscription.rb
  services/QuillLMS/spec/services/bonus_days_calculator_spec.rb
Due: lms-edits

linting
  services/QuillLMS/app/models/bonus_days_calculator.rb
Due: lms-edits

linting
  services/QuillLMS/app/models/subscription.rb
Due: lms-edits

Improve testing
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
  services/QuillLMS/app/queries/progress_reports/standards/all_classrooms_standard.rb
  services/QuillLMS/spec/queries/district_standards_reports_spec.rb
  services/QuillLMS/spec/queries/progress_reports/district_standards_reports_spec.rb
Due: lms-edits

add workers etc to set data
  services/QuillLMS/app/models/cron.rb
  services/QuillLMS/app/models/segment_integration/user.rb
  services/QuillLMS/app/services/analytics/cache_segment_school_data.rb
  services/QuillLMS/app/services/analytics/constants.ts
  services/QuillLMS/app/workers/calculate_and_cache_school_data_for_segment_worker.rb
  services/QuillLMS/app/workers/calculate_and_cache_schools_data_for_segment_worker.rb
Due: lms-edits

remove restriction on admin access page and tests (#10388)
  services/QuillLMS/app/helpers/navigation_helper.rb
  services/QuillLMS/spec/helpers/navigation_helper_spec.rb
Due: lms-edits

Thomas suggestion
  services/QuillLMS/spec/queries/progress_reports/district_standards_reports_spec.rb
Due: none

only cache for admins
  services/QuillLMS/app/models/segment_integration/user.rb
  services/QuillLMS/app/services/analytics/cache_segment_school_data.rb
  services/QuillLMS/app/workers/calculate_and_cache_school_data_for_segment_worker.rb
  services/QuillLMS/app/workers/calculate_and_cache_schools_data_for_segment_worker.rb
Due: lms-edits

Refactor DistrictStandardsReports query (#10393)
  services/QuillLMS/app/queries/progress_reports/district_standards_reports.rb
  services/QuillLMS/app/queries/progress_reports/standards/all_classrooms_standard.rb
  services/QuillLMS/spec/queries/progress_reports/district_standards_reports_spec.rb
Due: lms-edits

Revert "Turn off a couple background jobs (#10367)"
  services/QuillLMS/app/workers/find_district_concept_reports_worker.rb
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
Due: lms-edits

Add options to put pre-cache in LOW queue and set retry to 0
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
Due: lms-edits

Revert "Revert "Lms/cache admin reports (#10359)""
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/standardsReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/activity_scores.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/concept_reports.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReports.tsx
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: lms-edits, lms-client-edits

Add retry: 2 to the jobs
  services/QuillLMS/app/workers/find_district_concept_reports_worker.rb
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
Due: lms-edits

Make some variable names clearer
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/labeled_result.rb
Due: lms-edits

Fix spec failure
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: none

Refactor labeled results to use a generator.
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generator.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/base.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/paraphrase.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/spelling_passage_specific.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/generators/translation.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/labeled_data_generator.rb
  services/QuillLMS/engines/evidence/lib/evidence/evidence/synthetic/labeled_result.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/paraphrase_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/spelling_passage_specific_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/spelling_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/generators/translation_spec.rb
  services/QuillLMS/engines/evidence/spec/lib/synthetic/labeled_data_generator_spec.rb
Due: lms-edits

Refactor the storage models.
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text_batch.rb
  services/QuillLMS/engines/evidence/app/models/evidence/prompt_text_generation.rb
  services/QuillLMS/engines/evidence/app/models/evidence/text_generation.rb
  services/QuillLMS/engines/evidence/db/migrate/20230306215123_create_evidence_prompt_text_generations.rb
  services/QuillLMS/engines/evidence/db/migrate/20230306215326_create_evidence_prompt_texts.rb
  services/QuillLMS/engines/evidence/spec/dummy/db/schema.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/prompt_text_batch_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/prompt_text_spec.rb
  services/QuillLMS/engines/evidence/spec/models/evidence/text_generation_spec.rb
Due: lms-edits

Turn back on pre-cache admin dashboard (#10383)
  services/QuillLMS/app/assets/stylesheets/pages/progress_reports/progress-reports-2018.scss
  services/QuillLMS/app/workers/find_district_concept_reports_worker.rb
  services/QuillLMS/app/workers/find_district_standards_reports_worker.rb
  services/QuillLMS/app/workers/pre_cache_admin_dashboards_worker.rb
  services/QuillLMS/client/app/bundles/admin_dashboard/components/__tests__/__snapshots__/standardsReports.test.tsx.snap
  services/QuillLMS/client/app/bundles/admin_dashboard/components/activity_scores.tsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/concept_reports.jsx
  services/QuillLMS/client/app/bundles/admin_dashboard/components/standardsReports.tsx
  services/QuillLMS/spec/workers/pre_cache_admin_dashboard_worker_spec.rb
Due: lms-edits, lms-client-edits

Use a separate ENV variable for reportworker Sidekiq concurrency
  services/QuillLMS/Procfile
Due: none

Wip data store.
  services/QuillLMS/engines/evidence/app/models/evidence/text_generation.rb
Due: lms-edits

wip - tests
  services/QuillLMS/app/models/school.rb
  services/QuillLMS/app/services/analytics/cache_segment_school_data.rb
  services/QuillLMS/app/services/analytics/constants.ts
  services/QuillLMS/spec/models/cron_spec.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/services/analytics/cache_segment_school_data_spec.rb
Due: lms-edits

fix segment spec
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
Due: none

fix segment spec (#10404)
  services/QuillLMS/spec/services/analytics/segment_analytics_spec.rb
Due: none

Fix evidence link on home page
  services/QuillLMS/app/views/evidence/_home_section.html.erb
Due: lms-edits

Fix evidence link on home page (#10405)
  services/QuillLMS/app/views/evidence/_home_section.html.erb
Due: lms-edits

Use a separate ENV variable for reportworker Sidekiq concurrency (#10403)
  services/QuillLMS/Procfile
Due: none

fix linter errors
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/services/analytics/cache_segment_school_data_spec.rb
Due: none

finish tests
  services/QuillLMS/app/workers/calculate_and_cache_schools_data_for_segment_worker.rb
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/workers/calculate_and_cache_school_data_for_segment_worker_spec.rb
  services/QuillLMS/spec/workers/calculate_and_cache_schools_data_for_segment_worker_spec.rb
Due: lms-edits

fix lint
  services/QuillLMS/spec/models/segment_integration/user_spec.rb
  services/QuillLMS/spec/services/analytics/cache_segment_school_data_spec.rb
Due: none

Path conditions:
  lms-edits: any of: services/QuillLMS/(app/|bin/|config/|db/|lib/|engines/|Gemfile).*
  lms-client-edits: any of: services/QuillLMS/client/.*
  cms-edits: any of: services/QuillCMS/.*
  marking-logic-edits: any of: packages/quill-marking-logic/.*
